<div class="header">
    <path icone="check_box"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="especie-tarefas">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-especie-tarefa-form
        [especieTarefa]="(especieTarefa$ | async)"
        [form]="formEspecieTarefa"
        [generoTarefaPagination]="generoTarefaPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieTarefa($event)"
        (abort)="doAbort()">
    </cdk-especie-tarefa-form>
</div>