<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">
    <mat-form-field>
        <input matInput placeholder="Atribuido Para"
               formControlName="atribuidoPara"
               [matAutocomplete]="usuario.autocomplete">
        <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atribuidoPara')">
        </cdk-usuario-autocomplete>
    </mat-form-field>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid || !selected" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

    <div>{{form.errors}}</div>
</form>

