<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input
            matInput
            placeholder="Relevância"
            formControlName="especieRelevancia"
            [matAutocomplete]="especieRelevancia.autocomplete"
            (blur)="checkEspecieRelevancia()"
            required>
        <cdk-especie-relevancia-autocomplete
            #especieRelevancia="especieRelevanciaAutocomplete"
            [control]="form.get('especieRelevancia')"
            [pagination]="especieRelevanciaPagination">
        </cdk-especie-relevancia-autocomplete>

        <button
            type="button"
            *ngIf="form.get('especieRelevancia').enabled"
            matSuffix
            mat-button
            mat-icon-button
            (click)="showEspecieRelevanciaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>

        <mat-error
            *ngIf="form.get('especieRelevancia').hasError('formError')">
            {{form.get('especieRelevancia').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input
            formControlName="observacao"
            matInput #observacao
            placeholder="Observação"
            name="observacao"
            maxlength="255" upperCase>
        <mat-hint align="end">{{observacao.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
       <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-especie-relevancia-gridsearch
    *ngIf="activeCard === 'especie-relevancia-gridsearch'"
    (selected)="selectEspecieRelevancia($event)"
    (cancel)="cancel()">
</cdk-especie-relevancia-gridsearch>
