<div>
    <div *ngIf="titulo === 'compartilhamento'" class="content p-8" fxLayout="column">
        <h3><strong>COMPARTILHANDO MINUTAS</strong></h3>

        <p style="text-align: justify;text-indent: 20px">
            Uma minuta criada por usuário pode ser compartilhada com outros usuários.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Nesse caso, todos os usuários verão a minuta em suas respectivas áreas de trabalho, podendo realizar um trabalho colaborativo.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            No formulário da minuta é possível ver quem está compartilhando a minuta, bem como acrescentar e retirar compartilhamentos.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            Apenas o “Dono” da minuta pode realizar a juntada, bem como efetivar a sua exclusão!
        </p>
        <p style="text-align: justify;text-indent: 20px">
            É possível compartilhar uma minuta com todos os usuários de um setor, em um bloco.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Em caso de vinculação entre minutas, as vinculadas seguem a sorte da principal.
            Ou seja, o compartilhamento deve ser realizado sempre pela minuta principal, e as vinculadas serão compartilhadas automaticamente.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Antes de realizar o compartilhamento de uma minuta, o ideal é que
            o usuário “Dono” configure a restrição de acesso, liberando apenas os poderes necessários.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Assim, por exemplo, é possível compartilhar uma minuta apenas com o poder de “Ver”, mas não de “Editar”.
        </p>
        <h3 style="text-align: justify;text-indent: 20px">
            <strong>Criando uma minuta na página tarefas</strong>
        </h3>
        <p style="text-align: justify;margin-left: 40px">
            1. No menu lateral esquerdo, para compartilhar uma atividade administrativa, clique em
            <strong>Tarefas&nbsp;</strong>&gt;
            <strong>Administrativas</strong>:
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. Na nova tela, clique nas <strong>Opções de Tarefa</strong> que vai ser compartilhada.
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/opcoestarefa.png" style="width: 150px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Clique na opção <strong>Compartilhar</strong> e a página de compartilhamento é aberta.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            4. Na parte superior direita, é possível escolher entre <strong>Criar Compartilhamento</strong> e <strong>Ver Compartilhamentos</strong>.
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/opcoescompartilhamento.png" style="width: 80px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            5. Na opção de <strong>Criar Compartilhamento</strong> aparece um campo onde é possível adicionar o usuário o qual vai receber o compartilhamento.
            Após adicionar, salve o compartilhamento.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Na opção de <strong>Ver Compartilhamentos</strong> é possível ter acesso a lista de usuários que já estão compartilhados com a tarefa.
        </p>
        <div style="background-color: #d3d3d3;text-indent: 20px">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p>
                Uma minuta NÃO pode ser compartilhada com um usuário que já possui o compartilhamento.
            </p>
            <p>
                O usuário NÃO pode compartilhar a tarefa consigo mesmo.
            </p>
            <p>
                Apenas o usuário <strong>responável</strong> pela tarefa pode gerir um compartilhamento.
            </p>
        </div>
        <hr>
        <div class="row" style="background-color: #d3d3d3;">
            <strong>Para maiores informações:</strong><br><br>
                <li><a href="javascript:void(0)" (click)="carregar('compartilhabloco')">Compartilhamento em bloco</a></li>
                <li><a href="javascript:void(0)" (click)="carregar('visibilidades')">Restrições de Acesso</a></li>
        </div>
        <p><br></p>
    </div>
    <div *ngIf="titulo === 'compartilhabloco'">
        <ajuda-compartilhamento-create-bloco></ajuda-compartilhamento-create-bloco>
        <a href="javascript:void(0)" (click)="carregar('compartilhamento')">Voltar ao <strong>Compartilhar Minutas</strong></a>
    </div>
    <div *ngIf="titulo === 'visibilidades'">
        <ajuda-visibilidades></ajuda-visibilidades>
        <a href="javascript:void(0)" (click)="carregar('compartilhamento')">Voltar ao <strong>Compartilhar Minutas</strong></a>
    </div>
</div>
