<div class="header">
    <path icone="location_city"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="unidades">
    </path>
</div>
<cdk-setor-grid
    [loading]="(loading$ | async)"
    [setores]="(unidades$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['id', 'nome', 'sigla', 'modalidadeOrgaoCentral.valor', 'ativo', 'actions']"
    [actions]="['select']"
    (selected)="select($event)"
    (reload)="reload($event)">
</cdk-setor-grid>
