<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar
        [lockedOpen]="(mode === 'search') ? 'gt-xs' : ''"
        class="sidebar"
        name="cdk-historico-filter"
        position="left">
        <cdk-historico-filter (selected)="setFilter($event)" [@animate]="{value:'*'}" [mode]="this.mode"></cdk-historico-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="responsive-grid" [ngClass]="{'search': (this.mode === 'search')}">

        <div class="actions">

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteHistoricos(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8" aria-label="colunas" matTooltip="Colunas">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let tableColumn of getDisplayableTableColumns()">
                        <mat-option [value]="tableColumn.id">{{ tableColumn.headerLabel }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    *ngIf="actions.indexOf('redefinir_tabela') !== -1"
                    (click)="resetTableColumns()"
                    aria-label="redefinir_tabela"
                    matTooltip="Redefinir Tabela">
                <mat-icon>grid_off</mat-icon>
            </button>

            <button *ngIf="mode === 'list'" class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    *ngIf="mode === 'list'"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'warn': hasExcluded}" *ngIf="actions.indexOf('showDeleted') > -1"
                    (click)="loadExcluded()"
                    aria-label="mostrar apagados"
                    matTooltip="Mostrar Apagados">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div class="content" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [matSortDisabled]="mode === 'search' && (gridFilter | json).includes('{}')" [ngStyle]="loading ? {'display': 'none'} : {}">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef
                        (columnChageWidth)="columnChageWidth($event)"
                        [cdkTableColumnResizable]="getColumnTableColumn('select')"
                        (resizing)="resizingColumn($event)"
                        dndDropzone
                        (dndDrop)="onDrop(getColumnTableColumn('select'), $event.data)"
                        [dndDraggable]="getColumnTableColumn('select')"
                        [dndEffectAllowed]="'move'"
                        [dndDragoverClass]="'table-column-drag-over'"
                        [dndDropzoneDisabledClass]="'table-column-drag-over-disabled'"
                        [dndDisableDragIf]="dndDisable(getColumnTableColumn('select'))"
                        [dndDisableDropIf]="dndDisable(getColumnTableColumn('select'))">
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [disabled]="hasExcluded"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let historico">
                        <mat-checkbox [checked]="selectedIds.indexOf(historico.id) > -1"
                                      (change)="toggleInSelected(historico.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(historico.id) > -1 || hasExcluded">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Other Columns -->
                <ng-container *ngFor="let tableColumn of getTableColumnsList()" matColumnDef="{{tableColumn.id}}">
                    <th mat-header-cell
                        mat-sort-header
                        *matHeaderCellDef
                        [cdkTableColumnResizable]="tableColumn"
                        (columnChageWidth)="columnChageWidth($event)"
                        (resizing)="resizingColumn($event)"
                        dndDropzone
                        (dndDrop)="onDrop(tableColumn, $event.data)"
                        [dndDraggable]="tableColumn"
                        [dndEffectAllowed]="'move'"
                        [dndDragoverClass]="'table-column-drag-over'"
                        [dndDropzoneDisabledClass]="'table-column-drag-over-disabled'"
                        [dndDisableDragIf]="dndDisable(tableColumn)"
                        [dndDisableDropIf]="dndDisable(tableColumn)">
                        <span [innerHTML]="tableColumn.headerLabel | safeHtml"></span>
                    </th>
                    <td mat-cell
                        *matCellDef="let tarefa"
                        class='has_label_on_mobile'
                        [attr.data-label]="tableColumn.dataLabel"
                        [ngClass]="tableColumn.dataClass ? tableColumn.dataClass(tarefa, this, tableColumn) : ''">
                        <span [innerHTML]="(tableColumn.dataValue ? tableColumn.dataValue(tarefa, this) : '') | safeHtml"></span>
                    </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let historico">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1 && !hasExcluded"
                                (click)="selectHistorico(historico)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1"
                                [disabled]="deletedIds?.indexOf(historico.id) > -1 && !hasExcluded"
                                (click)="editHistorico(historico.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>


                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(historico.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(historico.id) === -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(historico.id) > -1"
                                (click)="deleteHistorico(historico.id)"
                                aria-label="remover"
                                matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('abrirOutraAba') > -1"
                                [disabled]="deletedIds?.indexOf(historico.id) > -1 && !hasExcluded"
                                (click)="visualizarProcessoNovaAba(historico)"
                                aria-label="visualizar processo"
                                matTooltip="Visualizar Processo em Nova Aba">
                            <mat-icon>open_in_new</mat-icon>
                        </button>

                        <mat-error *ngIf="getProp(deletingErrors, historico.id)">
                            {{ getMessageError(getProp(deletingErrors, historico.id)) }}
                        </mat-error>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="getDisplayColumns(); sticky: true;"></tr>
                <tr mat-row *matRowDef="let historico; columns: getDisplayColumns();">
                </tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[10, 25]" showFirstLastButtons="true"></mat-paginator>
        </div>

    </div>

</div>
