cdk-tarefa-filter {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .header {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
    }

    > .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        height: 0;
        overflow-y: auto;

        > form {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;

            .search-wrapper {
                margin: 8px;
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                overflow: hidden;

                .search {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    padding: 0 24px;

                    > .mat-button-toggle-group-custom {
                        margin-bottom: 0 !important;
                        font-size: 14px;
                    }

                    > .mat-button-toggle-label-content {
                        line-height: 15px !important;
                    }

                    > .button-toggle-custom {
                        width: 100%;
                    }
                }
            }

            mat-expansion-panel:first-of-type {
                top: -20px;
            }

            > mat-expansion-panel {
                padding: 8px;
                display: flex;
                flex-direction: column;
                box-shadow: none !important;

                .filtro-data {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    flex: 1 1 auto;

                    .filtrado {
                        color: red;
                        font-weight: bold;
                    }
                }

                mat-form-field {
                    flex: 1 1 auto;
                    display: flex;
                    margin-right: 8px;

                    .mat-form-field-wrapper {
                        flex: 1 1 auto;
                    }
                }
            }

            .mat-button-toggle-label-content {
                line-height: 15px !important;
            }

            .button-toggle-custom {
                width: 100%;
            }

            .mat-button-toggle-group-custom {
                margin-top: 10px;
                margin-bottom: 18px;
            }
        }
    }

    > .footer {
        display: flex;
        flex: 0 1 auto;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 8px;
        button:first-child {
            margin: 0 8px 0 8px;
        }
    }
}
