<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Tipo"
               formControlName="tipoContato"
               [matAutocomplete]="tipoContato.autocomplete"
               (blur)="checkTipoContato()"
               required>
        <cdk-tipo-contato-autocomplete
            #tipoContato="tipoContatoAutocomplete"
            [control]="form.get('tipoContato')"
            [pagination]="usuarioPagination">
        </cdk-tipo-contato-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showTipoContatoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('tipoContato').hasError('formError')">
            {{form.get('tipoContato').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.get('tipoContato')?.value?.nome === 'UNIDADE' ||
        form.get('tipoContato')?.value?.nome === 'SETOR'">
        <input matInput placeholder="Unidade"
               formControlName="unidade"
               [matAutocomplete]="setor.autocomplete"
               (blur)="checkUnidade()"
               required>
        <cdk-setor-autocomplete
            #setor="setorAutocomplete"
            [control]="form.get('unidade')"
            [pagination]="unidadePagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showUnidadeGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('unidade').hasError('formError')">
            {{form.get('unidade').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.get('tipoContato')?.value?.nome === 'SETOR'">
        <input matInput placeholder="Setor"
               formControlName="setor"
               [readonly]="!this.form.get('unidade').value"
               [matAutocomplete]="setor.autocomplete"
               (blur)="checkSetor()"
               required>
        <cdk-setor-autocomplete
            #setor="setorAutocomplete"
            [control]="form.get('setor')"
            [pagination]="setorPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                [disabled]="!this.form.get('unidade').value"
                (click)="showSetorGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setor').hasError('formError')">
            {{form.get('setor').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.get('tipoContato')?.value?.nome === 'USUÁRIO'">
        <input matInput placeholder="Usuário"
               formControlName="usuario"
               [matAutocomplete]="usuario.autocomplete"
               (blur)="checkUsuario()"
               required>
        <cdk-usuario-autocomplete
            #usuario="usuarioAutocomplete"
            [control]="form.get('usuario')">
        </cdk-usuario-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showUsuarioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('usuario').hasError('formError')">
            {{form.get('usuario').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'unidade-gridsearch'"
    (selected)="selectUnidade($event)"
    (cancel)="cancel()"
    [pagination]="unidadePagination">
</cdk-setor-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-gridsearch'"
    (selected)="selectSetor($event)"
    (cancel)="cancel()"
    [pagination]="setorPagination">
</cdk-setor-gridsearch>

<cdk-usuario-gridsearch
    *ngIf="activeCard === 'usuario-gridsearch'"
    (selected)="selectUsuario($event)"
    (cancel)="cancel()"
    [pagination]="usuarioPagination">
</cdk-usuario-gridsearch>

<cdk-tipo-contato-gridsearch
    *ngIf="activeCard === 'tipo-contato-gridsearch'"
    (selected)="selectTipoContato($event)"
    (cancel)="cancel()">
</cdk-tipo-contato-gridsearch>
