documento-avulso-edit {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .documento-avulso-edit {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        > .center {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            > .actions {
                display: flex;
                flex: 0 0 auto;
                flex-direction: row;
                justify-content: flex-end;
                align-items: flex-start;
            }

            > .content {
                flex: 1 1 auto;
                display: flex;
                padding: 8px;
            }
        }
    }
}

