<div class="theme-options-panel" cdkPerfectScrollbar>

    <div class="header">

        <span class="title">Opções de Interface</span>

        <button mat-icon-button class="close-button" (click)="toggleSidebarOpen('themeOptionsPanel')">
            <mat-icon>close</mat-icon>
        </button>

    </div>

    <form [formGroup]="form">

        <!-- COLOR THEME -->
        <div class="group">

            <h2>Tema</h2>

            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="colorTheme">
                <mat-radio-button class="mb-12" value="theme-default">Claro</mat-radio-button>
                <mat-radio-button class="mb-12" value="theme-blue-gray-dark">Escuro</mat-radio-button>
            </mat-radio-group>

        </div>

        <!-- LAYOUT STYLES -->
        <div class="group" style="display: none;" formGroupName="layout">

            <h2>Estilo de Layout</h2>

            <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="style">

                <mat-radio-button class="mb-12" value="vertical-layout-1">
                    Vertical 1
                </mat-radio-button>

                <mat-radio-button class="mb-12" value="vertical-layout-2">
                    Vertical 2
                </mat-radio-button>

                <mat-radio-button class="mb-12" value="vertical-layout-3">
                    Vertical 3
                </mat-radio-button>

                <mat-radio-button class="mb-12" value="horizontal-layout-1">
                    Horizontal 1
                </mat-radio-button>

            </mat-radio-group>

            <!-- DIFFERENT FORMS BASED ON LAYOUT STYLES -->
            <ng-container [ngSwitch]="cdkConfig.layout.style">

                <!-- VERTICAL LAYOUT #1 -->
                <ng-container *ngSwitchCase="'vertical-layout-1'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Largura</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela Cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Menu Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <mat-slide-toggle class="mt-24" formControlName="folded">
                            Encolhido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-8" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-8" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variante:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-8" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-8" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8 mb-8">Cor de Fundo Primária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="primaryBackground">
                        </cdk-material-color-picker>

                        <h3 class="mt-8 mb-8">Cor de Fundo Secundária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="secondaryBackground">
                        </cdk-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Menu Superior</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above">Acima</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-static">Abaixo Estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-fixed">Abaixo Fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above">Acima</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-static">Abaixo Estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below-fixed">Abaixo Fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <div class="group" formGroupName="sidepanel">

                        <h2>Painel Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div>

                </ng-container>

                <!-- VERTICAL LAYOUT #2 -->
                <ng-container *ngSwitchCase="'vertical-layout-2'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Largura</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela Cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Menu Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <mat-slide-toggle class="mt-24" formControlName="folded">
                            Encolhido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-8" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-8" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variante:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-8" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-8" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8 mb-8">Cor de Fundo Primária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="primaryBackground">
                        </cdk-material-color-picker>

                        <h3 class="mt-8 mb-8">Cor de Fundo Secundária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="secondaryBackground">
                        </cdk-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Menu Superior</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima Estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima Fixo</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below">Abaixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima Estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima Fixo</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below">Abaixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <div class="group" formGroupName="sidepanel">

                        <h2>Painel Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div>

                </ng-container>

                <!-- VERTICAL LAYOUT #3 -->
                <ng-container *ngSwitchCase="'vertical-layout-3'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Largura</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela Cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Menu Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <mat-slide-toggle class="mt-24" formControlName="folded">
                            Encolhido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-8" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-8" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variante:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-8" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-8" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8 mb-8">Cor de Fundo Primária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="primaryBackground">
                        </cdk-material-color-picker>

                        <h3 class="mt-8 mb-8">Cor de Fundo Secundária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="secondaryBackground">
                        </cdk-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Menu Superior</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima Estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima Fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-static">Acima Estático</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-fixed">Acima Fixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <div class="group" formGroupName="sidepanel">

                        <h2>Side Painel</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div>

                </ng-container>

                <!-- HORIZONTAL LAYOUT #1 -->
                <ng-container *ngSwitchCase="'horizontal-layout-1'">

                    <!-- LAYOUT WIDTH -->
                    <div class="group mt-32">

                        <h2>Largura</h2>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="width">
                            <mat-radio-button class="mb-12" value="fullwidth">Tela Cheia</mat-radio-button>
                            <mat-radio-button class="mb-12" value="boxed">Caixa</mat-radio-button>
                        </mat-radio-group>

                    </div>

                    <!-- NAVBAR -->
                    <div class="group" formGroupName="navbar">

                        <h2>Menu Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-8" value="top">Topo</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8">Variante (Vertical):</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="variant">
                            <mat-radio-button class="mb-8" value="vertical-style-1">Estilo 1</mat-radio-button>
                            <mat-radio-button class="mb-8" value="vertical-style-2">Estilo 2</mat-radio-button>
                        </mat-radio-group>

                        <h3 class="mt-8 mb-8">Cor de Fundo Primária:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="primaryBackground">
                        </cdk-material-color-picker>

                        <h3 class="mt-8 mb-8">Cor de Fundo Secundária (Vertical):</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="secondaryBackground">
                        </cdk-material-color-picker>

                    </div>

                    <!-- TOOLBAR -->
                    <div class="group" formGroupName="toolbar">

                        <h2>Menu Superior</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above">Acima</mat-radio-button>
                            <mat-radio-button class="mb-12" value="below">Abaixo</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- FOOTER -->
                    <div class="group" formGroupName="footer">

                        <h2>Rodapé</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="above-fixed">Acima Fixo</mat-radio-button>
                            <mat-radio-button class="mb-12" value="above-static">Acima Estático</mat-radio-button>
                        </mat-radio-group>

                        <mat-checkbox class="mt-24" formControlName="customBackgroundColor">
                            Customizar Cor de Fundo
                        </mat-checkbox>

                        <h3 class="mt-24 mb-8">Cor de Fundo:</h3>
                        <cdk-material-color-picker class="mb-8" formControlName="background">
                        </cdk-material-color-picker>

                    </div>

                    <!-- SIDE PANEL -->
                    <div class="group" formGroupName="sidepanel">

                        <h2>Painel Lateral</h2>

                        <mat-slide-toggle formControlName="hidden">
                            Escondido
                        </mat-slide-toggle>

                        <h3 class="mt-24">Posição:</h3>
                        <mat-radio-group fxLayout="column" fxLayoutAlign="start start" formControlName="position">
                            <mat-radio-button class="mb-12" value="left">Esquerda</mat-radio-button>
                            <mat-radio-button class="mb-12" value="right">Direita</mat-radio-button>
                        </mat-radio-group>

                    </div>

                </ng-container>

            </ng-container>

        </div>

        <!-- CUSTOM SCROLLBARS -->
        <div class="group" style="display: none;">

            <h2>Barra de Rolagem Customizada</h2>

            <mat-slide-toggle class="mb-12" formControlName="customScrollbars">
                Habilitar
            </mat-slide-toggle>

        </div>

    </form>

</div>
