<div class="header">
    <path icone="people"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="pessoas">
    </path>
</div>
<cdk-pessoa-grid
    [loading]="(loading$ | async)"
    [pessoas]="(pessoas$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['id', 'nome', 'numeroDocumentoPrincipal', 'pessoaConveniada', 'pessoaValidada', 'actions']"
    [actions]="['edit', 'create']"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-pessoa-grid>
<router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
