<h3 mat-dialog-title>Anexos</h3>
<mat-dialog-content>
    <div class="documentos-vinculados mb-4">
        <button mat-mini-fab *ngIf="documento?.minuta"
                class="ml-8 mb-8 active accent add-file-button"
                [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">attach_file</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="upload de anexo"
                    (click)="upload()">
                <ng-container>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>Upload</span>
                </ng-container>
            </button>

            <button *ngIf="(saving$ | async) === false" mat-menu-item aria-label="aprova um documento"
                    (click)="aprovar()">
                <ng-container>
                    <mat-icon>file_copy</mat-icon>
                    <span>Anexação Aprovação</span>
                </ng-container>
            </button>

            <ng-template #dynamicComponent></ng-template>
        </mat-menu>

        <cdk-documento-card-list [documentos]="(documentosVinculados$ | async)"
                                 [deletingId]="(deletingDocumentosVinculadosId$ | async)"
                                 [assinandoId]="(assinandoDocumentosVinculadosId$ | async)"
                                 [alterandoId]="(alterandoDocumentosId$ | async)"
                                 [removendoAssinaturaId]="(removendoAssinaturaDocumentosVinculadosId$ | async)"
                                 [downloadId] ="(downloadP7SDocumentosId$ | async)"
                                 [saving]="(saving$ | async)"
                                 [loading]="(isLoading$ | async)"
                                 [documentosPagination]="(documentosPagination$ | async)"
                                 (delete)="doDeleteDocumentoVinculado($event)"
                                 (deleteBlocoEmmitter)="doDeleteBloco($event)"
                                 (assinatura)="doAssinaturaDocumentoVinculado($event)"
                                 (assinaturaBloco)="doAssinaturaBloco($event)"
                                 (removeAssinatura)="doRemoveAssinatura($event)"
                                 (clicked)="onClickedDocumentoVinculado($event)"
                                 (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                 (getMore)="doGetMore()"
                                 (downloadP7S)="doDownloadP7S($event)"
                                 (changedSelectedIds)="changedSelectedDocumentosVinculadosId($event)">
        </cdk-documento-card-list>

        <cdk-componente-digital-card-list #cdkUpload
                                          [documentoOrigem]="documento"
                                          [uploadMode]="'linear'"
                                          (completed)="onCompleteDocumentoVinculado($event)"
                                          (completedAll)="onCompleteAllDocumentosVinculados()">
        </cdk-componente-digital-card-list>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Fechar</button>
</mat-dialog-actions>
