<div class="header">
    <path icone="location_city"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="unidades">
    </path>
</div>
<cdk-vinculacao-setor-municipio-grid
    [loading]="(loading$ | async)"
    [vinculacoesSetoresMunicipios]="(vinculacoesSetoresMunicipios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'setor.nome', 'municipio.nome', 'actions']"
    [actions]="['create', 'delete']"
    (reload)="reload($event)"
    (create)="create()"
    (delete)="delete($event)"
    (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-vinculacao-setor-municipio-grid>
