<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Nome do Usuário"
               formControlName="usuario"
               [matAutocomplete]="usuario.autocomplete"
               (blur)="checkUsuario()" required>
        <cdk-usuario-autocomplete
            #usuario="usuarioAutocomplete"
            [control]="form.get('usuario')"
            [pagination]="usuarioPagination">
        </cdk-usuario-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showUsuarioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('usuario').hasError('formError')">
            {{form.get('usuario').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid || !valid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-usuario-gridsearch
    *ngIf="activeCard === 'usuario-gridsearch'"
    (selected)="selectUsuario($event)"
    (cancel)="cancel()">
</cdk-usuario-gridsearch>
