@import "../../../scss/cdk";
cdk-lembrete-historico {
    height: 100%;
    .colunas {
        width: 20px !important;
        .mat-select-value {
            display: none !important;
        }
    }
    .header {
        .filters {
            .search-wrapper {
                border-radius: 28px;
                overflow: hidden;
                @include mat-elevation(1);
                .search {
                    width: 100%;
                    height: 56px;
                    line-height: 56px;
                    padding: 0 18px;
                    input {
                        height: 56px;
                        min-height: 56px;
                        max-height: 56px;
                        padding: 0 8px;
                        border: none;
                        outline: none;
                    }
                }
            }
        }
    }
    .content {
        .actions {
            width: 100%;
            .back {
                margin-right: auto;
            }
        }
        .mat-column-select {
            overflow: initial;
        }
        table {
            width: 100%;
            tr {
                height: auto;
            }
            td {
                &.deleted {
                    text-decoration: line-through;
                }
            }
        }
    }
    .mat-form-field {
        font-size: 14px;
        width: 100%;
    }
    .responsive-grid[max-width~="600px"] {
        .mat-elevation-z8 {
            box-shadow: none;
        }
        .mat-header-row {
            display: none;
        }
        tbody {
            display: block;
            width: 100%;
        }
        .mat-table {
            * {
                box-sizing: border-box;
            }
            .mat-row {
                display: block;
                overflow: hidden;
                height: auto;
                position: relative;
                clear: both;
                box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
                border-radius: 3px;
                + .mat-row {
                    margin-top: 24px;
                }
            }
            .mat-cell {
                display: block;
                width: 100%;
                padding: 0 8px;
                margin: 8px 0;
                border: 0 none;
                &:first-child {
                    padding: 0 48px 0 8px;
                    a {
                        font-size: 20px;
                    }
                    &:before {
                        display: none;
                    }
                }
                &.m-card-sub-title {
                    margin-top: -8px;
                    padding: 0 48px 0 8px;
                }
            }
            .has_label_on_mobile {
                &:before {
                    content: attr(data-label);
                    display: inline;
                    font-weight: bold;
                }
            }
        }
        .mat-paginator {
            margin-top: 24px;
        }
    }
}
