<div class="page-layout fullwidth left-sidebar inner-scroll" fxFlex="100">
    <div class="content responsive-grid" fxLayoutAlign="center start">
        <div class="mb-8 p-8" fxFlex fxLayout="column" fxLayoutAlign="center center">
            <div class="actions" fxFlex fxLayout="row" fxLayoutAlign="end center">
                <button class="back" mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>
                <button class="refresh" mat-icon-button
                        (click)="loadPage()"
                        aria-label="recarregar"
                        matTooltip="Recarregar">
                    <mat-icon>refresh</mat-icon>
                </button>
            </div>
            <div class="spinner-container" *ngIf="loading">
                <mat-spinner diameter="32"></mat-spinner>
            </div>
            <table mat-table [dataSource]="dataSource" matSort [ngStyle]="loading ? {'display': 'none'} : {}">
                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Id: '> {{lembrete.id}} </td>
                </ng-container>
                <!-- Processo Column -->
                <ng-container matColumnDef="processo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Processo
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Processo: '> {{lembrete.processo?.NUP}} </td>
                </ng-container>
                <!-- Conteudo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('conteudo') > -1" matColumnDef="conteudo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Conteúdo
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Conteúdo: '> {{lembrete.conteudo}} </td>
                </ng-container>
                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Criado Por: '> {{lembrete.criadoPor?.nome}} </td>
                </ng-container>
                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Criado Em: '> {{lembrete.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>
                <!-- AtualizadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1" matColumnDef="atualizadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Por
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Atualizado Por: '> {{lembrete.atualizadoPor?.nome}} </td>
                </ng-container>
                <!-- AtualizadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Em
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Atualizado Em: '> {{lembrete.atualizadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>
                <!-- ApagadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoPor.nome') > -1" matColumnDef="apagadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Por
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Apagado Por: '> {{lembrete.apagadoPor?.nome}} </td>
                </ng-container>
                <!-- ApagadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoEm') > -1" matColumnDef="apagadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Em
                    </th>
                    <td mat-cell *matCellDef="let lembrete" class='has_label_on_mobile' data-label='Apagado Em: '> {{lembrete.apagadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let lembrete; columns: displayedColumns;">
                </tr>
            </table>
            <div fxFlex fxLayout="row" fxLayoutAlign="center center">
                <mat-paginator [pageSizeOptions]="[10, 25]"></mat-paginator>
            </div>
        </div>
    </div>
</div>
