<div *ngIf="titulo === 'painel'">
    <h3><strong>Painel</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        No novo sistema, o painel de tarefas é bem mais acessível e com informações mais claras.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Logo na página inicial, vários quadros com dados importantes são mostrados:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/quadroavisos.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul>
        <li>Quadro de Avisos</li>
        <li>Quadro de Minhas Tarefas pendentes de conclusão, com o número de tarefas de todas as espécies e as
            quantidade de tarefas vencidas
        </li>
    </ul>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/quadrotarefas.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul>
        <li>Quadro de Meus Ofícios pendentes de resposta, com o número de respostas aguardadas e o número de vencidas
        </li>
    </ul>
    <ul>
        <li>Quadro de Tramitações pendentes de recebimento, mostrando quantos processos estão a caminho</li>
    </ul>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/quadrotramitacoes.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul>
        <li>Quadro do Histórico dos últimos dias, mostrando as ações recentes</li>
    </ul>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/quadrohistorico.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Outros quadros podem ser adicionados, facilitando ainda mais a vida dos usuários.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        no menu lateral esquerdo, podemos navegar pelo sistema, acessando:</p>
    <ul>
        <li>A página de Tarefas</li>
        <li>A página de Protocolo</li>
        <li>A página de Pesquisa</li>
        <li>Os módulos do sistema, como o Módulo Relatório</li>
        <li>A Customização da Aparência do sistema</li>
    </ul>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/painellateral.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Outros pontos a serem destacados são as opções encontradas na parte superior da tela, a direita.
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/painelsuperiordireito.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
        O nome do usuário que está acessando aparece. Ao acionar a seta ao lado do nome, podemos acessar as
        configurações ou realizar o logout do sistema.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Também é possível acionar a <strong>pesquisa rápida</strong> de NUPs/documentos, checar as
        <strong>notificações</strong> no sino, acessar a <strong>ajuda</strong>> do sistema ou checar as últimas
        operações realizadas pelo usuário.
    </p>
    <br>

    <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>
    <h4>Apresentação do Painel de Tarefas Administrativas</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/9yiJ31dk7H4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Detalhes do Painel de Tarefas Administrativas</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/iWhuNgmJj0U" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Como consultar o histórico das últimas operações efetuadas pelo usuário</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/__YPzhje7yQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Como consultar o histórico de tarefas de um processo</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/5Fepxq22Tas" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Como consultar o histórico de uma tarefa (redistribuições) a partir do painel de tarefas </h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/xw5OIcJMu-I" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Como consultar o histórico de tramitações de um processo</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/Z-8WVe0NX3o" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>
</div>
