@import '../../../../scss/cdk';

cdk-documento-avulso-list-item {
    display: block;
    position: relative;
    padding: 8px 8px 8px 24px;
    border-bottom: 1px solid;
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;

    .info {

        word-break: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;

        &.nao-lido {
            font-weight: bold;
        }

        margin: 0 8px 0 8px;

        .title {
            font-size: 15px;
            font-weight: 600;

            > mat-icon {
                margin-left: 4px;
                font-size: 12px;
                align-items: center;
                line-height: 12px;
                min-width: 12px;
                min-height: 12px;
                width: 12px;
                height: 12px;
            }
        }

        .subtitle {
            font-style: italic;
            font-size: 12px;
        }

        .body {
            margin-top: 6px;
        }

        .etiquetas {
            margin-top: 8px;

            .etiqueta {
                font-size: 11px;
                border-radius: 4px;
                margin: 0 4px 0 0;
                padding: 3px 8px;

                .etiqueta-color {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
            }
        }
    }
}
