<div class="header">
    <path icone="map"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="{{modulo}}">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-lotacao-form
        [lotacao]="lotacao"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [usuario]="(usuario$ | async)"
        [setor]="(setor$ | async)"
        [setorPagination]="setorPagination"
        [colaboradorPagination]="colaboradorPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-lotacao-form>
</div>