// -----------------------------------------------------------------------------------------------------
// @ Custom color maps for Cdk
// -----------------------------------------------------------------------------------------------------
$cdk-white: (
    500: white,
    contrast: (
        500: $dark-primary-text
    )
);

$cdk-black: (
    500: black,
    contrast: (
        500: $light-primary-text,
    )
);

$cdk-navy: (
    50: #ECECEE,
    100: #C5C6CB,
    200: #9EA1A9,
    300: #7D818C,
    400: #5C616F,
    500: #3C4252,
    600: #353A48,
    700: #2D323E,
    800: #262933,
    900: #1E2129,
    A100: #C5C6CB,
    A200: #9EA1A9,
    A400: #5C616F,
    A700: #2D323E,
    contrast: (
        50: $dark-primary-text,
        100: $dark-primary-text,
        200: $dark-primary-text,
        300: $light-primary-text,
        400: $light-primary-text,
        500: $light-primary-text,
        600: $light-primary-text,
        700: $light-primary-text,
        800: $light-primary-text,
        900: $light-primary-text,
        A100: $dark-primary-text,
        A200: $light-primary-text,
        A400: $light-primary-text,
        A700: $light-primary-text,
    )
);

// Generate Cdk color classes for custom palettes
$custom_palettes: (
    cdk-white: $cdk-white,
    cdk-black: $cdk-black,
    cdk-navy: $cdk-navy
);

@include cdk-color-classes($custom_palettes);

// -----------------------------------------------------------------------------------------------------
// @ Typography
// -----------------------------------------------------------------------------------------------------

// Force the input field font sizes to 8px
$typography: mat-typography-config(
    $font-family: 'Muli, Helvetica Neue, Arial, sans-serif',
    $title: mat-typography-level(14px, 24px, 600),
    $body-2: mat-typography-level(12px, 8px, 600),
    $button: mat-typography-level(12px, 12px, 600),
    $input: mat-typography-level(14px, 1.125, 400) // line-height must be unitless !!!
);

// Setup the typography
@include angular-material-typography($typography);

// -----------------------------------------------------------------------------------------------------
// @ Component theming
// -----------------------------------------------------------------------------------------------------

// Import app and page component themes here to enable theming for them
@import "src/app/layout/components/chat-panel/chat-panel.theme";
@import "src/app/layout/components/toolbar/toolbar.theme";
@import "src/app/layout/components/navbar/navbar.theme";
@import "main/apps/calendario/calendar.theme";

@import "src/app/main/auth/login/login.theme";
@import "src/app/main/auth/register/register.theme";
@import "src/app/main/auth/activate/activate.theme";
@import "src/app/main/auth/esqueci-senha/esqueci-senha.theme";
@import "src/app/main/apps/painel/painel.theme";
@import "src/app/main/apps/tarefas/tarefas.theme";
@import "src/app/main/apps/arquivista/arquivista.theme";
@import "src/app/main/apps/processo/processo.theme";
@import "src/app/main/apps/documento/documento.theme";
@import "src/app/main/apps/pessoa/pessoa.theme";
@import "src/app/main/apps/pesquisa/pesquisa.theme";
@import "src/app/main/apps/configuracoes/configuracoes.theme";
@import "src/app/main/apps/oficios/oficios.theme";
@import "src/app/main/apps/admin/admin.theme";
@import "src/app/main/apps/coordenador/coordenador.theme";
@import "src/app/main/apps/protocolo-externo/protocolo-externo.theme";
@import "src/ajuda/ajuda.theme";
@import "src/app/main/apps/relatorios/relatorios.theme";
@import "src/modules/modules.theme";
@import "src/app/main/apps/board-tarefas/board-tarefas.theme";
@import "src/app/main/apps/caixa-email/caixa-email.theme";
@import "src/app/main/apps/processo/processo-timeline/processo-timeline.theme";

// Define a mixin for easier access
@mixin components-theme($theme) {

    // Layout components
    @include chat-panel-theme($theme);
    @include toolbar-theme($theme);
    @include login-theme($theme);
    @include register-theme($theme);
    @include activate-theme($theme);
    @include esqueci-senha-theme($theme);
    @include tarefas-theme($theme);
    @include arquivista-theme($theme);
    @include painel-theme($theme);
    @include processo-theme($theme);
    @include documento-theme($theme);
    @include pessoa-theme($theme);
    @include pesquisa-theme($theme);
    @include configuracoes-theme($theme);
    @include oficios-theme($theme);
    @include admin-theme($theme);
    @include coordenador-theme($theme);
    @include protocolo-externo-theme($theme);
    @include ajuda-theme($theme);
    @include relatorios-theme($theme);
    @include modules-theme($theme);
    @include board-tarefas-theme($theme);
    @include caixa-email-theme($theme);
    @include processo-timeline-theme($theme);
}

// -----------------------------------------------------------------------------------------------------
// @ Define the default theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$default-primary-palette: mat-palette($cdk-navy);
$default-accent-palette: mat-palette($mat-indigo, 600, 400, 700);
$default-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$theme: mat-light-theme($default-primary-palette, $default-accent-palette, $default-warn-palette);

// Add ".theme-default" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-default {

    // Create an Angular Material theme from the $theme map
    @include angular-material-theme($theme);

    // Apply the theme to the Cdk Core
    @include cdk-core-theme($theme);

    // Apply the theme to the user components
    @include components-theme($theme);

    // Generate Cdk color classes for primary, accent and warn colors
    $palettes: (
        primary: $default-primary-palette,
        accent: $default-accent-palette,
        warn: $default-warn-palette
    );

    @include cdk-color-classes($palettes);
}

// -----------------------------------------------------------------------------------------------------
// @ Define a blue-gray dark theme
// -----------------------------------------------------------------------------------------------------

// Define the primary, accent and warn palettes
$blue-gray-dark-theme-primary-palette: mat-palette($mat-blue);
$blue-gray-dark-theme-accent-palette: mat-palette($mat-blue-gray);
$blue-gray-dark-theme-warn-palette: mat-palette($mat-red);

// Create the Material theme object
$blue-gray-dark-theme: mat-dark-theme($blue-gray-dark-theme-primary-palette, $blue-gray-dark-theme-accent-palette, $blue-gray-dark-theme-warn-palette);

// Add ".theme-blue-gray-dark" class to the body to activate this theme.
// Class name must start with "theme-" !!!
body.theme-blue-gray-dark {

    // Generate the Angular Material theme
    @include angular-material-theme($blue-gray-dark-theme);

    // Apply the theme to the Cdk Core
    @include cdk-core-theme($blue-gray-dark-theme);

    // Apply the theme to the user components
    @include components-theme($blue-gray-dark-theme);

    // Generate Cdk color classes for primary, accent and warn colors
    $palettes: (
        primary: $blue-gray-dark-theme-primary-palette,
        accent: $blue-gray-dark-theme-accent-palette,
        warn: $blue-gray-dark-theme-warn-palette
    );

    @include cdk-color-classes($palettes);
}
