<cdk-processo-grid
        [arraySearchTypes]="arrayFiltrosEtiquetas"
        [vinculacaoEtiquetaPagination]="vinculacaoEtiquetaPagination"
        [loading]="(loading$ | async)"
        [processos]="(processos$ | async)"
        [total]="(pagination$ | async)?.total"
        [mode]="NUPHandle ? 'list' : 'search'"
        [mobileMode]="mobileMode"
        [actions]="['edit', 'view']"
        [displayedColumns]="colunas"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (view)="view($event)"
        (protocoloExterno)="protocoloExistente($event)">
</cdk-processo-grid>
