<div class="actions">
    <button class="back accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
            (click)="doCreate()"
            aria-label="novo"
            matTooltip="Novo">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="content" cdkPerfectScrollbar>
    <div class="loading" *ngIf="loading">
        <mat-spinner class="visibilidade-list-loading" diameter="32"></mat-spinner>
    </div>

    <div class="items" *ngIf="acoes.length > 0 && !loading">
        <cdk-acao-transicao-workflow-list-item matRipple *ngFor="let acao of acoes" [acao]="acao"
                            [deleting]="deletingIds.length > 0 && deletingIds.indexOf(acao.id) > -1"
                            [total]="acoes.length"
                            (delete)="doDelete($event)"
                            [@animate]="{value:'*',params:{y:'100%'}}">
        </cdk-acao-transicao-workflow-list-item>
    </div>

    <div class="no-acoes-text" *ngIf="acoes.length === 0 && !loading">
        <span class="hint-text">{{ 'Nenhuma ação foi criada ainda!' }}</span>
    </div>
</div>



