repositorio-edit-dados-basicos {
    flex: 1 1 auto;
    display: flex;

    .dados-basicos {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 8px;
    }
}
