<!-- CONTENT -->
<div class="content">

    <h2>Etiqueta em bloco de processos</h2>

    <h3>{{(processos$ | async)?.length}} processo(s) selecionado(s)</h3>

    <cdk-etiqueta-chips [etiquetas]="etiquetas"
                        [pagination]="vinculacaoEtiquetaPagination"
                        (create)="addEtiqueta($event)"
                        (delete)="deleteEtiqueta($event)"></cdk-etiqueta-chips>

    <div *ngIf="(isSaving$ | async) === false && operacoes.length === 0" class="actions mr-sm-12 mt-8 mb-8">
        <button type="submit" mat-raised-button color="accent" class="mr-sm-12" (click)="submit()"
                [disabled]="!(processos$ | async)?.length || !etiquetas.length">
            SALVAR
        </button>
        <button class="mr-sm-12" mat-raised-button aria-label="cancelar" color="warn" type="button"
                (click)="doAbort()">
            CANCELAR
        </button>
    </div>

    <div *ngIf="(isSaving$ | async)" fxLayout="row" class="actions mr-sm-12 mt-8 mb-8">
        <mat-spinner color="accent" diameter="24"></mat-spinner>
    </div>

    <mat-list *ngIf="operacoes.length > 0">
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'grey-50': operacao.status === 0, 'light-green-50': operacao.status === 1, 'pink-50': operacao.status === 2}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>

</div>
