<!-- SIDEBAR HEADER -->
<div class="header p-8">
    <mat-icon class="mr-8">person</mat-icon>
    <span class="h5">Pessoa</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="nav material2">
        <div class="nav-item" *ngFor="let link of links">
            <a *ngIf="(!link.pessoa || (pessoa$ | async)) && (link.role === undefined || this._loginService.isGranted(link.role))"
               class="nav-link" matRipple [routerLink]="[link.link]"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                <span class="title">{{link.nome | titleCasePipe}}</span>
            </a>
        </div>
        <div class="nav-item" *ngFor="let link of extendedLinks">
            <a *ngIf="(link.canShow === undefined || (link.canShow(this) | async) === true) && (!link.pessoa || (pessoa$ | async))
                    && (link.role === undefined || this._loginService.isGranted(link.role))"
               class="nav-link" matRipple [routerLink]="[link.link]"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                <span class="title">{{link.nome | titleCasePipe}}</span>
            </a>
        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->
