dados-basicos-create {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    > mat-horizontal-stepper {
        flex: 1 1 auto;
        display: flex !important;
        flex-direction: column;
        > .mat-horizontal-content-container {
            overflow-y: auto !important;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            > .mat-horizontal-stepper-content[aria-expanded=true] {
                flex: 1 1 auto;
                display: flex;
            }
            > .mat-horizontal-stepper-content[aria-expanded=false] {
                display: none !important;
            }
        }
    }

    > mat-vertical-stepper {
        flex: 1 1 auto;
        display: flex !important;
        flex-direction: column;
        overflow: auto;
        > .mat-vertical-content-container {
            overflow-y: auto !important;
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            > .mat-vertical-stepper-content[aria-expanded=true] {
                flex: 1 1 auto;
                display: flex;
            }
            > .mat-vertical-stepper-content[aria-expanded=false] {
                display: none !important;
            }
        }
    }
}
