<div class="atividade" *ngIf="this.atividade && this.tarefa">
    <button mat-mini-fab
            class="ml-8 mb-8 active accent add-file-button"
            *ngIf="this.routerState.params['typeHandle'] === 'minhas-tarefas'"
            [matMenuTriggerFor]="moreMenuMinuta" aria-label="Criar Minuta"
            #menuTriggerList="matMenuTrigger"
            (click)="$event.stopPropagation()">
        <mat-icon class="secondary-text">add</mat-icon>
    </button>
    <mat-menu #moreMenuMinuta="matMenu">
        <button mat-menu-item aria-label="upload de minuta"
                (click)="uploadMinuta()">
            <ng-container>
                <span>Upload</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="editor de modelos" [matMenuTriggerFor]="modeloMenu">
            Editor
        </button>
    </mat-menu>

    <mat-menu #modeloMenu="matMenu">
        <h4 class="p-8">Modelos Individuais e em Branco (Outros na Lupa)</h4>
        <form class="p-8 mb-8" style="width: 400px !important" fxLayoutGap="8px" fxLayout="column"
              fxLayoutAlign="start"
              (submit)="doEditor()"
              fxFlex="1 0 auto" [formGroup]="formEditor" (click)="$event.stopPropagation()">
            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                    <input matInput placeholder="Nome ou Id"
                           formControlName="modelo"
                           #autoCompleteModelos
                           [matAutocomplete]="modelo.autocomplete"
                           (blur)="checkModelo()">
                </div>
                <cdk-modelo-autocomplete
                    #modelo="modeloAutocomplete"
                    [modeloListIsLoading]="modeloListIsLoading"
                    [modeloList]="modeloList"
                    [control]="formEditor.get('modelo')"
                    [pagination]="modeloPagination">
                </cdk-modelo-autocomplete>
                <button matSuffix mat-button mat-icon-button type="button"
                        (click)="$event.stopPropagation(); getFavoritosMinuta(autoCompleteModelos)">
                    <mat-icon matTooltip="Favoritos">star</mat-icon>
                </button>
                <button matSuffix mat-button mat-icon-button type="button"
                        (click)="$event.stopPropagation(); doVisualizarModelo()" [disabled]="!formEditorValid">
                    <mat-icon matTooltip="Prévia do modelo">remove_red_eye</mat-icon>
                </button>
                <button matSuffix mat-button mat-icon-button type="button"
                        (click)="$event.stopPropagation(); showModelosGrid()">
                    <mat-icon matTooltip="Procurar em todos os modelos">search</mat-icon>
                </button>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="!formEditorValid">
                CRIAR MINUTA
            </button>
        </form>
    </mat-menu>
    <cdk-minutas-atividade-card-list
        [assinandoId]="(assinandoDocumentosId$ | async)"
        [alterandoId]="(alterandoDocumentosId$ | async)"
        [documentos]="minutas"
        [selectedIds]="(selectedIds$ | async)"
        [saving]="(isSavingMinutas$ | async)"
        [mode]="'editor'"
        [disabledSelects]="disabledIds"
        [currentDocumentoId]="documento?.id"
        [assinaturaErrors]="(assinaturaErrors$ | async)"
        [assinaturasErrosDocumentosId]="(assinaturaErrosDocumentosId$ | async)"
        [errorsAssinatura]="errorsAssinatura"
        [dropZoneEnabled]="true"
        [dragEnabled]="true"
        (dropDocumento)="onDropDocumento($event)"
        (clicked)="onClicked($event)"
        (assinatura)="doAssinatura($event)"
        (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
        (changedSelectedIds)="changedSelectedIds($event)">
    </cdk-minutas-atividade-card-list>

    <cdk-componente-digital-card-list #ckdUploadMinuta
                                      [tarefaOrigem]="tarefa"
                                      [uploadMode]="'linear'"
                                      (completed)="onCompleteMinuta()"
                                      (completedAll)="onCompleteAllMinutas()">
    </cdk-componente-digital-card-list>

    <div *ngIf="(loadingDocumentos$ | async) === true" class="spinner-container m-8">
        <mat-spinner diameter="24"></mat-spinner>
    </div>

    <div class="documentos-vinculados mb-4">
        <h3 style="font-weight: bold">Anexos</h3>

        <button mat-mini-fab *ngIf="(documento$ | async)?.minuta"
                class="ml-8 mb-8 active accent add-file-button"
                [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">attach_file</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item aria-label="upload de anexo"
                    (click)="upload()">
                <ng-container>
                    <mat-icon>picture_as_pdf</mat-icon>
                    <span>Upload</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="anexar uma cópia de um documento"
                    (click)="anexarCopia()">
                <ng-container>
                    <mat-icon>file_copy</mat-icon>
                    <span>Por Cópia</span>
                </ng-container>
            </button>

            <button *ngIf="(isSavingDocumentosVinculados$ | async) === false" mat-menu-item aria-label="aprova um documento"
                    (click)="aprovar()">
                <ng-container>
                    <mat-icon>file_copy</mat-icon>
                    <span>Anexar Aprovação</span>
                </ng-container>
            </button>

            <ng-template #dynamicComponent></ng-template>
        </mat-menu>

        <cdk-documento-card-list [documentos]="(documentosVinculados$ | async)"
                                 [actions]="actions"
                                 [deletingId]="(deletingDocumentosVinculadosId$ | async)"
                                 [assinandoId]="(assinandoDocumentosVinculadosId$ | async)"
                                 [alterandoId]="(alterandoDocumentosId$ | async)"
                                 [downloadId]="(downloadP7SDocumentosId$ | async)"
                                 [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                 [saving]="(isSavingDocumentosVinculados$ | async)"
                                 [loading]="(isLoadingDocumentosVinculados$ | async)"
                                 [documentosPagination]="pagination"
                                 (delete)="doDeleteDocumentoVinculado($event)"
                                 (deleteBlocoEmmitter)="doDeleteBloco($event)"
                                 (assinatura)="doAssinaturaDocumentoVinculado($event)"
                                 (assinaturaBloco)="doAssinaturaBloco($event)"
                                 (removeAssinatura)="doRemoveAssinatura($event)"
                                 (clicked)="onClickedDocumentoVinculado($event)"
                                 (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                 (downloadP7S)="doDownloadP7S($event)"
                                 (desvincular)="doDesvincular($event)"
                                 (converteMinuta)="doConverteMinuta($event)"
                                 (converteMinutaBloco)="doConverteMinutaBloco($event)"
                                 (desvincularBloco)="doDesvincularBloco($event)"
                                 (getMore)="paginaDocumentosVinculados()"
                                 (changedSelectedIds)="changedSelectedDocumentosVinculadosId($event)">
        </cdk-documento-card-list>

        <cdk-componente-digital-card-list #cdkUpload
                                          [documentoOrigem]="(documento$ | async)"
                                          [uploadMode]="'linear'"
                                          (completed)="onCompleteDocumentoVinculado()"
                                          (completedAll)="onCompleteAllDocumentosVinculados()">
        </cdk-componente-digital-card-list>
    </div>

    <cdk-atividade-form
        [atividade]="atividade"
        [documentoAvulsoVinculado]="tarefa.processo?.documentoAvulsoOrigem"
        [especieAtividadePagination]="especieAtividadePagination"
        [unidadeAprovacaoPagination]="unidadeAprovacaoPagination"
        [setorAprovacaoPagination]="setorAprovacaoPagination"
        [usuarioAprovacaoPagination]="usuarioAprovacaoPagination"
        [temMinutas]="true"
        [form]="form"
        [mode]="'vertical'"
        [actions]="['save']"
        [saving]="(atividadeIsSaving$ | async)"
        [errors]="(atividadeErrors$ | async)"
        (changeEncerramentoTarefa)="changeEncerramentoTarefa($event)"
        (save)="preSubmitAtividade($event)"
        (abort)="doAbort()">
    </cdk-atividade-form>
</div>
