
<div>
    <div *ngIf="titulo === 'processo'" class="content p-8" fxLayout="column">
        <h3><strong>CRIANDO PROCESSOS</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            Antes de incluir um novo processo, o usuário deve se certificar de que ainda não houve o referido cadastro no SUPP, realizando as pesquisas necessárias.<br>
        </p>
        <p style="text-align: justify;text-indent: 20px">

            Se o processo já possuir um NUP, deve-se consultar sua existência por meio da pesquisa rápida <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii"> na barra superior do SUPP.
        </p>
        <mat-expansion-panel style="text-align: center;margin-left: 20px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                O QUE É UM NUP?
              </mat-panel-title>
            </mat-expansion-panel-header>
           <p>
                O Número Único de Protocolo (NUP) é constituído de quinze dígitos principais, mais dois dígitos de verificação, separados em grupos (00000.000000/0000-00).<br><br>
                O primeiro grupo é constituído de cinco dígitos, referentes ao código numérico atribuído a cada unidade protocolizadora e este código identifica o órgão de origem do processo, mantendo-se inalterado.<br><br>
                O segundo grupo é constituído de seis dígitos, separados do primeiro por um ponto e determina o registro sequencial dos processos autuados, devendo este número ser reiniciado a cada ano.<br><br>
                O terceiro grupo, constituído de quatro dígitos, separado do segundo grupo por uma barra, indica o ano de formação do processo.
            </p>
        </mat-expansion-panel>
        <p style="text-align: justify;text-indent: 20px">
            Se não houver referência a um determinado NUP, ainda assim pode ocorrer de já haver cadastro do processo no sistema,
            de modo que o usuário deverá realizar uma pesquisa avançada, disponível no painel lateral esquerdo.
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/painelpesquisa.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Na tela de pesquisa avançada, estão disponíveis diversos campos para que o usuário tente encontrar um cadastro anterior, evitando assim a duplicidade.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Deve-se realizar a pesquisa avançada, ao menos, pelo nome do interessado.
            Entretanto, quanto mais completa for a pesquisa, mais fidedigna será a base de dados.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Confirmada a inexistência de processo anterior, o usuário deve iniciar o procedimento de criação de um novo processo no SUPP
            No menu lateral esquerdo o usuário deve selecionar
            <strong>Protocolo&nbsp;</strong>&gt;
            <strong>Administrativo</strong>:
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/criarprocessoadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A página de <strong>criação de processo</strong> é aberta.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Inicialmente, para começar a criação de um protocolo, é necessário escolher a Unidade Arquivística.
        </p>
        <p style="text-align: center;">
            <!-- IMAGEM UNIDADE ARQUIVISTICA<img src="assets/images/ajuda/criarprocessoadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil"> -->
        </p>
        <mat-expansion-panel style="text-align: center;margin-left: 20px">
            <mat-expansion-panel-header>
              <mat-panel-title>
                UNIDADE ARQUIVÍSTICA
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>
               Existem três tipos de unidade arquivística:
            </p>
            <ul>
                <li>Processo: Conjunto das peças apresentadas para servir à instrução e ao julgamento de uma questão</li>
                <li>Documento Avulso: Um ofício, utilizado para comunicação externa</li>
                <li>Pasta/Dossiê: Nem tudo é um processo administrativo. Pode ser apenas uma pasta, um depósito de documentos</li>
            </ul>
        </mat-expansion-panel>
        <p style="text-align: justify;text-indent: 20px">
            Após a escolha da Unidade Arquivística mais apropriada, é necessário informar os Dados do Protocolo
            O sistema precisa saber se o usuário deseja <strong>Atribuir Novo Protocolo</strong> ou <strong>Informar Protocolo Existente</strong>.
            Essa escolha é importante porque o processo em questão pode já existir no sistema.
        </p>
        <div class="atencao">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p style="text-indent: 20px">
                Ao escolher a opção Pasta/Dossiê como Unidade Arquivística, os Dados do Protocolo são limitados apenas a opção <strong>Não Possui Protocolo</strong>.            </p>
        </div>
        <p style="text-align: justify;text-indent: 20px">
            Após os Dados do Protocolo, se encontra a opção de <strong>Importar Dados de Processo Existente no Sistema</strong>.
            Essa opção permite a utilização de metadados iguais/semelhantes a um outro NUP cadastrado no sistema. Ao marcar a opção, a caixa de pesquisa de Processo Origem aparece.
            Ao escolher um processo nesse campo, os metadados do processo são preenchidos, permitindo ainda ajustes por parte do usuário, que pode editar se existir algum metadado diferente.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Ao não escolher a opção de Importar Dados de Processo Existente, é necessário preencher alguns dados para a criação do Protocolo.
            Os campos marcados com o <strong>*</strong> são os campos que não podem ficar em branco.
        </p>
        <h3><strong>Preenchendo os dados do processo</strong></h3>
        <p style="text-align: justify;margin-left: 40px">
            1. No campo <strong>Processo de Trabalho</strong>, preenche-se a informação relacionada ao "tipo" do processo, sendo possível escolher entre as opções:
        </p>
        <ul style="text-align: justify;margin-left: 40px">
            <li>Administrativo</li>
            <li>Consultivo</li>
            <li>Correicional</li>
        </ul>

        <p style="background-color: #d3d3d3;margin-left: 40px">
            É possível preencher o campo e escolher a espécie relacionada ou escolher a opção desejada na <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii"> e selecionar por meio do botão <img src="assets/images/ajuda/escolheropcao.png" class="fr-fic fr-dii">.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. No campo <strong>Meio</strong>, é preenchido o formato do processo, sendo possível escolher entre as opções:
        </p>
        <ul style="text-align: justify;margin-left: 40px">
            <li>Físico</li>
            <li>Eletrônico</li>
            <li>Híbrido</li>
        </ul>
        <p style="text-align: justify;margin-left: 40px">
            3. O campo <strong>Classificação</strong> deve ser atribuído de acordo com o <strong>Plano de Classificação da AGU</strong>, o qual é relacionado
            aos assuntos do CONARQ - Conselho Nacional de Arquivologia. Existem várias opções, aparecendo uma opção de paginação na parte inferior, sendo possível navegar entre os intervalos
            de <strong>Registros por página</strong>.
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/paginacao.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
        </p>
        <mat-expansion-panel style="text-align: center;margin-left: 40px">
            <mat-expansion-panel-header>
              <mat-panel-title style="text-align: center">
                CLASSIFICAÇÃO?
              </mat-panel-title>
            </mat-expansion-panel-header>
           <p style="text-align: justify;">
            Classificação é o ato ou efeito de analisar e identificar o conteúdo dos documentos arquivísticos e de selecionar a classe sob a qual serão recuperados. Essa classificação é feita a partir de um plano de classificação elaborado pelo órgão ou entidade.<br><br>
            A classificação determina o agrupamento de documentos em unidades menores e o agrupamento destas em unidades maiores, formando o arquivo do órgão ou entidade. Para tanto, deve tomar por base o conteúdo do documento, que reflete a atividade que o gerou e determina o uso da informação nele contida. <br><br>
            A classificação também define a organização física dos documentos, constituindo-se em referencial básico para sua recuperação. <br><br>
            Os objetivos da classificação são:
            </p>
            <ul>
                <li>Estabelecer a relação orgânica dos documentos arquivísticos;</li>
                <li>Assegurar que os documentos sejam identificados de forma consistente ao longo do tempo;</li>
                <li>Auxiliar a recuperação de todos os documentos arquivísticos relacionados a uma determinada função ou atividade;</li>
                <li>Possibilitar a avaliação de um grupo de documentos de forma que os documentos associados sejam transferidos, recolhidos ou eliminados em conjunto.</li><br><br>
            </ul>
            <p style="text-align: justify;">
                A classificação deve se basear no plano de classificação e envolve os seguintes passos:
            </p>
            <ul>
                <li>Identificar a ação que o documento registra;</li>
                <li>Localizar a ação ou atividade no plano de classificação;</li>
                <li>Comparar a atividade com a estrutura organizacional para verificar se é apropriada à unidade que gerou o documento;</li>
                <li>Aplicar a classificação ao documento.</li>
            </ul>
        </mat-expansion-panel>
        <p style="text-align: justify;margin-left: 40px">
            4. É também necessário colocar um <strong>Título</strong> e um <strong>Setor Responsável</strong> pelo processo.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            5. Os demais campos não são obrigatórios, mas podem conter informações importantes. Na <strong>Descrição</strong> é possível descrever dados relevantes e observações pertinentes. Já no campo <strong>Outro Número</strong> é inserido algum número externo que não foi possível aproveitar na criação do <strong>NUP</strong>.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Ao apertar o botão <img src="assets/images/ajuda/salvar.png" class="fr-fic fr-dii">, o NUP é gerado.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            O <strong>NUP</strong> foi gerado, porém são necessários outros procedimentos para cadastramento do processo administrativo, de forma a garantir o seu correto andamento.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Aparece um grid com opções de dados que podem/devem ser preenchidos:
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/gridprocessos.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A estrutura das informações no sistema mantem a lógica da estrutura das informações do antigo SAPIENS, onde cada novo evento/movimento é lançado como Tarefa em um processo e o trabalho realizado é a Atividade em uma tarefa.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Por isso, para dar continuidade ao NUP, é necessário a criação de uma tarefa. Porém, existem pré-requisitos para essa etapa.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Por regras negociais, é sempre necessário que se cadastre um assunto e os interessados no processo para poder criar tarefas.
        </p>
        <p style="background-color: #d3d3d3;">
            Há um filtro que permite visualizar as tarefas daquele NUP que porventura tenham sido apagadas, uma informação que pode ser gerencialmente importante.
        </p>
        <div style="background-color: #d3d3d3;">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p style="text-indent: 20px">
                Caso o processo seja novo, um NUP será automaticamente gerado!            </p>
            <p style="text-indent: 20px">
                Um NUP que possui mais de 1 (um) volume <strong>NÃO</strong> pode ser eletrônico.            </p>
            <p style="text-indent: 20px">
                Os processos são criados com a idade <strong>CORRENTE</strong>!            </p>
            <p style="text-indent: 20px">
                Os processos novos tem a data/hora de abertura gerada automaticamente!            </p>
            <p style="text-indent: 20px">
                Os processos novos tem uma chave de acesso gerada automaticamente!            </p>
            <p style="text-indent: 20px">
                Caso o processo seja novo a procedência será a instituição!            </p>
            <p style="text-indent: 20px">
                O setor inicial do processo é sempre igual ao primeiro setor atual!            </p>
            <p style="text-indent: 20px">
                O primeiro volume do processo é aberto automaticamente!            </p>
            <p style="text-indent: 20px">
                Realiza o cálculo da data provável da próxima temporalidade e destinação!            </p>
            <p style="text-indent: 20px">
                A tarefa do arquivamento do processo é aberta automaticamente!            </p>
        </div>
        <div class="row" style="background-color: #d3d3d3;">
            <strong>Para maiores informações:</strong><br><br>
            <div class="column">
                <ul>
                    <li><a href="javascript:void(0)" (click)="carregar('assuntos')">Assuntos</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('interessados')">Interessados</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('tarefas')">Tarefas</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('juntadas')">Juntadas</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('vinculacoes')">Vinculações</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('oficios')">Ofícios</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="javascript:void(0)" (click)="carregar('tramitacoes')">Tramitações</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('remessas')">Remessas</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('transicoes')">Temporalidades e Destinações</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('sigilos')">Sigilos</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('visibilidades')">Restrições de Acesso</a></li>
                </ul>
            </div>
        </div>
        <hr>
        <p><br></p>
        <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>

        <h4>Dados Básicos - Parte 1 </h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/XcUrT1FnZB4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Dados Básicos - Parte 2</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/fFGGVQyBbQo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Dados Básicos - Parte 3</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/u3Pnx6MGfrQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Editando Dados Básicos</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/Yu47Tn4-gow" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>



        <h4>Cadastrar documento avulso</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/CusNyCxbLJI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Cadastrar pasta/dossiê </h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/Ijl1eA4qOZM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Informar protocolo existente</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/_XGVs0gQaZ0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Importando dados de processo existente no sistema</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/2RjuixFyPeU" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <h4>Distribuição - Parte 1</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/NtM1AF4wQPA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Distribuição - Parte 2</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/VFU8zpzZpXc" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Favoritos e Histórico</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/sDm4tz9JjMI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como utilizar o filtro</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/pXx6ohg91ko" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Download: como fazer o download integral ou parcial de um processo?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/xdg3MwX3iLE" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Preenchimento de campos de Data e Hora</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/oLY4Qy68pms" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Listas e Tabelas: Navegação</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/t8iBf_ESqB8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Listas e Tabelas: Colunas</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/RpxLk1bQZzw" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Navegando pelos documentos do processo</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/aJ4qUS7dAr8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

    </div>
    <div *ngIf="titulo === 'assuntos'">
        <ajuda-assuntos></ajuda-assuntos>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'interessados'">
        <ajuda-interessados></ajuda-interessados>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'tarefas'">
        <ajuda-tarefa-create></ajuda-tarefa-create>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'juntadas'">
        <ajuda-juntadas></ajuda-juntadas>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'vinculacoes'">
        <ajuda-vinculacoes-processos></ajuda-vinculacoes-processos>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'oficios'">
        <ajuda-oficios></ajuda-oficios>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'tramitacoes'">
        <ajuda-tramitacoes></ajuda-tramitacoes>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'remessas'">
        <ajuda-remessas></ajuda-remessas>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'transicoes'">
        <ajuda-transicoes></ajuda-transicoes>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'sigilos'">
        <ajuda-sigilos></ajuda-sigilos>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
    <div *ngIf="titulo === 'visibilidades'">
        <ajuda-visibilidades></ajuda-visibilidades>
        <a href="javascript:void(0)" (click)="carregar('processo')">Voltar ao <strong>Criando Processos</strong></a>
    </div>
</div>
