
<div>
    <div *ngIf="titulo === 'oficios'" class="content p-8" fxLayout="column">
        <h3><strong>OFÍCIOS</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            Dentro de um fluxo de trabalho, muitas vezes é necessário interagir com outras Pessoas ou Instituições que não utilizam o sistema, de modo que a abertura de uma Tarefa é inviável.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Em outros cenários, a partir de um fluxo de trabalho, a surge a necessidade de iniciar um novo fluxo de trabalho, em um novo NUP, como por exemplo, para solicitação de cálculos ou subsídios.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Nesses esses casos, os <strong>ofícios</strong> são indispensáveis.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Com o sistema, o usuário poderá criar um <strong>ofícios</strong> a partir de um modelo, editar seu conteúdo com o editor de textos, remeter e controlar o recebimento da resposta.
        </p>
        <h3><strong>Criando os ofícios na página de cadastramento de processos</strong></h3>

        <p style="text-align: justify;margin-left: 40px">
            1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Ofícios</strong>
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/processooficio.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. A página de ofícios é aberta. É possível ver a lista de ofícios já cadastradas no NUP ou criar um novo oficio a partir do botão <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Indique a <strong>Espécie de Ofício</strong>. Clique na Lupa
            <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">se precisar buscar
            entre o registro de Processos ou Espécie de Ofícios.
            As espécies de ofícios são Notificação e Solicitação.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            4. Indique o <strong>Modelo de Ofício</strong>. Clique na Lupa
            <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">se precisar buscar.
        </p>

        <p style="text-align: justify;margin-left: 40px">
            4. Indique a <strong>Unidade, Setor e Usuário</strong> responsável
            pela nova tarefa. Novamente, você pode clicar na Lupa
            <img src="assets/images/ajuda/lupa.png"class="fr-fic fr-dii">&nbsp;se
            precisar pesquisar qual a unidade, setor ou usuário responsável.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Caso deseja enviar o ofício para um Destinatário Externo, clique no botão:
            <img src="assets/images/ajuda/destinatarioexternooff.png" style="text-align: center;width: 189px; height: 31px;" class="fr-fic fr-dii">
               para que o sistema realize o direcionamento para um destinatário externo.<br>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            5. Indique a <strong>Unidade</strong> que vai receber o Ofício.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Caso a opção de destinatário externo esteja selecionada
            <img src="assets/images/ajuda/destinatarioexternoon.png" style="text-align: center;width: 189px; height: 31px;" class="fr-fic fr-dii">
              o campo a ser preenchido é o de <strong>Pessoa</strong>.<br>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Indique <strong>In&iacute;cio</strong> e <strong>Final</strong> de prazo do novo Ofício. Por padr&atilde;o o
            sistema, indica um prazo de cinco dias corridos.</p>
        <p style="text-align: justify;margin-left: 40px">
        <p style="text-align: justify;margin-left: 40px">
            7. Indique uma <strong>Observa&ccedil;&atilde;o</strong> para o novo Ofício, se desejar.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            8. Clique em <strong>Salvar</strong>.
        </p>
        <hr>

        <h3><strong>Acessando os ofícios por meio da página de tarefas</strong></h3>

        <p style="text-align: justify;margin-left: 40px">
            1. No menu lateral esquerdo, clique em
            <strong>Tarefas&nbsp;</strong>&gt;
            <strong>Administrativas</strong>:
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. Na nova tela, clique na <strong>Tarefa</strong> em que vai ser juntado um novo <strong>ofício</strong> ou para visualizar os <strong>ofícios</strong> existentes.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Clique no botão superior direito <strong>Movimentar</strong> <img src="assets/images/ajuda/botaomovimentar.png" class="fr-fic fr-dii">,
            para alcançar o menu de ofícios.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            4. Escolha a aba de <strong>ofícios</strong>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            5. É possível adicionar ofícios por meio do botão <img src="assets/images/ajuda/incluiroficio.png" class="fr-fic fr-dii">, que abre o editor.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Inicialmente, é aberta a página de parametrização do ofício. É possível definir o ofício para um bloco de processos por meio do botão
            <img src="assets/images/ajuda/blocoprocessos.png" style="text-align: center;width: 189px; height: 31px;" class="fr-fic fr-dii">, além de definir a
            <strong>Espécie</strong> de ofício e o <strong>Modelo</strong>.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Caso deseje enviar o ofício para um Destinatário Externo, clique no bot&atilde;o:
            <img src="assets/images/ajuda/destinatarioexternooff.png" style="text-align: center;width: 189px; height: 31px;" class="fr-fic fr-dii">
                para que o sistema realize o direcionamento para um destinatário externo.<br>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            7. Indique a <strong>Unidade</strong> que vai receber o Ofício.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Caso a opção de destinatário externo esteja selecionada
            <img src="assets/images/ajuda/destinatarioexternoon.png" style="text-align: center;width: 189px; height: 31px;" class="fr-fic fr-dii">
               o campo a ser preenchido é o de <strong>Pessoa</strong>.<br>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            8. Também é possível definir o ofício como <strong>urgente</strong> e definir seu prazo, que por padr&atilde;o o
                sistema indica um prazo de cinco dias corridos. Também é possível colocar uma observação.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            9. Ao clicar no botão salvar, é aberto o editor de ofício, em que o usuário pode preencher e modificar como quiser.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            10. No menu lateral esquerdo do editor é possível modificar a parametrização e escolher a opção de acompanhar a resposta.
            Também é exequível <strong>Gerir anexos</strong> e utilizar a <strong>Inteligência Jurídica</strong>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            11. No canto superior direito, é possível <strong>visualizar o processo</strong> diretamente na tela ou em nova aba.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            12. Ao salvar e fechar o editor, aparece na aba <strong>Ofícios</strong> os componentes digitais criados.
            Clicando em cima dos ofícios é possível visualizá-los e, se ainda forem arquivos editáveis, editá-los
        </p>
        <p style="text-align: justify;margin-left: 40px">
            13. Na seta ao lado de cada ofício, existem opções para manipular o componente digital.
            É possível excluir, assinar ou converter para pdf o ofício.
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/opcoesoficio.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>

        <hr>
        <div class="row" style="background-color: #d3d3d3;">
            <strong>Para maiores informações:</strong><br><br>
                <li><a href="javascript:void(0)" (click)="carregar('uploadbloco')">Upload de minutas em bloco</a></li>
        </div>
    </div>
    <div *ngIf="titulo === 'uploadbloco'">
        <ajuda-upload-bloco></ajuda-upload-bloco>
        <a href="javascript:void(0)" (click)="carregar('oficios')">Voltar aos <strong>Ofícios</strong></a>
    </div>
    <p><br></p>

        <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>

        <h4>Como expedir ofício em uma tarefa?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/etBaecUmmys" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como acompanhar um ofício expedido?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/DLavYcHHG7Q" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Consultando os Ofícios de um NUP</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/X0sgyvkEg-A" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como elaborar Ofícios?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/eNXjaC87Nc8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>
</div>
