documento-avulso-create {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 8px;

    > .content {
        display: flex;
        flex: 1 1 auto;
        padding: 8px;
        overflow-y: auto;
        height: 0;
    }
}
