<div *ngIf="!(expandir$ | async)" class="header">
    <div class="actions">
        <button (click)="deselectCurrentProcesso()" *ngIf="mobileMode" mat-icon-button>
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

        <button (click)="doToggleMaximizado(true)" *ngIf="!mobileMode && !(maximizado$ | async)" mat-icon-button>
            <mat-icon class="secondary-text">fullscreen</mat-icon>
        </button>

        <button (click)="doToggleMaximizado(false)" *ngIf="!mobileMode && (maximizado$ | async)" mat-icon-button>
            <mat-icon class="secondary-text">fullscreen_exit</mat-icon>
        </button>
    </div>

    <div class="navigation">
        <button [routerLinkActive]="['active', 'accent']" [routerLink]="['processo', (processo$ | async)?.id, 'visualizar']" aria-label="Processo"
                mat-icon-button
                matTooltip="Processo">
            <mat-icon class="black-fg">book</mat-icon>
        </button>

        <button [routerLinkActive]="['active', 'accent']" [routerLink]="[(processo$ | async)?.id, 'editar']" aria-label="Editar"
                mat-icon-button
                matTooltip="Editar">
            <mat-icon class="black-fg">edit</mat-icon>
        </button>

        <button *ngIf="!!(modalidadeTransicao$ | async)" [matTooltip]="'Realizar ' + (modalidadeTransicao$ | async).valor | titleCasePipe"
                [routerLinkActive]="['active', 'accent']"
                [routerLink]="[(processo$ | async)?.id, 'temporalidade-destinacao']"
                aria-label="Realizar Temporalidade e Destinação"
                mat-icon-button>
            <mat-icon class="black-fg">swap_horiz</mat-icon>
        </button>

        <button *ngIf="(processo$ | async)?.modalidadeFase?.valor === 'INTERMEDIÁRIA'" [routerLinkActive]="['active', 'accent']"
                [routerLink]="[(processo$ | async)?.id, 'desarquivar']" aria-label="Desarquivar"
                mat-icon-button
                matTooltip="Desarquivar">
            <mat-icon class="black-fg">unarchive</mat-icon>
        </button>

        <button [routerLinkActive]="['active', 'accent']"
                [routerLink]="[(processo$ | async)?.id, 'registrar-extravio']" aria-label="Registrar Extravio"
                mat-icon-button
                matTooltip="Registrar Extravio">
            <mat-icon class="black-fg">error_outline</mat-icon>
        </button>

    </div>
</div>

<div cdkPerfectScrollbar class="content">
    <router-outlet></router-outlet>
</div>

