arquivista-detail {

    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .header {
        flex: 0 1 auto;
        display: flex;
        border-bottom: 1px solid;
        max-height: 56px;
        padding-top: 24px;
        padding-bottom: 24px;

        > .actions {
            flex: 1 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }

        > .navigation {
            margin-left: auto;
            flex: 0 1 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }

    > .content {
        flex: 1 1 auto;
        display: flex;
        height: 0;
        overflow-y: auto;
    }
}

