<div class="content p-8" fxLayout="column">
    <h3><strong>EDITANDO TAREFAS EM BLOCO</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        É possível editar alguns parâmetros das tarefas em bloco, facilitando o fluxo de trabalho e corrigindo tarefas que eventualmente foram abertas erradas.
    </p>
    <h3 style="text-align: justify;text-indent: 20px">
        <strong>Editando tarefas em bloco</strong>
    </h3>
    <p style="text-align: justify;margin-left: 40px">
        1. Na página de tarefas, clique no campo de selecionar todas ou selecionando várias, aparece um botão
        em que é possível realizar várias operações. <br><br>
    </p>
    <p style="text-align: center;margin-left: 40px">
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. Ao clicar em <strong>Editar</strong> o menu de Edição de tarefas em bloco é aberto.<br><br>
    </p>
    <p style="text-align: center;margin-left: 40px">
        <img src="assets/images/ajuda/menuedicaobloco.png" style="width: 250px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. O número de tarefas selecionadas aparece no centro da página.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        4. Logo abaixo, aparecem os parâmetros da tarefa que podem ser modificados.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        5. Ao escolher o que editar, os formulários aparecem e podem ser preenchidos.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        6. Após preencher os parâmetros que deseja modificar, clique em <strong>Salvar</strong>.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        7. O <strong>Resultado do Bloco</strong> aparece logo abaixo.
    </p>
    <hr>
    <p><br></p>
</div>
