<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>

    <mat-form-field>
        <input matInput #Nome
               placeholder="Nome"
               formControlName="nome"
               maxlength="20"
               required upperCase>
        <mat-hint align="end">{{Nome.value.length}} / 20</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput #Descricao
               placeholder="Descrição"
               formControlName="descricao"
               maxlength="255"
               required upperCase>
        <mat-hint align="end">{{Descricao.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Modalidade"
               formControlName="modalidadeEtiqueta"
               [matAutocomplete]="modalidadeetiqueta.autocomplete"
               (blur)="checkModalidadeEtiqueta()" required>
        <cdk-modalidade-etiqueta-autocomplete
            #modalidadeetiqueta="modalidadeEtiquetaAutocomplete"
            [control]="form.get('modalidadeEtiqueta')"
            [pagination]="modalidadeEtiquetaPagination">
        </cdk-modalidade-etiqueta-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeEtiquetaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeEtiqueta').hasError('formError')">
            {{form.get('modalidadeEtiqueta').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="privada">
        Privada
    </mat-checkbox>

    <h3>Cor da Etiqueta</h3>

    <mcc-color-picker [overlay]="false" [hideUsedColors]="true"
                      [hideColorPickerSelector]="true" [hideButtons]="true" (selected)="selectColor($event)">
        <div class="selected-color mb-8" class="cor" [ngStyle]="{background: this.form.get('corHexadecimal').value}"></div>
        <mcc-color-picker-collection [colors]="colors" [hideEmpty]="true" [label]="'Cores'" required></mcc-color-picker-collection>
    </mcc-color-picker>

    <h3>Tipo de Execução de Sugestão de Ações</h3>

    <div class="responsive-group acoes-sugestao">
        <mat-radio-group formControlName="tipoExecucaoAcaoSugestao">
            <mat-radio-button *ngFor="let criteria of tipoAcoesSugestao" [value]="criteria.valor">
                {{criteria.descricao}}
            </mat-radio-button>
        </mat-radio-group>
    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-modalidade-etiqueta-gridsearch
    *ngIf="activeCard === 'modalidade-etiqueta-gridsearch'"
    (selected)="selectModalidadeEtiqueta($event)"
    (cancel)="cancel()">
</cdk-modalidade-etiqueta-gridsearch>
