<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-24 pb-4">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Pesquisa</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content mt-8" cdkPerfectScrollbar>

    <div class="nav material2">

        <div *ngFor="let menuItem of menu | keyvalue; let i = index;">
            <mat-expansion-panel *showIfRole="roles[menuItem.key]" class="mat-elevation-z0" [expanded]="i <= 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{menuItem.key.toUpperCase()}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="nav-item" *ngFor="let link of menuItem.value">
                    <a *showIfRole="link.role" class="nav-link" matRipple [routerLink]="'/apps/pesquisa/' + link.link"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <span class="material-icons-outlined mat-icon mat-icon-no-color nav-link-icon">{{ link.icon }}</span>
                        <span>{{link.nome}}</span>
                    </a>
                </div>
            </mat-expansion-panel>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->
