<div id="board-tarefas" class="page-layout simple left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="board-tarefas-main-sidebar" position="left"
                 lockedOpen="gt-md">
        <board-tarefas-main-sidebar></board-tarefas-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="center">
        <div class="content board-content content-card ngx-dnd-container p-8 p-md-24"
             infiniteScroll
             [scrollWindow]="false"
             [horizontal]="true"
             [infiniteScrollDistance]="2"
             [infiniteScrollThrottle]="50"
             (scrolled)="loadMoreFolders($event)">
            <folder-list-column
                *ngIf="folderEntrada?.nome"
                class="board-tarefas-list list-wrapper ngx-dnd-item"
                [folder]="folderEntrada">
            </folder-list-column>
            <folder-list-column
                class="board-tarefas-list list-wrapper ngx-dnd-item"
                *ngFor="let folder of folderList"
                [folder]="folder">
            </folder-list-column>
            <folder-form class="folder-form">
            </folder-form>
            <div *ngIf="foldersIsLoading" class="loading">
                <mat-spinner diameter="40"></mat-spinner>
            </div>
        </div>
    </div>
</div>
