<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar name="cdk-vinculacao-etiqueta-filter" position="left">
        <cdk-vinculacao-etiqueta-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-vinculacao-etiqueta-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="responsive-grid" [ngClass]="{'search': (this.mode === 'search')}">

        <div class="actions">

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteVinculacaoEtiquetas(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8" aria-label="colunas" matTooltip="Colunas">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'warn': hasExcluded}" *ngIf="actions.indexOf('showDeleted') > -1"
                    (click)="loadExcluded()"
                    aria-label="mostrar apagados"
                    matTooltip="Mostrar Apagados">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div class="content" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [ngStyle]="loading ? {'display': 'none'} : {}">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [disabled]="hasExcluded"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta">
                        <mat-checkbox [checked]="selectedIds.indexOf(vinculacaoEtiqueta.id) > -1"
                                      (change)="toggleInSelected(vinculacaoEtiqueta.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1 || hasExcluded">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.id}} </td>
                </ng-container>

                <!-- Etiqueta Column -->
                <ng-container matColumnDef="etiqueta.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Etiqueta
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Etiqueta: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.etiqueta?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- Tarefa Column -->
                <ng-container *ngIf="displayedColumns.indexOf('tarefa.especieTarefa.nome') > -1"
                              matColumnDef="tarefa.especieTarefa.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Tarefa
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile' data-label='Tarefa: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.tarefa?.especieTarefa?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- Documento Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documento.tipoDocumento.nome') > -1"
                              matColumnDef="documento.tipoDocumento.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Documento
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Documento: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.documento?.tipoDocumento?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- Processo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('processo') > -1" matColumnDef="processo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Processo
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Processo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.processo?.NUP}} </td>
                </ng-container>

                <!-- Conteudo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('conteudo') > -1" matColumnDef="conteudo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Conteúdo
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Conteúdo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.conteudo | titleCasePipe}} </td>
                </ng-container>

                <!-- Privada Column -->
                <ng-container *ngIf="displayedColumns.indexOf('privada') > -1" matColumnDef="privada">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Privada
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile' data-label='Privada: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}">
                        <mat-checkbox [disabled]="true" [checked]="vinculacaoEtiqueta.privada"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- DataHoraExpiracao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraExpiracao') > -1"
                              matColumnDef="dataHoraExpiracao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Data Expiração
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Data Expiração: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.dataHoraExpiracao?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Usuario Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuario.nome') > -1" matColumnDef="usuario.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile' data-label='Usuário: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.usuario?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Criado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.criadoPor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Criado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- AtualizadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1"
                              matColumnDef="atualizadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Por
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Atualizado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.atualizadoPor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- AtualizadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Em
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Atualizado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.atualizadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- ApagadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoPor.nome') > -1" matColumnDef="apagadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Por
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Apagado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.apagadoPor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- ApagadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoEm') > -1" matColumnDef="apagadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Apagado Em
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta" class='has_label_on_mobile'
                        data-label='Apagado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1, 'error': getProp(deletingErrors, vinculacaoEtiqueta.id)}"> {{vinculacaoEtiqueta.apagadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let vinculacaoEtiqueta">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1 && !hasExcluded"
                                (click)="selectVinculacaoEtiqueta(vinculacaoEtiqueta)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1"
                                (click)="editVinculacaoEtiqueta(vinculacaoEtiqueta.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(vinculacaoEtiqueta.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(vinculacaoEtiqueta.id) === -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(vinculacaoEtiqueta.id) > -1"
                                (click)="deleteVinculacaoEtiqueta(vinculacaoEtiqueta.id)"
                                aria-label="remover"
                                matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <mat-error *ngIf="getProp(deletingErrors, vinculacaoEtiqueta.id)">
                            {{ getMessageError(getProp(deletingErrors, vinculacaoEtiqueta.id)) }}
                        </mat-error>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let vinculacaoEtiqueta; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[10, 25]" showFirstLastButtons="true"></mat-paginator>
        </div>

    </div>

</div>

