<mat-autocomplete (closed)="fechado()" [displayWith]="displayVinculacaoEspecieProcessoWorkflowFn">
    <mat-option *ngFor="let vinculacaoEspecieProcessoWorkflow of vinculacaoEspecieProcessoWorkflowList"
                [value]="vinculacaoEspecieProcessoWorkflow">
        <span [innerHTML]="displayVinculacaoEspecieProcessoWorkflowFn(vinculacaoEspecieProcessoWorkflow) | highlightOption: this.control.value"></span>
    </mat-option>
    <mat-option *ngIf="listIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
