<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Pessoa"
               formControlName="pessoa"
               [matAutocomplete]="pessoa.autocomplete"
               (blur)="checkPessoa()"
               autofocus required>
        <cdk-pessoa-autocomplete
            #pessoa="pessoaAutocomplete"
            [control]="form.get('pessoa')"
            [pagination]="pessoaPagination">
        </cdk-pessoa-autocomplete>
        <button *ngIf="form.get('pessoa').value && form.get('pessoa').value.id" matSuffix mat-button mat-icon-button
                (click)="doEditPessoa()">
            <mat-icon matTooltip="Editar pessoa">edit</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="doGerirPessoa()">
            <mat-icon matTooltip="Procurar ou incluir pessoa">person_add</mat-icon>
        </button>
        <mat-error *ngIf="form.get('pessoa').hasError('formError')">
            {{form.get('pessoa').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Modalidade"
               formControlName="modalidadeInteressado"
               [matAutocomplete]="modalidadeInteressado.autocomplete"
               (blur)="checkModalidadeInteressado()"
               required>
        <cdk-modalidade-interessado-autocomplete
            #modalidadeInteressado="modalidadeInteressadoAutocomplete"
            [control]="form.get('modalidadeInteressado')"
            [pagination]="modalidadeInteressadoPagination">
        </cdk-modalidade-interessado-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeInteressadoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeInteressado').hasError('formError')">
            {{form.get('modalidadeInteressado').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-modalidade-interessado-gridsearch
    *ngIf="activeCard === 'modalidade-interessado-gridsearch'"
    (selected)="selectModalidadeInteressado($event)"
    [pagination]="modalidadeInteressadoPagination"
    (cancel)="cancel()">
</cdk-modalidade-interessado-gridsearch>
