<!-- CONTENT HEADER -->
<div class="header">
    <div class="actions">
        <button mat-icon-button
                class="accent"
                [routerLink]="'editar/criar'"
                *ngIf="action === 'listar'"
                aria-label="novo"
                matTooltip="Novo">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-icon-button
                (click)="goBack()"
                *ngIf="action !== 'listar'"
                aria-label="voltar"
                matTooltip="Voltar">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</div>
<!-- / CONTENT HEADER -->

<div class="content">
    <router-outlet></router-outlet>
</div>
