<div class="full-screen" disabled>
    <div class="modal page-layout left-sidebar inner-scroll" [class.disabled]="(loading$ | async) === true || (loadingComponenteDigital$ | async) === true || (savingComponenteDigital$ | async) === true">
        <!-- SIDEBAR -->
        <div [ngClass]="{'modal-header accent': !mobileMode, 'mobile-modal-header accent': mobileMode}">
            <button class="sidebar-toggle" mat-icon-button
                    (click)="toggleSidebar('documento-main-sidebar')" fxHide.gt-md>
                <mat-icon>menu</mat-icon>
            </button>

            <div class="acoes">
                <mat-tab-group #matTabGroup (selectedTabChange)="visualizarProcesso($event)" *ngIf="(documento$ | async)?.processoOrigem?.id && (documento$ | async)?.minuta">
                    <mat-tab label="Minuta">
                    </mat-tab>
                    <mat-tab label="Processo">
                    </mat-tab>
                </mat-tab-group>

                <button style="margin-left: auto;" *ngIf="(documento$ | async)?.processoOrigem?.id"
                        mat-raised-button color="accent" class="mr-sm-12"
                        aria-label="visualizar processo"
                        matTooltip="Visualizar Processo em Nova Aba"
                        (click)="visualizarProcessoNovaAba()">
                    <mat-icon class="black-fg">open_in_new</mat-icon>
                </button>

                <button
                    [ngStyle]="{'margin-left': (!this.documento?.processoOrigem || !this.documento?.processoOrigem?.id)? 'auto' : '0px' }"
                    class="mr-8" mat-icon-button
                    (click)="back()"
                    aria-label="fechar"
                    matTooltip="Fechar">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
        </div>

        <div class="content">
            <div *ngIf="(documento$ | async)?.componentesDigitais.length > 1 && this.modoProcesso === 0" class="header p-8">

                <div class="componentes-digitais-navigation">

                    <button mat-mini-fab class="previous mat-accent cdk-white-fg"
                            (click)="gotoPreviousStep()"
                            [disabled]="(currentComponenteDigital$ | async)?.numeracaoSequencial <= 1">
                        <mat-icon>chevron_left</mat-icon>
                    </button>

                    <div>
                        <h3>{{(currentComponenteDigital$ | async)?.fileName}}
                            ({{(currentComponenteDigital$ | async)?.numeracaoSequencial}}
                            /{{(documento$ | async).componentesDigitais.length}})</h3>
                    </div>

                    <button mat-mini-fab class="next mat-accent cdk-white-fg"
                            (click)="gotoNextStep()"
                            [disabled]="(currentComponenteDigital$ | async)?.numeracaoSequencial >= (documento$ | async).componentesDigitais.length">
                        <mat-icon>chevron_right</mat-icon>
                    </button>
                </div>
            </div>
            <div class="documento-navegacao">
                <cdk-sidebar class="sidebar" name="documento-main-sidebar" position="left"
                             [lockedOpen]="'gt-md'">
                    <router-outlet name="sidebar"></router-outlet>
                </cdk-sidebar>
                <div class="documento-navegacao-content">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="isDisabled" (click)="$event.preventDefault(); $event.stopPropagation();" *ngIf="(loading$ | async) === true || (loadingComponenteDigital$ | async) === true || (savingComponenteDigital$ | async) === true"></div>
