<div class="toolbar pt-8 pb-8 pl-0 pr-8">
    <button mat-mini-fab *ngIf="lixeiraMinutas"
            [disabled]="loading"
            class="m-4 active accent" aria-label="Sair da lixeira"
            (click)="doToggleLixeiraMinutas()" matTooltip="Sair da lixeira">
        <mat-icon class="secondary-text">exit_to_app</mat-icon>
    </button>

    <button mat-mini-fab *ngIf="!lixeiraMinutas"
            [disabled]="loading"
            class="m-4 active accent" aria-label="Lixeira de minutas"
            (click)="doToggleLixeiraMinutas()" matTooltip="Lixeira de minutas">
        <mat-icon class="secondary-text">delete</mat-icon>
    </button>

    <div class="multiple-choices" *ngIf="documentos.length > 0">

        <mat-checkbox (click)="toggleSelectAll($event)"
                      [checked]="selectedIds.length > 0"
                      [disabled]="disabledSelects.length > 0"
                      *ngIf="documentos.length > 1"
                      [indeterminate]="isIndeterminate">
        </mat-checkbox>

        <button mat-icon-button [matMenuTriggerFor]="moreMenu" #menuTriggerList="matMenuTrigger"
                aria-label="Ferramentas" (click)="$event.stopPropagation()"
                *ngIf="documentos.length > 1 && selectedIds?.length > 1">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">
            <div *ngIf="!lixeiraMinutas">
                <button
                    [disabled]="actions.indexOf('delete') === -1"
                    mat-menu-item aria-label="remover"
                    *showIfRole="'ROLE_COLABORADOR'"
                    (click)="doDeleteDocumentoBloco()">
                    <ng-container>
                        <mat-icon>delete</mat-icon>
                        <span>Apagar Minutas</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="assinar"
                        (click)="doAssinaturaDocumentoBloco()">
                    <ng-container>
                        <mat-icon>lock</mat-icon>
                        <span>Assinar</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="remover assinatura"
                        *showIfRole="'ROLE_COLABORADOR'"
                        (click)="doRemoveAssinaturaDocumentoBloco()">
                    <ng-container>
                        <mat-icon>lock_open</mat-icon>
                        <span>Remover Assinaturas</span>
                    </ng-container>
                </button>

                <button mat-menu-item aria-label="editar tarefa"
                        (click)="doConverteDocumentoBloco()">
                    <ng-container>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>Converter em PDF</span>
                    </ng-container>
                </button>

                <button fxLayout="row" aria-label="alterar tipo documento" fxLayoutAlign="start center"
                        *showIfRole="'ROLE_COLABORADOR'"
                        [matMenuTriggerFor]="tipoDocumentoMenu" mat-menu-item>
                    <mat-icon>edit</mat-icon>
                    <span>Alterar Tipo de Documento</span>
                </button>
            </div>

            <div *ngIf="lixeiraMinutas">
                <button mat-menu-item aria-label="remover" *showIfRole="'ROLE_COLABORADOR'"
                        (click)="doRestaurarBloco()">
                    <ng-container>
                        <mat-icon>undo</mat-icon>
                        <span>Restaurar Minutas</span>
                    </ng-container>
                </button>
            </div>
        </mat-menu>
    </div>

    <mat-menu #tipoDocumentoMenu="matMenu" class="menuTipoDocumento">
        <form class="p-8 mb-8" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" [formGroup]="form" (click)="$event.stopPropagation()">
            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                    <input matInput placeholder="Tipo de Documento"
                           formControlName="tipoDocumen"
                           [matAutocomplete]="tipoDocumento.autocomplete"
                           (blur)="checkTipoDocument()">
                </div>
                <cdk-tipo-documento-autocomplete
                    #tipoDocumento="tipoDocumentoAutocomplete"
                    [control]="form.get('tipoDocumen')"
                    [pagination]="tipoDocumentoPagination">
                </cdk-tipo-documento-autocomplete>
            </mat-form-field>
            <button mat-raised-button color="accent" (click)="doAlterarDocumentoBloco()">
                SALVAR
            </button>
        </form>
    </mat-menu>

    <div class="grupo-nups">
        <div class="nups" *ngFor="let idProcesso of objectKeys(processos)">
            <span class="nup"><mat-icon>book</mat-icon>{{processos[idProcesso]?.nupFormatado}}</span>
            <div class="tarefas" *ngFor="let tarefa of processos[idProcesso].tarefas">
                <span class="tarefa"><mat-icon>assignment</mat-icon>Tarefa {{tarefa}}</span>
                <div class="minutas">
                    <cdk-minutas-card class="ml-8 mb-8"
                                      *ngFor="let documento of minutasPorTarefa[tarefa]; index as i; trackBy: documentoTrackBy"
                                      [documento]="documento"
                                      [selected]="selectedIds?.indexOf(documento.id) > -1"
                                      [deleting]="deletingId?.indexOf(documento.id) > -1"
                                      [assinando]="assinandoId?.indexOf(documento.id) > -1"
                                      [alterando]="alterandoId?.indexOf(documento.id) > -1"
                                      [undeleting]="undeletingId?.indexOf(documento.id) > -1"
                                      [removendoAssinatura]="removendoAssinaturaId?.indexOf(documento.id) > -1"
                                      [convertendo]="convertendoId?.indexOf(documento.id) > -1"
                                      [download]="downloadId?.indexOf(documento.id) > -1"
                                      [actions]="actions"
                                      [indice]="i"
                                      [tipoDocumentoPagination]="tipoDocumentoPagination"
                                      [tiposDocumentosNaoEditaveis]="tiposDocumentosNaoEditaveis"
                                      (delete)="doDelete($event)"
                                      (verResposta)="doVerResposta($event)"
                                      (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                      (assinatura)="doAssinatura($event)"
                                      (removeAssinatura)="doRemoveAssinatura($event)"
                                      (converte)="doConverte($event)"
                                      (converteHtml)="doConverteHtml($event)"
                                      (downloadP7s)="doDownloadP7S($event)"
                                      (restaurar)="doRestaurar($event)"
                                      (clicked)="onClick($event)"
                                      (changedSelected)="toggleInSelected($event)">
                    </cdk-minutas-card>
                    <div class="loading" *ngIf="tarefasAgrupadas[tarefa]?.saving">
                        <mat-spinner class="nup-loading" diameter="24"></mat-spinner>
                    </div>
                    <div class="loading" *ngIf="tarefasAgrupadas[tarefa]?.loading">
                        <mat-spinner class="nup-loading" diameter="24"></mat-spinner>
                    </div>
                    <div class="load-more" (click)="doGetMore(tarefa)" matTooltip="Carregar mais"
                         *ngIf="tarefasAgrupadas[tarefa].pagination !== null && tarefasAgrupadas[tarefa].documentosId && tarefasAgrupadas[tarefa].documentosId.length < tarefasAgrupadas[tarefa].pagination.total && !tarefasAgrupadas[tarefa].loading && !tarefasAgrupadas[tarefa].saving">
                        <span>+</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
