<div class="full-screen" disabled>
    <div class="modal">
        <div class="header">
            <button class="close mr-8" mat-icon-button
                    (click)="back()"
                    aria-label="fechar"
                    matTooltip="Fechar">
                <mat-icon>close</mat-icon>
            </button>
        </div>
        <div class="content">
            <router-outlet (activate)="onActivate($event)" (deactivate)="onDeactivate($event)"></router-outlet>
        </div>
    </div>
</div>
