<div id="activate" fxLayout="column">

    <div id="activate-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="activate-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="cdkConfigService.logo">
            </div>

            <div class="title">ATIVAÇÃO NO SUPP</div>

            <div class="card-activated" novalidate>

                <div class="loading-wrapper" *ngIf="loading">
                    <mat-spinner class="loading" diameter="60"></mat-spinner>
                </div>

                <ng-container *ngIf="!loading">
                    <div class="activated-success" *ngIf="(isActivated$ | async)">
                        <p class="sub-title">
                            <mat-icon matSuffix class="secondary-text">done</mat-icon>
                            Registro ativado com sucesso!<br>
                            O usuário foi ativado com sucesso, volte ao login para acessar o sistema.
                        </p>
                    </div>

                    <div class="activated-failure" *ngIf="(isActivated$ | async) === false">
                        <p class="sub-title">
                            <mat-icon matSuffix class="secondary-text">clear</mat-icon>
                            Não foi possível ativar o registro!<br>
                        </p>
                    </div>
                </ng-container>



                <div class="login" fxLayout="column" fxLayoutAlign="center center">
                    <a class="link" [routerLink]="'/auth/login'">Voltar ao login</a>
                </div>
            </div>

        </div>

    </div>

</div>
