<div class="content p-8" fxLayout="column">
    <h3><strong>CRIANDO ATIVIDADES EM BLOCO</strong></h3>

    <p style="text-align: justify;margin-left: 40px">
        1. No menu lateral esquerdo, para <strong>criação de atividades em bloco</strong>, clique em
        <strong>Tarefas</strong>>
        <strong>Administrativas</strong>:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. Clicando no campo de selecionar todas ou selecionando várias, aparece um botão
        em que é possível realizar diversas operações.
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Ao clicar em <strong>Movimentar</strong>, a página de <strong>criação de Atividades em bloco</strong> é aberta.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        4. É possível escolher se vai <strong>Encerrar a tarefa</strong> ou não e escolher a <strong>Espécie de Atividade</strong>.
        Também é permitido escolher a <strong>Data/Hora</strong> e o <strong>Usuário Responsável pela Atividade</strong>.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        5. Após <strong>SALVAR</strong>, o <strong>Resultado do Bloco</strong> aparece na parte inferior da tela, mostrando a mensagem de
        <strong>Atividade criada com sucesso</strong>.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        6. Ao atualizar a página, se as tarefas foram encerradas, elas irão desaparecer.
        Do contrário, novas atividades vão ser incluídas na tarefa.
    </p>
    <hr>
    <p><br></p>
    <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>

    <h4>Como lançar atividade em um bloco de tarefas?</h4>
    <iframe width="400" height="225"
        src="https://www.youtube.com/embed/KaTGcQ12GQg" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <p><br></p>
</div>
