<mat-autocomplete (closed)="fechado()" [displayWith]="displayEspecieDocumentoAvulsoFn">
    <mat-option *ngFor="let especieDocumentoAvulso of especieDocumentoAvulsoList"
                [value]="especieDocumentoAvulso">
        <span [innerHTML]="displayEspecieDocumentoAvulsoFn(especieDocumentoAvulso) | highlightOption: this.control.value"></span>
    </mat-option>
    <mat-option *ngIf="especieDocumentoAvulsoListIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
