<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <mat-label>Senha</mat-label>
        <input type="password"
               matInput #senhaAtual
               name="senhaAtual"
               formControlName="senhaAtual"
               required
               minlength="8"
               maxlength="16">
        <mat-hint align="end">{{senhaAtual.value.length}} / 16</mat-hint>
        <mat-error
            *ngIf="form.get('senhaAtual').hasError('formError')">{{form.get('senhaAtual').errors.formError}}</mat-error>
        <mat-error *ngIf="form.get('senhaAtual').hasError('required')">Campo obrigatório!</mat-error>
        <mat-error *ngIf="form.get('senhaAtual').hasError('minlength')">Campo deve ter no mínimo 8 dígitos!
        </mat-error>
        <mat-error *ngIf="form.get('senhaAtual').hasError('maxlength')">Campo deve ter no máximo 16 dígitos!
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nova senha</mat-label>
        <input type="password"
               matInput #plainPassword
               name="plainPassword"
               formControlName="plainPassword"
               required
               minlength="8"
               maxlength="16">
        <mat-hint align="end">{{plainPassword.value.length}} / 16</mat-hint>
        <mat-error
            *ngIf="form.get('plainPassword').hasError('formError')">{{form.get('plainPassword').errors.formError}}</mat-error>
        <mat-error *ngIf="form.get('plainPassword').hasError('required')">Campo obrigatório!</mat-error>
        <mat-error *ngIf="form.get('plainPassword').hasError('minlength')">Campo deve ter no mínimo 8 dígitos!
        </mat-error>
        <mat-error *ngIf="form.get('plainPassword').hasError('maxlength')">Campo deve ter no máximo 16 dígitos!
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Repita a nova senha</mat-label>
        <input type="password"
               matInput #confirmPass
               name="plainPassword2"
               formControlName="confirmPass"
               [errorStateMatcher]="matcher"
               required
               minlength="8"
               maxlength="16">
        <mat-hint align="end">{{confirmPass.value.length}} / 16</mat-hint>
        <mat-error *ngIf="form.get('confirmPass').hasError('required')">
            Campo obrigatório!
        </mat-error>
        <mat-error *ngIf="form.hasError('notSame')">
            Senhas não conferem!
        </mat-error>
    </mat-form-field>

    <mat-error class="mt-8" *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
       <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>
