@import "@cdk/scss/cdk";

update-password {
    width: 100%;
    background-size: cover;

    .content {
        flex: 1 0 auto;
        padding: 32px;

        @include media-breakpoint('xs') {
            padding: 8px;
        }

        .container {
            width: 384px;
            max-width: 384px;
            padding-right: 32px;
            padding-left: 32px;
            padding-bottom: 32px;
            text-align: center;
            @include mat-elevation(16);

            @include media-breakpoint('xs') {
                padding: 24px;
                width: 100%;
            }

            .logo {
                width: 128px;
                margin: 32px auto;
            }

            .title {
                font-size: 20px;
                margin: 8px 0 20px 0;

                .subtitle {
                    margin-top: 10px;
                    font-size: 13px;
                }
            }

            form {
                width: 100%;
                text-align: left;

                mat-form-field {
                    width: 100%;
                }

                .submit-button {
                    width: 220px;
                    margin: 8px auto;
                    display: block;

                    @include media-breakpoint('xs') {
                        width: 90%;
                    }
                }

                mat-form-field {
                    .mat-form-field-subscript-wrapper {
                        position: relative !important;
                    }
                }

                .rules-errors {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
