<div class="arquivo" [matTooltip]="componenteDigital.errorMsg ?? this.fullTitle"
     matTooltipClass="multiline-tooltip"
     [ngClass]="{'borda-erro': componenteDigital.canRetry, 'processo': mode === 'processo', 'tarefas-list': mode === 'tarefas-list', 'content': mode === 'tarefa' || mode === 'documento-edit'}">
    <mat-checkbox class="ml-8 select"
                  *ngIf="mode === 'tarefa' && uploadMode !== 'linear'"
                  [checked]="selected"
                  (change)="toggleInSelected(componenteDigital.id)"
                  (click)="$event.stopPropagation();">
    </mat-checkbox>

    <div class="content-img ml-8">
        <mat-icon>picture_as_pdf</mat-icon>
    </div>

    <div (click)="$event.stopPropagation(); onClick(componenteDigital)" class="content-card">
        <div class="content-card-item">
            {{title}}
        </div>
        <div class="content-card-item" *ngIf="componenteDigital.errorMsg">
            <mat-error>Erro no upload!</mat-error>
        </div>
        <div class="content-card-item">
            <mat-progress-bar mode="determinate" *ngIf="componenteDigital.inProgress"
                              [value]="componenteDigital.progress"></mat-progress-bar>
        </div>
    </div>

    <div class="menu">
        <button mat-icon-button [matMenuTriggerFor]="card20Menu" (click)="$event.stopPropagation()" aria-label="more" #menuTrigger="matMenuTrigger">
            <mat-icon>expand_more</mat-icon>
        </button>
        <mat-menu #card20Menu="matMenu">
            <button [disabled]="!componenteDigital.canRetry"
                    (click)="$event.stopPropagation(); onRetry(componenteDigital)" mat-menu-item>
                <mat-icon>desktop_windows</mat-icon>
                <span>Repetir</span>
            </button>
            <button [disabled]="!componenteDigital.canRetry"
                    *ngIf="uploadMode !== 'linear'"
                    (click)="$event.stopPropagation(); onCancel(componenteDigital)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Cancelar</span>
            </button>
            <button [disabled]="!componenteDigital.canRetry && componenteDigital.inProgress"
                    *ngIf="uploadMode === 'linear'"
                    (click)="$event.stopPropagation(); onCancel(componenteDigital)" mat-menu-item>
                <mat-icon>delete</mat-icon>
                <span>Cancelar</span>
            </button>
            <button *ngIf="uploadMode === 'linear' && !componenteDigital.inProgress" (click)="$event.stopPropagation()"
                    [matMenuTriggerFor]="tipoDocumentoMenu" #menuTriggerTipoDocumento="matMenuTrigger" mat-menu-item>
                <mat-icon>edit</mat-icon>
                <span>{{(componenteDigital.tipoDocumento) ? componenteDigital.tipoDocumento.nome + ': Alterar' : 'Escolher Tipo de Documento'}}</span>
            </button>
        </mat-menu>
    </div>

    <mat-menu #tipoDocumentoMenu="matMenu" class="menuTipoDocumento" id="testeMenu">
        <form class="p-8 mb-8" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start"
              fxFlex="1 0 auto" name="form" [formGroup]="form" (click)="$event.stopPropagation()"
              (submit)="salvarTipoDocumento()">
            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input mat-menu-item matInput placeholder="Tipo de Documento"
                           formControlName="tipoDocumento"
                           autocomplete="off"
                           #autoCompleteTipo
                           [matAutocomplete]="tipoDocumento.autocomplete">
                </div>
                <cdk-tipo-documento-autocomplete
                    #tipoDocumento="tipoDocumentoAutocomplete"
                    [control]="form.get('tipoDocumento')"
                    [pagination]="tipoDocumentoPagination">
                </cdk-tipo-documento-autocomplete>
                <mat-error *ngIf="form.get('tipoDocumento').hasError('formError')">
                    {{form.get('tipoDocumento').errors.formError}}
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="accent" type="submit" [disabled]="!this.habilitarTipoDocumentoSalvar">
                SALVAR
            </button>
        </form>
    </mat-menu>
</div>
