@import '../../../../scss/cdk';

cdk-componente-digital-card {
    display: flex;
    flex: 0 0 auto;
    height: 46px;
    min-height: 46px;
    max-height: 46px;

    > .content {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin-right: 8px;
        border-radius: 3px;
        border: 1px solid;

        > .content-img {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
        }

        > .content-card {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            border-right: 1px solid;
            justify-content: center;

            > .content-card-item {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                margin-left: 8px;
                margin-right: 8px;
            }
        }

        > .menu {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    > .processo {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin: 0;
        padding: 8px 0;
        border-radius: 3px;
        border: 1px solid;

        > .content-img {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;
        }

        > .content-card {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            border-right: 1px solid;
            justify-content: center;

            > .content-card-item {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                margin-left: 8px;
                margin-right: 8px;
            }
        }

        > .menu {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    > .tarefas-list {
        display: flex;
        flex: 1 1 auto;
        align-items: center;
        margin-right: 2px;
        border-radius: 3px;
        border: 1px solid;
        max-height: 32px;
        margin-top: 6px;

        > .content-img {
            display: flex;
            flex: 1 1 auto;
            align-items: center;
            justify-content: center;

            mat-icon {
                font-size: 16px;
                height: 16px;
                width: 16px;
                line-height: 22px;
            }
        }

        > .content-card {
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            border-right: 1px solid;
            justify-content: center;
            font-size: 11px;

            > .content-card-item {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                margin-left: 8px;
                margin-right: 8px;
            }
        }

        > .menu {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
            border-top-right-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }

    .borda-erro {
        border: solid red 1px;
    }
}
cdk-componente-digital-card.processo {
    height: 60px;
    max-height: 60px;
    flex-grow: 1;
}

cdk-componente-digital-card.documento-edit-card {
    width: 50%;
    flex-grow: 0;
    flex-shrink: 1;
}

.multiline-tooltip {
    white-space: pre-line !important;
}
