<mat-autocomplete (closed)="fechado()" [displayWith]="displayEspecieAtividadeFn">
    <mat-option *ngFor="let especieAtividade of especieAtividadeList" [disabled]="(isWorkflow && !especieAtividade.valida)"
                [value]="especieAtividade">
        <span [innerHTML]="displayEspecieAtividadeFn(especieAtividade) | highlightOption: this.control.value"
              [ngStyle]="isWorkflow && !especieAtividade.valida ? {'text-decoration': 'line-through'} : {}"></span>
    </mat-option>
    <mat-option *ngIf="especieAtividadeListIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
