documento-avulso-edit-dados-basicos {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    .dados-basicos-sidebar {
        display: flex;
        flex-direction: column;
        flex: 0 1 auto;
        height: 0;

        > .documentos-vinculados {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;

            ng-template {
                display: flex;
                flex: 1 1 auto;
            }
        }

        > .dados-basicos {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;

            > .actions {
                display: flex;
                flex-direction: row;
                flex: 0 0 auto;
            }

            > .status-remessa {
                display: flex;
                flex-direction: column;
                flex: 0 0 auto;

                > ng-template {
                    display: flex;
                    flex: 1 1 auto;
                }
            }

            > .remetendo {
                display: flex;
                flex: 0 0 auto;
                justify-content: center;
                align-items: center;
            }

            > .formulario {
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;

                .responsive-grid .content {
                    height: 0 !important;
                }
            }
        }

        .remetendo {
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex: 0 0 auto;
        }
    }
}
