<mat-card class="scrollable-content">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>bookmarks</mat-icon>
        <mat-card-title>Acompanhamentos</mat-card-title>
        <mat-card-subtitle>
            <a [routerLink]="'/apps/configuracoes/acompanhamentos/listar'">
                <span style="margin-left: auto;">Ver todos</span>
            </a>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="p-24" fxLayout="column" fxLayoutAlign="center center">
            <mat-spinner *ngIf="this.acompanhamentosCount === false" diameter="64"></mat-spinner>
            <div *ngIf="this.acompanhamentosCount !== false" class="light-blue-fg font-size-64 line-height-64 count-clickable">
                {{this.acompanhamentosCount}}
            </div>
            <div class="h3 font-weight-500">
                Monitorando
            </div>
        </div>
    </mat-card-content>
    <mat-card-footer>
        <div class="p-16 border-top" fxLayout="row" fxLayoutAlign="start center">
            <span class="h4 text-truncate">
               Acompanhamento de processos
            </span>
        </div>
    </mat-card-footer>
</mat-card>
