<div class="content" cdkPerfectScrollbar>
    <mat-list *ngIf="operacoes.length > 0 && lote !== ''" cdkScrollTo>
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'grey-50': operacao.status === 0, 'light-green-50': operacao.status === 1, 'pink-50': operacao.status > 1}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>

    <cdk-tarefa-form
        [hidden]="operacoes.length > 0 && lote !== ''"
        [tarefa]="tarefa"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [clearForm]="(isClearForm)"
        [especieTarefaPagination]="especieTarefaPagination"
        [setorOrigemPagination]="setorOrigemPagination"
        [setorResponsavelPagination]="setorResponsavelPagination"
        [setorOrigemPaginationTree]="setorOrigemPaginationTree"
        [lotacaoPagination]="lotacaoPagination"
        (save)="submit($event)"
        (saveBloco)="submitLote($event)"
        (abort)="cancel()"
        (processo)="verificaVisibilidadeProcesso($event)">
    </cdk-tarefa-form>

    <div class="actions" *ngIf="lote !== '' && operacoes.length > 0 && operacoesPendentes.length === 0">
        <button mat-raised-button color="warn" type="button" (click)="cancel()">
            VOLTAR
        </button>
    </div>
</div>
