<div class="page-layout carded left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="!(maximizado$ | async)" class="sidebar" name="documento-avulso-main-sidebar" position="left"
                  lockedOpen="gt-md">
        <documento-avulso-main-sidebar [pessoasConveniadas]="pessoasConveniadas"></documento-avulso-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxHide.lt-md *ngIf="!(maximizado$ | async)">
                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                        (click)="toggleSidebar('documento-avulso-main-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>
        </div>

        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card"
             [ngClass]="{'current-documento-avulso-selected':currentDocumentoAvulsoId || (loading$ | async)}">

            <!-- CONTENT -->
            <div class="content">
                <div class="documento-avulso-list" #documentoAvulsoListElement mwlResizable [enableGhostResize]="true"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     (resizeEnd)="onResizeEndDocumentoAvulsoList($event)"
                     [fxFlex]="documentoAvulsoListSize"
                     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-documento-avulso': currentDocumentoAvulsoId,
                        'no-current-documento-avulso': !currentDocumentoAvulsoId,
                        'maximizado': (maximizado$ | async)
                     }">

                    <cdk-documento-avulso-list (scrolled)="onScroll()"
                                     [loading]="(loading$ | async)"
                                     [documentosAvulso]="documentosAvulso"
                                     [deletingIds]="(deletingIds$ | async)"
                                     [deletedIds]="(deletedIds$ | async)"
                                     [currentDocumentoAvulsoId]="currentDocumentoAvulsoId"
                                     [pagination]="pagination"
                                     [selectedIds]="(selectedIds$ | async)"
                                     (changeSelectedIds)="changeSelectedIds($event)"
                                     (reload)="reload($event)"
                                     (selected)="setCurrentDocumentoAvulso($event)"
                                     (responderComplentarBloco)="doResponderComplentarBlocoBloco()"
                                     (etiquetarBloco)="doEtiquetarBloco()">
                    </cdk-documento-avulso-list>
                </div>
                <div class="oficio-detail" mwlResizable [enableGhostResize]="true"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     [fxFlex]="100"
                     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-documento-avulso': currentDocumentoAvulsoId,
                        'no-current-documento-avulso': !currentDocumentoAvulsoId
                     }">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
