@import "../../../../../@cdk/scss/cdk";

chat-mensagem-list {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    flex-direction: column;
    position: relative;
    padding: 0px 0px 0px 5px;

    .chat-mensagem-error {
        display: flex;
        place-content: center;
    }

    .loading {
        padding-top: 10px;
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;

        mat-spinner {
            margin: auto 0;
        }
    }

    .message-row {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 8px 0px 45px;
        margin-top: 5px;

        chat-imagem {
            position: absolute;
            margin: 0;
            left: 0;
        }

        .bubble {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12px;
            max-width: 100%;

            .message {
                white-space: pre-wrap;
                line-height: 1.2;
            }
        }

        .time {
            display: none;
            width: 100%;
            font-size: 11px;
            margin-top: 8px;
            top: 100%;
            left: 0;
            white-space: nowrap;
            padding-bottom: 5px;
        }

        &.contact {

            .bubble {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;

                border-top-right-radius: 20px;
                border-bottom-right-radius: 20px;
            }

            .time {
                margin-left: 12px;
            }

            &.first-of-group {

                .bubble {
                    border-top-left-radius: 20px;
                }
            }

            &.last-of-group {

                .bubble {
                    border-bottom-left-radius: 20px;
                }
            }
        }

        &.me {
            padding-left: 40px;

            .avatar {
                order: 2;
                margin: 0 0 0 8px;
            }

            .bubble {
                margin-left: auto;

                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;

                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }

            .time {
                justify-content: flex-end;
                right: 0;
                margin-right: 12px;
            }

            &.first-of-group {

                .bubble {
                    border-top-right-radius: 20px;
                }
            }

            &.last-of-group {

                .bubble {
                    border-bottom-right-radius: 20px;
                }
            }
        }

        &.contact + .me,
        &.me + .contact {
            margin-top: 10px;
        }

        &.first-of-group {

            .bubble {
                border-top-left-radius: 20px;
                padding-top: 13px;
            }
        }

        &.last-of-group {

            .bubble {
                border-bottom-left-radius: 20px;
                padding-bottom: 13px;
            }

            .time {
                display: flex;
            }
        }
    }
}
