<div class="content p-8" fxLayout="column">
    <h3><strong>EDITANDO TAREFAS</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        A noção central do fluxo de trabalho no sistema é a tarefa.
        Um usuário abre uma tarefa para outro usuário quando necessitar que uma ou mais atividades sejam realizadas, em um dado prazo
    </p>
    <p style="background-color: #d3d3d3;margin-left: 40px">
        É importante ressaltar que só é possível a criação de uma <strong>tarefa</strong> em um <strong>NUP</strong> quando existem <strong>assuntos</strong> e <strong>interessados</strong>.
    </p>
    <h3><strong>Entrando no grid de Tarefas</strong></h3>
    <p style="text-align: justify;margin-left: 40px">
        1. No menu lateral esquerdo, clique em
        <strong>Tarefas</strong>>
        <strong>Administrativas</strong>:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. O menu de tarefas é aberto e é possível realizar várias operações.
    </p>
    <p style="text-align: justify;">
        2. Na nova tela, clique ao lado da tarefa para expandir as <strong>opções existentes</strong>:
        <img src="assets/images/ajuda/opcaotarefaindividual.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>

    <p style="text-align: justify;">
        2. Na nova tela, clique ao lado da tarefa para expandir as <strong>opções existentes</strong>:
        <img src="assets/images/ajuda/opcaotarefaindividual.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        3. Clique em <strong>Editar Tarefa</strong>
    </p>
    <hr>
    <p style="text-align: justify;">
        4. O menu onde é possível modificar os parâmetros da tarefa é aberto. Após a modificação, aperte salvar.
    </p>
    <hr>
    <p><br></p>
</div>
