<div class="header">
    <path icone="edit_location"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="lotacoes">
    </path>
</div>
<cdk-lotacao-grid
        [loading]="(loading$ | async)"
        [lotacoes]="(lotacoes$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['setPrincipal', 'showDeleted']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (setPrincipal)="setPrincipal($event)"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-lotacao-grid>
