<div class="header">
    <path icone="event_busy"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="{{modulo}}">
    </path>
</div>
<cdk-afastamento-grid
        [loading]="(loading$ | async)"
        [afastamentos]="(afastamentos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [displayedColumns]="['select', 'id', 'dataInicio', 'dataInicioBloqueio', 'dataFim', 'dataFimBloqueio', 'modalidadeAfastamento.valor', 'actions']"
        [actions]="['create', 'edit', 'delete', 'showDeleted']"
        [colaboradorPagination]="this.colaboradorPagination"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (create)="create()"
        (edit)="edit($event)"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-afastamento-grid>
