<div class="header">
    <path icone="subject"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="numeros-unicos-documentos">
    </path>
</div>
<cdk-numero-unico-documento-grid
        [loading]="(loading$ | async)"
        [numerosUnicosDocumento]="(numerosUnicosDocumentos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['edit','create','delete']"
        (create)="create()"
        [setorPagination]="this.setorPagination"
        (reload)="reload($event)"
        (edit)="edit($event)"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-numero-unico-documento-grid>
