<div class="header">
    <path icone="business"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="modalidade-orgao-central">
    </path>
</div>
<cdk-modalidade-orgao-central-grid
    [loading]="(loading$ | async)"
    [modalidadeOrgaoCentralList]="(modalidadeOrgaoCentralList$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['id', 'valor', 'descricao', 'ativo', 'actions']"
    [actions]="['edit', 'create', 'showInatived']"
    (inatived)="inatived($event)"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-modalidade-orgao-central-grid>
