ajuda-envia-arquivista {
    p {
           text-align: left;
       }
       img {
           max-width: 256px;
       }
   
       /*Coluna Dupla*/
       .column {
           float: left;
           width: 50%;
       }
       
       /* Clear floats after the columns */
       .row:after {
           content: "";
           display: table;
           clear: both;
       }
   }
   