<div id="maintenance" fxLayout="column">

    <div id="maintenance-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="maintenance-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="_cdkConfigService.logo">
            </div>

            <div class="body">Sistema está em manutenção!</div>

            <div class="subtitle">
                Lamentamos pelo inconveniente. <br> Retornaremos em breve.
            </div>

        </div>

    </div>

</div>
