<cdk-historico-grid
        [loading]="(loading$ | async)"
        [historicos]="(historicos$ | async)"
        [total]="(pagination$ | async)?.total"
        [actions]="['redefinir_tabela']"
        [displayedColumns]="['select', 'id', 'descricao', 'criadoPor.nome', 'criadoEm']"
        [resizableColumns]="['allTableColumns']"
        [ordableColumns]="['allTableColumns']"
        [tableDefinitions]="tableDefinitions"
        (tableDefinitionsChange)="doTableDefinitionsChange($event)"
        (reload)="reload($event)"
        (resetTableDefinitions)="doResetTableDefinitions()">
</cdk-historico-grid>
