<cdk-remessa-grid
        [loading]="(loading$ | async)"
        [remessas]="(tramitacoes$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'recebe_remessa', 'delete', 'showDeleted', 'redefinir_tabela']"
        [displayedColumns]="['select', 'id', 'nup', 'setorOrigem.nome', 'pessoaDestino.nome', 'dataHoraRecebimento', 'usuarioRecebimento.nome', 'urgente', 'observacao', 'actions']"
        [resizableColumns]="['allTableColumns']"
        [ordableColumns]="['allTableColumns']"
        [tableDefinitions]="tableDefinitions"
        (tableDefinitionsChange)="doTableDefinitionsChange($event)"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (recebimento)="recebimento($event)"
        (statusBarramento)="verificaStatusBarramento($event)"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)"
        (resetTableDefinitions)="doResetTableDefinitions()"
>
</cdk-remessa-grid>
