<form fxLayoutGap="8px" name="form" [formGroup]="form">
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput #nome
               name="nome"
               formControlName="nome"
               required
               maxlength="255">

        <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
        <mat-error>Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="pessoaConveniada">
        Pessoa Conveniada
    </mat-checkbox>

    <mat-checkbox formControlName="pessoaValidada">
        Pessoa Validada
    </mat-checkbox>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
       <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>
