tipo-validacao-workflow-form-atr-para {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .content {
        flex: 1 1 auto;
        display: flex;
        overflow-y: auto;
        height: 0;
        padding: 8px;

        .responsive-grid .content {
            height: 0 !important;
        }
    }
}
