@import "src/@cdk/scss/cdk";

processo-etiqueta-view {

    height: 100%;

    .sidebar {
        width: 230px !important;
        min-width: 230px !important;
        max-width: 230px !important;
    }

    .center {

        position: relative;

        .header {
            height: 56px !important;
            min-height: 56px !important;
            max-height: 56px !important;
        }

        .content {
            position: relative;

            .processo-etiqueta-view-etiqueta {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                padding: 8px;
                overflow: auto;
                -webkit-overflow-scrolling: touch;

                &.ng-animating {
                    overflow: hidden;
                }

                @media (max-width: 720px) {
                    padding: 0 0 120px 0;
                }

                .processo-etiqueta-view-content {
                    padding: 8px;
                    margin: 0 auto;
                    width: 100%;
                    height: 100%;
                    border-radius: 8px;
                    @include mat-elevation(1);

                    iframe {
                        width: 100%;
                        height: 100%;
                        border: none;
                    }
                }
            }
        }
    }
}

