<div class="content" [dndDraggable]="draggable.data">

    <div class="check">
        <mat-checkbox class="mr-8" [checked]="selected" (change)="onSelectedChange()"
                      (click)="$event.stopPropagation();">
        </mat-checkbox>
    </div>


    <div class="info">

        <div class="title">
            <span>{{relatorio.tipoRelatorio?.descricao}}</span>
        </div>


        <div [matTooltip]="'Relatório Id ' + relatorio.id.toString()" class="body mt-4">
            <div>
                {{relatorio.observacao}}
            </div>

            <div>
                Criado em: {{relatorio.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}
            </div>
        </div>

        <div class="etiquetas" fxLayout="row wrap" fxHide fxShow.gt-sm>
            <div class="etiqueta" *ngFor="let vinculacaoEtiqueta of relatorio.vinculacoesEtiquetas"
                 fxLayout="row" fxLayoutAlign="start center" [matTooltip]="vinculacaoEtiqueta.conteudo">
                <div class="etiqueta-color"
                     [ngStyle]="{'background-color': (vinculacaoEtiqueta.etiqueta?.corHexadecimal)}"></div>
                <div class="etiqueta-title">{{vinculacaoEtiqueta.etiqueta?.nome}}</div>
            </div>
        </div>
    </div>

    <div class="subtitle" *ngIf="relatorio.status === 0 || (relatorio.status === null && !relatorio.documento)">
        <div class="spinner-container m-8">
            <mat-spinner matTooltip="Gerando relatório" diameter="24"></mat-spinner>
        </div>
    </div>

    <div class="subtitle" *ngIf="relatorio.status === 1 || (relatorio.status === null && relatorio.documento)">
        <div class="m-8">
            <mat-icon class="green-fg" matTooltip="Sucesso">check</mat-icon>
        </div>
    </div>

    <div class="subtitle" *ngIf="relatorio.status >= 2">
        <div class="m-8">
            <mat-icon class="red-fg" matTooltip="Erro na geraçao do relatorio">clear</mat-icon>
        </div>
    </div>

    <div class="actions">

        <div class="spinner-container m-8" *ngIf="deleting">
            <mat-spinner matTooltip="Deletando relatório" diameter="24"></mat-spinner>
        </div>

        <button *ngIf="!deleting" mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="Ferramentas"
                (click)="$event.stopPropagation()">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">

            <button mat-menu-item aria-label="apagar"
                    (click)="doDelete()">
                <ng-container>
                    <mat-icon>delete</mat-icon>
                    <span>Apagar</span>
                </ng-container>
            </button>

        </mat-menu>
    </div>
</div>
