<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <mat-select placeholder="Tipo de coordenação"
                    formControlName="tipo" required>
            <div *ngFor="let tipo of tipos">
                <mat-option [value]="tipo.id">{{ tipo.label }}</mat-option>
            </div>
        </mat-select>
        <mat-error *ngIf="form.get('tipo').hasError('required')">
            O tipo de coordenação é de preenchimento obrigatório
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.get('tipo').value === 'M'">
        <input matInput placeholder="Órgão central"
               formControlName="orgaoCentral"
               [matAutocomplete]="orgaoCentral.autocomplete"
               (blur)="checkOrgaoCentral()">
        <cdk-modalidade-orgao-central-autocomplete
            #orgaoCentral="modalidadeOrgaoCentralAutocomplete"
            [control]="form.get('orgaoCentral')"
            [pagination]="orgaoCentralPagination">
        </cdk-modalidade-orgao-central-autocomplete>
        <button *ngIf="form.get('orgaoCentral').enabled" matSuffix mat-button mat-icon-button
                (click)="showOrgaoCentralGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('orgaoCentral').hasError('formError')">
            {{form.get('orgaoCentral').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.get('tipo').value === 'U' || form.get('tipo').value === 'S'">
        <input matInput placeholder="Unidade"
               formControlName="unidade"
               [matAutocomplete]="unidade.autocomplete"
               (blur)="checkUnidade()">
        <cdk-setor-autocomplete
            #unidade="setorAutocomplete"
            [control]="form.get('unidade')"
            [pagination]="unidadePagination">
        </cdk-setor-autocomplete>
        <button *ngIf="form.get('unidade').enabled" matSuffix mat-button mat-icon-button
                (click)="showUnidadeGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('unidade').hasError('formError')">
            {{form.get('unidade').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="form.get('tipo').value === 'S' && !form.get('setor').disabled">
        <input matInput placeholder="Setor"
               formControlName="setor"
               [matAutocomplete]="setor.autocomplete"
               (blur)="checkSetor()">
        <cdk-setor-autocomplete
            #setor="setorAutocomplete"
            [control]="form.get('setor')"
            [pagination]="setorPagination">
        </cdk-setor-autocomplete>
        <button *ngIf="form.get('setor').enabled" matSuffix mat-button mat-icon-button
                (click)="showSetorGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setor').hasError('formError')">
            {{form.get('setor').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-modalidade-orgao-central-gridsearch
    *ngIf="activeCard === 'modalidade-orgao-central-gridsearch'"
    [pagination]="orgaoCentralPagination"
    (selected)="selectOrgaoCentral($event)"
    (cancel)="cancel()">
</cdk-modalidade-orgao-central-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'unidade-gridsearch'"
    [pagination]="unidadePagination"
    (selected)="selectUnidade($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-gridsearch'"
    [pagination]="setorPagination"
    [displayedColumns]="['id', 'unidade.nome', 'nome', 'sigla', 'actions']"
    (selected)="selectSetor($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>
