cdk-documento-card-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    > .toolbar {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;

        > .loading {
            margin-left: 8px;
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .anexos-loading {
                display: flex;
            }
        }

        .load-more {
            margin-left: 8px;
            display: flex;
            flex-direction: row;
            margin-right: 2px;
            margin-bottom: 10px;
            width: 22px;
            cursor: pointer;
            align-content: center;

            span {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                width: 22px;
                min-width: 22px;
                max-width: 22px;
                height: 22px;
                border-radius: 100%;
                border: 2px solid;
                font-weight: bold;
                font-size: 12px;
                z-index: 10;
            }
        }

        > .multiple-choices {
            display: flex;
            flex-direction: row;
            min-height: 46px;
            max-height: 46px;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 10px;
        }
    }
}
