@import "src/@cdk/scss/cdk";

relatorios {

    flex: 1 1 auto;
    display: flex;

    > .page-layout {

        flex: 1 1 auto;
        display: flex;

        > .center {

            flex: 1 1 auto;
            display: flex;

            > .header {

                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                height: 72px !important;
                min-height: 72px !important;
                max-height: 72px !important;

                > .search-wrapper {
                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    > .sidebar-toggle {
                        margin: 0 0 0 6px;
                        width: 56px;
                        height: 56px;
                        border-radius: 0;
                        border-right: 1px solid;
                    }

                    > .search {
                        flex: 1 1 auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: flex-start;
                        align-items: center;

                        height: 46px;
                        padding: 0 8px;

                        > cdk-etiqueta-chips {
                            margin-left: 8px;
                            margin-right: 8px;
                        }
                    }
                }

                &.current-relatorio-selected {
                    .search-wrapper {
                        display: none !important;
                    }
                }

            }

            > .content-card {

                flex: 1 1 auto;
                display: flex;

                .toolbar {

                    .toolbar-separator {
                        height: 32px;
                        width: 1px;
                        margin: 0 12px;
                    }

                    .relatorio-list-control {
                        margin-left: auto;
                    }
                }

                > .content {

                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;

                    > .relatorio-list {
                        display: flex;
                        flex-direction: column;

                        > .loading {
                            flex: 1 1 auto;
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                        }

                        &.maximizado {
                            display: none !important;
                        }

                        &.mobile-mode {
                            max-width: 100% !important;

                            &.mostra-lista {
                                display: flex;
                            }
                            &.esconde-lista {
                                display: none !important;
                            }
                        }
                    }

                    > .relatorio-detail {

                        display: flex;

                        &.mobile-mode {
                            max-width: 100% !important;

                            &.mostra-detalhe {
                                display: flex;
                            }
                            &.esconde-detalhe {
                                display: none !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

