cdk-tarefa-list-item {

    flex: 0 1 auto;
    display: flex;
    padding: 8px 8px 8px 24px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    text-transform: none;
    cursor: pointer;


    > .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;

        &.show-actions {
            button.ferramentas {
                display: block !important;
            }
        }

        .check {
            flex: 0 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .prazo-vence-hoje {
            color: red;
        }

        .prazo-venceu {
            font-weight: bold;
        }

        .info {

            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            word-break: break-word;
            hyphens: auto;
            -webkit-hyphens: auto;
            -moz-hyphens: auto;

            .drag-n-drop-ref {
                display: flex;
                flex: 0 1;
                flex-direction: row;
                background-color: transparent;

                > div {
                    border-radius: 6px;

                    > div {
                        padding: 5px;
                        font-weight: normal;
                    }
                }
            }

            &.nao-lido {
                font-weight: bold;
            }

            margin: 0 8px 0 8px;

            .title {
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                font-size: 14px;
                font-weight: 600;
            }

            .subtitle {
                flex: 1 1 auto;
                display: flex;
                flex-direction: column;
                font-style: italic;
                font-size: 12px;

                > .assunto {
                    display: flex;
                    flex-direction: row;
                    flex: 1 1 auto;
                }

                > .interessados {
                    display: flex;
                    flex-direction: column;
                    flex: 1 1 auto;
                }
            }

            .body {
                margin-top: 6px;

                > .search-wrapper {
                    flex: 0 1 auto;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                }

                .observacao {
                    margin-left: 10px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    > span {
                        font-style: italic;
                        font-size: smaller;
                        white-space: pre-wrap;
                    }

                    > mat-icon {
                        margin-left: 4px;
                        font-size: 18px;
                        align-items: center;
                        line-height: 18px;
                        min-width: 18px;
                        min-height: 18px;
                        width: 18px;
                        height: 18px;
                    }

                    > mat-form-field {
                        display: flex;
                        flex: 1 1 auto;

                        > div.mat-form-field-wrapper {
                            display: flex;
                            flex: 1 1 auto;
                        }
                    }

                    > .actions {
                        margin-left: 4px;
                    }
                }

                .edit-observacao {
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    > span {
                        font-style: italic;
                        font-size: smaller;
                        white-space: pre-wrap;
                    }

                    > mat-icon {
                        margin-left: 4px;
                        font-size: 18px;
                        align-items: center;
                        line-height: 18px;
                        min-width: 18px;
                        min-height: 18px;
                        width: 18px;
                        height: 18px;
                    }

                    > mat-form-field {
                        display: flex;
                        flex: 1 1 auto;

                        > div.mat-form-field-wrapper {
                            display: flex;
                            flex: 1 1 auto;
                        }
                    }

                    > .actions {
                        margin-left: 4px;
                    }
                }
            }

            .etiquetas {
                flex: 1 1 auto;
                display: none;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 6px;

                .etiqueta {
                    font-size: 11px;
                    margin-bottom: 4px;
                    margin-right: 4px;
                    padding: 3px 8px;
                    cursor: pointer;
                    min-width: 90px;
                    border-radius: 3px;

                    .etiqueta-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }

            .etiquetas-minutas {
                flex: 1 1 auto;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-top: 2px;

                .etiqueta {
                    display: flex;
                    align-items: center;
                    font-size: 11px;
                    border: 1px solid;
                    margin-right: 2px;
                    padding: 2px 2px;
                    cursor: pointer;
                    max-height: 24px;
                    align-self: center;
                    margin-bottom: 2px;
                    min-width: 70px;
                    border-radius: 3px;

                    > mat-icon.small {
                        font-size: 16px;
                        height: 16px;
                        width: 16px;
                        line-height: 22px;
                        min-width: 16px;
                    }

                    > .mat-icon-button {
                        width: 16px;
                        max-width: 16px;
                        font-size: 16px;

                        mat-icon.small {
                            font-size: 16px;
                            height: 16px;
                            width: 16px;
                            line-height: 22px;
                            min-width: 16px;
                        }
                    }

                    .etiqueta-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
                .etiqueta-loading {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 11px;
                    border: 1px solid;
                    margin-right: 2px;
                    padding: 3px 8px;
                    cursor: pointer;
                    max-height: 32px;
                    align-self: center;
                    margin-bottom: 2px;
                    min-width: 90px;
                    border-radius: 3px;
                }
            }
        }

        .actions {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
