<div fxLayout="row" fxLayoutAlign="start center">

    <div class="p-8 file" fxLayout="column" (click)="onClick(documento)"
         >

        <div fxLayout="row" fxLayoutAlign="start center">
            <mat-icon *ngIf="!documento.documentoAvulsoRemessa" class="ml-8 mr-8">picture_as_pdf</mat-icon>
            <mat-icon *ngIf="documento.documentoAvulsoRemessa" class="ml-8 mr-8">mail</mat-icon>
            <div class="mr-8">{{documento.tipoDocumento?.sigla || 'OUT'}}</div>
            <mat-icon *ngIf="documento.documentoAvulsoRemessa && !documento.documentoAvulsoRemessa.dataHoraRemessa" class="ml-8 mr-8">edit</mat-icon>
            <mat-icon *ngIf="documento.documentoAvulsoRemessa && documento.documentoAvulsoRemessa.dataHoraRemessa && !documento.documentoAvulsoRemessa.dataHoraResposta" class="ml-8 mr-8">screen_share</mat-icon>
            <mat-icon *ngIf="documento.documentoAvulsoRemessa && documento.documentoAvulsoRemessa.dataHoraResposta" class="ml-8 mr-8">reply</mat-icon>
        </div>

        <div class="space" fxLayout="row" fxLayoutAlign="start center">
        </div>

    </div>

    <div class="more-vert"
         >
        <button *ngIf="!deleting && !assinando && !convertendo" mat-icon-button [matMenuTriggerFor]="card20Menu" aria-label="more">
            <mat-icon>expand_more</mat-icon>
        </button>

        <div *ngIf="deleting || assinando || convertendo" class="spinner-container m-8">
            <mat-spinner diameter="24"></mat-spinner>
        </div>

        <mat-menu #card20Menu="matMenu">
            <button *ngIf="!documento.documentoAvulsoRemessa || !documento.documentoAvulsoRemessa.dataHoraRemessa" fxLayout="row" fxLayoutAlign="start center" (click)="doDelete(documento.id)" mat-menu-item>
                <mat-icon color="accent">delete</mat-icon>
                <span>Remover</span>
            </button>
            <button fxLayout="row" fxLayoutAlign="start center" (click)="doAssinatura(documento.id)" mat-menu-item>
                <mat-icon color="accent">lock</mat-icon>
                <span>Assinar</span>
            </button>
            <button fxLayout="row" fxLayoutAlign="start center" (click)="doConverte(documento.id)" mat-menu-item>
                <mat-icon color="accent">picture_as_pdf</mat-icon>
                <span>Converter</span>
            </button>
            <button *ngIf="documento.documentoAvulsoRemessa && documento.documentoAvulsoRemessa.dataHoraResposta" fxLayout="row" fxLayoutAlign="start center" (click)="doVerResposta(documento.documentoAvulsoRemessa.documentoResposta)" mat-menu-item>
                <mat-icon color="accent">picture_as_pdf</mat-icon>
                <span>Ver Resposta</span>
            </button>
        </mat-menu>
    </div>

    <div class="card-divider full-width"></div>

    <div class="p-8" fxLayout="row" fxLayoutAlign="end center" fxHide>

        <button mat-button color="accent">
            <mat-icon class="secondary-text">delete</mat-icon>
        </button>
    </div>

</div>
