<div>
    <div *ngIf="titulo === 'tramitacoes'" class="content p-8" fxLayout="column">
        <h3><strong>TRAMITANDO UM PROCESSO</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            Tramitação é a movimentação do processo/ofício de meio <strong>Físico</strong> ou <strong>Híbrido</strong>  de um setor a outro.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Quando um usuário abre uma tarefa para outro usuário lotado em outro setor,
            surge a possibilidade de tramitar o processo/documento avulso para o novo setor responsável.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A opção “Tramitar” somente estará habilitada ser for possível realizar a tramitação.
            Por exemplo, o se o usuário não estiver lotado na unidade atual do NUP, a opção “Tramitar” estará desabilitada.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A <strong>Tramitação</strong> é o controle da localização de um acervo físico na instituição.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Se o usuário marcar a opção “Tramitar” e houver uma tramitação pendente de recebimento no NUP, o sistema irá primeiro receber a tramitação pendente e na sequência criar a nova tramitação.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Ao abrir uma nova tarefa, se o processo for de meio <strong>Físico</strong> ou <strong>Híbrido</strong>, a opção “Tramitar” é marcada como padrão pelo sistema.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A <strong>Tramitação</strong> interna deve ser feita apenas com a abertura de uma tarefa.
        </p>

        <h3><strong>Visualizando as tramitações na pagína de cadastramento de processos.</strong></h3>
        <p style="text-align: justify;margin-left: 40px">
            1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Tramitações</strong>
        </p>
        <p style="text-align: center;margin-left: 40px">
            <!-- BUG DE SELECIONAR REMESSA E TRAMITAÇÃO IMPEDE RETIRAR DA IMAGEM<img src="assets/images/ajuda/processotarefas.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">  -->
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. A página de tramitações é aberta. A lista de tramitações aparece no centro da página.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Na opção  <img src="assets/images/ajuda/listacolunas.png" class="fr-fic fr-dii"> é possível adicionar mais colunas.
            Essas informações auxiliam na localização de tramitações específicas, ordenando as colunas de diferentes modos.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            4. Além da opção de ordenar/adicionar colunas, existe a opção de filtro <img src="assets/images/ajuda/listacolunas.png" class="fr-fic fr-dii">, facilitando ainda mais a localização de tramitações.
        </p>

        <div style="background-color: #d3d3d3;">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p style="text-indent: 20px">
                Não é possível adicionar uma tramitação em um NUP que já está em Tramitação
            </p>
            <p style="text-indent: 20px">
                Não é possível adicionar uma tramitação quando o NUP já se encontra no setor de destino
            </p>
            <p style="text-indent: 20px">
                Um NUP vinculado a outro não pode ser vinculado. Realize a tramitação pelo NUP principal
            </p>
            <p style="text-indent: 20px">
                Uma tramitação não pode ser recebida se já houver sido recebida anteriormente.
            </p>
            <p style="text-indent: 20px">
                se o usuário lançar uma atividade e houver uma tramitação pendente de recebimento no NUP,
                o sistema irá primeiro receber a tramitação pendente e na sequência criar a atividade.
                Trata-se de um <strong>recebimento tácito</strong> da tramitação.
            </p>
            <p style="text-indent: 20px">
                Ao abrir uma nova atividade, a opção “Encerra Tarefa” é marcada como padrão pelo sistema
            </p>
        </div>
   </div>
   <p><br></p>
   <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>
   <h4>Navegando pelos documentos do processo</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/M2rn0u_kfE0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>
</div>
