@import '../../../../scss/cdk';

cdk-minutas-atividade-card {

    border: 1px solid;
    border-radius: 3px;

    .disabled {
        cursor: default !important;
    }

    .more-vert {
        height: 44px;
    }

    .file {
        cursor: pointer;
        border-right: 1px solid;
    }

    .space {
        height: 4px;
    }

    .borda-erro {
        border: solid red 1px;
    }
}

cdk-minutas-atividade-card.current {
    border-color: #3949AB !important;
}

.multiline-tooltip {
    white-space: pre-line !important;
}
