<div class="content">
    <h2 class="ml-8">Pesquisa de Modelos</h2>
    <cdk-modelo-grid
        [loading]="(loading$ | async)"
        [modelos]="(modelos$ | async)"
        [total]="(pagination$ | async)?.total"
        [actions]="['select', 'visualizar']"
        [displayedColumns]="['select', 'id', 'nome', 'modalidadeModelo.valor', 'actions']"
        [mobileMode]="mobileMode"
        [mode]="'search'"
        (selected)="doSelect($event)"
        (view)="doVisualizar($event)"
        [saving]="(saving$ | async)"
        (reload)="reload($event)"
        [orgaoCentralPagination]="orgaoCentralPagination"
        [unidadePagination]="unidadePagination"
        [setorPagination]="setorPagination">
    </cdk-modelo-grid>
</div>
<div class="footer">
    <mat-error *ngIf="erro">{{erro}}</mat-error>
</div>
