<div>
    <div *ngIf="titulo === 'sigilos'" class="content p-8" fxLayout="column">
        <h3><strong>SIGILO DE UM PROCESSO</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            O sistema permite o cadastro de um ou mais sigilos para a mesma minuta,
            suportando tanto os chamados sigilos comuns quanto os sigilos da Lei de Acesso à Informação (LAI).
        </p>
        <p style="text-align: justify;margin-left: 20px">
            O tipo de sigilo deve ser informado pelo usuário:
        </p>
        <ul style="text-align: justify;margin-left: 20px">
            <li>Sigilo Legal</li>
            <li>Sigilo Judicial</li>
            <li>Intimidade, Vida Privada, Honra e Imagem</li>
            <li>Sigilo Reservado (LAI)</li>
            <li>Sigilo Secreto (LAI)</li>
            <li>Sigilo Ultrassecreto (LAI)</li>
        </ul>
        <mat-expansion-panel style="text-align: center;margin-left: 20px">
            <mat-expansion-panel-header>
              <mat-panel-title style="text-align: center">
                LAI?
              </mat-panel-title>
            </mat-expansion-panel-header>
           <p style="text-align: justify;">
            A Lei 12527/2011, <strong>L</strong>ei de <strong>A</strong>cesso à <strong>I</strong>nformação, regulamenta o direito constitucional de acesso dos cidadãos às informações públicas.
            Seus dispositivos são aplicáveis aos três poderes da União, estados, Distrito Federal e municípios.
            De acordo com o art 21, "não poderá ser negado acesso à informação necessária à tutela judicial ou administrativa de direitos fundamentais."
            Porém existem informações que são consideradas imprescindíveis à segurança da sociedade ou do Estado e, portanto, são passíveis de classificação como divulgação ou acesso restrito.
           </p>
        </mat-expansion-panel>
        <p style="text-align: justify;text-indent: 20px">
            O usuário deverá informar, se for requerido pelo sistema, qual a categoria do sigilo,
            o fundamento legal e as razões de atribuição do Sigilo.
        </p>
        <div style="background-color: #d3d3d3;text-indent: 40px">
            <p>
                Por medida de segurança, sempre que um sigilo for criado, caso ainda não haja,
                será criada automaticamente uma restrição de acesso na minuta, com poder “Master” para o usuário criador do sigilo.
            </p>
            <p>
                <strong>Ou seja, o mero registro do sigilo não garante que o processo/documento avulso ficará inacessível para outros usuários,
                sendo necessária a configuração da restrição de acesso.</strong>
            </p>
        </div>

        <p style="text-align: justify;text-indent: 20px">
            Após a juntada da minuta, o sigilo é mantido.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Um sigilo NÃO poderá ser removido do sistema, mas apenas <strong>“desclassificado”</strong> pela autoridade competente.
            Um sigilo desclassificado torna-se inativo, não produzindo mais qualquer efeito.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Os perfis dos usuários definem, como regra geral, o <strong>nível de acesso</strong>:
        </p>
        <ul>
            <li>ADVOGADO: Nível de Acesso 1</li>
            <li>SERVIDOR: Nível de Acesso 1</li>
            <li>ESTAGIÁRIO: Nível de Acesso 0</li>
        </ul>
        <p style="text-align: justify;text-indent: 20px">
            A alteração do nível de acesso deve ser solicitada e fundamentada ao administrador de sua unidade.
            Assim, por exemplo, se um advogado ou servidor ocupante de cargo DAS 5 ou equivalente,
            poderá requisitar nível de acesso 2, que servirá tanto para a classificação quanto para a desclassificação de sigilo reservado da LAI.
        </p>
        <h3 style="text-align: justify;text-indent: 20px">
            <strong>Criando um sigilo na página de cadastramento de processos</strong>
        </h3>
        <p style="text-align: justify;margin-left: 40px">
            1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Sigilos</strong>
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/processosigilos.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. A página de sigilos é aberta.
            É possível ver a lista de sigilos já cadastradas no NUP ou escolher um novo sigilo a partir do botão
            <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Apertando no botão Novo, indique a <strong>Tipo de Sigilo</strong>. Clique na Lupa
            <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">se precisar buscar
            entre as opções existentes.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            4. Além do tipo, também são necessárias informações como a <strong>Data do Início</strong>, <strong>Fundamento Legal</strong> e as <strong>Razões da Classificação</strong>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            5. Também é possível adicionar uma <strong>Observação</strong>.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Clique em <strong>Salvar</strong> para finalizar o cadastramento do sigilo.
        </p>
        <hr>
        <div style="background-color: #d3d3d3;">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p style="text-indent: 20px">
                Um NUP recebido via barramento/integração NÃO pode ter um sigilo cadastrado.
            </p>
            <p style="text-indent: 20px">
                O usuário precisa ter o nível de acesos correto para atribuir determinados sigilos
            </p>
        </div>
   </div>

    <h4>Sigilo - Parte 1 </h4>
    <iframe width="400" height="225"
        src="https://www.youtube.com/embed/wpdDEoQJ584" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Sigilo - Parte 2</h4>
    <iframe width="400" height="225"
        src="https://www.youtube.com/embed/TW4vqGrtDKs" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <p><br></p>
</div>
