<!-- SIDEBAR HEADER -->
<div class="header">
    <div class="logo">
        <span class="logo-text ml-8 s-24" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Coordenador</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_ORGAO_CENTRAL'">
        <div *ngIf="this.orgaos?.length">
            <div class="nav-subheader pl-8 mt-0">
                <mat-icon class="mr-8">language</mat-icon>
                <span>ÓRGÃO CENTRAL</span>
            </div>
            <div *ngFor="let orgao of orgaos">
                <div class="nav-subheader mt-0">
                    <span>{{orgao.valor | uppercase}}</span>
                </div>
                <div class="nav-item" *ngFor="let link of linksNacional">
                    <a class="nav-link" matRipple [routerLink]="'/apps/coordenador/nacional/' + orgao.id + '/' + link.link"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <span class="material-icons-outlined mat-icon mat-icon-no-color nav-link-icon">{{ link.icon }}</span>
                        <span>{{link.nome}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_UNIDADE'">
        <div *ngIf="this.unidades?.length">
            <div class="nav-subheader pl-8 mt-0">
                <mat-icon class="mr-8">language</mat-icon>
                <span>UNIDADE</span>
            </div>
            <div *ngFor="let setor of unidades">
                <div class="nav-subheader mt-0">
                    <span>{{setor.nome | uppercase}}</span>
                </div>
                <div class="nav-item" *ngFor="let link of linksUnidade">
                    <a class="nav-link" matRipple
                       [routerLink]="'/apps/coordenador/unidade/' + setor.id + '/' + link.link"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <span class="material-icons-outlined mat-icon mat-icon-no-color nav-link-icon">{{ link.icon }}</span>
                        <span>{{link.nome}}</span>
                    </a>
                </div>
                <div class="nav-item" *ngIf="setor.numeracaoDocumentoUnidade">
                    <a class="nav-link" matRipple
                       [routerLink]="'/apps/coordenador/unidade/' + setor.id + '/' + 'numeros-unicos-documentos'"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <mat-icon class="nav-link-icon">filter_9_plus</mat-icon>
                        <span>Números Únicos Documentos</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_SETOR'">
        <div *ngIf="this.setores?.length">
            <div class="nav-subheader pl-8 mt-0">
                <mat-icon class="mr-8">language</mat-icon>
                <span>SETOR</span>
            </div>
            <div *ngFor="let setor of setores">
                <div class="nav-subheader mt-0">
                    <span>{{setor.nome | uppercase}} / {{setor?.unidade?.sigla | uppercase}}</span>
                </div>
                <div class="nav-item" *ngFor="let link of linksLocal">
                    <a class="nav-link" matRipple [routerLink]="'/apps/coordenador/local/' + setor.id + '/' + link.link"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <span class="material-icons-outlined mat-icon mat-icon-no-color nav-link-icon">{{ link.icon }}</span>
                        <span>{{link.nome}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->
