<mat-tab-group>
    <mat-tab>
        <ng-template matTabLabel>
            <span [matBadge]="oficios?.length?.toString()" matBadgeOverlap="false" matBadgeColor="warn">Ofícios</span>
        </ng-template>

        <div class="bt-upload">
            <button mat-mini-fab
                    class="active accent mt-8 mb-8 ml-8 mr-8"
                    [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
                    (click)="$event.stopPropagation()">
                <mat-icon class="secondary-text">attach_file</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="upload"
                        (click)="responderDocumento()">
                    <ng-container>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>{{documentoAvulso.documentoResposta ? 'Complementar' : 'Responder'}}</span>
                    </ng-container>
                </button>
                <ng-template #dynamicComponent></ng-template>
            </mat-menu>

            <cdk-documento-card-list [documentos]="resposta"
                                     [deletingId]="(deletingDocumentosId$ | async)"
                                     [assinandoId]="(assinandoDocumentosId$ | async)"
                                     [alterandoId]="(alterandoDocumentosId$ | async)"
                                     [convertendoId]="(convertendoDocumentosId$ | async)"
                                     [downloadId] ="(downloadP7SDocumentosId$ | async)"
                                     [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                     [saving]="(isSavingDocumentos$ | async)"
                                     [loading]="(isLoadingDocumentos$ | async)"
                                     (delete)="doDelete($event)"
                                     (verResposta)="doVerResposta($event)"
                                     (assinatura)="doAssinatura($event)"
                                     (removeAssinatura)="doRemoveAssinatura($event)"
                                     (converte)="doConverte($event)"
                                     (converteHtml)="doConverteHtml($event)"
                                     (clicked)="onClicked($event)"
                                     (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                     (downloadP7S)="doDownloadP7S($event)"
                                     (changedSelectedIds)="changedSelectedIds($event)">
            </cdk-documento-card-list>

            <cdk-componente-digital-card-list #ckdUpload
                                              [documentoAvulsoOrigem]="documentoAvulso"
                                              [uploadMode]="'linear'"
                                              (completed)="onComplete()"
                                              (completedAll)="onCompleteAllDocumentos()">
            </cdk-componente-digital-card-list>

            <cdk-documento-card-list [documentos]="oficios"
                                     [deletingId]="(deletingComplementaresId$ | async)"
                                     [assinandoId]="(assinandoDocumentosId$ | async)"
                                     [alterandoId]="(alterandoComplementaresId$ | async)"
                                     [convertendoId]="(convertendoComplementaresId$ | async)"
                                     [downloadId] ="(downloadComplementaresP7SId$ | async)"
                                     [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                     [saving]="(isSavingComplementares$ | async)"
                                     [loading]="(isLoadingComplementares$ | async)"
                                     [documentosPagination]="pagination"
                                     (delete)="doDeleteComplementar($event)"
                                     (deleteBlocoEmmitter)="deleteBloco($event)"
                                     (verResposta)="doVerResposta($event)"
                                     (assinatura)="doAssinaturaComplementar($event)"
                                     (assinaturaBloco)="doAssinaturaBloco($event)"
                                     (removeAssinatura)="doRemoveAssinatura($event)"
                                     (converte)="doConverteComplementar($event)"
                                     (converteHtml)="doConverteComplementarHtml($event)"
                                     (clicked)="onClicked($event)"
                                     (alterarTipoDocumento)="doAlterarTipoDocumentoComplementar($event)"
                                     (downloadP7S)="doDownloadComplementarP7S($event)"
                                     (getMore)="paginaDocumentos()"
                                     (changedSelectedIds)="changedSelectedIds($event)">
            </cdk-documento-card-list>
        </div>

    </mat-tab>
</mat-tab-group>
