<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar
        [lockedOpen]="(mode === 'search') ? 'gt-xs' : ''"
        [ngClass]="{
            'mobile-componente-pesquisa-off': (mobileMode && !!componentesDigitais),
            'mobile-componente-pesquisa-on': (mobileMode && !componentesDigitais)
        }"
        class="sidebar"
        name="cdk-componente-digital-filter"
        position="left">
        <cdk-componente-digital-filter
                (selected)="setFilter($event)"
                [mode]="this.mode" [isColaborador]="isColaborador"
                [unidadePagination]="unidadePagination"
                [setorPagination]="setorPagination"></cdk-componente-digital-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="responsive-grid"
         [ngClass]="{
            'search': (this.mode === 'search'),
            'documento-edit': (this.mode === 'documento'),
            'mobile-componente-lista-off': (mobileMode && !componentesDigitais),
            'mobile-componente-lista-on': (mobileMode && !!componentesDigitais)
         }">

        <div class="actions">

            <button class="back" mat-icon-button *ngIf="mobileMode"
                    (click)="cssPesquisaOn()"
                    aria-label="pesquisar"
                    matTooltip="Pesquisar">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteBloco(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <ng-container *ngIf="getAllColumns().length">
                <mat-form-field class="colunas mr-8" *showIfRole="'ROLE_COLABORADOR'">
                    <mat-select [formControl]="columns" multiple>
                        <div *ngFor="let column of getAllColumns()">
                            <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                        </div>
                    </mat-select>
                </mat-form-field>
            </ng-container>

            <button *ngIf="mode === 'documento'" class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" [ngClass]="{'warn': !(gridFilter | json).includes('{}')}" mat-icon-button
                    *ngIf="mode === 'documento'"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'warn': hasExcluded}" *ngIf="actions.indexOf('showDeleted') > -1"
                    (click)="loadExcluded()"
                    aria-label="mostrar apagados"
                    matTooltip="Mostrar Apagados">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div class="content" cdkPerfectScrollbar>

            <table mat-table [dataSource]="dataSource" matSort [matSortDisabled]="mode === 'search' && (gridFilter | json).includes('{}')" [ngStyle]="loading ? {'display': 'none'} : {}" multiTemplateDataRows>

                <!-- Selection Column -->
                <ng-container *ngIf="displayedColumns.indexOf('select') > -1" matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [disabled]="hasExcluded"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='no-line'>
                        <mat-checkbox [checked]="selectedIds.indexOf(componenteDigital.id) > -1"
                                      (change)="toggleInSelected(componenteDigital.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(componenteDigital.id) > -1 || hasExcluded">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container *ngIf="displayedColumns.indexOf('id') > -1 && displayedColumns.indexOf('documento.id') === -1" matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('id')"> Id
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}">
                        {{componenteDigital.id}}
                    </td>
                </ng-container>

                <!-- Id Documento Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documento.id') > -1" matColumnDef="documento.id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('documento.id')"> Id
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.documento.id) > -1, 'error': getProp(deletingErrors, componenteDigital.documento.id)}">
                        {{componenteDigital.documento.id}}
                    </td>
                </ng-container>

                <!-- NUP Column -->
                <ng-container matColumnDef="documento.juntadaAtual.volume.processo.NUP">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [disabled]="getSort('documento.juntadaAtual.volume.processo.NUP')">
                        NUP
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='NUP: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}">
                        {{componenteDigital.documento?.juntadaAtual?.volume?.processo?.NUP}}
                    </td>
                </ng-container>

                <!-- JuntadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documento.juntadaAtual.criadoPor.nome') > -1" matColumnDef="documento.juntadaAtual.criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('documento.juntadaAtual.criadoPor.nome')">
                        Juntado Por
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Juntado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.documento?.juntadaAtual?.criadoPor?.nome  | titleCasePipe}} </td>
                </ng-container>

                <!-- JuntadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documento.juntadaAtual.criadoEm') > -1" matColumnDef="documento.juntadaAtual.criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('documento.juntadaAtual.criadoEm')">
                        Juntado Em
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Juntado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.documento.juntadaAtual.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- TipoDocumento Column -->
                <ng-container *ngIf="displayedColumns.indexOf('documento.tipoDocumento') > -1"
                              matColumnDef="documento.tipoDocumento">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [disabled]="getSort('documento.tipoDocumento')">
                        Tipo de Documento
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Tipo de Documento: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}">
                        {{componenteDigital.documento?.tipoDocumento?.nome  | titleCasePipe}}
                    </td>
                </ng-container>

                <!-- Editavel Column -->
                <ng-container *ngIf="displayedColumns.indexOf('editavel') > -1" matColumnDef="editavel">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('editavel')">
                        Editável
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Editável: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}">
                        <mat-checkbox [disabled]="true" [checked]="componenteDigital.editavel"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- Assinado Column -->
                <ng-container *ngIf="displayedColumns.indexOf('assinado') > -1" matColumnDef="assinado">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('assinado')">
                        Assinado
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Assinado: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}">
                        <mat-checkbox [disabled]="true" [checked]="componenteDigital.assinado"></mat-checkbox>
                    </td>
                </ng-container>

                <!-- FileName Column -->
                <ng-container *ngIf="displayedColumns.indexOf('fileName') > -1" matColumnDef="fileName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('fileName')">
                        Arquivo
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Arquivo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.fileName  | titleCasePipe}} </td>
                </ng-container>

                <!-- NumeracaoSequencial Column -->
                <ng-container *ngIf="displayedColumns.indexOf('numeracaoSequencial') > -1"
                              matColumnDef="numeracaoSequencial">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('numeracaoSequencial')">
                        Numeração Sequencial
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Numeração Sequencial: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.numeracaoSequencial}} </td>
                </ng-container>

                <!-- Tamanho Column -->
                <ng-container *ngIf="displayedColumns.indexOf('tamanho') > -1" matColumnDef="tamanho">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('tamanho')">
                        Tamanho
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Tamanho: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.tamanho}} </td>
                </ng-container>

                <!-- NivelComposicao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('nivelComposicao') > -1" matColumnDef="nivelComposicao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('nivelComposicao')">
                        Nível Composição
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Nível Composição: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.nivelComposicao}} </td>
                </ng-container>

                <!-- SoftwareCriacao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('softwareCriacao') > -1" matColumnDef="softwareCriacao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('softwareCriacao')">
                        Software de Criação
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Software de Criação: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.softwareCriacao  | titleCasePipe}} </td>
                </ng-container>

                <!-- ChaveInibidor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('chaveInibidor') > -1" matColumnDef="chaveInibidor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('chaveInibidor')">
                        Chave Inibidor
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Chave Inibidor: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.chaveInibidor}} </td>
                </ng-container>

                <!-- VersaoSoftwareCriacao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('versaoSoftwareCriacao') > -1"
                              matColumnDef="versaoSoftwareCriacao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('versaoSoftwareCriacao')">
                        Versão do Software de Criação
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Versão do Software de Criação: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.versaoSoftwareCriacao}} </td>
                </ng-container>

                <!-- Mimetype Column -->
                <ng-container *ngIf="displayedColumns.indexOf('mimetype') > -1" matColumnDef="mimetype">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('mimetype')">
                        Mimetype
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Mimetype: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.mimetype  | titleCasePipe}} </td>
                </ng-container>

                <!-- Extensao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('extensao') > -1" matColumnDef="extensao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('extensao')">
                        Extensão
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Extensão: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.extensao  | titleCasePipe}} </td>
                </ng-container>

                <!-- DataHoraSoftwareCriacao Column -->
                <ng-container *ngIf="displayedColumns.indexOf('dataHoraSoftwareCriacao') > -1"
                              matColumnDef="dataHoraSoftwareCriacao">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [disabled]="getSort('dataHoraSoftwareCriacao')">
                        Data Software Criação
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Data Software Criação: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.dataHoraSoftwareCriacao?.toDate() | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- ModalidadeAlvoInibidor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('modalidadeAlvoInibidor.valor') > -1"
                              matColumnDef="modalidadeAlvoInibidor.valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [disabled]="getSort('modalidadeAlvoInibidor.valor')">
                        Modalidade Alvo Inibidor
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Modalidade Alvo Inibidor: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.modalidadeAlvoInibidor?.valor  | titleCasePipe}} </td>
                </ng-container>

                <!-- ModalidadeTipoInibidor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('modalidadeTipoInibidor.valor') > -1"
                              matColumnDef="modalidadeTipoInibidor.valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                        [disabled]="getSort('modalidadeTipoInibidor.valor')">
                        Modalidade Tipo Inibidor
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Modalidade Tipo Inibidor: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.modalidadeTipoInibidor?.valor | titleCasePipe}} </td>
                </ng-container>

                <!-- Modelo Column -->
                <ng-container *ngIf="displayedColumns.indexOf('modelo.nome') > -1" matColumnDef="modelo.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('modelo.nome')">
                        Modelo
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line' data-label='Modelo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.modelo?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- OrigemDados Column -->
                <ng-container *ngIf="displayedColumns.indexOf('origemDados') > -1" matColumnDef="origemDados">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('origemDados')">
                        Origem dos Dados
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Origem dos Dados: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.origemDados.fonteDados | titleCasePipe}} </td>
                </ng-container>

                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('criadoPor.nome')">
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Criado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.criadoPor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('criadoEm')">
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Criado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- AtualizadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1"
                              matColumnDef="atualizadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('atualizadoPor.nome')">
                        Atualizado Por
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Atualizado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.atualizadoPor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- AtualizadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('atualizadoEm')">
                        Atualizado Em
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Atualizado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.atualizadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- ApagadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoPor.nome') > -1" matColumnDef="apagadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('apagadoPor.nome')">
                        Apagado Por
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Apagado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.apagadoPor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- ApagadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('apagadoEm') > -1" matColumnDef="apagadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="getSort('apagadoEm')">
                        Apagado Em
                    </th>
                    <td mat-cell *matCellDef="let componenteDigital" class='has_label_on_mobile no-line'
                        data-label='Apagado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(componenteDigital.id) > -1, 'error': getProp(deletingErrors, componenteDigital.id)}"> {{componenteDigital.apagadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let componenteDigital" class='no-line'>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1 && !hasExcluded"
                                (click)="selectComponenteDigital(componenteDigital)"
                                [disabled]="saving"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('view') > -1 && !hasExcluded"
                                (click)="viewComponenteDigital(componenteDigital)"
                                aria-label="visualizar"
                                matTooltip="Visualizar">
                            <mat-icon>remove_red_eye</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1"
                                [disabled]="deletedIds?.indexOf(componenteDigital.id) > -1 && !hasExcluded"
                                (click)="editComponenteDigital(componenteDigital)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('abrirOutraAba') > -1"
                                [disabled]="deletedIds?.indexOf(componenteDigital.id) > -1 && !hasExcluded"
                                (click)="visualizarProcessoNovaAba(componenteDigital)"
                                aria-label="visualizar processo"
                                matTooltip="Visualizar Processo em Nova Aba">
                            <mat-icon>open_in_new</mat-icon>
                        </button>

                        <span class="spinner-container m-8" *ngIf="deletingIds?.indexOf(componenteDigital.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </span>

                        <span *showIfRole="'ROLE_COLABORADOR'">
                            <button mat-icon-button
                                    *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(componenteDigital.id) === -1 && !hasExcluded"
                                    [disabled]="deletedIds?.indexOf(componenteDigital.id) > -1"
                                    (click)="deleteComponenteDigital(componenteDigital.id)"
                                    aria-label="remover"
                                    matTooltip="Remover">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>

                    </td>
                </ng-container>

                <!-- highlights Column -->
                <ng-container matColumnDef="highlights">
                    <td mat-cell *matCellDef="let componenteDigital" [attr.colspan]="displayedColumns.length" style="padding: 0 !important;">
                        <div class="resumo" [innerHTML]="componenteDigital.highlights | safeHtml"></div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let componenteDigital; columns: displayedColumns;"></tr>
                <tr mat-row *matRowDef="let componenteDigital; columns: ['highlights'];"></tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[10, 25]" showFirstLastButtons="true"></mat-paginator>
        </div>

    </div>

</div>
