<!-- SIDEBAR HEADER -->
<div class="header">
    <mat-icon class="mr-8">book</mat-icon>
    <span class="h5">Edição</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="nav material2">
        <div class="nav-item" *ngFor="let link of links">
            <a class="nav-link" matRipple [routerLink]="[link.link]"
               *ngIf="(link.canShow === undefined || (link.canShow(this.processo$) | async) === true) && (link.role === undefined || this._loginService.isGranted(link.role))"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                <span class="title">{{link.nome}}</span>
            </a>
        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->
