<div class="page-layout carded left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="pesquisa-main-sidebar" position="left" lockedOpen="gt-sm">

        <!-- SIDEBAR CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <pesquisa-main-sidebar [@animate]="{value:'*'}"></pesquisa-main-sidebar>
        </div>
        <!-- / SIDEBAR CONTENT -->

    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        (click)="toggleSidebar('pesquisa-main-sidebar')" fxHide.gt-sm>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="content">
                <router-outlet></router-outlet>
            </div>

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
