<div class="header">
    <path icone="person"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="usuarios">
    </path>
</div>
<cdk-usuario-grid
    [loading]="(loading$ | async)"
    [usuarios]="(usuarios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="displayedColumns"
    [actions]="actions"
    (reload)="reload($event)"
    (create)="create()"
    (edit)="edit($event)"
    (lotacoes)="lotacoes($event)"
    (afastamentos)="afastamentos($event)"
    (coordenadores)="coordenadores($event)"
    (resetaSenhaColaborador)="resetaSenha($event)"
    (delete)="delete($event)"
    (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-usuario-grid>
