<div id="certificado" fxLayout="column">

    <div id="certificado-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="certificado-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img [src]="_cdkConfigService.logo">
            </div>

            <div class="body">Houve um erro no carregamento do certificado digital!</div>

            <div class="subtitle">
                Lamentamos pelo inconveniente. <br> Recarrege o sistema aqui para tentar novamente.
            </div>

        </div>

    </div>

</div>
