<div class="header">
    <path icone="subject"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="localizadores">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-localizador-form
        [localizador]="localizador"
        [setor]="(setor$ | async)"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [setorPagination]="setorPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-localizador-form>
</div>