<div class="header">
    <path icone="add_comment"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="repositorios">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-repositorio-form
        [repositorio]="repositorio"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [setorPagination]="setorPagination"
        [modalidadeRepositorioPagination]="modalidadeRepositorioPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-repositorio-form>
</div>
