<div class="header">
    <path icone="local_activity"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="especie-atividades">
    </path>
</div>
<cdk-especie-atividade-grid
    [loading]="(loading$ | async)"
    [especieAtividades]="(especieAtividades$ | async)"
    [total]="(pagination$ | async)?.total"
    [displayedColumns]="['id', 'nome', 'descricao', 'generoAtividade.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create', 'showInatived']"
    (inatived)="inatived($event)"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()">
</cdk-especie-atividade-grid>
