<div [@animateStagger]="{value:'50'}">

    <div class="loading" *ngIf="loading">
        <mat-spinner class="visibilidade-list-loading" diameter="32"></mat-spinner>
    </div>

    <div class="items" cdkPerfectScrollbar *ngIf="!loading">
        <cdk-visibilidade-list-item matRipple *ngFor="let visibilidade of visibilidades" [visibilidade]="visibilidade"
                                    [tipoRelatorio]="tipoRelatorio"
                                    [deleting]="deletingIds.length > 0 && deletingIds.indexOf(visibilidade.id) > -1"
                                    [total]="visibilidades.length"
                                    [adminCount]="adminCount"
                                    (delete)="doDeleteVisibilidade($event)"
                                    [@animate]="{value:'*',params:{y:'100%'}}">
        </cdk-visibilidade-list-item>
    </div>
</div>

<div class="no-visibilidades-text" *ngIf="visibilidades && visibilidades.length === 0 && !loading" class="no-items">
    <span class="hint-text">{{ 'ACESSO LIBERADO' }}</span>
</div>

