cdk-modelo-form {
    height: 100%;

    form {
        width: 100%;
    }

    .form-card {
        border-radius: 8px;
    }

    .form-errors-model {
        flex: 1;

        code {
            background: none !important;
        }
    }

    cdk-template-gridsearch {
        width: 100%;
    }
}
