form {
    width: 100%;
}
.title {
    margin-bottom: -10px !important;
    padding-left: 17px;
    padding-top: 17px;

    h2 {
        font-size: 13px;
        font-weight: bold;
    }
}

.actions {
    width: 100%;

    .back {
        margin-right: auto;
    }
}

.page-layout {
    height: 100%;
    width: 100%;
}

.tree {
    height: 100%;
    width: 100%;
    padding: 13px 44px 13px 13px;
    border: 1px solid #CCC;
}

.mat-tree-node {
    max-width: 600px;
}

.title-arvore {
    margin-bottom: 9px !important;
    font-size: 2.2rem !important;
    padding: 8px;
}

.bt-alterar-classificacao {
    margin-top: -31px;
}

.selectedItem {
    background: #009EE0;
    color: #FFF;
}

.form-tree {
    padding: 0 15px 14px 18px;
}

.form-pesquisa {
    padding: 17px 15px 14px 18px;
}

.bt-search {
    position: absolute;
    right: 13px;
    bottom: 0px;
    color: #565656;
}
#pesquisa {
    width: 100%;
    padding: 17px 22px 0px 18px;
}


