documento-edit-visibilidade {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    > .visibilidade-actions {
        flex: 0 0 auto;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .responsive-grid .content {
        height: 0 !important;
    }
}
