<div>
    <div *ngIf="titulo === 'tarefas'" class="content p-8" fxLayout="column">
        <h3><strong>CRIANDO TAREFAS</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            A noção central do fluxo de trabalho no sistema é a <strong>tarefa</strong>.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Um usuário abre uma tarefa para outro usuário quando necessitar que uma ou mais <strong>atividades</strong> sejam realizadas, em um dado prazo.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Existem várias maneiras de criar uma tarefa.
        </p>
        <h3 style="text-align: justify;text-indent: 20px">
            <strong>Criando uma tarefa na página de cadastramento de processos</strong>
        </h3>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            Para cadastrar tarefas nesse caso, é necessário que já se tenha cadastrado pelo menos um <strong>assunto</strong> e pelo menos um <strong>interessado</strong>.
            Essa é uma forma de não deixar o processo ser esquecido e perder prazos.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Tarefas</strong>
        </p>
        <p style="text-align: center;margin-left: 40px">
            <img src="assets/images/ajuda/processotarefas.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. A página de tarefas é aberta. É possível ver a lista de tarefas já cadastradas no NUP ou escolher um novo assunto a partir do botão <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Apertando no botão Novo, indique a <strong>Esp&eacute;cie de Tarefa</strong>. Clique na Lupa
            <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">se precisar buscar
            entre o registro de Processos ou Esp&eacute;cie de Tarefa.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Você pode buscar dentre as suas Tarefas favoritas clicando na Estrela
            <img src="assets/images/ajuda/estrela.png" style="width: 25px;"class="fr-fic fr-dii">.
            Caso você não tenha tarefas favoritas, o sistema sugerirá automaticamente as cinco tarefas mais
            utilizadas pelo usuário. Além disso, se houver a necessidade de abrir um bloco de tarefas, você
            pode clicar no botão: <img src="assets/images/ajuda/blocoprocessos.png" style="text-align: center;width: 189px; height: 31px;" class="fr-fic fr-dii">
            para determinar a abertura da mesma tarefa para vários processos.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            4. Indique a <strong>Unidade, Setor e Usuário</strong> responsável
            pela nova tarefa. Novamente, você pode clicar na Lupa
            <img src="assets/images/ajuda/lupa.png"class="fr-fic fr-dii"> se
            precisar pesquisar qual a unidade, setor ou usuário responsável.
        </p>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Caso não saiba apontar um Usuário
            responsável específico pela nova tarefa, ou quiser que o sistema determine automaticamente o responsável,
            você pode clicar no botão:
            <img src="assets/images/ajuda/distribuicaoautomatica.png" style="width: 212px; height: 30px;"
                class="fr-fic fr-dii">para que o sistema realize esta distribuição.<br>
            Para saber mais sobre distribuição automática <a href="javascript:void(0)" (click)="carregar('distribuicaoautomatica')">clique aqui</a>
        </p>
        <p style="text-align: justify;margin-left: 40px">
            5. Indique <strong>Início</strong> e <strong>Final</strong> de prazo da nova Tarefa. Por padrão o
            sistema, indica um prazo de cinco dias corridos.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Indique o <strong>Setor de Origem</strong> da Tarefa. O Setor de Origem por padrão é o Setor
            atualmente responsável pelo Processo, porém o usuário pode indicar um dos setores onde ele
            se encontra atualmente lotado.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            7. Indique uma <strong>Observação</strong> para a nova Tarefa, se desejar.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            8. Clique em <strong>Salvar</strong>.
        </p>
        <hr>

        <h3 style="text-align: justify;text-indent: 20px">
            <strong>Criando uma tarefa a partir da página de tarefas</strong>
        </h3>

        <p style="text-align: justify;margin-left: 40px">
            1. No menu lateral esquerdo, para criar, por exemplo, uma <strong>tarefa administrativa</strong> clique em
            <strong>Tarefas</strong>>;
            <strong>Administrativas</strong>:
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            2. Na nova tela, clique em <strong>Criar</strong>:
        </p>
        <p style="text-align: center;">
            <img src="assets/images/ajuda/criartarefa2.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
        </p>
        <p style="text-align: justify;margin-left: 40px">
            3. Indique o <strong>número</strong> do Processo
            e a <strong>Espécie de Tarefa</strong>. Clique na Lupa
            <img src="assets/images/ajuda/lupa.png" class="fr-fic fr-dii">se precisar buscar
            entre o registro de Processos ou Espécie
            de Tarefa.
        </p>
        <hr>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Você pode buscar dentre as suas Tarefas favoritas clicando na Estrela
            <img src="assets/images/ajuda/estrela.png" style="width: 25px;"class="fr-fic fr-dii">.
            Caso você nâo tenha tarefas favoritas, o sistema sugerirá automaticamente as cinco tarefas mais
            utilizadas pelo usuário. Além disso, se houver a necessidade de abrir um bloco de tarefas, você
            pode clicar no botão:
            <img src="assets/images/ajuda/blocoprocessos.png" style="width: 189px; height: 31px;" class="fr-fic fr-dii">para
            determinar a abertura da mesma tarefa para vários processos.
        </p>
        <hr>
        <p style="text-align: justify;margin-left: 40px">
            4. Indique a <strong>Unidade, Setor e Usuário</strong> responsável
            pela nova tarefa. Novamente, você pode clicar na Lupa
            <img src="assets/images/ajuda/lupa.png"class="fr-fic fr-dii"> se
            precisar pesquisar qual a unidade, setor ou usuário responsável.</p>
        <hr>
        <p style="background-color: #d3d3d3;margin-left: 40px">
            Caso não saiba apontar um Usuário responsável específico pela nova tarefa, ou quiser que o sistema determine automaticamente o responsável,
            você pode clicar no botão:
            <img src="assets/images/ajuda/distribuicaoautomatica.png" style="width: 212px; height: 30px;" class="fr-fic fr-dii">
            para que o sistema realize esta distribuição.
        </p>
        <hr>
        <p style="text-align: justify;margin-left: 40px">
            5. Indique <strong>Início</strong> e <strong>Final</strong> de prazo da nova Tarefa. Por padrão o
            sistema, indica um prazo de cinco dias corridos.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            6. Indique o <strong>Setor de Origem</strong> da Tarefa. O Setor de Origem por padrão é o Setor
            atualmente responsável pelo Processo, porém o usuário pode indicar um dos setores onde ele
            se encontra atualmente lotado.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            7. Indique uma <strong>Observação</strong> para a nova Tarefa, se desejar.
        </p>
        <p style="text-align: justify;margin-left: 40px">
            8. Clique em <strong>Salvar</strong>.
        </p>
        <hr>
        <div style="background-color: #d3d3d3;text-indent: 20px">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p>
                Caso o processo esteja com alguma <strong>Tramita&ccedil;&atilde;o Externa</strong> em andamento, a abertura da Tarefa <strong>n&atilde;o</strong> ser&aacute; realizada.
            </p>
            <p>
                Em um NUP arquivado, só tarefas do gênero <strong>arquivístico</strong> podem ser criadas. Para liberação, solicite o <strong>desarquivamento por tarefa</strong>
            </p>
            <p>
                ELIMINAR PROCESSO/DOCUMENTO AVULSO e RECOLHER PROCESSO/DOCUMENTO AVULSO AO ARQUIVO DEFINITIVO são tarefas de uso exclusivo dos <strong>Arquivistas</strong>.
            </p>
            <p>
                MANTER SOB GUARDA TEMPORÁRIA NO ARQUIVO CORRENTE e RECOLHER PROCESSO/DOCUMENTO AVULSO AO ARQUIVO DEFINITIVO são tarefas que exigem a <strong>tramitação interna</strong> para o setor de <strong>Arquivo</strong>.
            </p>
            <p>
                Um NUP anexado/apensado a outro NÃO permite a abertura de tarefas. Abra as <strong>tarefas</strong> no NUP <strong>principal</strong>.
            </p>
            <p>
                Existem unidades que só podem receber as tarefas pelo seu <strong>Protocolo</strong>. Sendo assim, as tarefas <strong>NÃO</strong> podem ser mandadas diretamente para os usuários lotados em tal unidade.
            </p>
            <p>
                Quando o NUP é <strong>restrito</strong> e o usuário NÃO possui poderes para visualizá-lo, ele NÃO consegue abrir uma <strong>tarefa</strong>. O acesso deve ser concedido antes da abertura da tarefa.
            </p>
            <p>
                Apenas o usuário da tarefa pode modificá-la.<br><br>
            </p>
            <p>
                Em uma tarefa já concluída, NÃO é possível modificação.<br><br>
            </p>
            <p>
                Uma tarefa que já contém <strong>atividades</strong> NÃO pode ser excluída.<br><br>
            </p>
            <p>
                Caso NÃO seja informado um usuário responsável, o sistema vai utilizar a <strong>distribuição automática</strong> para a tarefa.
            </p>
        </div>
        <div style="background-color: #d3d3d3">
            <p style="text-align: justify;margin-left: 40px">
                <strong>Para maiores informações:</strong>
            </p>
        </div>
        <div class="row" style="background-color: #d3d3d3">
            <div class="column">
                <ul>
                    <li><a href="javascript:void(0)" (click)="carregar('assuntos')">Assuntos</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('interessados')">Interessados</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('tramitacoes')">Tramitações</a></li>
                </ul>
            </div>
            <div class="column">
                <ul>
                    <li><a href="javascript:void(0)" (click)="carregar('sigilos')">Sigilos</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('visibilidades')">Restrições de Acesso</a></li>
                    <li><a href="javascript:void(0)" (click)="carregar('tarefaeditbloco')">Edição de Tarefas em Bloco</a></li>
                </ul>
            </div>
        </div>
        <p><br></p>

        <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>

        <h4>Apresentação do Painel de Tarefas Administrativas</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/9yiJ31dk7H4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Detalhes do Painel de Tarefas Administrativas</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/iWhuNgmJj0U" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>

        <h4>Como criar uma tarefa?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/MuK5GgSPQ20" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como editar uma tarefa?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/OO1gU0kiQGI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como editar tarefas em lote</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/C-T4qcBDa8I" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como incluir etiqueta em uma tarefa</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/o3pE91V1-so" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como redistribuir uma tarefa</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/KxAiAxV7UVQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Compartilhamento de tarefas</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/OZwbK29oHMM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como apagar uma tarefa</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/lHQeXwmd7Uo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Tarefas - Parte 1</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/-R7Y1KvxokQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Tarefas - Parte 2</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/sBkWrtSm56o" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Tarefas - Parte 3</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/qGpP_NBadj4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Tarefas - Parte 4</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/5P9Wbv2bp58" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como inserir uma minuta</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/l4TQwsLGNGo" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como submeter uma minuta à aprovação</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/RTbEeLKE8zM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como criar anexos a uma minuta</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/Ah1HAEphNtM" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como assinar uma minuta - assinatura eletrônica</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/GJy6FxWvwgk" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como converter uma minuta em PDF</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/tw_zN1SDdHA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como desentranhar um documento de um processo</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/j4529bhyu-Q" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como compartilhar uma minuta/tarefa com outros usuários</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/5V4z5nwbfWg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como criar um ofício a partir de uma tarefa </h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/5iXKdE3Ibro" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>


    </div>
    <div *ngIf="titulo === 'assuntos'">
        <ajuda-assuntos></ajuda-assuntos>
        <a href="javascript:void(0)" (click)="carregar('tarefas')">Voltar ao <strong>Criar Tarefas</strong></a>
    </div>
    <div *ngIf="titulo === 'interessados'">
        <ajuda-interessados></ajuda-interessados>
        <a href="javascript:void(0)" (click)="carregar('tarefas')">Voltar ao <strong>Criar Tarefas</strong></a>
    </div>
    <div *ngIf="titulo === 'tramitacoes'">
        <ajuda-tramitacoes></ajuda-tramitacoes>
        <a href="javascript:void(0)" (click)="carregar('tarefas')">Voltar ao <strong>Criar Tarefas</strong></a>
    </div>
    <div *ngIf="titulo === 'sigilos'">
        <ajuda-sigilos></ajuda-sigilos>
        <a href="javascript:void(0)" (click)="carregar('tarefas')">Voltar ao <strong>Criar Tarefas</strong></a>
    </div>
    <div *ngIf="titulo === 'visibilidades'">
        <ajuda-visibilidades></ajuda-visibilidades>
        <a href="javascript:void(0)" (click)="carregar('tarefas')">Voltar ao <strong>Criar Tarefas</strong></a>
    </div>
    <div *ngIf="titulo === 'tarefaeditbloco'">
        <ajuda-tarefa-edit-bloco></ajuda-tarefa-edit-bloco>
        <a href="javascript:void(0)" (click)="carregar('tarefas')">Voltar ao <strong>Criar Tarefas</strong></a>
    </div>
</div>
