@import "@cdk/scss/cdk";
@import "../../../scss/partials/cdk-form";

cdk-login-dialog {
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    @include media-breakpoint('xs') {
        padding: 8px;
    }

    .login-form {
        width: 384px;
        max-width: 384px;
        padding-right: 32px;
        padding-left: 32px;
        text-align: center;

        @include media-breakpoint('xs') {
            padding: 24px;
            width: 100%;
        }

        .logo {
            max-width: 280px;
            max-height: 125px;
            margin: 32px auto;
            height: auto;
            width: 100%;
            img {
                max-height: 125px;
            }
        }

        .title {
            font-size: 20px;
            margin: 8px 0 32px 0;
        }

        form {
            width: 100%;
            text-align: left;

            mat-form-field {
                width: 100%;
            }

            mat-checkbox {
                margin: 0;
            }

            .remember-forgot-password {
                font-size: 13px;
                margin-top: 8px;

                .remember-me {
                    margin-bottom: 8px
                }

                .forgot-password {
                    font-size: 13px;
                    font-weight: 600;
                    margin-bottom: 8px
                }
            }

            mat-radio-group {
                display: flex;
                flex-direction: row;
                padding: 8px;

                mat-radio-button {
                    margin-right: 8px;
                }
            }

            .submit-button {
                width: 220px;
                margin: 8px auto;
                display: block;

                @include media-breakpoint('xs') {
                    width: 90%;
                }
            }

            .gov-br {
                border-radius: 100em;
                border-width: 1px;
                border-style: solid;
                strong{
                    vertical-align: top;
                    font-size: 13px;
                }
            }
        }

        .register {
            margin: 32px auto 24px auto;
            font-weight: 600;

            .text {
                margin-right: 8px;
            }
        }

        .separator {
            font-size: 15px;
            font-weight: 600;
            margin: 24px auto;
            position: relative;
            overflow: hidden;
            width: 100px;

            .text {
                display: inline-flex;
                position: relative;
                padding: 0 8px;
                z-index: 9999;

                &:before,
                &:after {
                    content: '';
                    display: block;
                    width: 30px;
                    position: absolute;
                    top: 10px;
                    border-top: 1px solid;
                }

                &:before {
                    right: 100%;
                }

                &:after {
                    left: 100%;
                }
            }
        }

        button {

            &.google,
            &.facebook {
                width: 192px;
                text-transform: none;
                color: #FFFFFF;
                font-size: 13px;
            }

            @include media-breakpoint('xs') {
                width: 80%;
            }

            &.google {
                background-color: #D73D32;
                margin-bottom: 8px;
            }

            &.facebook {
                background-color: rgb(63, 92, 154);
            }
        }
    }
}
