<h1 mat-dialog-title>Sessão expirada</h1>
<div class="login-form" [@animate]="{value:'*', params:{duration:'300ms',y:'100px'}}"
     *ngIf="!loadingConfig && config && !config.error">
    <div class="logo">
        <img [src]="config.logo">
    </div>

    <div class="title mb-8">{{config.name | uppercase}}</div>

    <div class="subtitle mb-8">{{config.environment | uppercase}}</div>

    <form name="form" [formGroup]="form" novalidate>

        <mat-form-field appearance="outline">
            <mat-label>{{form.get('tipoLogin').value === 'ldap' ? 'E-mail' : 'CPF'}}</mat-label>
            <input matInput ui-mask="999.999.999-99" formControlName="username">
            <mat-icon matSuffix class="secondary-text">person</mat-icon>
            <mat-error *ngIf="form.get('username').hasError('required')">
                {{form.get('tipoLogin').value === 'ldap' ? 'E-mail' : 'CPF'}} é obrigatório
            </mat-error>
            <mat-error
                *ngIf="!form.get('username').hasError('required') &&
                                form.get('username').hasError('username')">
                Entre com um {{form.get('tipoLogin').value === 'ldap' ? 'E-mail' : 'CPF'}} válido
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="password" formControlName="password">
            <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
            <mat-error>
                Senha é obrigatório
            </mat-error>
        </mat-form-field>

        <div *ngIf="errorMessage" fxLayout="row" fxLayout.xs="column"
             fxLayoutAlign="center">
            <mat-error>
                {{errorMessage}}
            </mat-error>
        </div>

        <button *ngIf="config.tiposLogin.includes('login_ldap_ativo') || config.tiposLogin.includes('login_interno_ativo')" (click)="onSubmit(form.value)" mat-raised-button color="accent" class="submit-button"
                aria-label="login"
                [disabled]="form.invalid">
            Login {{!!config.ldap && form.get('tipoLogin').value === 'ldap' ? config.ldap : ''}}
        </button>

        <a *ngIf="config.tiposLogin.includes('login_govbr_ativo') && config.govBR?.client_id" mat-raised-button
           [href]="config.govBR?.sso_url+'/authorize?response_type=code&client_id='+config.govBR?.client_id+'&scope=openid+email+phone+profile+govbr_confiabilidades&redirect_uri='+config.govBR?.redirect_uri"
           class="submit-button gov-br" aria-label="entrar com gov.br">
            Entrar com <strong>gov.br</strong>
        </a>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center">
            <mat-progress-bar [mode]="'indeterminate'" *ngIf="loading"></mat-progress-bar>
        </div>
    </form>

    <div class="subtitle mb-8">{{config.version}}</div>
</div>
