modelo-edit-anexos {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .documentos-vinculados {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0;

        .responsive-grid .content {
            height: 0 !important;
        }

        ng-template {
            display: flex;
            flex: 1 1 auto;
        }
    }
}
