<div class="documentos-vinculados mb-48">
    <h3 style="font-weight: bold">Anexos</h3>

    <button mat-mini-fab
            class="ml-8 mb-8 active accent add-file-button"
            [matMenuTriggerFor]="moreMenu" aria-label="Criar Documento"
            (click)="$event.stopPropagation()">
        <mat-icon class="secondary-text">attach_file</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
        <button mat-menu-item aria-label="upload de anexo"
                (click)="upload()">
            <ng-container>
                <mat-icon>picture_as_pdf</mat-icon>
                <span>Upload</span>
            </ng-container>
        </button>
        <ng-template #dynamicComponent></ng-template>
    </mat-menu>

    <cdk-documento-card-list [documentos]="(documentosVinculados$ | async)"
                             [deletingId]="(deletingDocumentosVinculadosId$ | async)"
                             [assinandoId]="(assinandoDocumentosVinculadosId$ | async)"
                             [removendoAssinaturaId]="(removendoAssinaturaDocumentosVinculadosId$ | async)"
                             [saving]="(isSavingDocumentosVinculados$ | async)"
                             [loading]="(isLoadingDocumentosVinculados$ | async)"
                             [documentosPagination]="pagination"
                             (delete)="doDeleteDocumentoVinculado($event)"
                             (deleteBlocoEmmitter)="doDeleteBloco($event)"
                             (assinatura)="doAssinaturaDocumentoVinculado($event)"
                             (assinaturaBloco)="doAssinaturaBloco($event)"
                             (removeAssinatura)="doRemoveAssinatura($event)"
                             (clicked)="onClickedDocumentoVinculado($event)"
                             (getMore)="paginaDocumentosVinculados()"
                             (changedSelectedIds)="changedSelectedDocumentosVinculadosId($event)">
    </cdk-documento-card-list>

    <cdk-componente-digital-card-list #ckdUpload
                                      [documentoOrigem]="(documento$ | async)"
                                      (completed)="onCompleteDocumentoVinculado()"
                                      (completedAll)="onCompleteAllDocumentosVinculados()">
    </cdk-componente-digital-card-list>
</div>
