<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-8">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-24" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            search
        </mat-icon>
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtros</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="py-16" cdkPerfectScrollbar>

    <form class="p-8 mb-8" fxLayoutGap="8px" fxLayout="column" fxLayoutAlign="start"
          name="form" [formGroup]="form">

        <div fxFlex="1 0 auto" fxLayout="column">

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Processo"
                           formControlName="processo"
                           [matAutocomplete]="processo.autocomplete">
                </div>
                <cdk-processo-autocomplete
                    #processo="processoAutocomplete"
                    [control]="form.get('processo')">
                </cdk-processo-autocomplete>
            </mat-form-field>

            <mat-form-field fxFlex="100">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <input matInput placeholder="Unidade"
                           formControlName="setorOrigem"
                           [matAutocomplete]="setor.autocomplete">
                </div>
                <cdk-setor-autocomplete
                    #setor="setorAutocomplete"
                    [control]="form.get('setorOrigem')">
                </cdk-setor-autocomplete>
            </mat-form-field>

            <mat-form-field class="mr-sm-12">
                <mat-label>Data da Remessa</mat-label>
                <input matInput formControlName="dataHoraRemessa" [matDatetimepicker]="dataHoraRemessa">
                <mat-datetimepicker-toggle matSuffix [for]="dataHoraRemessa"></mat-datetimepicker-toggle>
                <mat-datetimepicker #dataHoraRemessa type="datetime" openOnFocus="true" timeInterval="5">
                </mat-datetimepicker>
            </mat-form-field>

        </div>

        <div fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
             fxLayoutAlign="center center">
            <button mat-raised-button color="accent" class="mr-sm-12"
                    [disabled]="(filters | json) === '{}'" (click)="pesquisar()">
                Pesquisar
            </button>
            <button mat-raised-button color="warn" class="mr-sm-12"
                    (click)="limpar()">
                Limpar
            </button>
        </div>
    </form>
</div>
<!-- / SIDEBAR CONTENT -->
