<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome" required maxlength="255" upperCase>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descrição" formControlName="descricao" maxlength="255" required upperCase>
    </mat-form-field>

    <mat-card class="criteria mb-8 p-8">
        <mat-card-subtitle>Critérios</mat-card-subtitle>

        <mat-card-content>
            <button class="accent" mat-icon-button *ngIf="!showFormCriteria"
                    (click)="doCreateCriteria()"
                    aria-label="novo"
                    matTooltip="Novo critério">
                <mat-icon>add</mat-icon>
            </button>

            <cdk-criteria-form class="mb-8" *ngIf="showFormCriteria"
                               [especieCriteriaList]="especieCriteriaList"
                               [setorRecebidoPagination]="setorRecebidoPagination"
                               [unidadeRecebidoPagination]="unidadeRecebidaPagination"
                               [usuarioRecebidoPagination]="usuarioRecebidoPagination"
                               [assuntoAdministrativoPagination]="assuntoAdministrativoPagination"
                               (save)="submitCriteria($event)"
                               (abort)="cancelFormCriteria()">
            </cdk-criteria-form>

            <cdk-criteria-list [(criterias)]="criterias">
            </cdk-criteria-list>

        </mat-card-content>
    </mat-card>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" type="submit" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

    <div>{{form.errors}}</div>

</form>
