@import "../../../scss/partials/cdk-form";

cdk-regra-etiqueta-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    mat-radio-group {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;

        &.horizontal {
            flex-direction: row;
        }

        &.vertical {
            flex-direction: column;
        }
    }

    mat-radio-button {
        margin-right: 10px;
    }

    > .criteria {
        display: flex;
        flex: 1 1 auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        align-content: flex-start;
    }
}
