<!-- CONTENT -->
<div class="content">

    <h2>Atividade em bloco de tarefas</h2>

    <div class="upload">
        <cdk-minutas-atividade-card-list *ngIf="operacoes.length === 0"
                                         [documentos]="minutas"
                                         [selectedIds]="(selectedIds$ | async)"
                                         [deletingId]="(deletingDocumentosId$ | async)"
                                         [assinandoId]="(assinandoDocumentosId$ | async)"
                                         [convertendoId]="(convertendoDocumentosId$ | async)"
                                         [alterandoId]="(alterandoDocumentosId$ | async)"
                                         [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                         [downloadId]="(downloadP7SDocumentosId$ | async)"
                                         [disabledSelects]="disabledIds"
                                         [loading]="(isLoading$ | async)"
                                         (delete)="doDelete($event)"
                                         (deleteBlocoEmmitter)="doDeleteBloco($event)"
                                         (assinatura)="doAssinatura($event)"
                                         (assinaturaBloco)="doAssinaturaBloco($event)"
                                         (removeAssinatura)="doRemoveAssinatura($event)"
                                         (converte)="doConverte($event)"
                                         (converteHtml)="doConverteHtml($event)"
                                         (downloadP7S)="doDownloadP7S($event)"
                                         (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                         (clicked)="onClicked($event)"
                                         (changedSelectedIds)="changedSelectedIds($event)">
        </cdk-minutas-atividade-card-list>
    </div>

    <cdk-atividade-form [hidden]="operacoes.length > 0"
                        [atividade]="atividade"
                        [blocoTarefasFavorito]="tarefas"
                        [especieAtividadePagination]="especieAtividadePagination"
                        [form]="form"
                        [temMinutas]="!!selectedMinutas.length"
                        [saving]="(isSaving$ | async)"
                        [errors]="(errors$ | async)"
                        (changeEncerramentoTarefa)="changeEncerramentoTarefa($event)"
                        (save)="submit($event)"
                        (abort)="doAbort()">
    </cdk-atividade-form>

    <mat-list *ngIf="operacoes.length > 0">
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'grey-50': operacao.status === 0, 'light-green-50': operacao.status === 1, 'pink-50': operacao.status > 1}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>
</div>

<router-outlet></router-outlet>
