<!-- CONTENT -->
<div class="content">

    <h2>Compartilhamento em bloco de tarefas</h2>

    <h3>{{(tarefas$ | async)?.length}} tarefa(s) selecionada(s) </h3>

    <cdk-compartilhamento-form *ngIf="operacoes.length === 0"
            [compartilhamento]="compartilhamento"
            [valid]="(tarefas$ | async)?.length > 0"
            [saving]="(isSaving$ | async)"
            [usuarioPagination]="usuarioPagination"
            [setoresPagination]="setorPagination"
            [grupoContatoPagination]="grupoContatoPagination"
            (save)="submit($event)"
            (abort)="doAbort()">
    </cdk-compartilhamento-form>

    <mat-list *ngIf="operacoes.length > 0">
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'grey-50': operacao.status === 0, 'light-green-50': operacao.status === 1, 'pink-50': operacao.status > 1}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>

    <div class="actions" *ngIf="operacoes.length > 0 && operacoesPendentes.length === 0">
        <button mat-raised-button color="warn" type="button" (click)="doAbort()">
            VOLTAR
        </button>
    </div>

</div>
