<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Sequência" formControlName="numeracaoSequencial" maxlength="255" required>
    </mat-form-field>

    <mat-form-field>
            <input matInput placeholder="Nome do Arquivo" formControlName="fileName" maxlength="255" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Software" formControlName="softwareCriacao" maxlength="255">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Versão do Software" formControlName="versaoSoftwareCriacao" maxlength="255">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Extensão" formControlName="extensao" maxlength="255" readonly>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Tamanho" formControlName="tamanho" maxlength="255" readonly>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

