<!-- SIDEBAR HEADER -->
<div class="header p-24">
    <mat-icon class="mr-8">language</mat-icon>
    <span class="h5">{{(this.orgaoCentral$ | async)?.valor}}</span>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar
     *ngIf="this.routerState.params.unidadeHandle !== 'default' && this.routerState.params.unidadeHandle !== 'criar'">
    <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_ORGAO_CENTRAL'">
        <div class="nav-subheader pl-8 mt-0">
            <span>COORDENAÇÃO DE UNIDADE</span>
        </div>
        <div class="nav-subheader pl-8 mt-0 mb-6">
            <mat-icon>location_city</mat-icon>
            <span>{{(this.unidade$ | async)?.nome}}</span>
        </div>

        <div class="nav-item" *ngFor="let link of links">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/coordenador/nacional/' + this.routerState.params.entidadeHandle + '/unidades/'
                        + this.routerState.params.unidadeHandle + '/' + link.link"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">{{ link.icon }}</mat-icon>
                <span class="title">{{link.nome}}</span>
            </a>
        </div>
        <div class="nav-item" *ngIf="((this.unidade$ | async)?.numeracaoDocumentoUnidade)">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/coordenador/nacional/' + this.routerState.params.entidadeHandle + '/unidades/'
                       + (this.unidade$ | async).id + '/' + 'numeros-unicos-documentos'"
               [routerLinkActive]="['active', 'accent']">
                <mat-icon class="nav-link-icon">filter_9_plus</mat-icon>
                <span>Números Únicos Documentos</span>
            </a>
        </div>
    </div>
</div>

