<div *ngIf="titulo === 'arquivista videos'">
    <p><br></p>
    <h4><strong>VÍDEOS COMPLEMENTARES</strong></h4>

    <h4>Pronto para transferência, Pronto para Eliminação, Pronto para Recolhimento, Aguardando decurso e Pendência de análise</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/bmdrNOXE0Sc" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Aguardando decurso (opções Lembrete e Classificação) </h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/DrHWPqGbhN8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Pendência de análise (opções Lembrete e Classificação)</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/wt_gvGD2120" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Pronto para transferência</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/6u6ngZYE0aw" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Temporalidades e Destinações - Parte 1</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/p_zYWrYl6pI" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Temporalidades e Destinações - Parte 2</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/NDYQv73rkvY" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Transferência</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/67sVs6u6R_g" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Desarquivamento</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/qz_zCBsWrH4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Eliminação</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/sk8vaot60pc" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Recolhimento</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/v192jvnDORk" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Extravio</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/ozIIzpizIII" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Abertura de tarefas arquivísticas</h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/wYymxsXVWDg" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>

    <h4>Tratamento pelo usuário arquivista </h4>
    <iframe width="400" height="225"
            src="https://www.youtube.com/embed/dHqaITtmkgA" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
    </iframe>
    <p><br></p>
</div>