<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Processo Vinculado" [readonly]="!!vinculacaoProcesso.id"
               formControlName="processoVinculado"
               [matAutocomplete]="processoVinculado.autocomplete" required
               (blur)="checkProcessoVinculado()">
        <cdk-processo-autocomplete
            #processoVinculado="processoAutocomplete"
            [control]="form.get('processoVinculado')"
            [pagination]="processoVinculadoPagination">
        </cdk-processo-autocomplete>
        <button *ngIf="form.get('processoVinculado').enabled" matSuffix mat-button mat-icon-button
                (click)="showProcessoVinculadoGrid()" [disabled]="!!vinculacaoProcesso.id">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('processoVinculado').hasError('formError')">
            {{form.get('processoVinculado').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Modalidade"
               formControlName="modalidadeVinculacaoProcesso"
               [matAutocomplete]="modalidadeVinculacaoProcesso.autocomplete" required [readonly]="!!vinculacaoProcesso.id"
               (blur)="checkModalidadeVinculacaoProcesso()">
        <cdk-modalidade-vinculacao-processo-autocomplete
            #modalidadeVinculacaoProcesso="modalidadeVinculacaoProcessoAutocomplete"
            [control]="form.get('modalidadeVinculacaoProcesso')"
            [pagination]="modalidadeVinculacaoProcessoPagination">
        </cdk-modalidade-vinculacao-processo-autocomplete>
        <button *ngIf="form.get('modalidadeVinculacaoProcesso').enabled" matSuffix mat-button mat-icon-button
                (click)="showModalidadeVinculacaoProcessoGrid()" [disabled]="!!vinculacaoProcesso.id">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeVinculacaoProcesso').hasError('formError')">
            {{form.get('modalidadeVinculacaoProcesso').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="checkAnexacao" (change)="checaCiencia($event)"
                      *ngIf="form.get('modalidadeVinculacaoProcesso').value && form.get('modalidadeVinculacaoProcesso').value.valor === 'ANEXAÇÃO'">
        Estou ciente de que estes processos serão juntados para sempre e não poderão mais ser separados.
    </mat-slide-toggle>

    <mat-form-field>
            <textarea formControlName="observacao"
                      matInput placeholder="Observação" maxlength="255" upperCase></textarea>
        <mat-error *ngIf="form.get('observacao').hasError('formError')">
            {{form.get('observacao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-processo-gridsearch
    *ngIf="activeCard === 'processo-vinculado-gridsearch'"
    [pagination]="processoVinculadoPagination"
    (selected)="selectProcessoVinculado($event)"
    (cancel)="cancel()">
</cdk-processo-gridsearch>

<cdk-modalidade-vinculacao-processo-gridsearch
    *ngIf="activeCard === 'modalidade-vinculacao-processo-gridsearch'"
    [pagination]="modalidadeVinculacaoProcessoPagination"
    (selected)="selectModalidadeVinculacaoProcesso($event)"
    (cancel)="cancel()">
</cdk-modalidade-vinculacao-processo-gridsearch>
