<mat-autocomplete (closed)="fechado()" [displayWith]="displayVinculacaoPessoaUsuarioFn">
    <mat-option *ngFor="let vinculacaoPessoaUsuario of vinculacaoPessoaUsuarioList"
                [value]="vinculacaoPessoaUsuario">
        <span [innerHTML]="displayVinculacaoPessoaUsuarioFn(vinculacaoPessoaUsuario) | highlightOption: this.control.value"></span>
    </mat-option>
    <mat-option *ngIf="vinculacaoPessoaUsuarioListIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
