@import "../../../scss/cdk";

cdk-historico-timeline {

    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 8px;

    .historico-timeline {

        height: 100%;
        width: 100%;
        box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
        border-radius: 8px;
        overflow: hidden;
        display: flex;
        flex-direction: column;

        mat-divider {
            border-top-width: 1px;
            border-top-style: solid;
            margin: 32px 0;
        }

        .timeline-sidebar {

            @include media-breakpoint('lt-md') {
                padding: 32px 0 0 0;
            }

            .latest-activity {

                .content {

                    .activities {

                        .activity {
                            padding: 8px 0;

                            .avatar {
                                margin-right: 8px;
                            }

                            .username {
                                font-weight: 600;
                            }

                            .message {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }
        }
    }

    // Profile boxes
    .processo-box {
        border-radius: 4px;
        overflow: hidden;
        margin-bottom: 8px;
        @include mat-elevation(2);

        header {
            padding: 8px;

            .title {
                font-size: 17px;
            }

            .more {
                cursor: pointer;
            }
        }

        .content {
            padding: 8px;
        }

        footer {
            padding: 8px;
            border-top: 1px solid;
        }

        &.info-box {

            .info-line {
                margin-bottom: 24px;

                .title {
                    font-size: 15px;
                    font-weight: 600;
                    padding-bottom: 4px;
                }

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
