<div class="header">
    <path icone="add_comment"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="repositorios">
    </path>
</div>
<cdk-repositorio-grid
        [loading]="(loading$ | async)"
        [repositorios]="(repositorios$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [mode]="'search'"
        [actions]="['create', 'edit', 'editConteudo', 'delete', 'showInatived']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (inatived)="inatived($event)"
        (edit)="edit($event)"
        (editConteudo)="editConteudo($event)"
        (create)="create()"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-repositorio-grid>

<router-outlet></router-outlet>
