documento-avulso-main-sidebar {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;

    > .header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8px;

        .logo {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .logo-text {
                font-size: 22px;
                line-height: 22px;
            }
        }
    }

    .nav .nav-subheader {
        white-space: unset !important;
        margin-bottom: 8px;
    }
}
