<!-- SIDEBAR HEADER -->
<div class="header mt-8 mb-8">
    <div class="logo" fxLayout="row" fxLayoutAlign="start center">
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Ofícios</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>

    <div class="nav material2">
        <div *ngFor="let pessoaConveniada of pessoasConveniadas">
            <div class="nav-subheader">{{ pessoaConveniada.pessoa.nome }}</div>

            <div class="nav-item" dndDropzone (dndDrop)="onDrop([$event, null])">
                <a class="nav-link" matRipple [routerLink]="'/apps/oficios/entrada/' + pessoaConveniada.pessoa.id"
                   [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                    <mat-icon class="nav-link-icon">inbox</mat-icon>
                    <span>Entrada</span>
                </a>
            </div>

            <div class="nav-item" dndDropzone (dndDrop)="onDrop([$event, null])">
                <a class="nav-link" matRipple [routerLink]="'/apps/oficios/saida/' + pessoaConveniada.pessoa.id"
                   [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                    <mat-icon class="nav-link-icon">sendbox</mat-icon>
                    <span>Saída</span>
                </a>
            </div>
        </div>

    </div>
</div>
<!-- / SIDEBAR CONTENT -->
