<!-- CONTENT -->
<div class="content">

    <h2>Upload em bloco de minutas</h2>

    <h3>{{tarefaPrincipal ? 1 + tarefasBloco.length : 0}} tarefa(s) selecionada(s) </h3>

    <button mat-mini-fab
            class="m-4 active accent"
            [disabled]="!tarefaPrincipal"
            (click)="upload()" aria-label="upload">
        <mat-icon class="secondary-text">attach_file</mat-icon>
    </button>

    <cdk-componente-digital-card-list #ckdUpload
                                      [tarefaOrigem]="tarefaPrincipal"
                                      [uploadMode]="'linear'"
                                      [tarefaOrigemBloco]="tarefasBloco"
                                      (startedUpload)="onStartedUpload()"
                                      (completedAll)="onCompleteAll()"
                                      (completed)="onComplete($event)">
    </cdk-componente-digital-card-list>

    <mat-list *ngIf="operacoes.length > 0" fxFlex>
        <h3 matSubheader>
            <span>Resultado do Bloco</span>
        </h3>

        <mat-list-item *ngFor="let operacao of operacoes">
            <p matLine class="mb-4 p-8 secondary-text"
               [ngClass]="{'light-green-50': operacao.success, 'pink-50': !operacao.success}">{{operacao.content}}</p>
        </mat-list-item>
    </mat-list>

</div>
