<!-- CONTENT HEADER -->
<div class="header">
    <div class="actions">
        <button mat-icon-button
                class="accent"
                (click)="criarVisibilidade()"
                aria-label="novo"
                matTooltip="Novo">
            <mat-icon>add</mat-icon>
        </button>
    </div>
</div>
<!-- / CONTENT HEADER -->
<div class="content">
    <cdk-visibilidade-list
            [loading]="(loading$ | async)"
            [visibilidades]="(visibilidades$ | async)"
            [tipoRelatorio]="true"
            [deletingIds]="(deletingIds$ | async)"
            [deletingErrors]="(deletingErrors$ | async)"
            [deletedIds]="(deletedIds$ | async)"
            [actions]="['delete', 'showDeleted']"
            (reload)="reload($event)"
            (delete)="delete($event)"
            (deleteBlocoEmmitter)="deleteBloco($event)">
    </cdk-visibilidade-list>
</div>
