<div class="content">
    <mat-icon class="s-32 mb-16 select-tarefa-icon hint-text" *ngIf="(screen$ | async)?.size === 'desktop'"
              [@animate]="{value:'*',params:{delay:'300ms',scale:'0.2'}}">check_box
    </mat-icon>
    <span class="hint-text mat-h2 select-tarefa-text" *ngIf="(screen$ | async)?.size === 'desktop'"
          [@animate]="{value:'*',params:{delay:'400ms'}}">Selecione uma tarefa</span>

    <mat-spinner diameter="24" *ngIf="(screen$ | async)?.size !== 'desktop'"></mat-spinner>
</div>
