<div class="content p-8" fxLayout="column">
    <h3><strong>OFÍCIOS</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        Dentro de um fluxo de trabalho, muitas vezes é necessário interagir com outras Pessoas ou Instituições que não utilizam o sistema, de modo que a abertura de uma Tarefa é inviável.<br><br>
        Em outros cenários, a partir de um fluxo de trabalho, surge a necessidade de iniciar um novo fluxo de trabalho, em um novo NUP, como por exemplo, para solicitação de cálculos ou subsídios.<br><br>
        Nesses esses casos, os ofícios são indispensáveis.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Existem 2 maneiras de criar ofícios no sistema.
    </p>
    <h3><strong>Criando OFÍCIOS na página de cadastramento do NUP</strong></h3>
    <p style="text-align: justify;margin-left: 40px">
        1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Oficios</strong>
    </p>
    <p style="text-align: center;margin-left: 40px">
         <img src="assets/images/ajuda/processovinculacoes.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. A página de vinculações é aberta. A lista de vinculações aparece no centro da página.
    </p>
    <p style="text-align: justify;">
        3. É possível adicionar vinculações, a partir do botão <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
        Ao clicar nele, a página de criação de vinculações é aberta.
    </p>
    <p style="text-align: justify;">
        4. Para realizar novas vinculações, necessariamente devem ser informados o NUP a ser vinculado e a modalidade de vinculação.
    </p>
    <button type="button" class="collapsible mb-4" (click)="Collapsible()">Modalidades?</button>
    <div class="colapsable">
        ANEXAÇÃO é a união <strong>definitiva e irreversível</strong> de um ou mais processos/documentos avulsos a outro processo/documento avulso considerado principal, <strong>desde que pertencentes ao um mesmo interessado que contenham o mesmo assunto</strong>.<br><br>
        Após a anexação, os documentos que estavam juntados no processo/documento avulso vinculado são migrados de forma definitiva para o processo principal. Todos os andamentos passam a ocorrer apenas no processo principal, sendo o vinculado encerrado.<br><br>
        APENSAMENTO é a união provisória de um ou mais processos/documentos avulsos a um processo/documento avulso mais antigo, mantendo cada um a sua numeração específica, destinada ao estudo e à uniformidade de tratamento em matéria semelhante, com o mesmo interessado ou não.<br><br>
        Para realizar o apensamento é necessário que ambos os NUPs estejam no mesmo setor atual e, após isso, passam a tramitar conjuntamente. Ou seja, ao tramitar o NUP principal para outro setor, o NUP apensado será tramitado conjuntamente.<br><br>
        REMISSÃO é a mera referência a outro NUP, por necessidade gerencial, sem qualquer consequência para os documentos ou tramitações. Podem estar em setores e até em unidades diferentes. Em suma, é apenas um apontamento no sentido de que o outro NUP, de alguma forma, se correlaciona com o principal.<br><br>
    </div>
    <p style="background-color: #d3d3d3;">
        Há um filtro que permite visualizar as tarefas daquele NUP que porventura tenham sido apagadas, uma informação que pode ser gerencialmente importante.
    </p>
</div>
