ajuda-documentos-avulsos{
    p {
        text-align: left;
    }
    img {
        max-width: 256px;
    } 
    /* Style the button that is used to open and close the collapsible content */
	.collapsible {
		background-color: #1d75b3;
		color: #ffffff;
		cursor: pointer;
		padding: 18px;
		width: 100%;
		border: none;
		text-align: left;
		outline: none;
		font-size: 15px;
	}

	/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
	.active, .collapsible:hover {
		background-color: #64bde0;
	}

	/* Style the collapsible content. Note: hidden by default */
	.colapsable {
		padding: 0 18px;
			display: none;
		overflow: hidden;
		background-color: #b7e1f1;
			margin-left: 5px;
		} 
    .collapsible:after {
        content: '\02795'; /* Unicode character for "plus" sign (+) */
        font-size: 13px;
        color: #ffffff;
        float: right;
        margin-left: 5px;
    }
	    
	  .active:after {
	    content: "\2796"; /* Unicode character for "minus" sign (-) */
	  }
}
