<div *ngIf="titulo === 'relatorios'">
    <h3><strong>Relatório</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Os relatórios são uma "foto" do banco de dados. Assim, no momento de retirada do relatórios, o sistema irá recolher os dados existentes naquele período de tempo.
      Uma eventual mudança pode acontecer no banco de dados após a retirada do relatório, o que não tira a fidedignidade daqueles dados retirados naquele exato momento.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      O módulo de Relatórios é acessível por meio do painel de controle, no submenu Módulos
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/menurelatorios.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
   </p>
    <p style="text-align: justify;text-indent: 20px">
      A tela aberta possui um MENU a esquerda em que é possível criar novos relatórios.
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/menurelatorios2.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
   </p>
    <p style="text-align: justify;text-indent: 20px">
      No menu central constam todos os Relatórios já extraídos pelo usuário, por ordem cronológica.
      Ou seja, desde que não sejam apagados pelo usuário, os Relatórios anteriores estarão disponíveis para consulta.
    </p>
        <p style="text-align: justify;text-indent: 20px">
      Após clicar no botão de criação de relatórios, no menu a direita aparecem as opções a serem preenchidas.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Os Relatórios existentes são classificados inicialmente por Gênero:
    </p>
      <ul>
        <li>Gerencial: relatórios para os gestores, com informações acerca da produtividade, repercussão, força de trabalho, etc.</li>
        <li>Operacional: relatórios para os usuários de forma geral, com informações acerca de tarefas, atividades, tramitações, etc.</li>
        <li>Sistema: relatórios para consultas de tabelas do sistema, etc.</li>
      </ul>
    <p>
      Para cada gênero, há ainda a subdivisão por Espécie e finalmente por tipo.
      Após localizar o relatório desejado, o usuário deverá preencher os parâmetros que forem solicitados.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Uma vez preenchidos os parâmetros e salvo o relatório, haverá o processamento e a inclusão do mesmo para consulta no grid de relatórios.
      O formato do relatório é HTML ou EXCEL, cabendo ao usuário a impressão em PDF, ou a exportação para uma planilha de dados, se assim desejar.
    </p>
    <br>

    <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>
    <h4>Como criar relatórios</h4>
    <iframe width="400" height="225"
      src="https://www.youtube.com/embed/zI3ukS-A45w" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
      allowfullscreen>
    </iframe>
    <p><br></p>
</div>
