<mat-card class="scrollable-content">
    <mat-card-header>
        <mat-icon class="s-52" mat-card-avatar>info</mat-icon>
        <mat-card-title>Avisos</mat-card-title>
        <mat-card-subtitle>Informações relevantes</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="p-24" fxLayout="column" *ngIf="avisoIsLoading" fxLayoutAlign="center center">
            <mat-spinner diameter="72"></mat-spinner>
            <div class="h3 font-weight-500">
                Carregando
            </div>
        </div>
        <h3 *ngIf="!avisoIsLoading && !avisos?.length">
            Nenhum aviso disponível!
        </h3>
        <mat-list *ngIf="avisos?.length > 0">
            <mat-list-item *ngFor="let aviso of avisos">
                <mat-icon matTooltip={{this.getTooltip(aviso.vinculacoesAvisos[0])}} mat-list-icon>{{this.getIcon(aviso.vinculacoesAvisos[0])}}</mat-icon>
                <div mat-line class="descricao">{{aviso.descricao}}</div>
                <div mat-line>{{this.getTooltip(aviso.vinculacoesAvisos[0]) + ' - '}}
                    {{aviso.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm'}}
                </div>
            <mat-divider></mat-divider>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
