documento-edit-juntada {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;

    > .documento-edit-juntada {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0;

        .responsive-grid .content {
            height: 0 !important;
        }
    }
}