<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Modalidade"
               formControlName="modalidadeColaborador"
               [matAutocomplete]="modalidadeColaborador.autocomplete"
               (blur)="checkModalidadeColaborador()"
               required>
        <cdk-modalidade-colaborador-autocomplete
            #modalidadeColaborador="modalidadeColaboradorAutocomplete"
            [control]="form.get('modalidadeColaborador')"
            [pagination]="modalidadeColaborador">
        </cdk-modalidade-colaborador-autocomplete>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('modalidadeColaborador')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeColaboradorGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeColaborador').hasError('formError')">
            {{form.get('modalidadeColaborador').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Cargo"
               formControlName="cargo"
               [matAutocomplete]="cargo.autocomplete"
               (blur)="checkCargo()"
               required>
        <cdk-cargo-autocomplete
            #cargo="cargoAutocomplete"
            [control]="form.get('cargo')"
            [pagination]="cargoPagination">
        </cdk-cargo-autocomplete>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('cargo')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showCargoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('cargo').hasError('formError')">
            {{form.get('cargo').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>
    <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
            (click)="showLogEntryGrid('ativo')">
        <mat-icon matTooltip="Histórico">history</mat-icon>
    </button>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>


<cdk-modalidade-colaborador-gridsearch
    *ngIf="activeCard === 'modalidade-colaborador-gridsearch'"
    (selected)="selectModalidadeColaborador($event)"
    (cancel)="cancel()">
</cdk-modalidade-colaborador-gridsearch>

<cdk-cargo-gridsearch
    *ngIf="activeCard === 'cargo-gridsearch'"
    (selected)="selectCargo($event)"
    (cancel)="cancel()">
</cdk-cargo-gridsearch>

<cdk-logentry-gridsearch
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>
