@import "src/@cdk/scss/cdk";

validacao-assinatura {
    flex: 1 1 auto;
    display: flex;

    > .page-layout {
        flex: 1 1 auto;
        display: flex;

        > .center {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            > .header {
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;

                height: 72px !important;
                min-height: 72px !important;
                max-height: 72px !important;
            }

            > .content-card {

                flex: 1 1 auto;
                display: flex;

                > .content {

                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;

                    iframe {
                        border: 0px;
                    }
                }
            }
        }
    }
}
