processo-edit {
    display: flex;
    flex: 1 1 auto;
    width: 100%;

    > .page-layout {
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;

        > .center {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            width: 100%;

            > .header {
                flex: 0 1 auto;
                display: flex;

                .actions {
                    margin-left: auto;
                    margin-right: 8px;
                }
            }

            > .content {
                flex: 1 1 auto;
                display: flex;
                height: 0;
            }
        }
    }
}
