<div class="header accent">
    <div class="buttons">
        <button mat-icon-button class="toggle-sidebar-folded"
                (click)="toggleSidebarLock()" fxHide.lt-lg>
            <mat-icon>format_list_bulleted</mat-icon>
        </button>
        <button mat-icon-button class="toggle-sidebar-opened"
                (click)="toggleSidebarOpen()" fxHide.gt-md>
            <mat-icon>arrow_forward</mat-icon>
        </button>
    </div>
    <div class="logo">
        <span class="logo-text">Últimas Operações</span>
    </div>
</div>

<div class="header">
    <mat-checkbox class="ml-8 mb-4" (click)="toggleSelectAll($event)"
                  [checked]="!!selectedIds.length"
                  [indeterminate]="isIndeterminate">
    </mat-checkbox>

    <div class="toolbar-separator" *ngIf="selectedIds?.length"></div>

    <button mat-icon-button [matMenuTriggerFor]="moreMenu"
            aria-label="Ferramentas" (click)="$event.stopPropagation()"
            *ngIf="selectedIds?.length > 1">
        <mat-icon class="secondary-text">more_vert</mat-icon>
    </button>

    <mat-menu #moreMenu="matMenu">
        <button mat-menu-item aria-label="refazer selecionadas"
                (click)="doRefazerBloco()">
            <ng-container>
                <mat-icon>redo</mat-icon>
                <span>Refazer Selecionadas</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="desfazer selecionadas"
                (click)="doDesfazerBloco()">
            <ng-container>
                <mat-icon>undo</mat-icon>
                <span>Desfazer Selecionadas</span>
            </ng-container>
        </button>
    </mat-menu>

    <div class="operacoes-list-control" fxLayout="row" fxLayoutAlign="start center">
        <mat-form-field class="colunas mr-8" aria-label="campos" matTooltip="Campos">
            <mat-select [formControl]="filtros">
                <div>
                    <mat-option class="quick-panel-filter" value="todas">Ver Todas</mat-option>
                    <mat-option class="quick-panel-filter" value="1">Apenas sucesso</mat-option>
                    <mat-option class="quick-panel-filter" value="2">Apenas com erros</mat-option>
                    <mat-option class="quick-panel-filter" value="3">Apenas canceladas</mat-option>
                </div>
            </mat-select>
        </mat-form-field>

        <div class="toolbar-separator"></div>

        <div *ngIf="!(loteAtual$ | async)">
            {{displayedOperacoes ? displayedOperacoes.length : 0}}/{{operacoes.length}}
        </div>

        <div *ngIf="(loteAtual$ | async)">
            {{displayedOperacoes ? displayedOperacoes.length : 0}}/{{operacoesLoteAtual.length}}
        </div>

    </div>
</div>

<mat-progress-bar *ngIf="operacoesPendentes > 0" mode="determinate"
                  [value]="(operacoesProcessando * 100) / operacoesPendentes"></mat-progress-bar>

<div class="content" cdkPerfectScrollbar>
    <div *ngIf="!(loteAtual$ | async)" class="operacoes">
        <mat-card class="mt-8 ml-8 mr-8" *ngFor="let operacao of displayedOperacoes">
            <mat-card-title>
                <div class="card-header">
                    <div class="check">
                        <mat-checkbox class="pr-8 pb-8" [checked]="selectedIds.indexOf(operacao.id) !== -1"
                                      (change)="toggleInSelected(operacao.id)"
                                      (click)="$event.stopPropagation();">
                        </mat-checkbox>
                    </div>
                    <span class="secondary-text pre-wrap">{{operacao.type | titleCasePipe}}</span>
                    <span *ngIf="operacao.status === 0"><mat-spinner [diameter]="16"></mat-spinner></span>
                    <span *ngIf="operacao.status === 1"><mat-icon>check</mat-icon></span>
                    <span *ngIf="operacao.status === 2"><mat-icon class="warn">clear</mat-icon></span>
                    <span *ngIf="operacao.status === 3"><mat-icon>cancel</mat-icon></span>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="card-content">
                    <span class="secondary-text">{{operacao.content}}</span>
                    <span
                        class="mt-8 card-date secondary-text">{{operacao.dateTime?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}</span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="card-actions">
                    <div class="button" *ngIf="operacao.status >= 2 && operacao.redo">
                        <button mat-icon-button class="secondary-text" matTooltip="Refazer" (click)="refazer(operacao)">
                            <mat-icon>redo</mat-icon>
                            Refazer
                        </button>
                    </div>
                    <div class="button" *ngIf="operacao.status === 1 && operacao.undo">
                        <button mat-icon-button class="secondary-text" matTooltip="Desfazer" (click)="desfazer(operacao)">
                            <mat-icon>undo</mat-icon>
                            Desfazer
                        </button>
                    </div>
                    <div class="button" *ngIf="operacao.lote">
                        <button mat-icon-button class="secondary-text" matTooltip="Ver Lote" (click)="verLote(operacao.lote)">
                            <mat-icon>all_inbox</mat-icon>
                            Ver Lote
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    <div *ngIf="(loteAtual$ | async)" class="operacoes">
        <mat-card class="mt-8 ml-8 mr-8">
            <mat-card-title>
                <div class="card-header">
                    <span class="secondary-text">Exibindo Lote: {{loteAtual.id}}</span>
                </div>
            </mat-card-title>
            <mat-card-actions>
                <div class="card-actions">
                    <div class="button">
                        <button mat-icon-button class="secondary-text" matTooltip="Voltar" (click)="verOperacoes()">
                            <mat-icon>arrow_left</mat-icon>
                            Voltar
                        </button>
                    </div>
                    <div class="button" *ngIf="operacoesRefazerLoteAtual.length > 0">
                        <button mat-icon-button class="secondary-text" matTooltip="Refazer Lote" (click)="refazerLoteAtual()">
                            <mat-icon>redo</mat-icon>
                            Refazer Lote
                        </button>
                    </div>
                    <div class="button" *ngIf="operacoesDesfazerLoteAtual.length > 0">
                        <button mat-icon-button class="secondary-text" matTooltip="Desfazer Lote" (click)="desfazerLoteAtual()">
                            <mat-icon>undo</mat-icon>
                            Desfazer Lote
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mt-8 ml-8 mr-8" *ngFor="let operacao of displayedOperacoes">
            <mat-card-title>
                <div class="card-header">
                    <div class="check">
                        <mat-checkbox class="pr-8 pb-8" [checked]="selectedIds.indexOf(operacao.id) !== -1"
                                      (change)="toggleInSelected(operacao.id)"
                                      (click)="$event.stopPropagation();">
                        </mat-checkbox>
                    </div>
                    <span class="secondary-text">{{operacao.type | titleCasePipe}}</span>
                    <span *ngIf="operacao.status === 0"><mat-spinner [diameter]="16"></mat-spinner></span>
                    <span *ngIf="operacao.status === 1"><mat-icon>check</mat-icon></span>
                    <span *ngIf="operacao.status === 2"><mat-icon class="warn">clear</mat-icon></span>
                    <span *ngIf="operacao.status === 3"><mat-icon>cancel</mat-icon></span>
                </div>
            </mat-card-title>
            <mat-card-content>
                <div class="card-content">
                    <span class="secondary-text">
                        {{operacao.content}}
                    </span>
                    <span class="mt-8 card-date secondary-text">
                        {{operacao.dateTime?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}}
                    </span>
                </div>
            </mat-card-content>
            <mat-card-actions>
                <div class="card-actions">
                    <div class="button" *ngIf="operacao.status >= 2 && operacao.redo">
                        <button mat-icon-button class="secondary-text" matTooltip="Refazer" (click)="refazer(operacao)">
                            <mat-icon>redo</mat-icon>
                            Refazer
                        </button>
                    </div>
                    <div class="button" *ngIf="operacao.status === 1 && operacao.undo">
                        <button mat-icon-button class="secondary-text" matTooltip="Desfazer" (click)="desfazer(operacao)">
                            <mat-icon>undo</mat-icon>
                            Desfazer
                        </button>
                    </div>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>
