<div class="oficios">
    <div class="upload">
        <button mat-mini-fab aria-label="Criar Ofício"
                class="m-4 active accent"
                (click)="oficio()">
            <mat-icon class="secondary-text">mail</mat-icon>
        </button>

        <cdk-documento-card-list [documentos]="oficios"
                                 [deletingId]="(deletingDocumentosId$ | async)"
                                 [assinandoId]="(assinandoDocumentosId$ | async)"
                                 [convertendoId]="(convertendoDocumentosId$ | async)"
                                 [alterandoId]="(alterandoDocumentosId$ | async)"
                                 [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                 (delete)="doDelete($event)"
                                 (deleteBloco)="doDeleteBloco($event)"
                                 (verResposta)="doVerResposta($event)"
                                 (assinaturaBloco)="doAssinaturaBloco($event)"
                                 (assinatura)="doAssinatura($event)"
                                 (converte)="doConverte($event)"
                                 (converteHtml)="doConverteHtml($event)"
                                 (clicked)="onClicked($event)"
                                 (changedSelectedIds)="changedSelectedIds($event)"
                                 (removeAssinatura)="doRemoveAssinatura($event)"
                                 (alterarTipoDocumento)="doAlterarTipoDocumento($event)">
        </cdk-documento-card-list>
    </div>
</div>

<router-outlet></router-outlet>

