<div class="header">
    <path icone="low_priority"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="classificacoes">
    </path>
</div>
<cdk-classificacao-tree-form
    [classificacao]="(classificacao$ | async)"
    [classificacaoPagination]="classificacaoPagination"
    [formClassificacao]="formClassificacao"
    [saving]="(isSaving$ | async)"
    [errors]="(errors$ | async)"
    (save)="submitClassificacao($event)"
    (abort)="doAbort()"
>
</cdk-classificacao-tree-form>
