<div class="header">
    <path icone="tune"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="usuarios">
    </path>
</div>
<cdk-coordenador-grid
    [loading]="(loading$ | async)"
    [coordenadores]="(coordenadores$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'usuario.nome', 'orgaoCentral.valor', 'unidade.nome', 'setor.nome', 'actions']"
    [actions]="['create', 'edit', 'delete']"
    [usuarioPagination]="usuarioPagination"
    [orgaoCentralPagination]="orgaoCentralPagination"
    [unidadePagination]="unidadePagination"
    [setorPagination]="setorPagination"
    (reload)="reload($event)"
    (create)="create()"
    (edit)="edit($event)">
</cdk-coordenador-grid>
