cdk-acao-list {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .header-a {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;
    }

    > .content-a {

        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        overflow-y: auto;

        > .loading {
            flex: 1 1 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        > .items {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
        }

        > .no-acoes-text {
            display: flex;
            flex: 1 1 auto;
            justify-content: center;
            align-items: center;
        }

    }
}
