<div class="header">
    <path icone="event_busy"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="usuario">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-afastamento-form
        [afastamento]="afastamento"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [usuario]="(usuario$ | async)"
        [modalidadeAfastamentoPagination]="modalidadeAfastamentoPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-afastamento-form>
</div>