<div>
    <div *ngIf="titulo === 'protocolos'" class="content p-8" fxLayout="column">
        <h3><strong>CRIANDO PROTOCOLOS</strong></h3>
        <div style="background-color: #d3d3d3;text-indent: 20px">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p>
                Caso o processo esteja com alguma <strong>Tramita&ccedil;&atilde;o Externa</strong> em andamento, a abertura da Tarefa <strong>n&atilde;o</strong> ser&aacute; realizada.
            </p>
            <p>
                Em um NUP arquivado, só protocolo do gênero <strong>arquivístico</strong> podem ser criadas. Para liberação, solicite o <strong>desarquivamento por tarefa</strong>
            </p>
            <p>
                ELIMINAR PROCESSO/DOCUMENTO AVULSO e RECOLHER PROCESSO/DOCUMENTO AVULSO AO ARQUIVO DEFINITIVO são protocolo de uso exclusivo dos <strong>Arquivistas</strong>.
            </p>
            <p>
                MANTER SOB GUARDA TEMPORÁRIA NO ARQUIVO CORRENTE e RECOLHER PROCESSO/DOCUMENTO AVULSO AO ARQUIVO DEFINITIVO são protocolo que exigem a <strong>tramitação interna</strong> para o setor de <strong>Arquivo</strong>.
            </p>
            <p>
                Um NUP anexado/apensado a outro NÃO permite a abertura de protocolo. Abra as <strong>protocolo</strong> no NUP <strong>principal</strong>.
            </p>
            <p>
                Existem unidades que só podem receber as protocolo pelo seu <strong>Protocolo</strong>. Sendo assim, as protocolo <strong>NÃO</strong> podem ser mandadas diretamente para os usuários lotados em tal unidade.
            </p>
            <p>
                Quando o NUP é <strong>restrito</strong> e o usuário NÃO possui poderes para visualizá-lo, ele NÃO consegue abrir uma <strong>tarefa</strong>. O acesso deve ser concedido antes da abertura da tarefa.
            </p>
            <p>
                Apenas o usuário da tarefa pode modificá-la.<br><br>
            </p>
            <p>
                Em uma tarefa já concluída, NÃO é possível modificação.<br><br>
            </p>
            <p>
                Uma tarefa que já contém <strong>atividades</strong> NÃO pode ser excluída.<br><br>
            </p>
            <p>
                Caso NÃO seja informado um usuário responsável, o sistema vai utilizar a <strong>distribuição automática</strong> para a tarefa.
            </p>
        </div>
    </div>
</div>
