modelos-especie-setor {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    > .modelos-especie-setor-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        > .content {
            display: flex;
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}
