<div class="header" *ngIf="!(expandir$ | async)">
    <div class="actions">
        <button *ngIf="mobileMode" mat-icon-button (click)="deselectCurrentProcesso()">
            <mat-icon class="secondary-text">arrow_back</mat-icon>
        </button>

        <button *ngIf="!mobileMode && !(maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado(true)">
            <mat-icon class="secondary-text">fullscreen</mat-icon>
        </button>

        <button *ngIf="!mobileMode && (maximizado$ | async)" mat-icon-button (click)="doToggleMaximizado(false)">
            <mat-icon class="secondary-text">fullscreen_exit</mat-icon>
        </button>

        <cdk-vinculacao-etiqueta-chips [vinculacoesEtiquetas]="(processo$ | async).vinculacoesEtiquetas"
                                       (create)="onEtiquetaCreate($event)"
                                       (edit)="onEtiquetaEdit($event)"
                                       [savingVinculacaoEtiquetaId]="(savingVinculacaoEtiquetaId$ | async)"
                                       [errors]="(errors$ | async)"
                                       [pagination]="vinculacaoEtiquetaPagination"
                                       (delete)="onEtiquetaDelete($event)"></cdk-vinculacao-etiqueta-chips>

        <button mat-icon-button aria-label="Processo" matTooltip="Processo"
                [routerLink]="['processo', (processo$ | async)?.id]"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">book</mat-icon>
        </button>

        <button mat-icon-button aria-label="Movimentar" matTooltip="Complementar"
                [routerLink]="['complementar', (processo$ | async)?.id]"
                [routerLinkActive]="['active', 'accent']">
            <mat-icon class="black-fg">send</mat-icon>
        </button>
    </div>
</div>

<div class="content" cdkPerfectScrollbar>
    <router-outlet></router-outlet>
</div>
