cdk-documento-avulso-list {

    border-right: 1px solid rgba(0, 0, 0, 0.12);
    height: 100%;

    .documento-avulso-list-loading {
        z-index: 9999;
        margin-top: 48px;
        display: flex;
        position: fixed;
        transform: translate(-50%, -50%);
    }

    .content {
        .toolbar {

            border-bottom: 1px solid rgba(0, 0, 0, 0.12);

            .toolbar-separator {
                height: 32px;
                width: 1px;
                margin: 0 12px;
            }

            .documento-avulso-list-control {
                margin-left: auto;
            }
        }
    }

    .no-documento-avulso-text {
        font-size: 13px;
        font-weight: 300;
    }
}
