event-item-atividade {

    .message {
        display: flex;
        flex-direction: row;
        font-style: italic;

        .date {
            font-weight: bolder;
            width: 115px;
        }

        .text {
            max-width: 500px;
        }
    }

    .juntadas {
        display: flex;
        flex-direction: column;
        margin-left: 10px;

        .juntada {
            display: flex;
            flex-direction: row;
            margin-bottom: 10px;
            padding-left: 15px;

            .juntada-content {
                display: flex;
                flex-direction: column;
                padding-left: 5px;
                line-height: 20px;
            }
        }
    }
}
