<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome" required maxlength="255" upperCase>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('nome')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <mat-error *ngIf="form.get('nome').hasError('formError')">
            {{form.get('nome').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Sigla" formControlName="sigla" required minlength="2" maxlength="20" upperCase>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('sigla')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <mat-error *ngIf="form.get('sigla').hasError('formError')">
            {{form.get('sigla').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Prefixo NUP" formControlName="prefixoNUP" >
        <mat-error *ngIf="(form.get('prefixoNUP').invalid && (form.get('prefixoNUP').dirty
            || form.get('prefixoNUP').touched ))">
            <div *ngIf="form.get('prefixoNUP').errors?.['required']">
                Prefixo NUP é Obrigatório
            </div>
            <div *ngIf="form.get('prefixoNUP').errors?.['pattern']">
                Prefixo NUP aceita apenas Números e até 5 dígitos.
            </div>
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Endereço" formControlName="endereco" maxlength="255" upperCase>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('endereco')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Espécie Setor"
               formControlName="especieSetor"
               [matAutocomplete]="especieSetor.autocomplete"
               (blur)="checkEspecieSetor()" required>
        <cdk-especie-setor-autocomplete
            #especieSetor="especieSetorAutocomplete"
            [control]="form.get('especieSetor')"
            [pagination]="especieSetorPagination">
        </cdk-especie-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('especieSetor')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showEspecieSetorGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('especieSetor').hasError('formError')">
            {{form.get('especieSetor').errors.formError}}
        </mat-error>
    </mat-form-field>


    <mat-form-field>
        <input matInput placeholder="Município"
               formControlName="municipio"
               [matAutocomplete]="municipio.autocomplete"
               (blur)="checkMunicipio()" required>
        <cdk-municipio-autocomplete
            #municipio="municipioAutocomplete"
            [control]="form.get('municipio')"
            [pagination]="municipioPagination">
        </cdk-municipio-autocomplete>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('municipio')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showMunicipioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('municipio').hasError('formError')">
            {{form.get('municipio').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Setor Pai"
               formControlName="parent"
               [matAutocomplete]="setor.autocomplete"
               (blur)="checkSetor()">
        <cdk-setor-autocomplete
            #setor="setorAutocomplete"
            [control]="form.get('parent')"
            [pagination]="setorPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('parent')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showSetorGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('parent').hasError('formError')">
            {{form.get('parent').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="ativo">
        Ativo

        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('ativo')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-checkbox>

    <mat-checkbox formControlName="apenasDistribuidor">
        Distribuidor

        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('apenasDistribuidor')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-checkbox>

    <mat-card>
        <label>Distribuição Automática</label>

        <mat-radio-group class="distribuicaoCentena"
                         formControlName="distribuicaoCentena"
                         aria-labelledby="Tipo Prevenção Absoluta">
            <div class="start center mat-form-field-wrapper">
                <label id="distribuicaoCentena" class="mr-8 flex legenda">Tipo Prevenção Absoluta</label>
                <mat-radio-button [value]="false">
                    DÍGITO
                </mat-radio-button>
                <mat-radio-button [value]="true">
                    CENTENA
                </mat-radio-button>
                <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                        (click)="showLogEntryGrid('distribuicaoCentena')">
                    <mat-icon matTooltip="Histórico">history</mat-icon>
                </button>
            </div>
        </mat-radio-group>

        <mat-radio-group class="prazoEqualizacao"
                         formControlName="prazoEqualizacao"
                         aria-labelledby="Prazo Máximo Equalização">
            <div class="start center mat-form-field-wrapper">
                <label id="prazoEqualizacao" class="mr-8 flex legenda">Prazo Máximo Equalização </label>
                <mat-radio-button [value]="7">
                    7 DIAS
                </mat-radio-button>
                <mat-radio-button [value]="30">
                    30 DIAS
                </mat-radio-button>
                <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                        (click)="showLogEntryGrid('prazoEqualizacao')">
                    <mat-icon matTooltip="Histórico">history</mat-icon>
                </button>
            </div>
        </mat-radio-group>

        <mat-radio-group class="divergenciaMaxima"
                         formControlName="divergenciaMaxima"
                         aria-labelledby="Divergência Máxima Diária">
            <div class="start center mat-form-field-wrapper">
                <label id="divergenciaMaxima" class="mr-8 flex legenda">Divergência Máxima Diária </label>
                <mat-radio-button [value]="25">
                    PEQUENA
                </mat-radio-button>
                <mat-radio-button [value]="100">
                    GRANDE
                </mat-radio-button>
                <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                        (click)="showLogEntryGrid('divergenciaMaxima')">
                    <mat-icon matTooltip="Histórico">history</mat-icon>
                </button>
            </div>
        </mat-radio-group>

        <mat-checkbox formControlName="apenasDistribuicaoAutomatica">
            Desconsiderar Distribuição Manual

            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                    (click)="showLogEntryGrid('apenasDistribuicaoAutomatica')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
        </mat-checkbox>

        <mat-checkbox formControlName="comPrevencaoRelativa">
            Aplicar Prevenção Relativa

            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                    (click)="showLogEntryGrid('comPrevencaoRelativa')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
        </mat-checkbox>
    </mat-card>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-especie-setor-gridsearch
    *ngIf="activeCard === 'especie-setor-gridsearch'"
    [pagination]="especieSetorPagination"
    (selected)="selectEspecieSetor($event)"
    (cancel)="cancel()">
</cdk-especie-setor-gridsearch>

<cdk-municipio-gridsearch
    *ngIf="activeCard === 'municipio-gridsearch'"
    (selected)="selectMunicipio($event)"
    (cancel)="cancel()">
</cdk-municipio-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-gridsearch'"
    [pagination]="setorPagination"
    (selected)="selectSetor($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-logentry-gridsearch
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>


