<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-checkbox formControlName="evento">
        Evento
    </mat-checkbox>

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput #nome
               name="nome"
               formControlName="nome"
               maxlength="255" upperCase required>
        <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('nome').hasError('formError')">
            {{form.get('nome').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea formControlName="descricao"
                  matInput #descricao
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="4"
                  cdkAutosizeMaxRows="10"
                  maxlength="255" upperCase required></textarea>
        <mat-hint align="end">{{descricao.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('descricao').hasError('formError')">
            {{form.get('descricao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Gênero Atividade"
               formControlName="generoAtividade"
               [matAutocomplete]="generoAtividade.autocomplete" required>
        <cdk-genero-atividade-autocomplete
            #generoAtividade="generoAtividadeAutocomplete"
            [control]="form.get('generoAtividade')">
        </cdk-genero-atividade-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showGeneroAtividadeGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('generoAtividade').hasError('formError')">
            {{form.get('generoAtividade').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-genero-atividade-gridsearch
    *ngIf="activeCard === 'genero-atividade-gridsearch'"
    [pagination]="generoAtividadePagination"
    (selected)="selectGeneroAtividade($event)"
    (cancel)="cancel()">
</cdk-genero-atividade-gridsearch>
