@import "node_modules/@angular/material/theming";

processo-view-main-sidebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    overflow-y: auto;
    word-break: break-word;

    .badge {
        display: flex;
        align-items: center;
        min-width: 20px;
        height: 20px;
        padding: 0 7px;
        font-size: 11px;
        font-weight: 600;
        border-radius: 20px;
        transition: opacity 0.2s ease-in-out 0.1s;
        margin-left: 8px;
    }

    > .header {

        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);

        > .actions {
            flex: 1 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            > .mat-icon-button {
                width: 32px;
                height: 32px;
                line-height: 34px !important;
            }

            > .espaco-icones {
                margin: 3px 2px 5px 4px;
            }

            .sort-asc {
                moz-transform: rotateX(180deg);
                -o-transform: rotateX(180deg);
                -webkit-transform: rotateX(180deg);
                transform: rotateX(180deg);
            }

            > .toolbar-separator {
                margin-left: auto;
                height: 32px;
                width: 1px;
            }
        }

        > .filters {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;

            > form {
                flex: 0 1 auto;
                display: flex;
                flex-direction: column;

                > div.grupo {
                    flex: 1 0 auto;
                    padding: 8px;
                    display: flex;
                    flex-direction: column;

                    .volumes-filter {
                        display: flex;
                        flex-direction: row;

                        mat-label {
                            margin-right: 8px;
                            line-height: 22px;
                        }

                        > .volumes {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            flex: 1 1 auto;
                        }

                        .index-volume {
                            display: flex;
                            flex-direction: row;
                            margin-right: 2px;
                            margin-bottom: 2px;
                            width: 22px;
                            cursor: pointer;

                            span {
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                position: relative;
                                width: 22px;
                                min-width: 22px;
                                max-width: 22px;
                                height: 22px;
                                border-radius: 100%;
                                border: 2px solid;
                                font-weight: bold;
                                font-size: 12px;
                                z-index: 10;
                            }

                            &.current {
                                span {
                                    border-color: red;
                                }
                            }
                        }
                    }

                    mat-form-field {
                        flex: 1 1 auto;
                        display: flex;
                        margin-right: 8px;

                        .mat-form-field-wrapper {
                            flex: 1 1 auto;
                        }
                    }
                }
            }
        }
    }

    .mat-expansion-panel {
        display: flex;
        flex-direction: column;
    }

    .mat-expansion-panel-body {
        padding: 0 !important;
    }

    > .content {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;

        mat-expansion-panel.minutas-tarefa {
            display: none;
        }

        .minutas {
            max-height: 155px;
            overflow-y: auto;

            .loading {
                flex: 1 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 8px;
            }
        }

        > .documentos-juntados-title {
            font-size: 13px;
            height: 48px;
        }

        > .juntadas {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            height: 0;
            overflow-y: auto;

            [dndDropzone] {
                transition: all 300ms ease;
                display: flex;
            }

            .place-holder {
                display: none;
            }

            [dndDropzone].custom-drag-over {
                background-color: rgba(0, 0, 0, 0.3);
                border: 1px;
                transform: scale(1.05);

                .place-holder {
                    display: flex;
                    flex: 0 0 auto;
                    align-items: flex-end;
                    align-content: flex-end;
                    align-self: center;
                    margin-left: auto;
                }
            }

            [dndDropzone].custom-drag-over.custom-drag-over-disabled {
                transform: scale(1.0);
                background-color: #F5F5F5;

                .place-holder {
                    display: none !important;
                }

                .drag-juntada.dndDraggingSource {
                    cursor: no-drop !important;
                }
            }
        }

        > .bookmarks {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            height: 0;
            overflow-y: auto;

            .place-holder {
                display: none;
            }
        }

        > .loading-minutas {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        > .loading {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            > .juntada-list-loading {
                z-index: 9999;
                margin-top: 225px;
                display: flex;
                position: fixed;
                transform: translate(-50%, -50%);
            }

            > .minuta-list-loading {
                z-index: 9999;
                margin-top: 48px;
                display: flex;
                position: fixed;
                transform: translate(-50%, -50%);
            }
        }

        .sem-minutas {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .minuta {
            flex: 1 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 8px;
            cursor: pointer;

            .actions {
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            .index {

                &:after {
                    display: none !important;
                }

                &:before {
                    display: none !important;
                }
            }

            .etiquetas {
                margin-top: 8px;

                .etiqueta {
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 4px;
                    margin-right: 4px;
                    padding: 3px 8px;
                    background-color: rgba(0, 0, 0, 0.08);

                    .etiqueta-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }

            .current-tipo-documento {
                font-weight: bold;
            }

            &.current {

                .index {

                    span {
                        border: 2px solid;
                    }
                }

                .descricao {
                    display: flex;
                    font-weight: bold;
                    word-break: break-word;
                }

                .numero {
                    display: flex;
                    font-style: italic;
                    font-size: 10px;
                }

            }

            &.completed {

                .index {

                    span {
                        border: 2px solid;
                    }
                }
            }

            &.first {

                .index {

                    &:before {
                        display: none;
                    }
                }
            }

            &.last {
                border-bottom: 1px solid black;

                .index {

                    &:after {
                        display: none;
                    }
                }
            }

            .index {
                display: flex;
                margin-right: 12px;

                &:before,
                &:after {
                    position: absolute;
                    display: block;
                    content: ' ';
                    border-left: 1px solid;
                    width: 1px;
                    height: 50%;
                    left: 25px;
                    z-index: 8;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 34px;
                    min-width: 34px;
                    max-width: 34px;
                    height: 34px;
                    border-radius: 100%;
                    border: 2px solid;
                    font-weight: bold;
                    font-size: 12px;
                    z-index: 10;
                }
            }

            .descricao {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                word-break: break-word;
            }

            .numero {
                font-style: italic;
                font-size: 10px;
            }

            .desentranhado {
                color: red;
            }

            .criado-em {
                font-style: italic;
                font-size: 10px;
            }
        }

        .oficio {
            flex: 0 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 8px;
            cursor: pointer;
            margin-top: 2px;
            box-shadow: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);

            .actions {
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }

            .index {

                &:after {
                    display: none !important;
                }

                &:before {
                    display: none !important;
                }
            }

            .etiquetas {
                margin-top: 8px;

                .etiqueta {
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 4px;
                    margin-right: 4px;
                    padding: 3px 8px;
                    background-color: rgba(0, 0, 0, 0.08);

                    .etiqueta-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }

            .current-tipo-documento {
                font-weight: bold;
            }

            &.current {

                .index {

                    span {
                        border: 2px solid;
                    }
                }

                .descricao {
                    display: flex;
                    font-weight: bold;
                    word-break: break-word;
                }

                .numero {
                    font-style: italic;
                    font-size: 10px;
                }

            }

            &.completed {

                .index {

                    span {
                        border: 2px solid;
                    }
                }
            }

            &.first {

                .index {

                    &:before {
                        display: none;
                    }
                }
            }

            &.last {
                border-bottom: 1px solid black;

                .index {

                    &:after {
                        display: none;
                    }
                }
            }

            .index {
                display: flex;
                margin-right: 12px;

                &:before,
                &:after {
                    position: absolute;
                    display: block;
                    content: ' ';
                    border-left: 1px solid;
                    width: 1px;
                    height: 50%;
                    left: 25px;
                    z-index: 8;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 34px;
                    min-width: 34px;
                    max-width: 34px;
                    height: 34px;
                    border-radius: 100%;
                    border: 2px solid;
                    font-weight: bold;
                    font-size: 12px;
                    z-index: 10;
                }
            }

            .descricao {
                display: flex;
                flex: 1 1 auto;
                align-items: center;
                word-break: break-word;
            }

            .numero {
                font-style: italic;
                font-size: 10px;
            }

            .desentranhado {
                color: red;
            }

            .criado-em {
                font-style: italic;
                font-size: 10px;
            }
        }

        .nova-juntada {
            display: flex;
            flex: 0 0 auto;
            cursor: pointer;
            align-items: center;
            align-content: center;
            padding: 8px;
        }

        .juntada {
            flex: 0 0 auto;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 8px;
            cursor: pointer;

            .etiquetas {
                margin-top: 8px;

                .etiqueta {
                    font-size: 11px;
                    border-radius: 4px;
                    margin-top: 4px;
                    margin-right: 4px;
                    padding: 3px 8px;
                    background-color: rgba(0, 0, 0, 0.08);

                    .etiqueta-color {
                        width: 8px;
                        height: 8px;
                        margin-right: 8px;
                        border-radius: 50%;
                    }
                }
            }

            .current-tipo-documento {
                font-weight: bold;
            }

            &.current {

                .index {

                    span {
                        border: 2px solid;
                    }
                }

                .descricao {
                    display: flex;
                    font-weight: bold;
                    word-break: break-word;
                }

                .numero {
                    font-style: italic;
                    font-size: 10px;
                }

            }

            &.capa {

                .index {

                    &:after {
                        display: none;
                    }

                    &:before {
                        display: none;
                    }
                }
            }

            &.completed {

                .index {

                    span {
                        border: 2px solid;
                    }
                }
            }

            &.first {

                .index {

                    &:before {
                        display: none;
                    }
                }
            }

            &.last {

                .index {

                    &:after {
                        display: none;
                    }
                }
            }

            .index {
                display: flex;
                margin-right: 12px;

                &:before,
                &:after {
                    position: absolute;
                    display: block;
                    content: ' ';
                    border-left: 1px solid;
                    width: 1px;
                    height: 50%;
                    left: 25px;
                    z-index: 8;
                }

                &:before {
                    top: 0;
                }

                &:after {
                    bottom: 0;
                }

                &.actions-before {
                    &:before,
                    &:after {
                        left: 45px;
                    }
                }

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 34px;
                    min-width: 34px;
                    max-width: 34px;
                    height: 34px;
                    border-radius: 100%;
                    border: 2px solid;
                    font-weight: bold;
                    font-size: 12px;
                    z-index: 10;
                }
            }

            .descricao {
                display: flex;
                word-break: break-word;
            }

            .numero {
                font-style: italic;
                font-size: 10px;
            }

            .desentranhado {
                color: red;
            }

            .criado-em {
                font-style: italic;
                font-size: 10px;
            }

            .tipo-documento {
                .index-vinculado {
                    display: flex;

                    span {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        min-width: 22px;
                        max-width: 30px;
                        height: 20px;
                        border-radius: 100%;
                        font-size: 11px;
                        border: 1px solid;
                        font-weight: bold;
                        z-index: 10;
                    }
                }
            }

            .load-more {
                margin-left: 8px;
                display: flex;
                flex-direction: row;
                margin-right: 2px;
                margin-bottom: 10px;
                width: 22px;
                cursor: pointer;
                align-content: center;

                span {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 22px;
                    min-width: 22px;
                    max-width: 22px;
                    height: 22px;
                    border-radius: 100%;
                    border: 2px solid;
                    font-weight: bold;
                    font-size: 12px;
                    z-index: 10;
                }
            }
        }

        .volume {
            display: flex;
            flex-direction: column;

            .separador-volume {
                display: flex;
                flex: 1 1 auto;
                flex-wrap: wrap;
                font-size: 13px;
                height: 48px;
            }
        }

        .actions {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            &.select-mode-actions {
                justify-content: center;

                mat-checkbox {
                    margin: 0 5px 0 0;
                }
            }
            &.desvincular-mode-actions {
                align-items: flex-end;
                flex: 1 0 auto !important;
            }

            &.assina-mode-actions {
                padding-left: 5px;
                align-items: flex-start;
                flex: 1 0 auto !important;
                min-height: 14px;
                max-height: 14px;
                line-height: 14px;
                height: 14px;

                mat-checkbox {
                    margin: 0 2px 0 0;
                }

                .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background, .mat-checkbox-checked.mat-accent .mat-checkbox-background {
                    margin-top: 0;
                    margin-left: 0;
                    width: 14px;
                    line-height: 14px;
                    min-height: 14px;
                    max-height: 14px;
                    height: 14px;
                }

                .mat-checkbox-inner-container {
                    height: 14px;
                    width: 14px;
                    line-height: 14px;
                    margin: 0;
                }

                .result-container {
                    display: flex;

                    > .mat-icon {
                        font-size: 14px;
                        line-height: 14px;
                        height: 14px;
                        width: 14px;
                        min-height: 14px;
                        max-height: 14px;
                        min-width: 14px;
                        max-width: 14px;
                        margin: 0 2px 3px 0;
                    }

                    > .mat-progress-spinner {
                        margin: 0 2px 3px 0;
                    }
                }
            }

            &.filho {
                min-height: 20px;
                max-height: 20px;
                line-height: 20px;
                height: 20px;
                justify-content: center;

                mat-checkbox {
                    font-size: 14px;
                    margin: 0 2px 3px 0;
                }
            }
        }

        .actions-assinatura {
            flex: 0 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        .no-events {
            pointer-events: none;
        }
        .selected-color {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            display: inline-block;
        }
    }
}

.sort-menu-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;

    > mat-icon {
        flex: 0 1 auto;
        align-self: center;
        width: 24px;
        min-width: 24px;
        max-width: 24px;
    }

    > span {
        flex: 1 1 auto;
        align-self: center;
    }

}
