<div class="header">
    <path icone="place"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="especie-setor">
    </path>
</div>
<cdk-especie-setor-grid
    [loading]="(loading$ | async)"
    [especieSetors]="(especieSetors$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'nome', 'descricao', 'generoSetor.nome', 'ativo', 'actions']"
    [actions]="['edit', 'create', 'showInatived']"
    (inatived)="inatived($event)"
    (reload)="reload($event)"
    (edit)="edit($event)"
    (create)="create()"
    (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-especie-setor-grid>
