<cdk-componente-digital-card-list #ckdUpload
                                  [uploadMode]="'linear'"
                                  (completed)="onComplete()">
</cdk-componente-digital-card-list>

<cdk-documento-avulso-grid
        [loading]="(loading$ | async)"
        [documentosAvulsos]="(documentosAvulsos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        (responder)="responder($event)"
        (statusBarramento)="verificaStatusBarramento($event)"
        [actions]="['visualizar','showDeleted', 'redefinir_tabela']"
        [displayedColumns]="['select', 'id', 'especieDocumentoAvulso.nome',
         'pessoaDestino.nome', 'usuarioResponsavel.nome', 'documentoResposta', 'actions']"
        [resizableColumns]="['allTableColumns']"
        [ordableColumns]="['allTableColumns']"
        [tableDefinitions]="tableDefinitions"
        (tableDefinitionsChange)="doTableDefinitionsChange($event)"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (visualizar)="visualizar($event)"
        (visualizarDocumento)="visualizarDocumento($event)"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)"
        (resetTableDefinitions)="doResetTableDefinitions()">
</cdk-documento-avulso-grid>

<router-outlet></router-outlet>
