<div class="page-layout full-width left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="pessoa-edit-main-sidebar" position="left" lockedOpen="gt-xs">
        <pessoa-edit-main-sidebar [@animate]="{value:'*'}"></pessoa-edit-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">
        <!-- CONTENT HEADER -->
        <div class="header" fxHide.gt-xs>
            <button mat-icon-button
                    (click)="toggleSidebar('pessoa-edit-main-sidebar')" fxHide.gt-xs>
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT -->
        <div class="content" cdkPerfectScrollbar>
            <router-outlet></router-outlet>
        </div>
        <!-- / CONTENT -->
    </div>
    <!-- / CENTER -->
</div>
