<button mat-icon-button
        matSuffix
        mat-button
        class="custom-search-button"
        aria-label="Alterar filtro de busca de processo"
        [matTooltip]="'Alterar filtro de busca de processo'"
        [matMenuTriggerFor]="filtersMenu">
    <span class="mat-icon material-icons-outlined">manage_search</span>
</button>
<mat-menu #filtersMenu="matMenu" [overlapTrigger]="false" xPosition="before">
    <div class="cdk-processo-autocomplete-action-filter-menu">
        <div class="filters-header">
            <span class="title">Buscar processos por:</span>
        </div>
        <div class="filter-content">
            <div class="campo" (click)="selecionaCampo('NUP', 'NUP')" [ngClass]="{'selected': searchField === 'NUP'}">
                <span>NUP</span>
                <mat-icon class="green-fg" *ngIf="searchField === 'NUP'">check</mat-icon>
            </div>
            <div class="campo" (click)="selecionaCampo('outroNumero', 'Outro Número')" [ngClass]="{'selected': searchField === 'outroNumero'}">
                <span>Outro Número</span>
                <mat-icon class="green-fg" *ngIf="searchField === 'outroNumero'">check</mat-icon>
            </div>
            <ng-template #dynamicComponent></ng-template>
        </div>
    </div>
</mat-menu>
