<div class="processo-list" #processoListElement mwlResizable [enableGhostResize]="true"
     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
     (resizeEnd)="onResizeEndProcessoList($event)"
     [fxFlex]="processoListSize"
     cdkPerfectScrollbar
     infiniteScroll
     [scrollWindow]="false"
     [infiniteScrollDistance]="5"
     [infiniteScrollThrottle]="150"
     (scrolled)="onScroll()"
     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-processo': currentProcessoId,
                        'no-current-processo': !currentProcessoId,
                        'maximizado': (maximizado$ | async)
                 }">
    <cdk-processo-list (scrolled)="onScroll()"
                       [loading]="(loading$ | async)"
                       [processos]="processos"
                       [currentProcessoId]="currentProcessoId"
                       (salvarLembrete)="salvarLembrete($event)"
                       (editar)="editar($event)"
                       (realizarTransicao)="realizarTransicao($event)"
                       (desarquivar)="desarquivar($event)"
                       (registrarExtravio)="registrarExtravio($event)"
                       [pagination]="pagination"
                       [selectedIds]="(selectedIds$ | async)"
                       (changeSelectedIds)="changeSelectedIds($event)"
                       (reload)="reload($event)"
                       (etiquetarBloco)="doEtiquetarBloco()"
                       (editarBloco)="doEditarBloco()"
                       (realizarTransicaoBloco)="doTransicaoArquivistaBloco()"
                       (desarquivarBloco)="doDesarquivarBloco()"
                       (registrarExtravioBloco)="doRegistrarExtravioBloco()"
                       [transicionandoIds]="(transicaoIds$ | async)"
                       [modalidadeTransicao]="modalidadeTransicao$ | async"
                       (selected)="setCurrentProcesso($event)">
    </cdk-processo-list>
</div>
<div class="processo-detail" mwlResizable [enableGhostResize]="true"
     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
     [fxFlex]="100"
     [ngClass]="{
                        'mobile-mode': mobileMode,
                        'current-processo': currentProcessoId,
                        'no-current-processo': !currentProcessoId
                     }">
    <router-outlet></router-outlet>
</div>


