<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput #nome
               name="nome"
               formControlName="nome"
               maxlength="255" minlength="3" upperCase>
        <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('nome').hasError('formError')">
            {{form.get('nome').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Código IBGE</mat-label>
        <input matInput #codigoIBGE
               name="codigoIBGE"
               formControlName="codigoIBGE"
               maxlength="255" upperCase>
        <mat-hint align="end">{{codigoIBGE.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('codigoIBGE').hasError('formError')">
            {{form.get('codigoIBGE').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Estado"
               formControlName="estado"
               [matAutocomplete]="estado.autocomplete">
        <cdk-estado-autocomplete
            #estado="estadoAutocomplete"
            [control]="form.get('estado')">
        </cdk-estado-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showEstadoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('estado').hasError('formError')">
            {{form.get('estado').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

<cdk-estado-gridsearch
    *ngIf="activeCard === 'estado-gridsearch'"
    [pagination]="estadoPagination"
    (selected)="selectEstado($event)"
    (cancel)="cancel()">
</cdk-estado-gridsearch>
