@import "../../scss/cdk";

cdk-search-bar-etiquetas {
    display: flex;
    flex: 1 1 auto;

    span.icone {
        line-height: 60px !important;
        font-size: 30px !important;
        height: 40px !important;
        width: 40px !important;
    }

    > cdk-etiqueta-chips {
        margin-left: 4px;
        margin-right: 8px;
    }
}
