<div class="header">
    <path icone="tune"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="usuarios">
    </path>
</div>
<cdk-vinculacao-role-grid
    [loading]="(loading$ | async)"
    [vinculacaoRoles]="(roles$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['select', 'id', 'usuario.nome', 'role', 'actions']"
    [actions]="['create', 'delete']"
    (reload)="reload($event)"
    (create)="create()"
    (edit)="edit($event)"
    (delete)="delete($event)">
</cdk-vinculacao-role-grid>
