
<div>
    <div *ngIf="titulo === 'volumes'" class="content p-8" fxLayout="column">
        <h3><strong>VOLUMES</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            Um <strong>volume</strong> é uma subdivisão do processo.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Ele é criado na página de edição de dados básicos de um processo.
        </p>
        <div style="background-color: #d3d3d3;">
            <p>
                <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
            </p>
            <p style="text-indent: 20px">
                A criação de um volume é <strong>definitiva</strong>. Por isso, muito cuidado na sua criação.
            </p>
        </div>
        <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>
        <h4>Volume – como criar, encerrar e editar um volume? </h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/U5FolH2CMJQ" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>
    </div>
</div>
