<mat-form-field class="cdk-etiqueta-chips-list">
    <mat-placeholder *ngIf="etiquetas.length === 0" class="placeholder">{{placeholder}}</mat-placeholder>
    <mat-chip-list #chipList>
        <cdk-etiqueta-chips-item
                *ngFor="let etiqueta of etiquetas"
                [etiqueta]="etiqueta"
                [selectable]="selectable"
                [deletable]="true"
                (delete)="remove($event)">
        </cdk-etiqueta-chips-item>
        <input #etiquetaInput
               [formControl]="etiquetaCtrl"
               [matAutocomplete]="etiqueta.autocomplete"
               [matChipInputFor]="chipList"
               [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
               [matChipInputAddOnBlur]="addOnBlur">
    </mat-chip-list>
    <cdk-etiqueta-autocomplete
        #etiqueta="etiquetaAutocomplete"
        [control]="etiquetaCtrl"
        [pagination]="pagination"
        (selected)="selected($event)">
    </cdk-etiqueta-autocomplete>
</mat-form-field>
