<mat-autocomplete (closed)="fechado()" [displayWith]="displayTipoValidacaoWorkflowFn">
    <mat-option *ngFor="let tipoValidacaoWorkflow of tipoValidacaoWorkflowList"
                [value]="tipoValidacaoWorkflow">
        <span [innerHTML]="displayTipoValidacaoWorkflowFn(tipoValidacaoWorkflow) | highlightOption: this.control.value"></span>
    </mat-option>
    <mat-option *ngIf="tipoValidacaoWorkflowListIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
