<h3 style="font-weight: bold">Sigilos</h3>
<div class="dados-basicos" *ngIf="formSigilos">
    <div class="sigilos-actions m-8">
        <button mat-icon-button
                (click)="showFormSigilos()"
                aria-label="voltar"
                matTooltip="Voltar">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <cdk-sigilo-form cdkPerfectScrollbar class="mr-8"
                     *ngIf="(sigiloLoading$ | async) === false"
                     [sigilo]="sigilo"
                     [loading]="(sigiloLoading$ | async)"
                     [saving]="(sigiloIsSaving$ | async)"
                     [errors]="(sigiloErrors$ | async)"
                     (save)="submitSigilo($event)"
                     (abort)="showFormSigilos()">
    </cdk-sigilo-form>

    <div class="loading" *ngIf="(sigiloLoading$ | async)">
        <mat-spinner diameter="32"></mat-spinner>
    </div>
</div>

<cdk-sigilo-grid
    *ngIf="!formSigilos"
    [loading]="(sigiloLoading$ | async)"
    [sigilos]="(sigilos$ | async)"
    [total]="(paginationSigilo$ | async)?.total"
    [actions]="['create', 'edit']"
    [mode]="'documento'"
    [displayedColumns]="['id', 'tipoSigilo.nome', 'desclassificado', 'actions']"
    (create)="showFormSigilos()"
    (reload)="reloadSigilos($event)"
    (edit)="editSigilo($event)">
</cdk-sigilo-grid>
