documento-edit-sigilos {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    > .dados-basicos {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        overflow-y: auto;
        height: 0;

        .responsive-grid .content {
            height: 0 !important;
        }
    }

    > .sigilo-actions {
        flex: 0 0 auto;
        justify-content: flex-start;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .loading {
        flex: 1 1 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
