<cdk-volume-grid
        [loading]="(loading$ | async)"
        [volumes]="(volumes$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'edit', 'showDeleted']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-volume-grid>
