<!-- SIDEBAR HEADER -->
<div class="header">
    <div class="logo">
        <span class="logo-text ml-8 s-24" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Administrador</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>
    <div class="nav material2">

        <div *ngFor="let module of links | keyvalue; let i = index;">
            <mat-expansion-panel *showIfRole="roles[module.key]"  class="mat-elevation-z0" [expanded]="i <= 0">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        {{module.key.toUpperCase()}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="nav-item" *ngFor="let link of links[module.key]">
                    <a *showIfRole="link.role" class="nav-link" matRipple [routerLink]="'/apps/admin/' + link.link"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <span class="material-icons-outlined mat-icon mat-icon-no-color nav-link-icon">{{ link.icon }}</span>
                        <span>{{link.nome}}</span>
                    </a>
                </div>
            </mat-expansion-panel>

        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->
