<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <label class="mb-8" id="tipo-rg">Selecione a destinação</label>

    <mat-radio-group class="mb-8 tipo-rg" formControlName="tipo" aria-labelledby="tipo-rg">
        <mat-radio-button [value]="'processo_existente'">
            Processo existente
        </mat-radio-button>
        <mat-radio-button class="ml-8" [value]="'novo_processo'">
            Novo processo
        </mat-radio-button>
        <mat-radio-button class="ml-8" [value]="'arquivo'">
            Arquivo
        </mat-radio-button>
    </mat-radio-group>

    <mat-form-field *ngIf="this.form.get('tipo').value === 'processo_existente'">
        <input matInput placeholder="Processo"
               formControlName="processoDestino"
               [matAutocomplete]="processoDestino.autocomplete" required
               (blur)="checkProcessoDestino()">
        <cdk-processo-autocomplete
            #processoDestino="processoAutocomplete"
            [control]="form.get('processoDestino')"
            [pagination]="processoDestinoPagination">
        </cdk-processo-autocomplete>
        <button *ngIf="form.get('processoDestino').enabled" matSuffix mat-button mat-icon-button
                (click)="showProcessoDestinoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('processoDestino').hasError('formError')">
            {{form.get('processoDestino').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
            <textarea formControlName="observacao"
                      matInput placeholder="Fundamentação" maxlength="255" upperCase required></textarea>
        <mat-error *ngIf="form.get('observacao').hasError('formError')">
            {{form.get('observacao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle formControlName="checkCiencia" (change)="checaCiencia($event)">
        Estou ciente de que esta(s) juntada(s) serão desentranhadas do processo atual.
    </mat-slide-toggle>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" *ngIf="!saving"
                [disabled]="form.invalid || !valid">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

<cdk-processo-gridsearch
    *ngIf="activeCard === 'processo-destino-gridsearch'"
    [pagination]="processoDestinoPagination"
    (selected)="selectProcesso($event)"
    (cancel)="cancel()">
</cdk-processo-gridsearch>
