<cdk-vinculacao-transicao-workflow-grid
        [loading]="loading"
        [vinculacoesTransicaoWorkflow]="vinculacoesTransicaoWorkflow"
        [displayedColumns]="['id', 'workflow.nome', 'transicaoWorkflow.especieTarefaFrom.nome', 'transicaoWorkflow.especieTarefaTo.nome', 'transicaoWorkflow.especieAtividade.nome', 'actions']"
        [total]="total"
        [actions]="['select', 'cancel']"
        (selected)="select($event)"
        (cancel)="doCancel()"
        (reload)="reload($event)">
</cdk-vinculacao-transicao-workflow-grid>
