<div *ngIf="titulo === 'configuracoes'">
    <h3><strong>CONFIGURAÇÕES</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      As Configurações podem ser utilizadas para melhorar o uso, facilitar o trabalho ou apenas informar afastamentos.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para acessar as Configurações, basta clicar na seta ao lado do nome do Usuário, na parte superior direita da tela.
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/acessoconfig.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
   </p>
    <p style="text-align: justify;text-indent: 20px">
      A tela aberta possui um painel a esquerda em que é possível navegar nas variadas configurações pessoais
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/menuconfig.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
   </p>
   <h3><strong>Perfil</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Por padrão, a tela já é aberta com a configuração de <strong>Perfil</strong>.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Nesta tela, o usuário pode visualizar as suas informações pessoais utilizadas no sistema, como CPF, Nome, email, modalidade, cargo e a sua assinatura utilizada nos documentos.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Apesar de visualizar todas essas informações, o único campo editável é a <strong>assinatura</strong>. Se houver algum erro nos dados, peça ao Coordenador da sua Unidade.
    </p>
    <div style="background-color: #d3d3d3;">
      <p>
        <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
      </p>
      <p style="text-indent: 20px">
        As minutas criadas vão conter a "assinatura" escolhida nesse campo do Perfil. Isso é utilizado para identificação.
      </p>
    </div>
   <h3><strong>Segurança</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      A segunda opção no painel lateral é <strong>Segurança</strong>. Nessas configurações é possível trocar a senha. Lembrando que é necessário escrever a senha atual e escrever 2 (duas) vezes a nova senha.
    </p>
    <div style="background-color: #d3d3d3;">
      <p>
        <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
      </p>
      <p style="text-indent: 20px">
        A senha deve possuir no mínimo 8 (oito) caracteres e conter ao menos 1 (uma) letra maiúscula, 1 (uma) letra minúscula e 1 (um) número.
      </p>
    </div>
   <h3><strong>Afastamentos</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      A terceira opção no painel é o local apropriado para cadastro de <strong>afastamentos</strong>.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      O usuário é responsável por cadastrar com a devida antecedência seus <strong>afastamentos</strong>, tais como férias e licenças, no sistema.
      Quando o usuário estiver em período de afastamento, outros usuários não poderão inadvertidamente abrir tarefas para o usuário afastado.
      Isso evitará perdas de prazo ou atrasos indevidos no curso dos processos/documentos avulsos.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Na tela de Afastamento aparece uma lista de afastamentos cadastrados.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para cadastrar um <strong>afastamento</strong>, clique no botão de adicionar:
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/adicao.png" style="width: 50px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É preciso preencher a <strong>Modalidade</strong>, o início e o final do <strong>Afastamento</strong> e do <strong>Bloqueio</strong>.
      A modalidade pode ser <strong>Férias</strong>, <strong>Licença</strong> e <strong>Recesso</strong>.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Na parte superior da lista de Afastamentos, aparecem as opções de manipulação da lista. É possível adicionar mais colunas, recarregar a página, filtrar e mostrar afastamentos apagados.
    </p>

  <h3><strong>Lotações</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Após os afastamentos, está a opção de visualização de lotações.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Na lista de lotação, é possível identificar diversas informações:
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li>a Unidade</li>
      <li>o Setor</li>
      <li>o Peso na Distribuição Automática</li>
      <li>se o usuário é um Distribuidor no setor</li>
      <li>se aquela lotação é a Principal</li>
      <li>além de outras colunas que podem ser colocadas, como PCU e Dígitos da Distribuição</li>
      <!-- COMO MARCAR A LOTAÇÃO PRINCIPAL??? -->
    </ul>
    <h3><strong>Assessores</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      O advogado pode cadastrar estagiários ou servidores lotados em sua unidade como assessores.
      Os assessores operam acompanhando automaticamente todas as tarefas do advogado.
      Ou seja, os analistas irão acessar as tarefas do advogado por meu da visão “Meus Acompanhamentos” do painel de Tarefas do Usuário.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Como assessores, podem editar a tarefa, criar minutas, redistribuir, e eventualmente até mesmo encerrar a tarefa, caso tenham sido autorizados a tanto.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Sendo assim, os assessores tem o poder para acessar e realizar ações <strong>EM NOME DE QUEM O CADASTROU</strong>.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      A lista de assessores aparece no centro da tela. Para adicionar um assessor, basta clicar no botão de adicionar:
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/adicao.png" style="width: 50px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Na tela para adicionar assessores, aparece o campo para preencher o nome do usuário. Além disso, no canto inferior esquerdo fica a permissão de <strong>Encerrar Tarefa</strong>.
      Ao escolher essa opção, o assessor pode encerrar as tarefas em nome do usuário.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível editar essa opção posteriormente, além de apagar o assessor.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No canto superior direito, é possível manipular as colunas, colocando mais informações, recarregar, filtrar e mostrar registros apagados.
    </p>
    <h3><strong>Modelos</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Um modelo já contém texto previamente configurado que irá acelerar o trabalho do usuário na produção textual.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Em um modelo vários elementos são preenchidos automaticamente pelo sistema, tais como o NUP, o nome do interessado, assunto, etc.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Os modelos podem ser:
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li><strong>Nacionais:</strong> são filtrados por órgão central de acordo com as ESPÉCIES de setor nos quais o usuário está lotado</li>
      <li><strong>Locais:</strong> são filtrados de acordo com as unidades em que o usuário está lotado, levando em consideração as ESPÉCIES de setor dos setores nos quais o usuário está lotado</li>
      <li><strong>Em Branco:</strong> modelos padrão, visíveis por todos os usuários</li>
      <li><strong>Sugeridos:</strong> modelos que o sistema sugere em decorrência do fluxo de trabalho e do aprendizado realizado com a utilização.</li>
    </ul>
    <p style="text-align: justify;text-indent: 20px">
      Nesse caso, nesta tela são criados modelos para o usuário.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Lembrando que o modelo representa o que está no conteúdo da minuta. Não parametriza cabeçalho e rodapé.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No centro da tela aparece a lista de modelos.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para adicionar modelos, clique no botão de adição:
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/adicao.png" style="width: 50px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      As opções para adicionar modelo são:
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li>Se o modelo será Ativo;</li>
      <li>Nome do modelo;</li>
      <li>Descrição do modelo;</li>
      <li>Template do modelo</li>
    </ul>
    <p style="text-align: justify;text-indent: 20px">
      As opções de template por enquanto são Despacho e Ofício.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No canto superior direito, é possível manipular as colunas, colocando mais informações, recarregar, filtrar e mostrar registros apagados.
    </p>
    <div style="background-color: #d3d3d3;">
      <p>
        <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
      </p>
      <p style="text-indent: 20px">
        Template é um documento de conteúdo, com apenas a apresentação visual (apenas cabeçalhos, por exemplo) e instruções sobre onde e qual tipo de conteúdo deve entrar
        a cada parcela da apresentação. "Predefinição"
      </p>
      <p style="text-indent: 20px">
        Reforçando, a ESPÉCIE do modelo nacional deve ser igual a ESPÉCIE do modelo em que o usuário está lotado para este ter acesso.
        Não adianta apenas saber o ID do modelo. AS ESPÉCIES DEVEM SER IGUAIS.
      </p>
    </div>
    <h3><strong>Teses</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Após os modelos, existe a opção de Teses.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Teses são blocos de palavras que podem ser colocados nas Minutas. Esses blocos de texto tem como intuito facilitar a adição de Jurisprudências e Legislações no editor, agilizando o trabalho dos usuários.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Na centro da tela, aparece a lista de Teses já cadastradas pelo Usuário.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para adicionar uma tese, clique no botão de adição:
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/adicao.png" style="width: 50px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      As opções para adicionar Teses são:
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li>Se a Tese será Ativa;</li>
      <li>Nome da Tese;</li>
      <li>Descrição da Tese;</li>
      <li>Modalidade da Tese</li>
    </ul>
    <p style="text-align: justify;text-indent: 20px">
      As modalidades de tese por enquanto são Jurisprudência e Legislação.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Após a criação da Tese, é possível editar o seu conteúdo por meio do botão
        <img src="assets/images/ajuda/editconteudorepositorio.png" style="width: 25px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      O editor é aberto para a montagem do conteúdo da Tese. A edição dos metadados da Tese também está disponível nessa tela.
      Salve o conteúdo da Tese por meio do botão do editor
        <img src="assets/images/ajuda/salvareditor.png" style="width: 25px;" class="fr-fic fr-dib fr-fil">.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Além do conteúdo, também é possível editar se a Tese será ativa, seu nome, sua descrição e sua modalidade.
    </p><p style="text-align: justify;text-indent: 20px">
      Também é possível apagar a Tese.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No canto superior direito, é possível manipular as colunas, colocando mais informações, recarregar, filtrar e mostrar registros apagados.
    </p>
    <h3><strong>Notificações</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      As notificações são a adaptação da aba Mensagens do sistema antigo.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Nesse menu, ficam todas as eventuais notificações de movimentações, tarefas, atividades em algum Processo que o usuário escolheu acompanhar.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Também é possível marcar uma notificação como lida nesse painel.
    </p>
    <h3><strong>Pastas</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      As Pastas são uma importante ferramenta para organização e gerenciamento das tarefas do usuário.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Essas Pastas funcionam da mesma maneira do email. Ao criar uma pasta, uma opção aparece no menu lateral do painel de Tarefas.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível arrastar as tarefas para essa pasta, facilitando o arranjo das tarefas pelo usuário.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Por exemplo, ele pode criar uma pasta chamada Urgente e arrastar as suas tarefas diligentes. Após a organização, o usuário vai conseguir focar nas tarefas que deseja acabar primeiro.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Além disso, junto aos filtros e etiquetas, as pastas vão ser um importante facilitador da utilização das ações em bloco, as quais podem acelerar o trabalho dos usuários.
    </p>
    <h3><strong>Etiquetas</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Uma ferramenta gerencial importantíssima no sistema é a ETIQUETA.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      A possibilidade de etiquetar tarefas, processos, documentos e relatórios pode acelerar o trabalho dos usuários,
      facilitando a triagem dos processos de trabalho e subsidiando as ações em bloco.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Após as Pastas, está o menu de Etiquetas.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      A lista de Etiquetas aparece no centro da tela. As colunas visíveis por padrão são Id da etiqueta, nome da etiqueta, descrição da etiqueta, modalidade da etiqueta, se a etiqueta está ativa e a cor da etiqueta.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível editar as etiquetas.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para criar uma outra etiqueta, acione o botão de adição:
    </p>
    <p style="text-align: center;">
      <img src="assets/images/ajuda/adicao.png" style="width: 50px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      O menu de criação de etiqueta é aberto. É necessário colocar um nome, uma descrição, uma modalidade e a cor da etiqueta.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      As modalidades possíveis são:
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li>Tarefa</li>
      <li>Processo</li>
      <li>Documento</li>
      <li>Relatório</li>
    </ul>
    <p style="text-align: justify;text-indent: 20px">
      Assim, as etiquetas serão específicas para cada uma dessas modalidades.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No canto superior direito, é possível manipular as colunas, colocando mais informações, recarregar, filtrar e mostrar registros apagados.
    </p>
    <p><br></p>

    <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>
    <h4>Como verificar os dados do perfil e alterar a assinatura</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/s2VaGDzAa2w" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Como cadastrar um assessor</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/vFtLZPxZknA" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Como o usuário assessor pode visualizar as tarefas do usuário assessorado</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/llad2i782Do" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Como inserir o período de afastamento</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/im1BQFZYwlc" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Alteração de senha pelo usuário</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/ecWksI9vrkY" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Novo Coordenador da Unidade</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/2SBJivRPZGA" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Identificação do ID de órgão/pessoa</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/xEKZkFQkxRw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>

    <h4>Criação e gerenciamento de pastas</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/OqSFr4r17fM" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Movimentação de tarefas entre pastas</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/m84010HuVPk" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Criação e gerenciamento de etiquetas</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/yUn0wh2AwfM" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Uso das etiquetas</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/43v_3uFhV5g" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Vinculação de ação à etiqueta</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/0r3O0hpZqjw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Diferenciação entre modelos e repositórios nacionais, da unidade, do setor e individuais</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/dPmUpJ-c0ko" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Como criar modelos individuais</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/3D4bnnKcmhc" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
    <h4>Como alimentar repositórios individuais de tese, jurisprudência ou legislação</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/bQhj-6cTkog" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
</div>
