<div class="header">
    <path icone="location_on"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="municipios">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-municipio-form
        [municipio]="(municipio$ | async)"
        [form]="formMunicipio"
        [estadoPagination]="estadoPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitMunicipio($event)"
        (abort)="doAbort()">
    </cdk-municipio-form>
</div>