<div>
    <div class="info">
        <div class="title">
            <span>{{acao.modalidadeAcaoEtiqueta.valor | titleCasePipe}}</span>
        </div>
        <div class="body mt-4">
            <span>{{acao.modalidadeAcaoEtiqueta.descricao | titleCasePipe}}</span>
        </div>
    </div>

    <div class="actions">

        <div class="spinner-container m-8" *ngIf="deleting">
            <mat-spinner diameter="24"></mat-spinner>
        </div>

        <button mat-icon-button *ngIf="!deleting && actions.indexOf('delete') > -1" aria-label="remover"
                (click)="doDelete()">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</div>
