<div class="header">
    <path icone="person"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="usuarios">
    </path>
</div>
<cdk-usuario-grid
    [loading]="(loading$ | async)"
    [usuarios]="(usuarios$ | async)"
    [total]="(pagination$ | async)?.total"
    [deletingIds]="(deletingIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [displayedColumns]="['id', 'username', 'nome', 'email', 'colaborador.modalidadeColaborador.valor', 'colaborador.cargo.nome', 'enabled', 'actions']"
    [actions]="['create', 'edit', 'lotacoes', 'afastamentos', 'resetaSenha', 'coordenadores', 'distribuirTarefas', 'vincularRole']"
    [resizableColumns]="['allTableColumns']"
    [ordableColumns]="['allTableColumns']"
    (reload)="reload($event)"
    (create)="create()"
    (edit)="edit($event)"
    (lotacoes)="lotacoes($event)"
    (afastamentos)="afastamentos($event)"
    (resetaSenha)="resetaSenha($event)"
    (vincularRole)="vincularRole($event)"
    (coordenadores)="coordenadores($event)"
    (distribuirTarefas)="doDistribuirTarefas($event)"
    (delete)="delete($event)"
    (deleteBlocoEmmitter)="deleteBloco($event)"
    (tableDefinitionsChange)="doTableDefinitionsChange($event)"
    [tableDefinitions]="tableDefinitions"
    (resetTableDefinitions)="doResetTableDefinitions()">
</cdk-usuario-grid>
