<h1 mat-dialog-title>Restrição de Acesso</h1>
<div mat-dialog-content>
    <section class="p-8">A Classificação selecionada possui restrição de acesso!</section>
    <section class="p-8">
        <b>
            Atenção, para que outros usuários possam visualizar o(s) NUP(s) será necessário configurar a
            restrição de acesso para os mesmos!
        </b>
    </section>
</div>
<div mat-dialog-actions class="actions m-8" fxLayout="row" fxLayoutAlign="start center">
    <button mat-raised-button color="accent" class="mr-sm-12" (click)="onConfirm()">
        Confirmar
    </button>
</div>
