<div class="header">
    <path icone="location_city"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="unidades">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-setor-form
        [setor]="setor"
        [unidade]="(unidade$ | async)"
        [isAdmin]="true"
        [saving]="(isSaving$ | async)"
        [logEntryPagination]="logEntryPagination"
        [errors]="(errors$ | async)"
        [setorPagination]="setorPagination"
        [especieSetorPagination]="especieSetorPagination"
        [requiredParent]="false"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-setor-form>
</div>
