<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">
    <mat-card *showIfRole="'ROLE_COLABORADOR'">

        <mat-card-subtitle>Unidade Arquivística</mat-card-subtitle>

        <h3 *ngIf="form.value.id && form.value.unidadeArquivistica === 1">Processo</h3>
        <h3 *ngIf="form.value.id && form.value.unidadeArquivistica === 2">Documento Avulso</h3>
        <h3 *ngIf="form.value.id && form.value.unidadeArquivistica === 3">Pasta/Dossiê</h3>

        <div class="responsive-group" *ngIf="!form.value.id">
            <label id="processo-rg3"></label>
            <mat-radio-group class="poderes-rg" formControlName="unidadeArquivistica" aria-labelledby="processo-rg3">
                <mat-radio-button [value]=1>
                    Processo
                </mat-radio-button>
                <mat-radio-button [value]=2>
                    Documento Avulso
                </mat-radio-button>
                <mat-radio-button [value]=3>
                    Pasta/Dossiê
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </mat-card>

    <mat-card *showIfRole="'ROLE_COLABORADOR'">
        <mat-card-subtitle>Dados do Protocolo</mat-card-subtitle>
        <div class="responsive-group" *ngIf="!form.value.id">
            <label id="processo-rg2"></label>
            <mat-radio-group class="poderes-rg" formControlName="tipoProtocolo" aria-labelledby="processo-rg2">
                <mat-radio-button [value]=1 *ngIf="form.value.unidadeArquivistica !== 3">
                    Atribuir Novo Protocolo
                </mat-radio-button>
                <mat-radio-button [value]=2 *ngIf="form.value.unidadeArquivistica !== 3">
                    Informar Protocolo Existente
                </mat-radio-button>
                <mat-radio-button [value]=3 *ngIf="form.value.unidadeArquivistica === 3">
                    Não Possui Protocolo
                </mat-radio-button>
            </mat-radio-group>
        </div>

        <div *ngIf="this.exibirNup">
            <div class="responsive-group" *ngIf="!form.value.id">
                <mat-form-field>
                    <input matInput placeholder="Configuração NUP" formControlName="configuracaoNup" required [matAutocomplete]="configuracaoNup.autocomplete" (blur)="checkConfiguracaoNup()" [readonly]="readonlyNUP">
                    <cdk-configuracao-nup-autocomplete #configuracaoNup="configuracaoNupAutocomplete" [control]="form.get('configuracaoNup')" [configuracaoNupList]="configuracaoNupList" [configuracaoNupListIsLoading]="configuracaoNupListIsLoading" [pagination]="configuracaoNupPagination">
                    </cdk-configuracao-nup-autocomplete>
                    <button matSuffix mat-button mat-icon-button (click)="showConfiguracaoNup()" [disabled]="readonlyNUP">
                        <mat-icon matTooltip="Procurar">search</mat-icon>
                    </button>
                    <mat-error *ngIf="form.get('configuracaoNup').hasError('formError')">
                        {{form.get('configuracaoNup').errors.formError}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <mat-form-field *ngIf="(form.value.id || form.value.tipoProtocolo === 2)">
            <mat-label>{{form.value.unidadeArquivistica !== 3 ? 'NUP' : 'Dossiê'}}</mat-label>
            <input matInput #NUP name="NUP" formControlName="NUP" maxlength="21" [readonly]="readonlyNUP" (focusout)="doValidateNup()" required>
            <button matSuffix mat-button mat-icon-button (click)="doCalcularNUP()">
                <mat-icon matTooltip="Ferramenta para cálculo do NUP">build</mat-icon>
            </button>
            <mat-hint align="end">{{NUP.value.length}} / 21</mat-hint>
            <mat-error *ngIf="form.get('NUP').hasError('formError')">
                {{form.get('NUP').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="this.processo.id">
            <mat-label>Chave de acesso</mat-label>
            <input matInput formControlName="chaveAcesso" readonly>
        </mat-form-field>

        <mat-slide-toggle formControlName="alterarChave" class="alterar-chave" *ngIf="this.processo.id">
            Alterar chave de acesso
        </mat-slide-toggle>

        <mat-slide-toggle formControlName="visibilidadeExterna" class="alterar-chave" *ngIf="this.processo.id">
            Habilitar Consulta Pública ao Cidadão
        </mat-slide-toggle>

        <mat-checkbox formControlName="nupInvalido" *ngIf="(form.value.id || form.value.tipoProtocolo === 2) && nupIsValid === false">
            Estou ciente e insisto no cadastro do digito verificador inválido.
        </mat-checkbox>
        <mat-form-field *ngIf="form.value.id || form.value.tipoProtocolo === 2">
            <mat-label>Data Hora de Abertura</mat-label>
            <input matInput formControlName="dataHoraAbertura" [matDatetimepicker]="dataHoraAbertura" required>
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraAbertura"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraAbertura type="datetime" openOnFocus="true" timeInterval="5">
            </mat-datetimepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Procedência" id="inputProcedencia" formControlName="procedencia" required [matAutocomplete]="procedencia.autocomplete" (blur)="checkProcedencia()">
            <cdk-pessoa-autocomplete #procedencia="pessoaAutocomplete" [control]="form.get('procedencia')" [pessoaList]="procedenciaList" [pessoaListIsLoading]="procedenciaListIsLoading" [pagination]="procedenciaPagination">
            </cdk-pessoa-autocomplete>
            <button matSuffix mat-button mat-icon-button (click)="getFavoritosProcedencia()">
                <mat-icon matTooltip="Favoritos">star</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('procedencia')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <button *ngIf="form.get('procedencia').value && form.get('procedencia').value.id" matSuffix mat-button mat-icon-button (click)="doEditProcedencia()">
                <mat-icon matTooltip="Editar pessoa">edit</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button (click)="doGerirProcedencia()">
                <mat-icon matTooltip="Procurar ou incluir pessoa">person_add</mat-icon>
            </button>
            <mat-error *ngIf="form.get('procedencia').hasError('formError')">
                {{form.get('procedencia').errors.formError}}
            </mat-error>
        </mat-form-field>
    </mat-card>

    <mat-card *ngIf="!form.value.id && colaborador">
        <mat-slide-toggle formControlName="temProcessoOrigem">
            Importar Dados de Processo Existente no Sistema
        </mat-slide-toggle>

        <mat-form-field *ngIf="form.value.temProcessoOrigem === true">
            <input matInput placeholder="Processo de Origem" formControlName="processoOrigem" [matAutocomplete]="processoOrigem.autocomplete" required (blur)="checkProcesso()">
            <cdk-processo-autocomplete #processoOrigem="processoAutocomplete" [control]="form.get('processoOrigem')" [pagination]="processoPagination">
            </cdk-processo-autocomplete>
            <button *ngIf="form.get('processoOrigem').enabled" matSuffix mat-button mat-icon-button (click)="showProcessoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('processoOrigem').hasError('formError')">
                {{form.get('processoOrigem').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-slide-toggle *ngIf="form.value.temProcessoOrigem === true" formControlName="processoOrigemIncluirDocumentos">
            Incluir os documentos
        </mat-slide-toggle>

    </mat-card>

    <ng-template *showIfRole="'ROLE_COLABORADOR'">
        <mat-form-field>
            <input matInput placeholder="Idade" formControlName="modalidadeFase" required [matAutocomplete]="modalidadeFase.autocomplete" (blur)="checkModalidadeFase()">
            <cdk-modalidade-fase-autocomplete #modalidadeFase="modalidadeFaseAutocomplete" [control]="form.get('modalidadeFase')" [pagination]="modalidadeFasePagination">
            </cdk-modalidade-fase-autocomplete>
            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('modalidadeFase')">
                <mat-icon matTooltip="Histórico">history</mat-icon>
            </button>
            <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showModalidadeFaseGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('modalidadeFase').hasError('formError')">
                {{form.get('modalidadeFase').errors.formError}}
            </mat-error>
        </mat-form-field>
    </ng-template>


    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <input matInput placeholder="Processo de Trabalho" formControlName="especieProcesso" required [matAutocomplete]="especieProcesso.autocomplete" (blur)="checkEspecieProcesso()">
        <cdk-especie-processo-autocomplete #especieProcesso="especieProcessoAutocomplete" [control]="form.get('especieProcesso')" [especieProcessoList]="especieProcessoList" [especieProcessoListIsLoading]="especieProcessoListIsLoading" [pagination]="especieProcessoPagination">
        </cdk-especie-processo-autocomplete>
        <button matSuffix mat-button mat-icon-button (click)="getFavoritosEspecieProcesso()">
            <mat-icon matTooltip="Favoritos">star</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('especieProcesso')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showEspecieProcessoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('especieProcesso').hasError('formError')">
            {{form.get('especieProcesso').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <input matInput placeholder="Meio" formControlName="modalidadeMeio" required [matAutocomplete]="modalidadeMeio.autocomplete" (blur)="checkModalidadeMeio()">
        <cdk-modalidade-meio-autocomplete #modalidadeMeio="modalidadeMeioAutocomplete" [control]="form.get('modalidadeMeio')" [modalidadeMeioList]="modalidadeMeioList" [modalidadeMeioListIsLoading]="modalidadeMeioListIsLoading" [pagination]="modalidadeMeioPagination">
        </cdk-modalidade-meio-autocomplete>
        <button [disabled]="!form.get('especieProcesso').value" matSuffix mat-button mat-icon-button (click)="getFavoritosModalidadeMeio()">
            <mat-icon matTooltip="Favoritos">star</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('modalidadeMeio')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showModalidadeMeioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeMeio').hasError('formError')">
            {{form.get('modalidadeMeio').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <input matInput placeholder="Classificação" formControlName="classificacao" required [matAutocomplete]="classificacao.autocomplete" (blur)="checkClassificacao()">
        <cdk-classificacao-autocomplete #classificacao="classificacaoAutocomplete" [control]="form.get('classificacao')" [classificacaoList]="classificacaoList" [classificacaoListIsLoading]="classificacaoListIsLoading" [pagination]="_classificacaoPagination">
        </cdk-classificacao-autocomplete>
        <button [disabled]="!form.get('especieProcesso').value" matSuffix mat-button mat-icon-button (click)="getFavoritosClassificacao()">
            <mat-icon matTooltip="Favoritos">star</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('classificacao')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showClassificacaoTree()">
            <mat-icon matTooltip="Árvore de Classificações">subdirectory_arrow_right</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showClassificacaoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('classificacao').hasError('formError')">
            {{form.get('classificacao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <mat-label>Título</mat-label>
        <input matInput #titulo name="titulo" formControlName="titulo" required maxlength="255" upperCase>
        <mat-hint align="end">{{titulo.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('titulo').hasError('formError')">
            {{form.get('titulo').errors.formError}}
        </mat-error>
        <mat-error *ngIf="form.get('titulo').hasError('required')">
            Campo obrigatório!
        </mat-error>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('titulo')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <mat-label>Descrição</mat-label>
        <input matInput #descricao name="descricao" formControlName="descricao" maxlength="255" upperCase>
        <mat-hint align="end">{{descricao.value.length}} / 255</mat-hint>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('descricao')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <mat-label>Outro Número</mat-label>
        <input matInput #outroNumero name="outroNumero" formControlName="outroNumero" maxlength="255">
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('outroNumero')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field style="text-align: left" *showIfRole="'ROLE_COLABORADOR'">
        <mat-label>Valor Econômico</mat-label>
        <input matInput #valorEconomico name="valorEconomico" formControlName="valorEconomico" maxlength="255" currencyMask [options] = "{align: 'left'}">
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('valorEconomico')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
    </mat-form-field>

    <mat-form-field *showIfRole="'ROLE_COLABORADOR'">
        <input matInput placeholder="Setor Responsável" formControlName="setorAtual" required [matAutocomplete]="setor.autocomplete" (blur)="checkSetorAtual()">
        <cdk-setor-autocomplete #setor="setorAutocomplete" [control]="form.get('setorAtual')" [setorList]="setorAtualList" [setorListIsLoading]="setorAtualListIsLoading" [pagination]="setorAtualPagination">
        </cdk-setor-autocomplete>
        <button [disabled]="!form.get('especieProcesso').value" matSuffix mat-button mat-icon-button (click)="getFavoritosSetorAtual()">
            <mat-icon matTooltip="Favoritos">star</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('setorAtual')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showSetorGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setorAtual').hasError('formError')">
            {{form.get('setorAtual').errors.formError}}
        </mat-error>
    </mat-form-field>
    <mat-form-field *ngIf="mostraDataHoraDesarquivamento">
        <mat-label>Data Desarquivamento Automático</mat-label>
        <input matInput formControlName="dataHoraDesarquivamento" [matDatetimepicker]="dataHoraDesarquivamento">
        <mat-datetimepicker-toggle matSuffix [for]="dataHoraDesarquivamento"></mat-datetimepicker-toggle>
        <mat-datetimepicker #dataHoraDesarquivamento type="datetime" openOnFocus="true" timeInterval="5">
        </mat-datetimepicker>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors?.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid || saving" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

<cdk-processo-gridsearch *ngIf="activeCard === 'processo-gridsearch'" [pagination]="processoPagination" (selected)="selectProcesso($event)" (cancel)="cancel()">
</cdk-processo-gridsearch>

<cdk-especie-processo-gridsearch *ngIf="activeCard === 'especie-processo-gridsearch'" [pagination]="especieProcessoPagination" (selected)="selectEspecieProcesso($event)" (cancel)="cancel()">
</cdk-especie-processo-gridsearch>

<cdk-modalidade-fase-gridsearch *ngIf="activeCard === 'modalidade-fase-gridsearch'" [pagination]="modalidadeFasePagination" (selected)="selectModalidadeFase($event)" (cancel)="cancel()">
</cdk-modalidade-fase-gridsearch>

<cdk-modalidade-meio-gridsearch *ngIf="activeCard === 'modalidade-meio-gridsearch'" [pagination]="modalidadeMeioPagination" (selected)="selectModalidadeMeio($event)" (cancel)="cancel()">
</cdk-modalidade-meio-gridsearch>

<cdk-classificacao-gridsearch *ngIf="activeCard === 'classificacao-gridsearch'" [pagination]="_classificacaoPagination" (selected)="selectClassificacao($event)" (cancel)="cancel()">
</cdk-classificacao-gridsearch>

<cdk-setor-gridsearch *ngIf="activeCard === 'setor-gridsearch'" [pagination]="setorAtualPagination" (selected)="selectSetor($event)" (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-logentry-gridsearch *ngIf="activeCard === 'logentry-gridsearch'" [pagination]="logEntryPagination" (cancel)="cancel()">
</cdk-logentry-gridsearch>

<cdk-genero-setor-gridsearch *ngIf="activeCard === 'genero-setor-gridsearch'" [pagination]="generoSetorPagination" (selected)="selectGeneroSetor($event)" (cancel)="cancel()">
</cdk-genero-setor-gridsearch>

<cdk-especie-setor-gridsearch *ngIf="activeCard === 'especie-setor-gridsearch'" [pagination]="especieSetorPagination" (selected)="selectEspecieSetor($event)" (cancel)="cancel()">
</cdk-especie-setor-gridsearch>

<cdk-pessoa-gridsearch *ngIf="activeCard === 'procedencia-gridsearch'" [pagination]="procedenciaPagination" (selected)="selectProcedencia($event)" (cancel)="cancel()">
</cdk-pessoa-gridsearch>

<cdk-classificacao-grid-tree *ngIf="activeCard === 'classificacao-grid-tree'" (selected)="selectClassificacao($event)" (cancel)="cancel()">
</cdk-classificacao-grid-tree>

<cdk-configuracao-nup-gridsearch *ngIf="activeCard === 'configuracao-nup-gridsearch'" [pagination]="configuracaoNupPagination" (selected)="selectConfiguracaoNup($event)" (cancel)="cancel()">
</cdk-configuracao-nup-gridsearch>
