<div class="page-layout carded left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="(maximizado$ | async) === false" class="sidebar" name="arquivista-main-sidebar" position="left"
                 lockedOpen="gt-md">
        <arquivista-main-sidebar></arquivista-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxHide.lt-md *ngIf="(maximizado$ | async) === false">
            <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                    (click)="toggleSidebar('arquivista-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card"
             [ngClass]="{'current-processo-selected':currentProcessoId}">
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- / CONTENT CARD -->
    </div>
</div>
