@import "../../../../scss/partials/cdk-form";

cdk-tipo-validacao-criado-por {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    mat-radio-group {
        padding: 8px;
        display: flex;
        flex-wrap: wrap;

        &.horizontal {
            flex-direction: row;
        }

        &.vertical {
            flex-direction: column;
        }
    }

    mat-radio-button {
        margin-right: 10px;
    }
}
