<div class="toolbar boundary" [ngClass]="{'processo': mode === 'processo', 'tarefas-list': mode === 'tarefas-list'}" cdkDropListGroup>

    <div cdkDropList [cdkDropListData]="i"
         class="grupo-componentes-digitais"
         cdkDropListOrientation="horizontal"
         cdkDropListAutoScrollStep="50"
         [ngClass]="{'processo': mode === 'processo', 'tarefas-list': mode === 'tarefas-list'}"
         [cdkDropListDisabled]="uploadMode !== 'linear' || (uploadMode === 'linear' && uploading)"
         [cdkDropListAutoScrollDisabled]="false"
         *ngFor="let componenteDigital of componentesDigitais; let i = index;">
        <cdk-componente-digital-card [componenteDigital]="componenteDigital"
                                     [selected]="selectedIds.indexOf(componenteDigital.id) > -1"
                                     (cancel)="onCancel($event)"
                                     [ngClass]="{'processo': mode === 'processo', 'documento-edit-card': mode === 'documento-edit', 'tarefas-list': mode === 'tarefas-list'}"
                                     [mode]="mode"
                                     [uploadMode]="this.uploadMode"
                                     [uploading]="this.uploading"
                                     (retry)="onRetry($event)"
                                     (clicked)="onClick($event)"
                                     (changedSelected)="toggleInSelected($event)"
                                     [cdkDragDisabled]="uploadMode !== 'linear' || (uploadMode === 'linear' && uploading)"
                                     [cdkDragData]="i"
                                     (cdkDragEntered)="drop($event)"
                                     cdkDrag>
        </cdk-componente-digital-card>
    </div>

    <input hidden type="file" #file name="fileUpload" multiple="multiple" accept="{{accept}}" (click)="$event.stopPropagation()">

    <button mat-mini-fab type="button" class="mb-4 active accent" matTooltip="Iniciar"
            [disabled]="uploading || !pending.length"
            *ngIf="uploadMode === 'linear' && componentesDigitais.length > 0 && !uploading" (click)="$event.stopPropagation(); start()">
        <mat-icon class="secondary-text">play_arrow</mat-icon>
    </button>
</div>
