<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Modalidade de Transição"
               formControlName="modalidadeTransicao"
               [matAutocomplete]="modalidadeTransicao.autocomplete" required
               (blur)="checkModalidadeTransicao()">
        <cdk-modalidade-transicao-autocomplete
            #modalidadeTransicao="modalidadeTransicaoAutocomplete"
            [control]="form.get('modalidadeTransicao')"
            [pagination]="modalidadeTransicaoPagination">
        </cdk-modalidade-transicao-autocomplete>
        <button *ngIf="form.get('modalidadeTransicao').enabled" matSuffix mat-button mat-icon-button
                (click)="showModalidadeTransicaoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeTransicao').hasError('formError')">
            {{form.get('modalidadeTransicao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Método</mat-label>
        <input matInput #metodo
               name="metodo"
               formControlName="metodo"
               maxlength="255" upperCase required>
        <mat-hint align="end">{{metodo.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Edital</mat-label>
        <input matInput #edital
               name="edital"
               formControlName="edital"
               maxlength="255" upperCase>
        <mat-hint align="end">{{edital.value.length}} / 255</mat-hint>
    </mat-form-field>

    <mat-form-field>
            <textarea formControlName="observacao"
                      matInput placeholder="Observação" maxlength="255" upperCase></textarea>
        <mat-error *ngIf="form.get('observacao').hasError('formError')">
            {{form.get('observacao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-modalidade-transicao-gridsearch
    *ngIf="activeCard === 'modalidade-transicao-gridsearch'"
    [pagination]="modalidadeTransicaoPagination"
    (selected)="selectModalidadeTransicao($event)"
    (cancel)="cancel()">
</cdk-modalidade-transicao-gridsearch>
