<div class="page-layout carded left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar *ngIf="(maximizado$ | async) === false" class="sidebar" name="tarefas-main-sidebar" position="left"
                 lockedOpen="gt-md">
        <tarefas-main-sidebar
            (reload)="reload($event)"
            (changeViewMode)="doTarefaListViewModeChange($event)"
            (limparBuscaTodos)="limparBuscaTodos()"
            [doLimpaFiltros]="this.doLimpaFiltros"
            [viewMode]="tarefaListViewMode"
            [buscarTodas]="buscarTodas"
            [draggingIds]="draggingIds$ | async">
        </tarefas-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" [style.display]="(maximizado$ | async) ? 'none' : 'flex'">

            <button mat-icon-button (click)="retornar()" *ngIf="!componentRootUrl && (tarefaListViewMode === 'grid' || isSmallScreen)">
                <mat-icon>arrow_back</mat-icon>
            </button>

            <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                    (click)="toggleSidebar('tarefas-main-sidebar')">
                <mat-icon>menu</mat-icon>
            </button>

            <mat-toolbar [ngClass]="currentTarefa ? 'showToolbar' : 'hideToolbar'">
                <button mat-button aria-label="minutas"
                        [matMenuTriggerFor]="selectMenuMinutas"
                        #menuTriggerList="matMenuTrigger"
                        *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'">
                    <ng-container>
                        <mat-icon>attach_file</mat-icon>
                        <span>Minutas</span>
                    </ng-container>
                </button>
                <mat-menu #selectMenuMinutas="matMenu">
                    <button mat-menu-item (click)="doMinutas()">
                        Gerenciar
                    </button>
                    <button mat-menu-item (click)="doUpload()">
                        Upload
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="modeloMenu">
                        Editor
                    </button>
                    <button mat-menu-item (click)="doAssinaturaMinutas()">
                        Assinar
                    </button>
                </mat-menu>
                <button mat-button aria-label="movimentar" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doMovimentar(currentTarefa)">
                    <mat-icon>send</mat-icon>
                    <span>Movimentar</span>
                </button>
                <button mat-button aria-label="editar tarefa" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doEditTarefa(currentTarefa)" fxHide.xs>
                    <mat-icon>edit</mat-icon>
                    <span>Editar Tarefa</span>
                </button>
                <button mat-button aria-label="redistribuir tarefa" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doRedistribuirTarefa(currentTarefa)" fxHide.xs>
                    <mat-icon>forward</mat-icon>
                    <span>Redistribuir</span>
                </button>
                <button mat-button aria-label="compartilhar" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doCompartilhar(currentTarefa.id)" fxHide.xs>
                    <mat-icon>share</mat-icon>
                    <span>Compartilhar</span>
                </button>
                <button mat-button aria-label="dar ciencia" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doCienciaTarefa(currentTarefa.id)" fxHide.lt-lg>
                    <mat-icon>check</mat-icon>
                    <span>Dar Ciência</span>
                </button>
                <button mat-button aria-label="enviar ofício"
                        *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doCreateDocumentoAvulso(currentTarefaId)" fxHide.lt-lg>
                    <mat-icon>mail</mat-icon>
                    <span>Criar Ofício</span>
                </button>
                <button mat-button aria-label="Ofícios"
                        *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                        (click)="doOficios(currentTarefa)" fxHide.lt-lg>
                    <mat-icon>chrome_reader_mode</mat-icon>
                    <span>Ofícios</span>
                </button>
                <button mat-button aria-label="apagar"
                *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira' && usuarioAtual?.id === currentTarefa?.usuarioResponsavel?.id"
                (click)="deleteTarefa(currentTarefa)" fxHide.lt-lg>
                    <mat-icon>delete</mat-icon>
                    <span>Apagar </span>
                </button>
                <button mat-button aria-label="processo" *ngIf="(processoHandle$ | async) === false"
                        (click)="doEditProcesso(currentTarefa)" fxHide.lt-lg>
                    <mat-icon>book</mat-icon>
                    <span>Processo</span>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="moreMenuMainTarefa" aria-label="Mais Ferramentas"
                        (click)="$event.stopPropagation()">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenuMainTarefa="matMenu">
                    <button mat-menu-item aria-label="editar tarefa" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                            (click)="doEditTarefa(currentTarefa)" fxHide fxShow.xs>
                        <mat-icon>edit</mat-icon>
                        <span>Editar Tarefa</span>
                    </button>
                    <button mat-menu-item aria-label="redistribuir tarefa" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                            (click)="doRedistribuirTarefa(currentTarefa)" fxHide fxShow.xs>
                        <mat-icon>forward</mat-icon>
                        <span>Redistribuir</span>
                    </button>
                    <button mat-menu-item aria-label="compartilhar" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                            (click)="doCompartilhar(currentTarefaId)" fxHide fxShow.xs>
                        <mat-icon>share</mat-icon>
                        <span>Compartilhar</span>
                    </button>
                    <button mat-menu-item aria-label="dar ciencia" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira'"
                            (click)="doCienciaTarefa(currentTarefaId)" fxHide fxShow.lt-lg>
                        <mat-icon>check</mat-icon>
                        <span>Dar Ciência</span>
                    </button>
                    <button mat-menu-item aria-label="enviar ofício"
                            (click)="doCreateDocumentoAvulso(currentTarefaId)" fxHide fxShow.lt-lg>
                        <mat-icon>mail</mat-icon>
                        <span>Criar Ofício</span>
                    </button>
                    <button mat-menu-item aria-label="processo"
                            (click)="doEditProcesso(currentTarefa)" fxHide fxShow.lt-lg>
                        <mat-icon>book</mat-icon>
                        <span>Processo</span>
                    </button>
                    <button mat-menu-item aria-label="apagar" *ngIf="typeHandle !== 'concluidas' && typeHandle !== 'enviadas' && targetHandle !== 'lixeira' && usuarioAtual?.id === currentTarefa?.usuarioResponsavel?.id"
                            (click)="deleteTarefa(currentTarefa)" fxHide fxShow.lt-lg>
                        <mat-icon>delete</mat-icon>
                        <span>Apagar</span>
                    </button>
                    <button mat-menu-item aria-label="criar tarefa"
                            (click)="doCreateTarefa({processoId: currentTarefa.processo.id})">
                        <mat-icon>check_box</mat-icon>
                        <span>Criar Tarefa</span>
                    </button>
                    <ng-template #dynamicComponent></ng-template>
                </mat-menu>

                <mat-menu #modeloMenu="matMenu">
                    <h4 class="p-8">Modelos Individuais e em Branco (Outros na Lupa)</h4>
                    <form class="p-8 mb-8" style="width: 400px !important" fxLayoutGap="8px" fxLayout="column"
                          fxLayoutAlign="start"
                          (submit)="doEditor()"
                          fxFlex="1 0 auto" [formGroup]="formEditor" (click)="$event.stopPropagation()">
                        <mat-form-field fxFlex="100">
                            <div fxLayout="row" fxLayoutAlign="start center" mat-menu-item>
                                <input matInput placeholder="Nome ou Id"
                                       formControlName="modelo"
                                       #autoCompleteModelos
                                       [matAutocomplete]="modelo.autocomplete"
                                       (blur)="checkModelo()">
                            </div>
                            <cdk-modelo-autocomplete
                                #modelo="modeloAutocomplete"
                                [modeloListIsLoading]="modeloListIsLoading"
                                [modeloList]="modeloList"
                                [control]="formEditor.get('modelo')"
                                [pagination]="modeloPagination">
                            </cdk-modelo-autocomplete>
                            <button matSuffix mat-button mat-icon-button type="button"
                                    (click)="$event.stopPropagation(); getFavoritosMinuta(autoCompleteModelos)">
                                <mat-icon matTooltip="Favoritos">star</mat-icon>
                            </button>
                            <button matSuffix mat-button mat-icon-button type="button"
                                    (click)="$event.stopPropagation(); doVisualizarModelo()" [disabled]="!formEditorValid">
                                <mat-icon matTooltip="Prévia do modelo">remove_red_eye</mat-icon>
                            </button>
                            <button matSuffix mat-button mat-icon-button type="button"
                                    (click)="$event.stopPropagation(); showModelosGrid()">
                                <mat-icon matTooltip="Procurar em todos os modelos">search</mat-icon>
                            </button>
                        </mat-form-field>
                        <button mat-raised-button color="accent" type="submit" [disabled]="!formEditorValid">
                            CRIAR MINUTA
                        </button>
                    </form>
                </mat-menu>
            </mat-toolbar>

            <div class="search-wrapper">
                <div class="search">
                    <cdk-search-bar-etiquetas [etiquetas]="etiquetas"
                                              [entidades]="'tarefas'"
                                              [arraySearchTypes]="arrayFiltrosEtiquetas"
                                              (create)="addEtiqueta($event)"
                                              (changeFilter)="changeEtiquetaFilter($event)"
                                              (delete)="deleteEtiqueta($event)">
                    </cdk-search-bar-etiquetas>
                </div>
            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card"
             [ngClass]="{'current-tarefa-selected':currentTarefaId || (loading$ | async)}">

            <!-- CONTENT -->
            <div class="content">
                <div class="tarefa-list" #tarefaListElement mwlResizable [enableGhostResize]="true"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     (resizeEnd)="onResizeEndTarefaList($event)"
                     (selectstart)="$event.preventDefault()"
                     [fxFlex]="tarefaListSize"
                     [ngClass]="{
                        'mobile-mode': mobileMode || tarefaListViewMode === 'grid',
                        'current-tarefa': currentTarefaId  || !componentRootUrl,
                        'no-current-tarefa': !currentTarefaId && componentRootUrl,
                        'maximizado': (maximizado$ | async)
                     }">
                    <div class="loading" *ngIf="(changingFolderIds$ | async)?.length">
                        <mat-progress-bar [mode]="'indeterminate'"></mat-progress-bar>
                    </div>
                    <cdk-tarefa-list #tarefasList
                                     (scrolled)="onScroll()"
                                     [arraySearchTypes]="arrayFiltrosEtiquetas"
                                     [vinculacaoEtiquetaPagination]="vinculacaoEtiquetaPagination"
                                     [loading]="(loading$ | async)"
                                     [togglingUrgenteIds]="(togglingUrgenteIds$ | async)"
                                     [tarefas]="tarefas"
                                     [error]="(error$ | async)"
                                     [draggingIds]="draggingIds$ | async"
                                     [errorDelete]="(errorDelete$ | async)"
                                     [errorDistribuir]="(errorDistribuir$ | async)"
                                     [deletingIds]="(deletingIds$ | async)"
                                     [unDeletingIds]="(undeletingTarefaIds$ | async)"
                                     [deletedIds]="(deletedIds$ | async)"
                                     [assinandoTarefasIds]="(assinandoTarefasIds$ | async)"
                                     [alterandoDocumentosId]="(alterandoDocumentosId$ | async)"
                                     [assinandoDocumentosId]="(assinandoDocumentosId$ | async)"
                                     [convertendoDocumentosId]="(convertendoDocumentosId$ | async)"
                                     [deletingDocumentosId]="(deletingDocumentosId$ | async)"
                                     [downloadP7SDocumentoIds]="(downloadP7SDocumentoIds$ | async)"
                                     [removendoAssinaturaDocumentosId]="(removendoAssinaturaDocumentosId$ | async)"
                                     [savingComponentesDigitaisIds]="(savingComponentesDigitaisIds$ | async)"
                                     [savingVinculacaoEtiquetaId]="(savingVinculacaoEtiquetaId$ | async)"
                                     [folders]="(folders$ | async)"
                                     [usuarioAtual]="usuarioAtual"
                                     [currentTarefaId]="currentTarefaId"
                                     [hiddenFilters]="hiddenFilters"
                                     [pagination]="pagination"
                                     [novaTarefa]="novaTarefa"
                                     [selectedIds]="(selectedIds$ | async)"
                                     (changeSelectedIds)="changeSelectedIds($event)"
                                     (limparFiltros)="limpaFiltros()"
                                     [doLimparFiltros]="this.doLimpaFiltros"
                                     (reload)="reload($event)"
                                     (selected)="setCurrentTarefa($event)"
                                     (folder)="setFolderOnSelectedTarefas($event)"
                                     (delete)="deleteTarefa($event)"
                                     (deleteBloco)="deleteBlocoTarefa($event)"
                                     (compartilhar)="doCompartilhar($event)"
                                     (createDocumentoAvulso)="doCreateDocumentoAvulso($event)"
                                     (createTarefa)="doCreateTarefa($event)"
                                     (movimentar)="doMovimentar($event)"
                                     (gerenciarMinutasBloco)="doMinutasBloco()"
                                     (editTarefa)="doEditTarefa($event)"
                                     (editProcesso)="doEditProcesso($event)"
                                     (removeTarefa)="doRemoveTarefa($event)"
                                     (redistribuirTarefa)="doRedistribuirTarefa($event)"
                                     (cienciaTarefa)="doCienciaTarefa($event)"
                                     (cienciaBloco)="cienciaBlocoTarefa($event)"
                                     (toggleUrgente)="doToggleUrgente($event)"
                                     (compartilharBloco)="doCompartilharBloco()"
                                     (gerarRelatorioExcel)="doGerarRelatorioTarefaExcel()"
                                     (createDocumentoAvulsoBloco)="doCreateDocumentoAvulsoBloco()"
                                     (createTarefaBloco)="doCreateTarefaBloco()"
                                     (movimentarBloco)="doMovimentarBloco()"
                                     (etiquetarBloco)="doEtiquetarBloco()"
                                     (editorBloco)="doEditorBloco()"
                                     (uploadBloco)="doUploadBloco()"
                                     (addEtiqueta)="doCreateEtiqueta($event)"
                                     (editTarefaBloco)="doEditTarefaBloco()"
                                     (editRedistribuirBloco)="doRedistribuiTarefaBloco()"
                                     (restauraTarefa)="doRestauraTarefa($event)"
                                     (setDraggedTarefasIds)="changeDraggedIds($event)"
                                     (loadAssuntos)="doLoadAssuntos($event)"
                                     (loadInteressados)="doLoadInteressados($event)"
                                     (salvarObservacao)="doSalvarObservacao($event)"
                                     (assinaMinutas)="doAssinaturaTarefas()"
                                     (vinculacaoEtiquetaCreate)="doVinculacaoEtiquetaCreate($event)"
                                     (vinculacaoEtiquetaDelete)="doVinculacaoEtiquetaDelete($event)"
                                     (vinculacaoEtiquetaEdit)="doVinculacaoEtiquetaEdit($event)"
                                     [savingObservacaoIds]="savingObservacaoIds$ | async"
                                     [editandoObservacaoIds]="editObservacaoIds$ | async"
                                     [loadingAssuntosProcessosId]="(loadingAssuntosProcessosId$ | async)"
                                     [loadingInteressadosProcessosId]="(loadingInteressadosProcessosId$ | async)"
                                     [totalInteressadosProcessosId]="(totalInteressadosProcessosId$ | async)"
                                     [generoHandle]="generoHandle"
                                     [targetHandle]="targetHandle"
                                     [typeHandle]="typeHandle"
                                     [cienciaIds]="(cienciaIds$ | async)"
                                     [mobileMode]="mobileMode"
                                     (criaRelatorio)="criarRelatorio()"
                                     (etiquetaClickHandler)="doEditarDocumentoEtiqueta($event)"
                                     (alterarTipoDocumento)="doAlterarTipoDocumento($event)"
                                     (aprovaDocumento)="doAprovaDocumento($event)"
                                     (assinaDocumento)="doAssinaMinuta($event)"
                                     (converteHtml)="doConverteHtml($event)"
                                     (convertePdf)="doConvertePdf($event)"
                                     (deleteDocumento)="doDeleteDocumento($event)"
                                     (downloadP7S)="doDownloadP7S($event)"
                                     (removeAssinaturaDocumento)="doRemoveAssinaturaDocumento($event)"
                                     (uploadAnexos)="doUploadAnexos($event)"
                                     (verResposta)="doVerResposta($event)"
                                     (completed)="onComplete($event)"
                                     (completedAll)="onCompleteAll($event)"
                                     (outraAbaHandler)="doAbrirMinutaEmOutraAba($event)"
                                     (editarObservacao)="doEditarObservacao($event)"
                                     [viewMode]="tarefaListViewMode"
                                     [resizableColumns]="['allTableColumns']"
                                     [ordableColumns]="['allTableColumns']"
                                     (resetTableDefinitions)="resetTableDefinitions()"
                                     (pencencies)="doPendencies($event)"
                                     (toggleGroup)="doToggleGroup($event)"
                                     (groupOptionChange)="doGroupOptionChange($event)"
                                     (tableDefinitionsChange)="doTableDefinitionsChange($event)"
                                     [tableDefinitions]="tableDefinitions"
                                     [collapsedGroups]="collapsedGroups$ | async">
                    </cdk-tarefa-list>
                </div>

                <div class="tarefa-detail" mwlResizable [enableGhostResize]="true"
                     [fxFlex]="100"
                     [resizeEdges]="{bottom: false, right: true, top: false, left: true}"
                     [ngClass]="{
                        'mobile-mode': mobileMode || tarefaListViewMode === 'grid',
                        'current-tarefa': currentTarefaId || !componentRootUrl,
                        'no-current-tarefa': !currentTarefaId && componentRootUrl
                     }">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
