chat-participantes-list {
    display: flex;
    flex-direction: column;
    height: 100%;

    .chat-header {
        .chat-toolbar {
            mat-toolbar-row {
                form {
                    padding: 0 8px;
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;

                    mat-spinner {
                        margin: 10px;
                    }

                    .search {
                        height: 36px;
                        line-height: 36px;
                        padding: 8px;
                        font-size: 13px;
                        border-radius: 18px;
                        border: 1px solid;
                        overflow: hidden;

                        .mat-icon {
                            margin: 0;
                        }

                        input {
                            padding: 0 12px 0 8px;
                            height: 36px;
                            border: none;
                        }
                    }
                }
            }
        }
    }

    .chat-participantes-error {
        display: flex;
        place-content: center;
        margin: 10px;
    }

    .content{
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 0;
        flex: 1 1 auto;
        padding-bottom: 10px;

        .chat-participantes-list-item {
            display: flex;
            flex-direction: row;
            margin: 5px 0px 0px 0px;

            .chat-profile {
                display: flex;
                display: flex;
                flex: 1 1 auto;
                flex-direction: row;
                align-items: center;

                .avatar-wrapper {
                    chat-imagem {
                        margin: 5px;
                    }
                }

                .chat-info {
                    display: flex;
                    flex-direction: column;

                    .chat-role {
                        color: rgba(0, 0, 0, 0.54);
                        font-size: 10px;
                        text-rendering: optimizeLegibility;
                        -o-text-rendering: optimizeLegibility;
                        -ms-text-rendering: optimizeLegibility;
                        -moz-text-rendering: optimizeLegibility;
                        -webkit-text-rendering: optimizeLegibility;
                        -webkit-tap-highlight-color: transparent;
                        box-sizing: border-box;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 150px;
                    }
                }
            }

            .chat-participantes-actions {
                display: flex;
                margin-right: 8px;
            }
        }

        .loading {
            display: flex;
            align-self: center;
            margin-top: 10px;
            padding: 10px;
            overflow: visible;
        }
    }
}
