<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
          *ngIf="this.mode === 'list'">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="8px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-form-field>
            <input matInput placeholder="Documento"
                   formControlName="documento"
                   [matAutocomplete]="documento.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-documento-autocomplete #documento="documentoAutocomplete" [control]="form.get('documento')">
            </cdk-documento-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Usuário"
                   formControlName="usuario"
                   [matAutocomplete]="usuario.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('usuario')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()">
        Limpar
    </button>
</div>
