<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <h2>Receber Tramitação do Processo</h2>

    <mat-form-field>
        <input matInput placeholder="Setor Atual"
               formControlName="setorAtual"
               [matAutocomplete]="setorAtual.autocomplete" required
               (blur)="checkSetorAtual()">
        <mat-option *ngIf="setorAtualListIsLoading">
            <mat-spinner diameter="16"></mat-spinner>
        </mat-option>
        <cdk-setor-autocomplete
            #setorAtual="setorAutocomplete"
            [control]="form.get('setorAtual')"
            [pagination]="setorAtualPagination">
        </cdk-setor-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showSetorAtualTree()">
            <mat-icon matTooltip="Árvore de Setores">subdirectory_arrow_right</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showSetorAtualGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('setorAtual').hasError('formError')">
            {{form.get('setorAtual').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-setor-tree
    *ngIf="activeCard === 'setor-destino-tree'"
    [pagination]="setorAtualPaginationTree"
    (selected)="selectSetorAtual($event)"
    (cancel)="cancel()">
</cdk-setor-tree>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-destino-gridsearch'"
    [pagination]="setorAtualPagination"
    (selected)="selectSetorAtual($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>
