historico {
    display: flex;
    flex: 1 1 auto;

    .historico-content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        > .content {
            display: flex;
            flex: 1 1 auto;
            overflow-y: auto;
        }
    }
}
