board-tarefas-main-sidebar {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    > .side-header {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        height: 64px !important;
        min-height: 64px !important;
        max-height: 64px !important;

        > .logo {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;

            .logo-text {
                font-size: 24px;
            }
        }
    }

    > .content {

        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        height: 0;
        overflow-y: auto;
    }

    > .footer {
        display: flex;
        flex: 0 1 auto;
        flex-direction: column;

        > .actions {
            display: flex;
            flex: 1 1 auto;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
        }
    }
}
