<!-- SIDEBAR HEADER -->
<div class="side-header">
    <div class="logo">
        <span class="logo-text ml-8 s-24"
              [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Quadro de Tarefas</span>
    </div>
    <div class="modulo">{{generoHandle | titleCasePipe}}</div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>

    <div class="nav material2">

        <div class="nav-subheader">MINHAS TAREFAS</div>

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/board-tarefas/'+ generoHandle"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">{{ 'group' }}</mat-icon>
                <span>Minhas Tarefas</span>
            </a>
        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->

<!-- SIDEBAR FOOT -->
<div class="footer">
    <mat-divider></mat-divider>
    <div class="actions">
        <mat-toolbar>
            <button mat-icon-button class="secondary-text"
                    (click)="navigateToTarefas('list')"
                    matTooltip="Lista de Tarefas">
                <mat-icon>check_box</mat-icon>
            </button>
            <button mat-icon-button class="secondary-text"
                    [disabled]="isXSmallScreen"
                    (click)="navigateToTarefas('grid')"
                    matTooltip="Grid de Tarefas">
                <mat-icon>view_list</mat-icon>
            </button>
            <button mat-icon-button class="secondary-text" routerLink="/apps/calendario/evento/minhas-tarefas/todas"
                    routerLinkActive="mat-accent" matTooltip="Calendário">
                <mat-icon>calendar_today</mat-icon>
            </button>
            <button disabled mat-icon-button class="secondary-text" [routerLink]="'/apps/board-tarefas/' + generoHandle"
                    routerLinkActive="mat-accent" matTooltip="Quadro de Tarefas">
                <mat-icon>assessment</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>
<!-- / SIDEBAR FOOT -->
