<div class="header">
    <path icone="contacts"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="grupo-contato">
    </path>
</div>
<cdk-grupo-contato-grid
        [loading]="(loading$ | async)"
        [grupoContatos]="(grupoContatos$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'edit', 'delete', 'showContatos', 'showInatived']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (inatived)="inatived($event)"
        (edit)="edit($event)"
        (showContatos)="doShowContatos($event)"
        (create)="create()"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-grupo-contato-grid>
