<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar name="cdk-vinculacao-aviso-filter" position="left">
        <cdk-vinculacao-aviso-filter [setorPagination]="setorPagination" [avisoPagination]="avisoPagination"
                                      [modalidadeOrgaoCentralPagination]="modalidadeOrgaoCentralPagination"
                                      (selected)="setFilter($event)" [@animate]="{value:'*'}">
        </cdk-vinculacao-aviso-filter>
    </cdk-sidebar>

    <div class="responsive-grid" [ngClass]="{'search': (this.mode === 'search')}">

        <div class="actions">

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteVinculacaoAvisos(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8" aria-label="colunas" matTooltip="Colunas">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [ngClass]="{'warn': hasExcluded}" *ngIf="actions.indexOf('showDeleted') > -1"
                    (click)="loadExcluded()"
                    aria-label="mostrar apagados"
                    matTooltip="Mostrar Apagados">
                <mat-icon>delete_sweep</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div class="content" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [ngStyle]="loading ? {'display': 'none'} : {}">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [disabled]="hasExcluded"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso">
                        <mat-checkbox [checked]="selectedIds.indexOf(vinculacaoAviso.id) > -1"
                                      (change)="toggleInSelected(vinculacaoAviso.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(vinculacaoAviso.id) > -1 || hasExcluded">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoAviso.id) > -1}"> {{vinculacaoAviso.id}} </td>
                </ng-container>

                <!-- Repositorio Column -->
                <ng-container matColumnDef="aviso.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Nome do Aviso
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso" class='has_label_on_mobile' data-label='Nome do Aviso: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoAviso.id) > -1}"> {{vinculacaoAviso.aviso?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- EspecieSetor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('especieSetor.nome') > -1" matColumnDef="especieSetor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Espécie do Setor
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso" class='has_label_on_mobile' data-label='Espécie do Setor: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoAviso.id) > -1}"> {{vinculacaoAviso.especieSetor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- Setor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('setor.nome') > -1" matColumnDef="setor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Setor
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso" class='has_label_on_mobile' data-label='Setor: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoAviso.id) > -1}"> {{vinculacaoAviso.setor?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- Usuario Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuario.nome') > -1" matColumnDef="usuario.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso" class='has_label_on_mobile' data-label='Usuário: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoAviso.id) > -1}"> {{vinculacaoAviso.usuario?.nome | titleCasePipe}} </td>
                </ng-container>

                <!-- Órgão Central Column -->
                <ng-container *ngIf="displayedColumns.indexOf('modalidadeOrgaoCentral.valor') > -1" matColumnDef="modalidadeOrgaoCentral.valor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Órgão Central
                    </th>
                    <td mat-cell *matCellDef="let vinculacaoAviso" class='has_label_on_mobile' data-label='Órgão Central: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(vinculacaoAviso.id) > -1}"> {{vinculacaoAviso.modalidadeOrgaoCentral?.valor | titleCasePipe}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let vinculacaoAviso">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1 && !hasExcluded"
                                (click)="selectVinculacaoAviso(vinculacaoAviso)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(vinculacaoAviso.id) > -1"
                                (click)="editVinculacaoAviso(vinculacaoAviso.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(vinculacaoAviso.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(vinculacaoAviso.id) === -1 && !hasExcluded"
                                [disabled]="deletedIds?.indexOf(vinculacaoAviso.id) > -1"
                                (click)="deleteVinculacaoAviso(vinculacaoAviso.id)"
                                aria-label="remover"
                                matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let vinculacaoAviso; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[10, 25]" showFirstLastButtons="true"></mat-paginator>
        </div>

    </div>

</div>

