<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">
    <mat-form-field *ngIf="mode === 'regular' || blocoEdit.blocoEditClassificacao">
        <input matInput placeholder="Classificação" formControlName="classificacao"
               [matAutocomplete]="classificacao.autocomplete" (blur)="checkClassificacao()">
        <cdk-classificacao-autocomplete #classificacao="classificacaoAutocomplete" [control]="form.get('classificacao')"
                                        [pagination]="_classificacaoPagination">
        </cdk-classificacao-autocomplete>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id" (click)="showLogEntryGrid('classificacao')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showClassificacaoTree()" [disabled]="form.get('classificacao').disabled">
            <mat-icon matTooltip="Árvore de Classificações">subdirectory_arrow_right</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button (click)="showClassificacaoGrid()" [disabled]="form.get('classificacao').disabled">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('classificacao').hasError('formError')">
            {{form.get('classificacao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="mode === 'regular' || blocoEdit.blocoEditDataHoraProximaTransicao">
        <mat-label>Data Próxima Temporalidade e Destinação</mat-label>
        <input matInput formControlName="dataHoraProximaTransicao" [matDatetimepicker]="dataHoraProximaTransicao">
        <mat-datetimepicker-toggle matSuffix [for]="dataHoraProximaTransicao"></mat-datetimepicker-toggle>
        <mat-datetimepicker #dataHoraProximaTransicao type="datetime" openOnFocus="true" timeInterval="5">
        </mat-datetimepicker>
        <mat-error *ngIf="form.get('dataHoraProximaTransicao').hasError('formError')">
            {{form.get('dataHoraProximaTransicao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="mode === 'regular' || blocoEdit.blocoEditLembrete">
        <mat-label>Lembrete Arquivista</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  formControlName="lembreteArquivista"
                  #conteudo
                  #autosize="cdkTextareaAutosize"
                  maxlength="255"
                  cdkAutosizeMinRows="5"
                  cdkAutosizeMaxRows="5"
                  upperCase></textarea>
        <button matSuffix mat-button mat-icon-button
                *ngIf="form.value.id"
                (click)="showLogEntryGrid('lembreteArquivista')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <mat-hint align="end">{{conteudo.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('lembreteArquivista').hasError('formError')">
            {{form.get('lembreteArquivista').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid || !valid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

<cdk-classificacao-gridsearch *ngIf="activeCard === 'classificacao-gridsearch'" [pagination]="_classificacaoPagination"
                              (selected)="selectClassificacao($event)" (cancel)="cancel()">
</cdk-classificacao-gridsearch>

<cdk-classificacao-grid-tree *ngIf="activeCard === 'classificacao-grid-tree'" (selected)="selectClassificacao($event)"
                             (cancel)="cancel()">
</cdk-classificacao-grid-tree>

<cdk-logentry-gridsearch
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>
