<div class="header" *ngIf="routerState.url.includes('validacoes')">
    <path icone="low_priority"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="workflows">
    </path>
</div>
<div class="content">
    <cdk-validacao-transicao-workflow-list
        [loading]="(loading$ | async)"
        [validacoes]="validacoes"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create', 'delete']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (create)="create()"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
    </cdk-validacao-transicao-workflow-list>
</div>
