<cdk-vinculacao-processo-tree-list
    [vinculacaoProcesso]="(vinculacoesProcessos$ | async)"
    [isLoading]="(loading$ | async)"
    [actions]="['create', 'select', 'view', 'edit', 'delete', 'showDeleted']"
    [disableExpand]="true"
    [deletingIds]="(deletingIds$ | async)"
    [deletedIds]="(deletedIds$ | async)"
    [deletingErrors]="(deletingErrors$ | async)"
    [currentProcessoId]="currentProcessoId"
    (reload)="reload($event)"
    (excluded)="excluded($event)"
    (create)="create()"
    (edit)="edit($event)"
    (delete)="delete($event)"
    (deleteBloco)="deleteBloco($event)"
    (visualizarProcesso)="visualizarProcesso($event)"
    (visualizarProcessoNovaAba)="visualizarProcessoNovaAba($event)">
</cdk-vinculacao-processo-tree-list>
