<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="cdk-relatorio-filter" position="left">
        <cdk-relatorio-filter (selected)="setListFilter($event)"></cdk-relatorio-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="header">

        <mat-checkbox (click)="toggleSelectAll($event)"
                      [checked]="!!selectedIds.length"
                      [indeterminate]="isIndeterminate">
        </mat-checkbox>

        <button class="accent botao-novo" mat-icon-button *ngIf="mobileMode"
                (click)="criarRelatorio()"
                aria-label="novo"
                matTooltip="Novo">
            <mat-icon>add</mat-icon>
        </button>

        <div class="toolbar-separator" *ngIf="selectedIds.length"></div>

        <div *ngIf="selectedIds?.length">
            {{selectedIds?.length}}
        </div>

        <div class="toolbar-separator" *ngIf="selectedIds?.length && folders?.length"></div>

        <button mat-icon-button [matMenuTriggerFor]="folderMenu" *ngIf="selectedIds?.length">
            <mat-icon class="secondary-text">folder</mat-icon>
        </button>

        <mat-menu #folderMenu="matMenu">
            <button mat-menu-item
                    (click)="setFolder(null)">ENTRADA
            </button>
            <button mat-menu-item *ngFor="let folder of folders"
                    (click)="setFolder(folder)">{{folder.nome}}
            </button>
        </mat-menu>

        <button mat-icon-button [matMenuTriggerFor]="moreMenu"
                aria-label="Ferramentas" (click)="$event.stopPropagation()"
                *ngIf="selectedIds?.length > 1">
            <mat-icon class="secondary-text">more_vert</mat-icon>
        </button>

        <mat-menu #moreMenu="matMenu">

            <button mat-menu-item aria-label="apagar"
                    (click)="deleteBloco(selectedIds)">
                <ng-container>
                    <mat-icon>delete</mat-icon>
                    <span>Apagar</span>
                </ng-container>
            </button>

            <button mat-menu-item aria-label="etiquetar"
                    (click)="doEtiquetarBloco()">
                <ng-container>
                    <mat-icon>label</mat-icon>
                    <span>Etiquetar</span>
                </ng-container>
            </button>

        </mat-menu>

        <div class="relatorio-list-control"  fxLayout="row" fxLayoutAlign="start center">
            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" [ngClass]="{'warn': !(listFilter | json).includes('{}')}"
                    mat-icon-button
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                <mat-icon>sort</mat-icon>
            </button>
            <mat-menu fxHide #selectMenu="matMenu" class="menu-sort">
                <button mat-menu-item class="sort-button"
                        [ngClass]="{'selected': sortField === 'id'}"
                        (click)="doSort({'id': sortField === 'id' && sortOrder === 'DESC' ? 'ASC' : 'DESC'})">
                    <span>Data/hora de criação</span>
                    <mat-icon color="accent" *ngIf="sortField === 'id'">{{sortOrder === 'ASC' ? 'arrow_upward' : 'arrow_downward'}}</mat-icon>
                </button>
            </mat-menu>

            <div class="toolbar-separator"></div>

            <div>
                {{relatorios?.length ?? 0}}/{{pagination.total}}
            </div>
        </div>
    </div>

    <div class="content"
         cdkPerfectScrollbar
         infiniteScroll
         [scrollWindow]="false"
         [infiniteScrollDistance]="5"
         [infiniteScrollThrottle]="150"
         (scrolled)="onScroll()">

        <div class="loading-wrapper" *ngIf="loading">
            <mat-spinner class="loading" diameter="24"></mat-spinner>
        </div>

        <div class="no-relatorios-text" *ngIf="(!relatorios || relatorios?.length === 0) && !loading">
            <span class="hint-text">{{ 'RELATORIO.NO_MESSAGES' | translate }}</span>
        </div>

        <div *ngIf="relatorios?.length > 0">
            <cdk-relatorio-list-item matRipple *ngFor="let relatorio of relatorios; index as i; trackBy: relatorioTrackBy" [relatorio]="relatorio"
                                     (click)="selectRelatorio(relatorio);"
                                     [selected]="selectedIds.length > 0 && selectedIds.indexOf(relatorio.id) > -1"
                                     [deleting]="deletingIds.length > 0 && deletingIds.indexOf(relatorio.id) > -1"
                                     [loadedIdRelatorios]="loadedIdRelatorios === relatorio.id"
                                     (toggleInSelectedRelatorios)="toggleInSelected($event)"
                                     (delete)="doDeleteRelatorio($event)"
                                     [ngClass]="{'selected':relatorio.id === currentRelatorioId}">
            </cdk-relatorio-list-item>

        </div>
    </div>
</div>
