admin {

    flex: 1 1 auto;
    display: flex;

    > .page-layout {

        flex: 1 1 auto;
        display: flex;

        > .sidebar {
            width: 261px !important;
            min-width: 261px !important;
            max-width: 261px !important;
        }

        > .center {
            flex: 1 1 auto;
            display: flex;

            > .header {
                flex: 0 1 auto;
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                height: 10px !important;
                min-height: 10px !important;
                max-height: 10px !important;
            }

            > .content-card {
                flex: 1 1 auto;
                display: flex;
                border-radius: 12px 12px 0px 0px;

                > .content {

                    flex: 1 1 auto;
                    display: flex;
                    flex-direction: row;
                }
            }
        }
    }
}

