<div class="content p-8" fxLayout="column">
    <h3><strong>UPLOAD DE MINUTAS EM BLOCO DE TAREFAS</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        É possível realizar a juntada de minutas em bloco de tarefas.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Isso pode agilizar os procedimentos e facilitar o fluxo de trabalho.
    </p>
    <h3 style="text-align: justify;text-indent: 20px">
        <strong>Juntando minutas por upload em bloco de tarefas</strong>
    </h3>
    <p style="text-align: justify;margin-left: 40px">
        1. Na página de tarefas clique no campo de selecionar todas ou selecionando várias, aparece um botão
        em que é possível realizar várias opções. <br><br>
    </p>
    <p style="text-align: center;margin-left: 40px">
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. Ao clicar em <strong>Minutas</strong> > <strong>Upload</strong> o menu de Upload em bloco de minutas é aberto.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Nesse menu aparecem o número de tarefas selecionadas e um botão onde é possível escolher o arquivo desejado para upload.
    </p>
    <hr>
    <div style="background-color: #d3d3d3;text-indent: 20px">
        <p>
            <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
        </p>
        <p>
            O limite para fazer upload é de 10 Mb por pedaço. Maior que isso teremos que quebrar em partes menores.
        </p>
        <p>
            Para fazer isso, clique no arquivo com o botão direito > Abrir com > Adobe Acrobat 8.1 > Combinar processo > selecionar arquivo >
            Escolher as páginas > ir à metade do documento e atentar para não quebrar um documento pela metade e sim parar ao fim de em um determinado documento >
            Selecionar intervalo de páginas > Página > Colocar o intervalo > OK > Avançar > Criar > Salvar > Dar um nome (001 – NUP) >
            Salvar > Fechar > Voltar ao processo original e repetir o mesmo procedimento (002 – NUP) Salvar > Fechar.
        </p>
    </div>
    <p><br></p>
</div>
