<div class="content p-8" fxLayout="column">
    <h3><strong>ETIQUETANDO PROCESSOS EM BLOCO</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        É possível etiquetar processos em bloco, o que facilita a organização e classificação das processos conforme o fluxo de trabalho.
    </p>
    <h3 style="text-align: justify;text-indent: 20px">
        <strong>Etiquentando processos em bloco</strong>
    </h3>
    <p style="text-align: justify;">
        1. Na p&aacute;gina de processos clicando no campo de selecionar todas ou selecionando v&aacute;rias, aparece um bot&atilde;o
        em que &eacute; poss&iacute;vel realizar v&aacute;rias op&ccedil;&otilde;es. <br><br>
    </p>
    <p style="text-align: center;margin-left: 40px">
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;">
        2. Ao clicar em <strong>Etiquetar</strong> o menu de Etiqueta em bloco de processos &eacute; aberto.
    </p>
    <p style="text-align: justify;">
        3. Nesse menu aparecem o n&uacute;mero de processos selecionadas e um campo onde &eacute; poss&iacute;vel escrever o nome da etiqueta desejada e selecion&aacute;-la.
    </p>
    <hr>
    <div style="background-color: #d3d3d3;text-indent: 20px">
        <p>
            <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
        </p>
        <p>
            S&oacute; &eacute; poss&iacute;vel etiquetar em bloco com etiquetas j&aacute; existentes,
            que devem ser criadas na p&aacute;gina do perfil na op&ccedil;&atilde;o de etiquetas.
            Se n&atilde;o houver nenhum etiqueta criada, o sistema n&atilde;o etiqueta as processos.
        </p>
    </div>
    <p><br></p>
</div>
