<div *ngIf="titulo === 'arquivista'">
    <h3><strong>ARQUIVISTA</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        O SUPP é um SIGAD que possui avançados recursos de apoio à produção de conteúdo jurídico e de controle de fluxos
        administrativos, focado na integração com os sistemas informatizados do Poder Judiciário e do Poder Executivo.
    </p>
    <mat-expansion-panel style="text-align: center;margin-left: 20px">
        <mat-expansion-panel-header>
            <mat-panel-title>
                SIGAD
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p>
            Um <strong>S</strong>istema <strong>I</strong>nformatizado de <strong>G</strong>estão <strong>A</strong>rquivística
            de <strong>D</strong>ocumentos consiste em um conjunto de procedimentos e operações técnicas, característico
            do sistema de gestão arquivística de documentos, processado por computador. <br>
            O SIGAD trata os documentos a partir de uma concepção orgânica, ou seja, os documentos possuem uma
            inter-relação que reflete as atividades da instituição que os criou.
            A concepção do SIGAD tem que se dar a partir da implementação de uma política arquivística no órgão ou
            entidade.
        </p>
    </mat-expansion-panel>
    <p style="text-align: justify;text-indent: 20px">
        O SUPP é híbrido, isto é, comporta documentos digitais e documentos físicos. Inclui operações como: captura de
        documentos, aplicação do plano de classificação, controle de versões, controle sobre os prazos de guarda e
        destinação, armazenamento seguro e procedimentos que garantam o acesso e a preservação a médio e longo prazo de
        documentos <strong>arquivísticos</strong> digitais e não digitais confiáveis e autênticos.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        No caso dos documentos digitais, o SUPP abrange todos os tipos de documentos arquivísticos da AGU, ou seja,
        textos, imagens, vídeos, gravações sonoras, mensagens de correio eletrônico, páginas web, bases de dados, dentre
        outras possibilidades de um vasto repertório de diversidade crescente.
    </p>

    <h3><strong>Utilizando o módulo Arquivista</strong></h3>
    <p style="text-align: justify;margin-left: 40px">
        1. Se o usuário possuir o perfil de Arquivista habilitado, para acessar é preciso acessar o menu lateral
        esquerdo, em Módulos.
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/acessoArquivista.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. A página do Arquivista é aberta.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Na barra lateral esquerda aparece o nome da Unidade em que o usuário é Arquivista e mais 5 opções. Essas opções representam as situações em que os Documentos Avulsos/Processos
        podem estar para a tomada de decisão arquivística.
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/menuArquivista.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        4. Ao clicar em qualquer das opções, no centro da tela aparecem uma lista de processos. Como a primeira opção são os Processos que estão "PRONTO PARA TRANSFERÊNCIA", por padrão eles já são mostrados na tela inicial.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        5. Ao clicar em um processo na pilha, o Ofício/Processo é carregado a direita. Da mesma maneira que as Tarefas, é possível visualizar as juntadas do processo, além de entrar em seu menu e visualizar
        os dados correspondentes ao processo, como por exemplo Juntadas, Ofícios, Tarefas, Assuntos, entre outros.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        6. Após abrir a visualização de um processo, na parte superior direita, também aparecem opções do que pode ser feito naquele processo dependendo da sua fase arquivística e da decisão que precisa ser tomada.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        7. Vamos aos detalhes de cada opção arquivística:
    </p>
    <p style="text-align: justify;margin-left: 50px">
        7.1 <strong>Pronto Para Transferência </strong>:
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.1.1 Ao escolher essa opção, no centro da tela são apresentados todos os Ofícios/Processos que estão prontos
        para sofrer uma transferência, ou seja, já houve o decurso de prazo para realizar a transição para o arquivo
        intermediário.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.1.2 Após escolher um processo, ele é carregado no lado direito da tela.<br>
        Como já informado anteriormente, é possível verificar as suas juntadas e checar as informações da capa. Além disso, aparecem algumas opções na parte superior direita da tela:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/menuProntoParaTranferencia.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul style="text-align: justify;margin-left: 60px">
        <li>Visualização do Processo, a qual por padrão já está ativada;</li>
        <li>Editar, possibilitando alterar a classificação, data da próxima Temporalidade e Destinação, e/ou Lembrete;</li>
        <li>Realizar Transferência <img src="assets/images/ajuda/realizartransicao.png" style="width: 30px;" class="fr-fic fr-dii">, escolhendo o Método, o Edital e
            podendo acrescentar uma observação;
        </li>
        <li>Registrar Extravios: Nessa opção é possível registrar se o processo sofreu algum extravio. É preciso registrar o Método. Além disso também é possível preencher os campos Edital e Observação.</li>
    </ul>
    <p style="text-align: justify;margin-left: 50px">
        7.2 <strong>Pronto Para Eliminação </strong>:
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.2.1 Ao escolher essa opção, no centro da tela são apresentados todos os Ofícios/Processos que estão prontos
        para sofrer uma eliminação, ou seja, já houve o decurso de prazo dele no arquivo intermediário, e a destinação da classificação
        dele é Eliminação.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.2.2 Após escolher um processo, aparecem opções na parte superior direita.<br>
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/menuProntoParaTranferencia.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul style="text-align: justify;margin-left: 60px">
        <li>Visualização do Processo, a qual por padrão já está ativada;</li>
        <li>Editar, possibilitando alterar a classificação, data da próxima Temporalidade e Destinação, e/ou Lembrete;</li>
        <li>Realizar Eliminação<img src="assets/images/ajuda/realizartransicao.png" style="width: 30px;" class="fr-fic fr-dii">, escolhendo o Método, o Edital e
            podendo acrescentar uma observação;
        </li>
        <li>Registrar Extravios: Nessa opção é possível registrar se o processo sofreu algum extravio. É preciso registrar o Método. Além disso também é possível preencher os campos Edital e Observação.</li>
    </ul>
    <p style="text-align: justify;margin-left: 50px">
        7.3 <strong>Pronto Para Recolhimento </strong>:
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.3.1 Ao escolher essa opção, no centro da tela são apresentados todos os Ofícios/Processos que estão prontos
        para sofrer o recolhimento, ou seja, já houve o decurso de prazo dele no arquivo intermediário, e a destinação da classificação
        dele é Recolhimento.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.3.2 Após escolher um processo, aparecem opções na parte superior direita.<br>
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/menuProntoParaTranferencia.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul style="text-align: justify;margin-left: 60px">
        <li>Visualização do Processo, a qual por padrão já está ativada;</li>
        <li>Editar, possibilitando alterar a classificação, data da próxima Temporalidade e Destinação, e/ou Lembrete;</li>
        <li>Realizar Recolhimento<img src="assets/images/ajuda/realizartransicao.png" style="width: 30px;" class="fr-fic fr-dii">, escolhendo o Método, o Edital e
            podendo acrescentar uma observação;
        </li>
        <li>Registrar Extravios: Nessa opção é possível registrar se o processo sofreu algum extravio. É preciso registrar o Método. Além disso também é possível preencher os campos Edital e Observação.</li>
    </ul>

    <p style="text-align: justify;margin-left: 50px">
        7.4 <strong>Aguardando Decurso</strong>:
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.4.1 Nessa opção, aparecem os processos que ainda não estão preparados para a temporalidade e destinação arquivística, pois
        estão esperando o Decurso do prazo.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.4.2 O prazo arquivístico esperado aqui corresponde com a tabela de temporalidade e com o plano de
        classificação da instituição. Por isso, é importante seguir o período de tempo determinado pelo órgão.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.4.3 Após escolher um processo, aparecem opções na parte superior direita.<br>
        É possível:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/menuPendenciaDeAnalise.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul style="text-align: justify;margin-left: 60px">
        <li>Visualização do Processo, a qual por padrão já está ativada;</li>
        <li>Editar, possibilitando alterar a classificação, data da próxima Temporalidade e Destinação, e/ou Lembrete;</li>
        <li>Registrar Extravios: Nessa opção é possível registrar se o processo sofreu algum extravio. É preciso registrar o Método. Além disso também é possível preencher os campos Edital e Observação.</li>
    </ul>

    <p style="text-align: justify;margin-left: 50px">
        7.5 <strong>Pendência de Análise</strong>:
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.5.1 Nessa opção, aparecem os processos que ainda não foram analisados e classificados conforme o Plano de
        Classificação, porém já foram enviados para arquivamento.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.5.2 O arquivista deve analisar o Ofício/Processo e definir o seu prazo e classificação.
    </p>
    <p style="text-align: justify;margin-left: 60px">
        7.5.3 Após escolher um processo, aparecem opções na parte superior direita.<br>
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/menuPendenciaDeAnalise.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <ul style="text-align: justify;margin-left: 60px">
        <li>Visualização do Processo, a qual por padrão já está ativada;</li>
        <li>Editar, possibilitando alterar a classificação, data da próxima Temporalidade e Destinação, e/ou Lembrete;</li>
        <li>Registrar Extravios: Nessa opção é possível registrar se o processo sofreu algum extravio. É preciso registrar o Método. Além disso também é possível preencher os campos Edital e Observação.</li>
    </ul>
    <div class="atencao">
        <p>
            <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong>
        </p>
        <p style="text-indent: 20px">
            As opções de que aparecem na parte superior direita da visualização de processo também podem ser acessadas nas opções ao lado de cada Processo da lista
            <img src="assets/images/ajuda/tresPontinhos.png" style="width: 10px;"class="fr-fic fr-dii">
        </p>
    </div>
    <mat-expansion-panel style="text-align: center;margin-left: 40px">
        <mat-expansion-panel-header>
            <mat-panel-title style="text-align: center">
                CLASSIFICAÇÃO
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p style="text-align: justify;">
            Classificação é o ato ou efeito de analisar e identificar o conteúdo dos documentos arquivísticos e de
            selecionar a classe sob a qual serão recuperados. Essa classificação é feita a partir de um plano de
            classificação elaborado pelo órgão ou entidade.<br><br>
            A classificação determina o agrupamento de documentos em unidades menores e o agrupamento destas em unidades
            maiores, formando o arquivo do órgão ou entidade. Para tanto, deve tomar por base o conteúdo do documento,
            que reflete a atividade que o gerou e determina o uso da informação nele contida. <br><br>
            A classificação também define a organização física dos documentos, constituindo-se em referencial básico
            para sua recuperação. <br><br>
            Os objetivos da classificação são:
        <ul style="text-align: justify">

            <li>Estabelecer a relação orgânica dos documentos arquivísticos;</li>
            <li>Assegurar que os documentos sejam identificados de forma consistente ao longo do tempo;</li>
            <li>Auxiliar a recuperação de todos os documentos arquivísticos relacionados a uma determinada função ou
                atividade;
            </li>
            <li>Possibilitar a avaliação de um grupo de documentos de forma que os documentos associados sejam
                transferidos, recolhidos ou eliminados em conjunto.
            </li>
            <br><br>
        </ul>
        <p style="text-align: justify;">
            A classificação deve se basear no plano de classificação e envolve os seguintes passos:
        </p>
        <ul style="text-align: justify">

            <li>Identificar a ação que o documento registra;</li>
            <li>Localizar a ação ou atividade no plano de classificação;</li>
            <li>Comparar a atividade com a estrutura organizacional para verificar se é apropriada à unidade que gerou o
                documento;
            </li>
            <li>Aplicar a classificação ao documento.</li>
        </ul>
    </mat-expansion-panel>
</div>

<div *ngIf="titulo === 'transicoes'">
    <ajuda-transicoes></ajuda-transicoes>
    <a href="javascript:void(0)" (click)="carregar('arquivista')">Voltar ao <strong>ajuda Arquivista</strong></a>
</div>
