<mat-tab-group>
    <mat-tab>
        <ng-template matTabLabel class="header">
            <span [matBadge]="oficios.length.toString()" matBadgeOverlap="false" matBadgeColor="warn">Documentos</span>
        </ng-template>

        <div class="bt-upload">
            <button mat-mini-fab
                    class="active accent mt-8 mb-8 ml-8 mr-8"
                    [matMenuTriggerFor]="moreMenu" aria-label="Upload Documento"
                    (click)="$event.stopPropagation()">
                <mat-icon class="secondary-text">attach_file</mat-icon>
            </button>

            <mat-menu #moreMenu="matMenu">
                <button mat-menu-item aria-label="upload"
                        (click)="complementarDocumento()">
                    <ng-container>
                        <mat-icon>picture_as_pdf</mat-icon>
                        <span>Complementar</span>
                    </ng-container>
                </button>

                <ng-template #dynamicComponent></ng-template>
            </mat-menu>

            <cdk-documento-card-list [documentos]="oficios"
                                     [deletingId]="(deletingDocumentosId$ | async)"
                                     [assinandoId]="(assinandoDocumentosId$ | async)"
                                     [removendoAssinaturaId]="(removendoAssinaturaDocumentosId$ | async)"
                                     [convertendoId]="(convertendoDocumentosId$ | async)"
                                     (delete)="doDelete($event)"
                                     (deleteBlocoEmmitter)="deleteBloco($event)"
                                     (verResposta)="doVerResposta($event)"
                                     (assinatura)="doAssinatura($event)"
                                     (assinaturaBloco)="doAssinaturaBloco($event)"
                                     (removeAssinatura)="doRemoveAssinatura($event)"
                                     (converte)="doConverte($event)"
                                     (converteHtml)="doConverteHtml($event)"
                                     (downloadP7S)="doDownloadP7S($event)"
                                     (clicked)="onClicked($event)"
                                     (changedSelectedIds)="changedSelectedIds($event)">
            </cdk-documento-card-list>

            <cdk-componente-digital-card-list class="pt-8 pb-8 pl-0 pr-8" #ckdUpload
                                              [processoOrigem]="processo"
                                              [uploadMode]="'linear'"
                                              (completed)="onComplete()">
            </cdk-componente-digital-card-list>

        </div>

    </mat-tab>
</mat-tab-group>

<router-outlet></router-outlet>
