<h3 style="font-weight: bold">Componentes Digitais</h3>

<button mat-mini-fab *ngIf="(documento$ | async)?.minuta && !formComponentesDigitais"
        class="ml-8 mb-8 active accent add-file-button"
        matTooltip="Novo Componente Digital" aria-label="novo componente digital"
        (click)="uploadComponenteDigital()">
    <mat-icon class="secondary-text">attach_file</mat-icon>
</button>

<cdk-componente-digital-form cdkPerfectScrollbar class="mr-8"
                 *ngIf="formComponentesDigitais && (componenteDigitalLoading$ | async) === false"
                 [componenteDigital]="componenteDigital"
                 [saving]="(componenteDigitalIsSaving$ | async)"
                 [errors]="(componenteDigitalErrors$ | async)"
                 (save)="submitComponenteDigital($event)"
                 (abort)="showGridComponentes()">
</cdk-componente-digital-form>

<div class="loading" *ngIf="formComponentesDigitais && (componenteDigitalLoading$ | async) === true">
    <mat-spinner diameter="32"></mat-spinner>
</div>

<cdk-componente-digital-card-list #ckdUploadComponenteDigital
                                  *ngIf="!formComponentesDigitais"
                                  [mode]="'documento-edit'"
                                  [uploadMode]="'linear'"
                                  [documento]="(documento$ | async)"
                                  (completed)="onCompleteComponenteDigital($event)">
</cdk-componente-digital-card-list>

<cdk-componente-digital-grid
    *ngIf="!formComponentesDigitais"
    [isColaborador]="!!_profile.colaborador"
    [loading]="(componenteDigitalLoading$ | async)"
    [componentesDigitais]="(componentesDigitais$ | async)"
    [total]="(paginationComponenteDigital$ | async)?.total"
    [actions]="actions"
    [mode]="'documento'"
    [displayedColumns]="['id', 'fileName', 'numeracaoSequencial', 'tamanho', 'extensao', 'criadoPor.nome', 'actions']"
    [deletingIds]="(deletingComponenteDigitalIds$ | async)"
    [deletedIds]="(deletedComponenteDigitalIds$ | async)"
    (delete)="deleteComponenteDigital($event)"
    (deleteBlocoEmmitter)="deleteBloco($event)"
    (view)="viewComponenteDigital($event)"
    (reload)="reloadComponentesDigitais($event)"
    (edit)="editComponenteDigital($event)"
>
</cdk-componente-digital-grid>
