<mat-toolbar class="p-0 mat-elevation-z1">

    <div class="toolbar-element" xFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="end center">

            <button mat-icon-button class="navbar-toggle-button"
                    *ngIf="!hiddenNavbar && !rightNavbar" (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-8">
                    <img class="logo-icon" [src]="_cdkConfigService.logo">
                </div>
            </div>
            <cdk-barra-pesquisa class="mr-8 ml-8 pesquisa-rapida" (inputText)="search($event)" *showIfRole="'ROLE_COLABORADOR'"></cdk-barra-pesquisa>
        </div>

        <div class="" fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">
            <div class="avatar-element" >
                <button mat-button [matMenuTriggerFor]="userMenu"
                        class="user-button">
                    <div fxLayout="row" fxLayoutAlign="center center">
                        <img class="avatar mr-0 mr-sm-8" src="assets/images/avatars/User.png"
                             *ngIf="!!userProfile?.imgPerfil?.conteudo === false">
                        <img class="avatar mr-0 mr-sm-8" [src]="userProfile.imgPerfil.conteudo|safeResourceUrl"
                             *ngIf="!!userProfile?.imgPerfil?.conteudo === true">
                        <span class="username mr-12" fxHide fxShow.gt-sm>{{userProfile?.nome.split(' ')[0]}}</span>
                        <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                    </div>
                </button>

                <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                    <button mat-menu-item (click)="goConfiguracoes()">
                        <mat-icon>account_circle</mat-icon>
                        <span>Configurações</span>
                    </button>

                    <button mat-menu-item (click)="goLogout()">
                        <mat-icon>exit_to_app</mat-icon>
                        <span>Sair</span>
                    </button>

                </mat-menu>
            </div>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    class="mr-8 ml-8 quick-panel-toggle-button"
                    aria-label="Notificações"
                    [matMenuTriggerFor]="menuAssinadores">
                <mat-icon matTooltip="Assinadores" [matBadge]="assinadores.length" matBadgePosition="above after"
                          [matBadgeColor]="assinadores.length ? 'accent' : 'warn'" class="secondary-text">
                    lock
                </mat-icon>
            </button>
            <mat-menu #menuAssinadores="matMenu" class="menuNotificacao" [overlapTrigger]="false" xPosition="before">
                <div class="notification-header" *ngIf="assinadores.length">
                    <div>
                        <span class="title">Assinadores</span>
                    </div>
                </div>
                <mat-list *ngIf="assinadores.length; else vazioAss">
                    <ng-container *ngFor="let assinador of assinadores; let i = index; let len = count">
                        <mat-list-item>
                            <div class="notification-item" (click)="$event.stopPropagation(); setAssinadorSelecionado(assinador)">
                                <p style="cursor: pointer; margin: 15px 0 15px 10px; text-align: initial;"
                                   [innerHTML]="assinador.hostName">
                                </p>
                                <div *ngIf="assinador.selecionado" class="actions">
                                    <mat-icon class="mat-18" title="Selecionado" (click)="$event.stopPropagation()">done</mat-icon>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider *ngIf="i !== len-1"></mat-divider>
                    </ng-container>
                </mat-list>
                <ng-template #vazioAss>
                    <p class="textoMenu">Não há assinadores</p>
                </ng-template>
            </mat-menu>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    class="mr-8 ml-8 quick-panel-toggle-button"
                    aria-label="Notificações"
                    [matMenuTriggerFor]="menuNoticacoes">
                <mat-icon *ngIf="carregandoNotificacao">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                <mat-icon matTooltip="Notificações" *ngIf="!carregandoNotificacao" [matBadge]="notificacoesCount" matBadgePosition="above after"
                          [matBadgeColor]="notificacoesCount ? 'warn' : 'accent'" class="secondary-text"
                          (click)="reload()">
                    notifications
                </mat-icon>
            </button>
            <mat-menu #menuNoticacoes="matMenu" class="menuNotificacao" [overlapTrigger]="false" xPosition="before">
                <div class="notification-header" *ngIf="notificacoes.length">
                    <div>
                        <span class="title">Notificações</span>
                        <span class="actions" *ngIf="checkedNotifications.length">
                            {{ this.checkedNotifications.length }}
                            <mat-icon class="mat-18" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menuNoticacoesDetail">
                                more_vert
                            </mat-icon>
                            <mat-menu #menuNoticacoesDetail="matMenu" xPosition="before">
                                <mat-list>
                                    <mat-list-item>
                                         <button mat-menu-item (click)="marcarSelecionadosComoLido()">
                                            <span>Marcar como lido</span>
                                         </button>
                                    </mat-list-item>
                                    <mat-list-item>
                                         <button mat-menu-item (click)="removerSelecionados()">
                                            <span>Remover</span>
                                         </button>
                                    </mat-list-item>
                                </mat-list>
                            </mat-menu>
                        </span>
                    </div>
                    <div class="actions">
                        <mat-icon class="mat-18" title="Marcar como lido" (click)="marcarTodasComoLida()">done_all</mat-icon>
                        <mat-icon class="mat-18" title="Remover" (click)="excluirTodasNotificaoes()">delete_all</mat-icon>
                    </div>
                </div>
                <mat-list *ngIf="notificacoes.length; else vazio">
                    <ng-container *ngFor="let notificacao of notificacoes; let i = index; let len = count">
                        <mat-list-item [class.non-readed]="!notificacao.dataHoraLeitura">
                            <div class="notification-item" *ngIf="getNotificacaoContext(notificacao)?.id" (click)="$event.stopPropagation()">
                                <mat-checkbox (change)="checkNotification($event.checked, notificacao)"></mat-checkbox>
                                <div class="data-hora">
                                    <div>{{notificacao.criadoEm?.toDate() | date: 'dd/MM/yy HH:mm':'-0300'}}</div>
                                </div>
                                <p [innerHTML]="notificacao.conteudo | titleCasePipe" (click)="sendToTarget(notificacao);">
                                </p>
                                <div class="actions">
                                    <mat-icon class="mat-18" title="Abrir" (click)="sendToTarget(notificacao)">search</mat-icon>
                                    <mat-icon class="mat-18" title="Abrir em outra aba" (click)="$event.stopPropagation(); openNewTab(notificacao)">open_in_new</mat-icon>
                                    <mat-icon class="mat-18" title="Download" (click)="$event.stopPropagation(); download(notificacao)" *ngIf="getNotificacaoContext(notificacao)?.componente_digital_id">cloud_download</mat-icon>
                                    <mat-icon class="mat-18" title="Marcar como lida" (click)="$event.stopPropagation(); toggleLida(notificacao)" *ngIf="!notificacao.dataHoraLeitura">done</mat-icon>
                                    <mat-icon class="mat-18" title="Remover" (click)="$event.stopPropagation(); removerNotificacao(notificacao)">delete</mat-icon>
                                </div>
                            </div>
                            <div class="notification-item" *ngIf="!getNotificacaoContext(notificacao)?.id" (click)="$event.stopPropagation()">
                                <mat-checkbox (change)="checkNotification($event.checked, notificacao)"></mat-checkbox>
                                <div class="data-hora">
                                    <div>{{notificacao.criadoEm?.toDate() | date: 'dd/MM/yy HH:mm':'-0300'}}</div>
                                </div>
                                <p [innerHTML]="notificacao.conteudo | titleCasePipe">
                                </p>
                                <div class="actions">
                                    <mat-icon class="mat-18" title="Marcar como lida" (click)="$event.stopPropagation(); toggleLida(notificacao)" *ngIf="!notificacao.dataHoraLeitura">done</mat-icon>
                                    <mat-icon class="mat-18" title="Remover" (click)="$event.stopPropagation(); removerNotificacao(notificacao)">delete</mat-icon>
                                </div>
                            </div>
                        </mat-list-item>
                        <mat-divider *ngIf="i !== len-1 && !notificacao.dataHoraLeitura"></mat-divider>
                    </ng-container>
                </mat-list>
                <ng-template #vazio>
                    <p class="textoMenu">Não há notificações</p>
                </ng-template>
            </mat-menu>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    id="help"
                    class="mr-8 ml-8 quick-panel-toggle-button2"
                    (click)="toggleSidebarOpen('ajudaPanel')"
                    aria-label="Ajuda">
                <mat-icon  matTooltip="Ajuda" class="secondary-text">live_help</mat-icon>
            </button>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    class="mr-8 ml-8 quick-panel-toggle-button2"
                    (click)="toggleChatPanel()"
                    aria-label="Mensagem">
                <mat-icon *ngIf="carregandoChat">
                    <mat-spinner diameter="20"></mat-spinner>
                </mat-icon>
                <mat-icon  matTooltip="Chat" class="secondary-text" *ngIf="!carregandoChat"
                          [matBadge]="totalChatMensagensNaoLidas" matBadgePosition="above after"
                          [matBadgeColor]="totalChatMensagensNaoLidas ? 'warn' : 'accent'">
                    chat
                </mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

            <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    class="mr-8 ml-8 quick-panel-toggle-button3"
                    *ngIf="(!this._cdkSidebarService.getSidebar('quickPanel').isLockedOpen || this._cdkSidebarService.getSidebar('quickPanel').folded)
                     && operacoesProcessando === 0"
                    (click)="toggleQuickPanel()"
                    aria-label="Operações">
                <mat-icon  matTooltip="Últimas Operações" class="secondary-text">format_list_bulleted</mat-icon>
            </button>

            <div style="min-width: 48px;" fxLayoutAlign="center center" class="quick-panel-toggle-button3 mat-icon-button"
                 matTooltip="Processando {{operacoesPendentes}}/{{operacoesProcessando}} item(s)..."
                 *ngIf="(!this._cdkSidebarService.getSidebar('quickPanel').isLockedOpen || this._cdkSidebarService.getSidebar('quickPanel').folded)
                  && operacoesProcessando > 0"
                 (click)="toggleQuickPanel()">
                <mat-spinner diameter="24"></mat-spinner>
            </div>
        </div>

    </div>
    <div *ngIf="titulo === 'Inicia Tour'">
        <shepherd></shepherd>
    </div>
</mat-toolbar>
