@import "src/@cdk/scss/cdk";

relatorio-view {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;

    > .header {
        flex: 0 1 auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 8px;

        height: 56px !important;
        min-height: 56px !important;
        max-height: 56px !important;

        .relatorio-navigation {
            flex: 1 1 auto;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .right {
                display: flex;
                justify-content: flex-end;
            }
        }
    }

    > .content {
        flex: 1 1 auto;
        display: flex;

        flex-direction: column;

        > .loading, .sem-relatorios {
            flex: 1 1 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        > .zoom-0x {
            transform: scale(1);
        }

        > .zoom-1x {
            transform: scale(1.1);
        }

        > .zoom-2x {
            transform: scale(1.2);
        }

        > .zoom-3x {
            transform: scale(1.3);
        }

        > .zoom-4x {
            transform: scale(1.4);
        }

        > .zoom-5x {
            transform: scale(1.5);
        }

        > .zoom-6x {
            transform: scale(1.6);
        }

        > .zoom-7x {
            transform: scale(1.7);
        }

        > .zoom-8x {
            transform: scale(1.8);
        }

        > .zoom-9x {
            transform: scale(1.9);
        }

        > .zoom-10x {
            transform: scale(2);
        }

        > .relatorio-view-relatorio-content {
            flex: 1 1 auto;
            display: flex;
            @include mat-elevation(1);

            > iframe {
                flex: 1 1 auto;
                display: flex;
                border: none;
            }

            > .div-about-blank {
                flex: 1 1 auto;
                display: flex;
                border: none;
                margin-left: 10px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }
    }
}

.compact-panel {
    transform-origin: top left!important;
}

.expanded-panel {
    transform-origin: top!important;
}
