<div class="header accent mat-elevation-z4 primary" fxLayout="row" fxLayoutAlign="space-between center" tabindex="-1">

    <ng-container>
        <div class="title ml-8 cursor-pointer" fxLayout="row" fxLayoutAlign="start center"
             (click)="closeSidebar()">
            <mat-icon class="s-32 cdk-white-fg">chat</mat-icon>
            <h3 class="ml-12">Mensagens</h3>
        </div>
    </ng-container>

    <button mat-icon-button class="toggle-sidebar-open mr-8" (click)="closeSidebar()">
        <mat-icon class="secondary-text">close</mat-icon>
    </button>

</div>
<div class="content-card" tabindex="-1"
     *ngIf="usuarioLogado">

    <mat-sidenav-container>
        <!-- LEFT SIDENAV-->
        <mat-sidenav class="sidenav sidenav-left" position="start" opened="true" mode="side" tabindex="-1"
                     [disableClose]="true"
                     *ngIf="activeCard === 'chat-list'">
            <chat-header class="chat-header"
                (pesquisaChatHandler)="pesquisaChat($event)"
                (criarGrupoHandler)="criarGrupo()">
            </chat-header>
            <div class="chat-content" fxFlex
                 infiniteScroll
                 [scrollWindow]="false"
                 [infiniteScrollDistance]="2"
                 [infiniteScrollThrottle]="50"
                 (scrolled)="onScrollChatList($event)">
                <chat-list
                    *cdkIfOnDom [@animateStagger]="{value:'50'}"
                    fxLayout="column"
                    (chatClickHandler)="openChat($event)"
                    [chatList]="chatList"
                    [chatOpen]="chatOpen"
                    [loading]="chatLoading">
                </chat-list>
            </div>
        </mat-sidenav>
        <!-- /LEFT SIDENAV-->
        <!-- RIGHT SIDENAV-->
        <mat-sidenav class="sidenav sidenav-right" position="end" opened="true" mode="side"
                     [disableClose]="true"
                     *ngIf="!!chatOpen && activeCard === 'chat-mensagem-list'">
            <div class="chat" fxFlex fxLayout="column">
                <chat-mensagem-header class="chat-header"
                    [chat]="chatOpen"
                    (fecharChatHandler)="fecharChat()"
                    (chatFormHandler)="chatForm($event)"
                    (sairChatHandler)="removerParticipante($event)"
                    (excluirChatHandler)="excluirChat($event)"
                    (chatParticipantesHandler)="chatParticipantes($event)">
                </chat-mensagem-header>
                <div class="chat-content"
                     #chatMensagemScroll
                     CdkPerfectScrollbar
                     infiniteScroll
                     [scrollWindow]="false"
                     [infiniteScrollUpDistance]="3.5"
                     [infiniteScrollThrottle]="50"
                     (scrolledUp)="onScrollUpChatMessageList($event)"
                     (scroll)="onScrollChatMessageList($event)">
                    <chat-mensagem-list
                        [chat]="chatOpen"
                        [errors]="chatParticipanteErrors"
                        [loading]="(chatMensagemLoading$ | async)"
                        [chatMensagens]="chatMensagens">
                    </chat-mensagem-list>
                </div>
                <div class="chat-footer" fxFlex="0 0 auto" fxLayout="column">

                    <form class="chat-mensagem-form" name="chatMensagemForm" fxFlex="0 0 auto" fxLayout="row"
                          [formGroup]="chatMensagemForm"
                          fxLayoutAlign="center center"
                          (ngSubmit)="enviarMensagem(chatOpen)"
                          (keydown.enter)="enviarMensagem(chatOpen); $event.preventDefault();"
                          fxFlex fxLayout="row" fxLayoutAlign="start center">

                        <mat-form-field class="message-text" fxFlex floatLabel="never" appearance="standard">

                            <textarea matInput placeholder="Escreva sua mensagem..."
                                      formControlName="mensagem"
                                      #mensagem
                                      maxlength="150" [rows]="1" [cdkTextareaAutosize]="false"></textarea>
                        </mat-form-field>

                        <button class="send-message-button" mat-icon-button type="submit" aria-label="Enviar Mensagem">
                            <mat-icon class="secondary-text">send</mat-icon>
                        </button>

                    </form>
                </div>
            </div>
        </mat-sidenav>
        <!-- /RIGHT SIDENAV-->
        <!-- CHAT GROUP FORM SIDENAV-->
        <mat-sidenav class="sidenav sidenav-right" position="start" opened="true" mode="side"
                     [disableClose]="true"
                     *ngIf="activeCard === 'chat-grupo-form'">
            <chat-grupo-form
                (cancelFormHandler)="cancelChatGrupoForm()"
                (chatFormHandler)="chatForm($event)"
                (chatParticipantesHandler)="chatParticipantes($event)"
                (removerParticipanteHandler)="removerParticipante($event)"
                (imagemCapaCroppedHandler)="uploadImgCapaChat($event)"
                (excluirChatHandler)="excluirChat($event)"
                (saveHandler)="salvarChat($event)"
                [chat]="chatOpen"
                [capa]="chatFormCapa"
                [saving]="chatFormSaving"
                [errors]="chatFormErrors || chatParticipanteErrors">
            </chat-grupo-form>
        </mat-sidenav>
        <!-- /CHAT GROUP FORM SIDENAV-->
        <!-- CHAT PARTICIPANTES SIDENAV-->
        <mat-sidenav class="sidenav sidenav-right" position="start" opened="true" mode="side"
                     [disableClose]="true"
                     *ngIf="activeCard === 'chat-participantes-list'">
            <chat-participantes-list
                (fecharHandler)="fecharParticipantes()"
                (chatParticipantesHandler)="chatParticipantes($event)"
                (chatFormHandler)="chatForm($event)"
                (adicionarParticipanteHandler)="adicionarParticipante($event)"
                (tornarAdministradorHandler)="tornarAdministrador($event)"
                (removerParticipanteHandler)="removerParticipante($event)"
                (excluirChatHandler)="excluirChat($event)"
                (scrollDownHandler)="onScrollDownChatParticipante()"
                [chat]="chatOpen"
                [chatParticipanteList]="chatParticipanteList"
                [saving]="chatParticipanteSaving"
                [loading]="chatParticipanteLoading"
                [errors]="chatParticipanteErrors">
            </chat-participantes-list>
        </mat-sidenav>
        <!-- /CHAT PARTICIPANTES SIDENAV-->
    </mat-sidenav-container>
</div>
