<div class="content p-8" fxLayout="column">
    <h3><strong>CRIANDO OFÍCIOS EM BLOCO</strong></h3>

    <p style="text-align: justify;margin-left: 40px">
        1. No menu lateral esquerdo, para <strong>criação de ofícios em bloco</strong>, clique em
        <strong>Tarefas&nbsp;</strong>&gt;
        <strong>Administrativas</strong>:
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/criartarefaadm.png" style="width: 256px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. Clicando no campo de selecionar todas ou selecionando várias, aparece um botão
        em que é possível realizar diversas operações. <br><br>
    </p>
    <p style="text-align: center;">
        <img src="assets/images/ajuda/opcoesembloco.png" style="width: 100px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Ao clicar em <strong>Criar Ofício</strong>, a página de <strong>Criação de ofícios em bloco</strong> é aberta.<br><br>
    </p>
    <p style="text-align: justify;margin-left: 40px">
        4. É possível escolher a <strong>Espécie de Ofício</strong> e <strong>Modelo</strong>. Também é possivel escolher a opção de <strong>Destinatário Externo</strong>,
        colocando a <strong>Unidade</strong>/<strong>Pessoa</strong> que vai receber o ofício.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        5. Após escolher se o ofício é <strong>Urgente</strong>, o <strong>Início do Prazo</strong>, o <strong>Final do prazo</strong> e colocar <strong>Observações</strong>. é possível salvar os ofícios.
        Uma mensagem de criação aparece na parte inferior da tela.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        6. Agora, em cada tarefa um ofício foi criado.
    </p>
    <hr>
    <p><br></p>
</div>
