<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field *ngIf="visibleFields.indexOf('transicaoWorkflow') !== -1">
        <input matInput placeholder="Transição Workflow"
               formControlName="transicaoWorkflow"
               [matAutocomplete]="transicaoWorkflow.autocomplete" required [readonly]="!!vinculacaoTransicaoWorkflow.id"
               (blur)="checkTransicaoWorkflow()">
        <cdk-transicao-workflow-autocomplete
            #transicaoWorkflow="transicaoWorkflowAutocomplete"
            [control]="form.get('transicaoWorkflow')"
            [pagination]="transicaoWorkflowPagination">
        </cdk-transicao-workflow-autocomplete>
        <button *ngIf="form.get('transicaoWorkflow').enabled" matSuffix mat-button mat-icon-button
                (click)="showTransicaoWorkflowGrid()" [disabled]="!!vinculacaoTransicaoWorkflow.id">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('transicaoWorkflow').hasError('formError')">
            {{form.get('transicaoWorkflow').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngIf="visibleFields.indexOf('workflow') !== -1">
        <input matInput placeholder="Workflow"
               formControlName="workflow"
               [matAutocomplete]="workflow.autocomplete" required [readonly]="!!vinculacaoTransicaoWorkflow.id"
               (blur)="checkWorkflow()">
        <cdk-workflow-autocomplete
            #workflow="workflowAutocomplete"
            [control]="form.get('workflow')"
            [pagination]="workflowPagination">
        </cdk-workflow-autocomplete>
        <button *ngIf="form.get('workflow').enabled" matSuffix mat-button mat-icon-button
                (click)="showWorkflowGrid()" [disabled]="!!vinculacaoTransicaoWorkflow.id">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('workflow').hasError('formError')">
            {{form.get('workflow').errors.formError}}
        </mat-error>
    </mat-form-field>


    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-transicao-workflow-gridsearch
    *ngIf="activeCard === 'transicao-workflow-gridsearch'"
    [pagination]="transicaoWorkflowPagination"
    (selected)="selectTransicaoWorkflow($event)"
    (cancel)="cancel()">
</cdk-transicao-workflow-gridsearch>

<cdk-workflow-gridsearch
    *ngIf="activeCard === 'workflow-gridsearch'"
    [pagination]="workflowPagination"
    (selected)="selectWorkflow($event)"
    (cancel)="cancel()">
</cdk-workflow-gridsearch>