<div class="content p-8" fxLayout="column">
    <h3><strong>REMESSAS</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
        <strong>Remessa</strong> é o registro da remessa do processo/documento avulso para um Órgão ou Pessoa externos à AGU
    </p>
    <p style="text-align: justify;text-indent: 20px">
        Quando um processo precisa da ação de outro órgão/pessoa externos à AGU,
        surge a possibilidade de realizar uma remessa do processo/documento avulso para o novo órgão/pessoa responsável.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        A opção "Remessas" somente estará habilitada ser for possível realizar a remessa.
        Por exemplo, o se o usuário não estiver lotado na unidade atual do NUP, a opção "Remessa" estará desabilitada.
    </p>
    <p style="text-align: justify;text-indent: 20px">
        A <strong>Remessa</strong> é o controle da localização de um processo.
    </p>
    <h3 style="text-align: justify;text-indent: 20px">
        <strong>Acessando as Remessas na página de cadastramento de processo</strong>
    </h3>
    <p style="text-align: justify;margin-left: 40px">
        1. No grid com opções de dados que podem/devem ser preenchidos, escolha o campo <strong>Remessas</strong>
    </p>
    <p style="text-align: center;">
        <!-- BUG COM TRAMITAÇÃO NÃO DEIXA PEGAR A IMAGEM PROCESSO REMESSAS<img src="assets/images/ajuda/processojuntadas.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">  -->
    </p>
    <p style="text-align: justify;margin-left: 40px">
        2. A página de remessas é aberta. A lista de remessas aparece no centro da página.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        3. Na opção  <img src="assets/images/ajuda/listacolunas.png" class="fr-fic fr-dii"> é possível adicionar mais colunas.
        Essas informações auxiliam na localização de remessas específicas, ordenando as colunas de diferentes modos.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        4. Além da opção de ordenar/adicionar colunas, existe a opção de filtro <img src="assets/images/ajuda/listacolunas.png" class="fr-fic fr-dii">, facilitando ainda mais a localização de juntadas.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        5. É possível criar uma nova remessa a partir do botão <img src="assets/images/ajuda/novo.png" class="fr-fic fr-dii">.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        6. Os campos Processo e Setor de Origem já vão estar preenchidos. É necessário preencher o setor de destino.
        <!-- SETOR? Não seria pessoa/orgão? -->
    </p>
    <p style="text-align: justify;margin-left: 40px">
        7. Também é possível adicionar uma observação na remessa, colocando informações adicionais.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        8. Clique em <strong>Salvar</strong>.
    </p>
    <p style="text-align: justify;margin-left: 40px">
        9. A lista de Remessas é carregada novamente, com a remessa adicionada.
    </p>
    <hr>

    <h3 style="text-align: justify;text-indent: 20px">
        <!-- ONDE MAIS VAI APARECER A OPÇAO REMESSAS?<strong>Acessando as Juntadas na página de tarefas</strong> -->
    </h3>
    <!-- ESPAÇO PARA AS RULES DE REMESSA<p style="background-color: #d3d3d3;margin-left: 20px">
        <img src="assets/images/ajuda/atencao.png" style="width: 15px;"class="fr-fic fr-dii"><strong>FIQUE ATENTO:</strong><br><br>
    </p> -->

    <h4>Remessa: como criar? Como receber uma remessa?</h4>
    <iframe width="400" height="225"
        src="https://www.youtube.com/embed/4ZRFcARxjt8" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen>
    </iframe>
    <p><br></p>
</div>
