ajuda-remessas{
/*Variáveis do Collapsible*/
$corCollapsibleNotClicked: #1d75b3;
$corCollapsibleClicked: #64bde0;
$corTextoCollapsible: #ffffff;
$corSimboloCollapsible: #ffffff;
$corContentCollapsible: #b7e1f1;

p {
    text-align: left;
}
img {
    max-width: 256px;
}


/* Estilo do botão utilizado para abrir e fechar o conteúdo do collapsible*/
.collapsible {
    background-color: $corCollapsibleNotClicked;
    color: $corTextoCollapsible;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

/* Adicionar uma cor diferente ao clicar/passar o mouse em cima.*/
.active, .collapsible:hover {
    background-color: $corCollapsibleClicked;
}

/* Estilo do conteúdo do collapsible. Escondido por padrão*/
.colapsable {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    width: 80%;
    background-color: $corContentCollapsible;		
    margin-left: 5px;
    } 
.collapsible:after {
    content: '\02795'; /* Unicode para símbolo de "mais" (+) */
    font-size: 13px;
    color: $corSimboloCollapsible;
    float: none;
    // float: right;
    margin-left: 5px;
}
    
.active:after {
    content: "\2796"; /* Unicode para símbolo de "menos" (-) */
}

/*Coluna Dupla*/
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
}
