<div class="header">
    <path icone="notifications"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="notificacoes">
    </path>
</div>
<cdk-notificacao-grid
        [loading]="(loading$ | async)"
        [notificacoes]="(notificacoes$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [toggleLidaErrors]="(toggleLidaErrors$ | async)"
        [actions]="['toggleLida', 'showDeleted']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (toggleLida)="toggleLida($event)"
        (delete)="delete($event)"
        (deleteBlocoEmmitter)="deleteBloco($event)">
</cdk-notificacao-grid>
