<div class="header">
    <mat-icon [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
        search
    </mat-icon>
    <span [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
          *ngIf="this.mode === 'list'">Filtro</span>
</div>

<div class="content" cdkPerfectScrollbar>
    <form fxLayoutGap="8px" name="form" [formGroup]="form" (keyup.enter)="buscar()">

        <mat-form-field>
            <input matInput placeholder="Gênero"
                   formControlName="generoRelatorio"
                   [matAutocomplete]="generoRelatorio.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-genero-relatorio-autocomplete  #generoRelatorio="generoRelatorioAutocomplete"
                                                [control]="form.get('generoRelatorio')">
            </cdk-genero-relatorio-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Espécie de Relatorio"
                   formControlName="especieRelatorio"
                   [matAutocomplete]="especieRelatorio.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-especie-relatorio-autocomplete #especieRelatorio="especieRelatorioAutocomplete"
                                                [control]="form.get('especieRelatorio')">
            </cdk-especie-relatorio-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput #nome
                   name="nome"
                   formControlName="nome">
        </mat-form-field>

        <span class="botao-toggle" *ngIf="hasInatived">
            Ativo
            <mat-button-toggle-group class="mat-button-toggle-group-custom" formControlName="ativo">
                <mat-button-toggle value="true" class="button-toggle-custom">Sim</mat-button-toggle>
                <mat-button-toggle value="todos" class="button-toggle-custom">Todos</mat-button-toggle>
                <mat-button-toggle value="false" class="button-toggle-custom">Não</mat-button-toggle>
            </mat-button-toggle-group>
        </span>

        <mat-form-field>
            <input matInput placeholder="Criado Por"
                   formControlName="criadoPor"
                   [matAutocomplete]="usuario.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('criadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Atualizado Por"
                   formControlName="atualizadoPor"
                   [matAutocomplete]="usuario.autocomplete"
                   (change)="verificarValor($event)">
            <cdk-usuario-autocomplete #usuario="usuarioAutocomplete" [control]="form.get('atualizadoPor')">
            </cdk-usuario-autocomplete>
        </mat-form-field>

        <div class="filtro-data">
            <span [ngClass]="{'filtrado': filterCriadoEm?.length}">Criado Em</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroCriadoEm"
                    [ngClass]="{'filtrado': filterCriadoEm?.length}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroCriadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="criadoEm"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraCriadoEm($event)">
            </cdk-date-filter>
        </mat-menu>

        <div class="filtro-data">
            <span [ngClass]="{'filtrado': filterAtualizadoEm?.length}">Atualizado Em</span>
            <button mat-icon-button type="button" [matMenuTriggerFor]="filtroAtualizadoEm"
                    [ngClass]="{'filtrado': filterAtualizadoEm?.length}">
                <mat-icon class="s-16">keyboard_arrow_right</mat-icon>
            </button>
        </div>
        <mat-menu #filtroAtualizadoEm="matMenu" class="menuDatas" [overlapTrigger]="false" xPosition="after">
            <cdk-date-filter [datetime]="true" campo="atualizadoEm"
                             [limparForm]="this.limparFormFiltroDatas$"
                             (filtra)="this.filtraAtualizadoEm($event)">
            </cdk-date-filter>
        </mat-menu>
    </form>
</div>

<div class="footer">
    <button mat-raised-button color="accent" (click)="buscar()">
        Buscar
    </button>
    <button mat-raised-button color="warn" (click)="limpar()" *ngIf="this.mode === 'list'">
        Limpar
    </button>
</div>
