<!-- CONTENT HEADER -->
<div class="header">
    <div class="actions">
        <button mat-icon-button
                (click)="back()"
                aria-label="voltar"
                matTooltip="Voltar">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>
</div>
<!-- / CONTENT HEADER -->

<!-- CONTENT -->
<div class="content" *ngIf="getMetadado" cdkPerfectScrollbar>
    <cdk-imprimir-relatorio-form
        (save)="submit($event)">
    </cdk-imprimir-relatorio-form>
</div>
<!-- / CONTENT -->


<div class="content" *ngIf="!getMetadado" cdkPerfectScrollbar>
    <div class="processo-relatorio-view-content">
        <iframe id="iframe-processo-relatorio" [src]="src"></iframe>
    </div>
</div>

