<!-- SIDEBAR HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-8">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-24" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
            search
        </mat-icon>
        <span class="logo-text" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Filtros</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="py-16" cdkPerfectScrollbar>

    <div fxLayout="column">
            <cdk-especie-relatorio-grid-filter (selected)="setGridFilter($event)"></cdk-especie-relatorio-grid-filter>
    </div>

</div>
<!-- / SIDEBAR CONTENT -->
