@import 'src/@cdk/scss/cdk';

cdk-processo-list-item {
    display: block;
    position: relative;
    padding: 8px 8px 8px 24px;
    border-bottom: 1px solid #d8d8d8;
    text-transform: none;
    cursor: pointer;
    flex-shrink: 0;

    mat-expansion-panel{
        margin-top: 15px !important;

        .lembrete {
            margin-left: 8px;
            margin-right: 8px;
            margin-bottom: 8px;
            text-wrap: normal;
        }

        mat-form-field {
            display: flex;
            flex: 1 1 auto;
            margin-left: 8px;
            margin-right: 8px;
        }
    }

    .info {

        word-break: break-word;
        hyphens: auto;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;

        &.nao-lido {
            font-weight: bold;
        }

        margin: 0 8px 0 8px;

        .title {
            font-size: 15px;
            font-weight: 600;
        }

        .subtitle {
            font-style: italic;
            font-size: 12px;
        }

        .body {
            margin-top: 6px;

            .transicao-arquivistica {
                display: flex;
                flex-direction: row;
                align-items: center;

                mat-spinner {
                    margin-left: 5px;
                }
            }
        }

        .etiquetas {
            margin-top: 8px;

            .etiqueta {
                font-size: 11px;
                border-radius: 4px;
                margin: 0 4px 0 0;
                padding: 3px 8px;

                .etiqueta-color {
                    width: 8px;
                    height: 8px;
                    margin-right: 8px;
                    border-radius: 50%;
                }
            }
        }
    }
}
