<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput #nome
               name="nome"
               formControlName="nome"
               maxlength="255" minlength="3" upperCase required>
        <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.invalid">
            {{getErrorMessage()}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Descrição</mat-label>
        <textarea formControlName="descricao"
                  matInput #descricao
                  cdkTextareaAutosize
                  #autosize="cdkTextareaAutosize"
                  cdkAutosizeMinRows="4"
                  cdkAutosizeMaxRows="10"
                  maxlength="255" minlength="3" upperCase required></textarea>
        <mat-hint align="end">{{descricao.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('descricao').hasError('formError')">
            {{form.get('descricao').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
            <input matInput placeholder="Gênero Relevância"
                   formControlName="generoRelevancia"
                   [matAutocomplete]="generoRelevancia.autocomplete" required>
        <cdk-genero-relevancia-autocomplete
            #generoRelevancia="generoRelevanciaAutocomplete"
            [control]="form.get('generoRelevancia')">
        </cdk-genero-relevancia-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showGeneroRelevanciaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
    </mat-form-field>

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>

        <button mat-raised-button color="warn" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-genero-relevancia-gridsearch
    *ngIf="activeCard === 'genero-relevancia-gridsearch'"
    [pagination]="generoRelevanciaPagination"
    (selected)="selectGeneroRelevancia($event)"
    (cancel)="cancel()">
</cdk-genero-relevancia-gridsearch>
