event-dialog {

    .bolder {
        font-weight: bolder;
    }

    .container {

        .dialog-content {

            .title {
                font-weight: bolder;
                margin: 10px 0px;
            }

            .event-message {
                font-style: italic;
                padding: 15px;
            }

            .events-list {
                display: flex;
                flex-direction: column;
                margin-left: 10px;

                .event-item-dialog {
                    line-height: 20px;
                    margin-left: 10px;
                }

                .event {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
