<cdk-documento-avulso-form
    [documentoAvulso]="documentoAvulso"
    [saving]="saving"
    [errors]="errors"
    [especieDocumentoAvulsoPagination]="especieDocumentoAvulsoPagination"
    [setorDestinoPagination]="setorDestinoPagination"
    [modeloPagination]="modeloPagination"
    [modeloPaginationAndx]="modeloPaginationAndx"
    [mode]="mode"
    (gerirPessoaDestino)="doGerirPessoaDestino()"
    (editPessoaDestino)="doEditPessoaDestino($event)"
    [mecanismoRemessa]="mecanismoRemessa"
    [pessoaDestino]="pessoaDestino"
    [destinatarios]="destinatarios"
    [prazoCriteriaList]="prazoCriteriaList"
    (save)="submit($event)"
    (abort)="doAbort()">
</cdk-documento-avulso-form>
