@import "../../../../scss/partials/cdk-form";

cdk-acao-trigger-004 {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    .responsive-grid {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        padding: 8px;
    }
}
