<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-checkbox formControlName="ativo">
        Ativo
    </mat-checkbox>

    <mat-form-field>
        <input matInput placeholder="Nome" formControlName="nome" required maxlength="255" upperCase>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Descrição" formControlName="descricao" maxlength="255" required upperCase>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Template"
               formControlName="template"
               [matAutocomplete]="template.autocomplete"
               (blur)="checkTemplate()" required>
        <cdk-template-autocomplete
            #template="templateAutocomplete"
            [control]="form.get('template')"
            [pagination]="templatePagination">
        </cdk-template-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showTemplateGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('template').hasError('formError')">
            {{form.get('template').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" type="submit" (click)="submit()"
                [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-template-gridsearch
    *ngIf="activeCard === 'template-gridsearch'"
    (selected)="selectTemplate($event)"
    (cancel)="cancel()">
</cdk-template-gridsearch>
