<div *ngIf="titulo === 'coordenador'">
    <h3><strong>COORDENADOR</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      No novo sistema, o conceito de coordenador foi expandido. Antes, estava limitado a Coordenação apenas do setor.
      Agora, o conceito se divide em 3(três) níveis:
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li>Coordenador do Órgão Central</li>
      <li>Coordenador da Unidade</li>
      <li>Coordenador do Setor</li>
    </ul>
    <p style="text-align: justify;text-indent: 20px">
      A Advocacia Geral da União - regida pela Lei Complementar nº 73/1993, Lei nº 10480/2002 e Lei nº 9650/1998 - é composta por Órgãos Centrais. Três desses fazem parte da gestão do sistema, ajudando na descentralização de demandas.
    </p>
    <ul style="text-align: justify;margin-left: 20px">
      <li>Procuradoria-Geral da União (PGU)</li>
      <li>Consultoria-Geral da União (CGU)</li>
      <li>Procuradoria-Geral Federal (PGF)</li>
    </ul>
    <p style="text-align: justify;text-indent: 20px">
      Sendo assim, um Órgão Central é uma "Unidade Pai" de várias outras Unidades, divididas dentro do sistema. Essa divisão é realizada para fins gerenciais.
      O Órgão Central funciona em âmbito nacional
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Abaixo dos Órgãos Centrais estão as Unidades e abaixo das Unidades estão os Setores, como Protocolo, Arquivo, Gabinete, entre outros.
      Dessa maneira, os setores ajudam na organização das Unidades.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Para acessar as funcionalidades disponíveis ao perfil de Coordenador,
      o usuário com essa prerrogativa deverá acessar o Módulo de Coordenadores,
      no botão localizado no painel lateral esquerdo da tela do sistema.
    </p>
    <p style="text-align: center">
      <img src="assets/images/ajuda/acessocoordenador.png" style="width: 400px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Cabe ao Administrador, no módulo de Administrador manipular e conceder o perfil de Coordenador para todos os coordenadores existentes.
      Sendo assim, o Administrador tem o poder de conceder ou retirar o perfil de Coordenador de todos os níveis.
    </p>
   <h3><strong>Coordenador de Orgão Central</strong></h3>

    <p style="text-align: justify;text-indent: 20px">
      Ao acessar o Módulo de Coordenação, o Coordenador do Órgão Central visualiza o seu painel.
    </p>
    <p style="text-align: center">
      <img src="assets/images/ajuda/painelcoordorgcentral.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Como o Coordenador de Órgão Central gerencia em âmbito nacional, no seu painel esse usuário pode adicionar, editar e remover Modelos e  Repositórios Nacionais, além de visualizar os Usuários Nacionais, que são aqueles lotados em suas unidades "filhas".
    </p>
    <p style="text-align: justify;text-indent: 20px">
      No menu de Usuários Nacionais, é possível editar o perfil do usuário, modificar suas lotações, cadastrar afastamentos e realizar o reset de senha.
      A lista de usuários fica no centro da tela, com a possibilidade de utilização de filtros para facilitar o trabalho.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      O Coordenador de Órgão Central também visualiza as Unidades "filhas". Ou seja, todas as Unidades reunidas naquele órgão central podem ser editadas.
      Ele também possui os mesmo poderes do Coordenador de Unidade, apenas escolhendo a unidade na lista no ícone
      <img src="assets/images/ajuda/escolheunidade.png" style="width: 50px;" class="fr-fic fr-dib fr-fil">.
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Ao escolher uma unidade, as opções de coordenação de uma unidade aparecem para o Coordenador de Órgão Central.
    </p>
    <p style="text-align: center">
      <img src="assets/images/ajuda/coordunidadeorgcentral.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <h3><strong>Coordenador de Unidade</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Toda unidade do sistema deve possuir ao menos um Coordenador. Este é responsável pela gestão dos seus modelos e Repositórios de conhecimento (cadastro, exclusão, inativação, etc.).
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Ao acessar o Módulo de Coordenação, o Coordenador da Unidade visualiza o seu painel.
    </p>
    <p style="text-align: center">
      <img src="assets/images/ajuda/painelcoordunidade.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível adicionar Modelos e Repositórios da Unidade, além de visualizar os usuários lotados na Unidade e manipular os setores dessa Unidade, inclusive criando e excluindo. É possível lotar usuários nesses setores.
      O Coordenador de Unidade também pode cadastrar afastamentos e realizar o reset de senha dos usuários na Unidade.
    </p>
    <h3><strong>Coordenador de Setor</strong></h3>
    <p style="text-align: justify;text-indent: 20px">
      Todo setor do sistema deve possuir ao menos um Coordenador, responsável pela gestão dos seus modelos e Repositórios de conhecimento (cadastro, exclusão, inativação, etc.).
    </p>
    <p style="text-align: justify;text-indent: 20px">
      Ao acessar o Módulo de Coordenação, o Coordenador do Setor visualiza o seu painel.
    </p>
    <p style="text-align: center">
      <img src="assets/images/ajuda/painelcoordsetor.png" style="width: 200px;" class="fr-fic fr-dib fr-fil">
    </p>
    <p style="text-align: justify;text-indent: 20px">
      É possível adicionar Modelos do Setor e Repositórios do Setor, além de visualizar os usuários lotados no setor e cadastrar os <strong>afastamentos</strong> desses usuários.
    </p>

    <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>

        <h4>Como criar modelos em uma unidade ou em um setor</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/XRert--4SPw" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como alimentar repositórios de tese, jurisprudência ou legislação em uma unidade ou em um setor</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/Dy8g4qzjrj0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como cadastrar um novo usuário no sistema</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/5JYkt4Iqob4" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como efetuar a lotação de um usuário em um setor</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/W_wt-zB6qp8" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como criar um novo setor na unidade</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/XgXPgEL-ysk" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Como editar os dados um setor ou de um usuário da unidade </h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/4Ug9tnirPLo" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Regras de Distribuição Automática - Parte 1</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/wdEkr447xrw" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Regras de Distribuição Automática - Parte 2</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/18L1FaoTrb8" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>

        <h4>Regras de Distribuição Automática - Parte 3</h4>
        <iframe width="400" height="225"
          src="https://www.youtube.com/embed/cuYNhIlfBBo" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen>
        </iframe>
        <p><br></p>
</div>
