<div class="header">
    <button mat-icon-button
            (click)="back()"
            matTooltip="Voltar às Juntadas">
        <mat-icon class="secondary-text">arrow_back</mat-icon>
    </button>
</div>

<mat-horizontal-stepper linear *ngIf="!mobileMode">
    <mat-step [completed]="juntadasSelecionadas.length > 0">
        <ng-template matStepLabel class="secondary-text">Selecione as juntadas que serão desentranhadas</ng-template>
        <cdk-juntada-grid-select [loading]="(loading$ | async)"
                                 [juntadas]="juntadas"
                                 (reload)="reload($event)"
                                 [juntadasAdicionadas]="juntadasSelecionadas"
                                 (juntadasSelecionadas)="juntadasAdicionadas($event)"
                                 [total]="(pagination$ | async)?.total">
        </cdk-juntada-grid-select>
        <div>
            <button matStepperNext mat-raised-button color="accent" class="mr-sm-12"
                    [disabled]="juntadasSelecionadas.length===0">
                Próximo
            </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel class="secondary-text">Selecione o destino das juntada</ng-template>
        <div fxLayout="column">
            <cdk-desentranhamento-form [desentranhamento]="desentranhamento"
                                       [selecionadas]="(juntadasSelecionadas$ | async)"
                                       [processoDestinoPagination]="processoDestinoPagination"
                                       (save)="submit($event)"
                                       (abort)="back()">
            </cdk-desentranhamento-form>
            <div>
                <button matStepperPrevious mat-raised-button color="accent" class="mr-sm-12">Retornar</button>
            </div>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<mat-vertical-stepper linear *ngIf="mobileMode">
    <mat-step>
        <ng-template matStepLabel class="secondary-text">Selecione as juntadas que serão desentranhadas</ng-template>
        <cdk-juntada-grid-select [loading]="(loading$ | async)"
                                 [juntadas]="juntadas"
                                 [juntadasAdicionadas]="juntadasSelecionadas"
                                 (juntadasSelecionadas)="juntadasAdicionadas($event)"
                                 [total]="(pagination$ | async)?.total">
        </cdk-juntada-grid-select>
        <div>
            <button matStepperNext mat-raised-button color="accent" class="mr-sm-12"
                    [disabled]="juntadasSelecionadas.length===0">
                Próximo
            </button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel class="secondary-text">Selecione o destino das juntada</ng-template>
        <div fxLayout="column">
            <cdk-desentranhamento-form [desentranhamento]="desentranhamento"
                                       [selecionadas]="(juntadasSelecionadas$ | async)"
                                       [processoDestinoPagination]="processoDestinoPagination"
                                       (save)="submit($event)">
            </cdk-desentranhamento-form>
            <div>
                <button matStepperPrevious mat-raised-button color="accent" class="mr-sm-12">Retornar</button>
            </div>
        </div>
    </mat-step>
</mat-vertical-stepper>
