<div class="actions">

    <mat-icon class="s-32">schedule</mat-icon>
    <div class="mat-title mb-8">{{tarefas.length}} tarefas selecionadas</div>

    <ng-template [ngIf]="this.routerState.params['targetHandle'] !== 'lixeira'">
        <button mat-menu-item [matMenuTriggerFor]="folderMenu" *ngIf="selectedIds?.length">
            <ng-container>
                <mat-icon>folder</mat-icon>
                <span>Mover</span>
            </ng-container>
        </button>

        <mat-menu #folderMenu="matMenu">
            <button mat-menu-item
                    (click)="setFolder(null)">ENTRADA
            </button>
            <button mat-menu-item *ngFor="let folder of (folders$ | async)"
                    (click)="setFolder(folder)">{{folder.nome}}
            </button>
        </mat-menu>

        <button mat-menu-item aria-label="apagar"
                (click)="doDeleteTarefaBloco()">
            <ng-container>
                <mat-icon>delete</mat-icon>
                <span>Apagar</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="criar tarefa"
                (click)="doCreateTarefaBloco()">
            <ng-container>
                <mat-icon>check_box</mat-icon>
                <span>Criar Tarefa</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="criar ofício"
                (click)="doCreateDocumentoAvulsoBloco()">
            <ng-container>
                <mat-icon>mail</mat-icon>
                <span>Criar Ofício</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="remeter ofício"
                (click)="doRemeterOficiosBloco()">
            <ng-container>
                <span class="material-icons-outlined mat-icon mat-icon-no-color">forward_to_inbox</span>
                <span>Remeter Ofícios</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="editar tarefa"
                (click)="doEditTarefaBloco()">
            <ng-container>
                <mat-icon>edit</mat-icon>
                <span>Editar</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="redistribuir tarefa"
                (click)="doRedistribuiTarefaBloco()">
            <ng-container>
                <mat-icon>forward</mat-icon>
                <span>Redistribuir</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="dar ciencia"
                (click)="doCienciaBloco()">
            <ng-container>
                <mat-icon>check</mat-icon>
                <span>Dar Ciência</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="movimentar"
                (click)="doMovimentarBloco()">
            <ng-container>
                <mat-icon>send</mat-icon>
                <span>Movimentar</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="minutas" [matMenuTriggerFor]="selectMenuMinutas">
            <ng-container>
                <mat-icon>attach_file</mat-icon>
                <span>Minutas</span>
            </ng-container>
        </button>
        <mat-menu fxHide #selectMenuMinutas="matMenu">
            <button mat-menu-item (click)="doMinutas()">
                Gerenciar
            </button>
            <button mat-menu-item (click)="doUploadBloco()">
                Upload
            </button>
            <button mat-menu-item (click)="doEditorBloco()">
                Editor
            </button>
            <button mat-menu-item (click)="doAssinaturaTarefas()">
                Assinar
            </button>
        </mat-menu>

        <button mat-menu-item aria-label="etiquetar"
                (click)="doEtiquetarBloco()">
            <ng-container>
                <mat-icon>label</mat-icon>
                <span>Etiquetar</span>
            </ng-container>
        </button>

        <button mat-menu-item aria-label="compartilhamento" [matMenuTriggerFor]="menuCompartilhamento">
            <ng-container>
                <mat-icon>share</mat-icon>
                <span>Compartilhamento</span>
            </ng-container>
        </button>

        <mat-menu fxHide #menuCompartilhamento="matMenu">
            <button mat-menu-item
                    (click)="doCompartilharBloco()">
                Compartilhar
            </button>
            <button mat-menu-item
                    *ngIf="['meus-compartilhamentos', 'outros-usuarios'].includes(this.routerState.params['targetHandle']) && this.routerState.params['typeHandle'] === 'compartilhadas'"
                    (click)="doRemoveCompartilharBloco()">
                Descompartilhar
            </button>
        </mat-menu>


        <ng-template #dynamicComponent></ng-template>
    </ng-template>

    <ng-template [ngIf]="this.routerState.params['targetHandle'] === 'lixeira'">
        <button mat-menu-item aria-label="restaurar"
                (click)="doRestaurarBloco()">
            <ng-container>
                <mat-icon>undo</mat-icon>
                <span>Restaurar</span>
            </ng-container>
        </button>
    </ng-template>

    <button class="mt-8" mat-raised-button aria-label="cancelar" color="warn"
            (click)="doAbort()">
        Cancelar
    </button>
</div>
