<mat-autocomplete (closed)="fechado()" [displayWith]="displayProcessoFn">
    <mat-option [ngClass]="{'multiline':processo.outroNumero}"
                *ngFor="let processo of processoList"
                [value]="processo">
        <div>
            <span [innerHTML]="displayProcessoFn(processo) | highlightOption: this.control.value"></span>
        </div>
        <div *ngIf="processo.outroNumero">
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
            <span style="font-style: italic" [innerHTML]="displayProcessoOutroNumeroFn(processo) | highlightOption: this.control.value"></span>
        </div>
    </mat-option>
    <mat-option *ngIf="processoListIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
