<div class="header">
    <path icone="local_activity"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="especie-atividades">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-especie-atividade-form
        [especieAtividade]="(especieAtividade$ | async)"
        [form]="formEspecieAtividade"
        [generoAtividadePagination]="generoAtividadePagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitEspecieAtividade($event)"
        (abort)="doAbort()">
    </cdk-especie-atividade-form>
</div>