<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Tipo"
               formControlName="modalidadeQualificacaoPessoa"
               [matAutocomplete]="modalidadeQualificacaoPessoa.autocomplete"
               (blur)="checkModalidadeQualificacaoPessoa()"
               [readonly]="form.get('id').value"
               required>
        <cdk-modalidade-qualificacao-pessoa-autocomplete
            #modalidadeQualificacaoPessoa="modalidadeQualificacaoPessoaAutocomplete"
            [control]="form.get('modalidadeQualificacaoPessoa')"
            [pagination]="modalidadeQualificacaoPessoaPagination">
        </cdk-modalidade-qualificacao-pessoa-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeQualificacaoPessoaGrid()" *ngIf="!form.get('id').value">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeQualificacaoPessoa').hasError('formError')">
            {{form.get('modalidadeQualificacaoPessoa').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput #nome
               name="nome"
               formControlName="nome"
               required
               maxlength="255" upperCase>
        <button matSuffix mat-button mat-icon-button *ngIf="form.value.id"
                (click)="showLogEntryGrid('nome')">
            <mat-icon matTooltip="Histórico">history</mat-icon>
        </button>
        <mat-hint align="end">{{nome.value.length}} / 255</mat-hint>
        <mat-error>Campo obrigatório!</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-label>CPF/CNPJ</mat-label>
        <input matInput #numeroDocumentoPrincipal
               name="numeroDocumentoPrincipal"
               formControlName="numeroDocumentoPrincipal"
               maxlength="255">
        <mat-hint align="end">{{numeroDocumentoPrincipal.value.length}} / 255</mat-hint>
        <mat-error *ngIf="form.get('numeroDocumentoPrincipal').hasError('formError')">
            {{form.get('numeroDocumentoPrincipal').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field ng-hide="modalidadeGeneroPessoa" [fxHide]="hidden">
        <input matInput placeholder="Gênero"
               formControlName="modalidadeGeneroPessoa"
               [matAutocomplete]="modalidadeGeneroPessoa.autocomplete"
               (blur)="checkModalidadeGeneroPessoa()">
        <cdk-modalidade-genero-pessoa-autocomplete
            #modalidadeGeneroPessoa="modalidadeGeneroPessoaAutocomplete"
            [control]="form.get('modalidadeGeneroPessoa')"
            [pagination]="modalidadeQualificacaoPessoaPagination">
        </cdk-modalidade-genero-pessoa-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showModalidadeGeneroPessoaGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('modalidadeGeneroPessoa').hasError('formError')">
            {{form.get('modalidadeGeneroPessoa').errors.formError}}
        </mat-error>
    </mat-form-field>

    <div class="responsive-group">
        <mat-form-field>
            <mat-label>{{textoDataNascimento}}</mat-label>
            <input matInput formControlName="dataNascimento" [matDatepicker]="dataNascimento">
            <mat-datepicker-toggle matSuffix [for]="dataNascimento"></mat-datepicker-toggle>
            <mat-datepicker #dataNascimento></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <mat-label>{{textoDataObito}}</mat-label>
            <input matInput formControlName="dataObito" [matDatepicker]="dataObito">
            <mat-datepicker-toggle matSuffix [for]="dataObito"></mat-datepicker-toggle>
            <mat-datepicker #dataObito></mat-datepicker>
        </mat-form-field>
    </div>

    <div class="responsive-group" *ngIf="form.get('dataNascimento').hasError('formError') || form.get('dataObito').hasError('formError')">

        <mat-error *ngIf="form.get('dataNascimento').hasError('formError')">
            {{form.get('dataNascimento').errors.formError}}
        </mat-error>

        <mat-error *ngIf="form.get('dataObito').hasError('formError')">
            {{form.get('dataObito').errors.formError}}
        </mat-error>
    </div>

    <div class="responsive-group" [fxHide]="hidden">
        <mat-form-field>
            <input matInput placeholder="Nacionalidade"
                   formControlName="nacionalidade"
                   [matAutocomplete]="pais.autocomplete"
                   (blur)="checkPais()">

            <cdk-pais-autocomplete
                #pais="paisAutocomplete"
                [control]="form.get('nacionalidade')"
                [pagination]="paisPagination">
            </cdk-pais-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showPaisGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('nacionalidade').hasError('formError')">
                {{form.get('nacionalidade').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Naturalidade"
                   formControlName="naturalidade"
                   [matAutocomplete]="municipio.autocomplete"
                   (blur)="checkMunicipio()">

            <cdk-municipio-autocomplete
                #municipio="municipioAutocomplete"
                [control]="form.get('naturalidade')"
                [pagination]="municipioPagination">
            </cdk-municipio-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    (click)="showMunicipioGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('naturalidade').hasError('formError')">
                {{form.get('naturalidade').errors.formError}}
            </mat-error>
        </mat-form-field>
    </div>

    <mat-form-field [fxHide]="hidden">
        <mat-label>Profissão</mat-label>
        <input matInput #profissao
               name="profissao"
               formControlName="profissao"
               maxlength="255" upperCase>
    </mat-form-field>

    <mat-form-field [fxHide]="hidden">
        <mat-label>Nome Genitor</mat-label>
        <input matInput #nomeGenitor
               name="nomeGenitor"
               formControlName="nomeGenitor"
               maxlength="255" upperCase>
    </mat-form-field>

    <mat-form-field [fxHide]="hidden">
        <mat-label>Nome Genitora</mat-label>
        <input matInput #nomeGenitora
               name="nomeGenitora"
               formControlName="nomeGenitora"
               maxlength="255" upperCase>
    </mat-form-field>

    <mat-form-field>
            <textarea formControlName="contato"
                      matInput placeholder="Contato" upperCase maxlength="255"></textarea>
    </mat-form-field>

    <div class="checkboxes" *ngIf="showCheckboxes()">
        <mat-checkbox formControlName="pessoaConveniada">
            Pessoa Conveniada
        </mat-checkbox>

        <mat-checkbox formControlName="pessoaValidada">
            Pessoa Validada
        </mat-checkbox>
    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent"
                [disabled]="form.invalid"
                *ngIf="mode === 'select'"
                [matMenuTriggerFor]="moreMenu"
                aria-label="Salvar"
                #menuTriggerList="matMenuTrigger"
                (click)="$event.stopPropagation()">
                <span class="mat-button-wrapper">SALVAR</span>
                <mat-icon class="sr-16">keyboard_arrow_down</mat-icon>
        </button>
        <button mat-raised-button color="accent"
                [disabled]="form.invalid"
                *ngIf="mode === 'save' && !saving"
                aria-label="Salvar"
                (click)="submit()">
            SALVAR
        </button>

        <mat-menu #moreMenu="matMenu">
            <button mat-menu-item (click)="submit()" aria-label="SALVAR E CONTINUAR"
                    [disabled]="form.invalid || saving">
                <ng-container>
                    <mat-icon>save</mat-icon>
                    <span>SALVAR E CONTINUAR</span>
                </ng-container>
            </button>
            <button mat-menu-item (click)="submit(true)" aria-label="SALVAR E SELECIONAR"
                    [disabled]="form.invalid || saving">
                <ng-container>
                    <mat-icon>keyboard_return</mat-icon>
                    <span>SALVAR E SELECIONAR</span>
                </ng-container>
            </button>
        </mat-menu>

        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>
</form>

<cdk-modalidade-qualificacao-pessoa-gridsearch
    *ngIf="activeCard === 'modalidade-qualificacao-pessoa-gridsearch'"
    (selected)="selectModalidadeQualificacaoPessoa($event)"
    [pagination]="modalidadeQualificacaoPessoaPagination"
    (cancel)="cancel()">
</cdk-modalidade-qualificacao-pessoa-gridsearch>

<cdk-modalidade-genero-pessoa-gridsearch
    *ngIf="activeCard === 'modalidade-genero-pessoa-gridsearch'"
    (selected)="selectModalidadeGeneroPessoa($event)"
    [pagination]="modalidadeGeneroPessoaPagination"
    (cancel)="cancel()">
</cdk-modalidade-genero-pessoa-gridsearch>

<cdk-pais-gridsearch
    *ngIf="activeCard === 'pais-gridsearch'"
    (selected)="selectPais($event)"
    [pagination]="paisPagination"
    (cancel)="cancel()">
</cdk-pais-gridsearch>

<cdk-municipio-gridsearch
    *ngIf="activeCard === 'municipio-gridsearch'"
    (selected)="selectMunicipio($event)"
    [pagination]="municipioPagination"
    (cancel)="cancel()">
</cdk-municipio-gridsearch>

<cdk-logentry-gridsearch
    *ngIf="activeCard === 'logentry-gridsearch'"
    [pagination]="logEntryPagination"
    (cancel)="cancel()">
</cdk-logentry-gridsearch>
