<div class="header">
    <path icone="assessment"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="tipos-relatorios">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-tipo-relatorio-form
        [tipoRelatorio]="(tipoRelatorio$ | async)"
        [form]="formTipoRelatorio"
        [especieRelatorioPagination]="especieRelatorioPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitTipoRelatorio($event)"
        (abort)="doAbort()">
    </cdk-tipo-relatorio-form>
</div>