<cdk-interessado-grid
        [loading]="(loading$ | async)"
        [interessados]="(interessados$ | async)"
        [total]="(pagination$ | async)?.total"
        [deletingIds]="(deletingIds$ | async)"
        [deletingErrors]="(deletingErrors$ | async)"
        [deletedIds]="(deletedIds$ | async)"
        [actions]="['create' ,'edit', 'delete', 'showDeleted', 'representantes']"
        (reload)="reload($event)"
        (excluded)="excluded($event)"
        (edit)="edit($event)"
        (create)="create()"
        (delete)="delete($event)"
        (representantes)="representantes($event)">
</cdk-interessado-grid>
