<!-- SIDEBAR HEADER -->
<div class="header mt-8">
    <div class="logo">
        <div class="titulo" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Tarefas</div>
        <div class="modulo">{{generoHandleAcentuado | titleCasePipe}}</div>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>

    <div class="progress-bar mt-8">
        <mat-progress-bar [mode]="'indeterminate'" *ngIf="(loading$ | async)"></mat-progress-bar>
    </div>

    <div class="create-button">
        <button mat-raised-button
                class="mat-accent compose-dialog-button w-100-p"
                (click)="create()"
                aria-label="Criar">
            {{ 'TAREFA.COMPOSE' | translate }}
        </button>
    </div>

    <div class="nav material2">
        <div class="nav-item">
            <div class="menu_content menu_tarefa">
                <div class="menu_content_label">
                    MINHAS TAREFAS
                </div>
                <div class="menu_content_button">
                    <button mat-icon-button [matMenuTriggerFor]="menuMain" class="btn_menu_folder"
                            aria-label="Ferramentas">
                        <mat-icon class="secondary-text">more_vert</mat-icon>
                    </button>
                </div>
            </div>
        </div>

        <div class="nav-item">
            <section dndDropzone dndDropzoneDisabledClass="custom-drag-over-disabled"
                     dndDragoverClass="custom-drag-over"
                     id="folder_entrada"
                     #element
                     (dndDragover)="dragOver($event, element, dropzoneEnabledFolders())"
                     (dndDrop)="onDrop([$event, null], dropzoneEnabledFolders())">
                <div class="menu_content nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/entrada'"
                     [state]="{'viewMode': viewMode}"
                     [class.active]="isLinkActive('entrada')"
                     [class.accent]="isLinkActive('entrada')"
                     (click)="fecharSidebar('entrada')">
                    <div class="menu_content_label">
                        <mat-icon class="nav-link-icon"
                                  matBadge="{{tarefasPendentes['caixa_entrada_' + generoHandleAcentuado]}}"
                                  matBadgeColor="warn"
                                  matBadgeSize="small">
                            inbox
                        </mat-icon>
                        <span style="flex: 1 1 auto;">Entrada</span>
                        <mat-icon class="place-holder">
                            assignment_return
                        </mat-icon>
                    </div>
                    <div class="menu_content_button">
                        <div class="mat-icon-button">
                            <mat-icon></mat-icon>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <mat-menu #menuMain="matMenu">
            <button mat-menu-item aria-label="Criar Pasta" (click)="showFolderComponent()">
                <ng-container>
                    <mat-icon>folder</mat-icon>
                    <span>Criar Pasta</span>
                </ng-container>
            </button>
        </mat-menu>

        <div class="nova-pasta" *ngIf="showAddFolder">
            <div class="campo-nova-pasta">
                <mat-form-field [ngClass]="{'error': error}">
                    <input matInput #inputFolder placeholder="Nome da pasta" [formControl]="newFolderCtrl" type="text" class="input-add-pasta" (keyup.enter)="addFolder()">
                </mat-form-field>
                <div class="actions">
                    <button mat-icon-button aria-label="Criar pasta" matTooltip="Criar pasta" class="accent"
                            [disabled]="!!error || inputFolder.value?.length < 2"
                            (click)="$event.stopPropagation(); addFolder()">
                        <mat-icon>send</mat-icon>
                    </button>
                    <button mat-icon-button aria-label="Cancelar" matTooltip="Cancelar" class="warn"
                            (click)="$event.stopPropagation(); cancelAddFolder()">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
            </div>
        </div>
        <div class="erro-pasta mat-error" *ngIf="showAddFolder && error">
            {{ error }}
        </div>

        <div class="nav-item" *ngFor="let folder of folders">
            <section dndDropzone dndDropzoneDisabledClass="custom-drag-over-disabled"
                     dndDragoverClass="custom-drag-over"
                     id="folder_{{folder.id}}"
                     #elementFolder
                     (dndDragover)="dragOver($event, elementFolder, dropzoneEnabledFolders(folder.id))"
                     (dndDrop)="onDrop([$event, folder], dropzoneEnabledFolders(folder.id))">

                <div class="menu_content nav-link"
                     [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/' + folder.id"
                     [state]="{'viewMode': viewMode}"
                     [class.active]="isLinkActive(folder.id)"
                     [class.accent]="isLinkActive(folder.id)"
                     (click)="fecharSidebar(folder.id)">
                    <div class="menu_content_label">
                        <mat-icon class="nav-link-icon"
                                  matBadge="{{tarefasPendentes[folder.nome]}}"
                                  matBadgeColor="warn"
                                  matBadgeSize="small">
                            folder
                        </mat-icon>
                        <span style="flex: 1 1 auto;">{{folder.nome | titleCasePipe}}</span>
                        <mat-icon class="place-holder">
                            assignment_return
                        </mat-icon>
                    </div>
                    <div class="menu_content_button">
                        <button mat-icon-button [matMenuTriggerFor]="menuFolder" class="btn_menu_folder"
                                aria-label="Menu do Item" (click)="$event.stopPropagation();">
                            <mat-icon class="secondary-text">more_vert</mat-icon>
                        </button>
                        <mat-menu #menuFolder="matMenu">
                            <button mat-menu-item aria-label="Apagar" (click)="delFolder(folder)">
                                <ng-container>
                                    <mat-icon>delete</mat-icon>
                                    <span>Apagar</span>
                                </ng-container>
                            </button>
                        </mat-menu>
                    </div>
                </div>
            </section>
        </div>

        <div class="nav-item">
            <section dndDropzone dndDropzoneDisabledClass="custom-drag-over-disabled"
                     dndDragoverClass="custom-drag-over"
                     id="folder_lixeira"
                     #elementLixeira
                     (dndDragover)="dragOver($event, elementLixeira, dropzoneEnabledFolders('lixeira'))"
                     (dndDrop)="onDropDelete($event, dropzoneEnabledFolders('lixeira'))">
                <div class="menu_content nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/minhas-tarefas/lixeira'"
                     [state]="{'viewMode': viewMode}"
                     [class.active]="isLinkActive('lixeira')"
                     [class.accent]="isLinkActive('lixeira')"
                     (click)="fecharSidebar('lixeira')">
                    <div class="menu_content_label">
                        <mat-icon class="nav-link-icon"
                                  matBadge="{{tarefasPendentes['lixeira_' + generoHandleAcentuado]}}"
                                  matBadgeColor="warn"
                                  matBadgeSize="small">
                            delete
                        </mat-icon>
                        <span style="flex: 1 1 auto;">Lixeira</span>
                        <mat-icon class="place-holder">
                            assignment_return
                        </mat-icon>
                    </div>
                    <div class="menu_content_button">
                        <div class="mat-icon-button">
                            <mat-icon></mat-icon>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="nav-subheader">COMPARTILHAMENTO</div>

        <div class="nav-item">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/tarefas/' + generoHandle + '/compartilhadas/outros-usuarios'"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon"
                          matBadge="{{tarefasPendentes['tarefas_compartilhadas_' + generoHandleAcentuado]}}"
                          matBadgeColor="warn"
                          matBadgeSize="small">
                    share
                </mat-icon>
                <span>Outros Usuários</span>
            </a>
        </div>

        <div class="nav-subheader">SAÍDA</div>

        <div class="nav-item">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/tarefas/' + generoHandle + '/concluidas/saida'"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">
                    send
                </mat-icon>
                <span>Concluídas</span>
            </a>
        </div>

        <div style="display: none;" class="nav-item">
            <a class="nav-link" matRipple
               [routerLink]="'/apps/tarefas/' + generoHandle + '/enviadas/saida'"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">
                    send
                </mat-icon>
                <span>Enviadas</span>
            </a>
        </div>

        <div class="nav-item">
            <div class="nav-subheader cursor-pointer" (click)="filtrosMenuOpen = !filtrosMenuOpen">
                <span>FILTROS</span>
                <mat-icon class="nav-link-icon"
                          [matTooltip]="!filtrosMenuOpen ? 'Exibir filtros' : 'Fechar filtros'">
                    {{!filtrosMenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                </mat-icon>
            </div>
            <ng-container *ngIf="filtrosMenuOpen">
                <div class="nav material2">
                    <div class="nav-item">
                        <a class="nav-link" matRipple
                           [routerLink]="'/apps/tarefas/' + generoHandle + '/compartilhadas/meus-compartilhamentos'"
                           [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                            <mat-icon class="nav-link-icon">
                                groups
                            </mat-icon>
                            <span>Meus Compartilhamentos</span>
                        </a>
                    </div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="usuariosAssessor.length > 0"
             class="nav-item">
            <div class="nav-subheader cursor-pointer" (click)="assessoriaMenuOpen = !assessoriaMenuOpen">
                <span>ASSESSOR</span>
                <mat-icon class="nav-link-icon"
                          [matTooltip]="!assessoriaMenuOpen ? 'Exibir itens assessoria' : 'Fechar itens assessoria'">
                    {{!assessoriaMenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                </mat-icon>
            </div>
            <ng-container *ngIf="assessoriaMenuOpen">
                <div class="nav-item" *ngFor="let usuario of usuariosAssessor">
                    <a class="nav-link" matRipple [routerLink]="'/apps/tarefas/' + generoHandle + '/assessor/' + usuario.id"
                       [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                        <mat-icon class="nav-link-icon">{{ 'person' }}</mat-icon>
                        <span>{{usuario.nome | titleCasePipe}}</span>
                    </a>
                </div>
            </ng-container>
        </div>

        <div *ngIf="setoresDistribuidor.length > 0"
             class="nav-item">
            <div class="nav-subheader cursor-pointer" (click)="distribuicaoMenuOpen = !distribuicaoMenuOpen">
                <span>DISTRIBUIDOR</span>
                <mat-icon class="nav-link-icon"
                          [matTooltip]="!distribuicaoMenuOpen ? 'Exibir itens distribuição' : 'Fechar itens distribuição'">
                    {{!distribuicaoMenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                </mat-icon>
            </div>
            <ng-container *ngIf="distribuicaoMenuOpen">
                <div class="nav-item lotacao-drop" *ngFor="let setor of setoresDistribuidor">
                    <div class="menu_content nav-link setor" dndDropzone
                         dndDragoverClass="custom-drag-over"
                         id="distribuidor_{{setor.id}}"
                         #elementSetor
                         (dndDragover)="dragOver($event, elementSetor, dropzoneEnabledSetor($event, setor))"
                         (dndDrop)="onDropDistribuir([$event, setor], null, dropEnabledSetor($event, setor))"
                         [routerLinkActive]="['active', 'accent']"
                         [routerLink]="'/apps/tarefas/' + generoHandle + '/coordenacao/' + setor.id"
                         (click)="fecharSidebar()">
                        <section class="setor">
                            <div class="menu_content_label">
                                <div>
                                    <mat-icon class="nav-link-icon">domain</mat-icon>
                                    <span>{{setor?.unidade?.sigla}} - {{setor.nome | titleCasePipe}}</span>
                                </div>
                                <mat-icon class="place-holder">
                                    assignment_return
                                </mat-icon>
                            </div>
                        </section>
                        <div class="menu_content button">
                            <mat-icon class="nav-link-icon" *ngIf="!usuariosOpen || setorLotacaoId !== setor.id"
                                      (click)="$event.stopPropagation(); listaUsuario(setor, true)"
                                      matTooltip="Lista todos os usuários desta coordenação">keyboard_arrow_down
                            </mat-icon>
                            <mat-icon class="nav-link-icon" *ngIf="usuariosOpen && setorLotacaoId === setor.id"
                                      (click)="$event.stopPropagation(); fechaUsuarios()" matTooltip="fechar lista">
                                keyboard_arrow_up
                            </mat-icon>
                        </div>
                    </div>

                    <div class="lotacao-drop lotacao" *ngIf="usuariosOpen && setorLotacaoId === setor.id">
                        <div class="loading-wrapper" *ngIf="(lotacaoLoading$ | async) && lotacoes?.length === 0">
                            <mat-spinner class="loading" diameter="24"></mat-spinner>
                        </div>
                        <section class="lotacao" dndDropzone
                                 *ngFor="let lotacao of lotacoes"
                                 dndDragoverClass="custom-drag-over"
                                 id="lotacao_distribuidor_{{lotacao?.colaborador?.usuario?.id}}"
                                 [ngClass]="{'indisponivel': !lotacao?.colaborador?.usuario?.isDisponivel}"
                                 #elementUsuario
                                 (dndDrop)="onDropDistribuir([$event, lotacao.setor], lotacao?.colaborador?.usuario, dropEnabledUsuario($event, lotacao.colaborador.usuario))"
                                 (dndDragover)="dragOver($event, elementUsuario, dropzoneEnabledUsuario($event, lotacao?.colaborador?.usuario))">
                            <div class="nav-link-badge">
                                <mat-icon class="nav-link-icon">person</mat-icon>
                                <span class="nome-usuario">{{lotacao?.colaborador?.usuario?.nome | titleCasePipe}}</span>
                                <mat-icon class="place-holder">
                                    assignment_return
                                </mat-icon>
                            </div>
                        </section>
                        <div class="loading-wrapper"
                             *ngIf="(lotacaoLoading$ | async) && (lotacoes?.length !== 0)">
                            <mat-spinner class="loading" diameter="24"></mat-spinner>
                        </div>
                        <div class="mais-registros" (click)="paginaUsuarios()"
                             *ngIf="lotacoes?.length > 0 && lotacoes?.length < this.paginationLotacoes?.total && !(lotacaoLoading$ | async)">
                            <span>+</span>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>

        <div *ngIf="setoresCoordenacao.length > 0 || unidadesCoordenacao.length > 0 || orgaoCentralCoordenacao.length > 0"
             class="nav-item">
            <div class="nav-subheader cursor-pointer" (click)="coordenacaoMenuOpen = !coordenacaoMenuOpen">
                <span>COORDENAÇÃO</span>
                <mat-icon class="nav-link-icon"
                          [matTooltip]="!coordenacaoMenuOpen ? 'Exibir itens coordenaçãos' : 'Fechar itens coordenação'">
                    {{!coordenacaoMenuOpen ? 'keyboard_arrow_down' : 'keyboard_arrow_up'}}
                </mat-icon>
            </div>
            <ng-container *ngIf="coordenacaoMenuOpen">
                <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_ORGAO_CENTRAL'">
                    <div *ngIf="this.orgaoCentralCoordenacao.length">
                        <div class="nav-subheader pl-8 mt-0">
                            <mat-icon class="mr-8">language</mat-icon>
                            <span>Órgão Central</span>
                        </div>

                        <div class="nav-item" *ngFor="let orgao of orgaoCentralCoordenacao">
                            <div class="menu_content orgao-central">
                                <section class="orgao-central">
                                    <div class="menu_content_label">
                                        <div>
                                            <span>{{orgao.descricao | titleCasePipe}}</span>
                                        </div>
                                    </div>
                                </section>
                                <div class="menu_content button">
                                    <mat-icon class="nav-link-icon" *ngIf="!orgaoCentralOpen || orgaoCentralId !== orgao.id"
                                              (click)="$event.stopPropagation(); listaUnidades(orgao)"
                                              matTooltip="Lista todas as unidades deste órgão central">keyboard_arrow_down
                                    </mat-icon>
                                    <mat-icon class="nav-link-icon" *ngIf="orgaoCentralOpen && orgaoCentralId === orgao.id"
                                              (click)="$event.stopPropagation(); fechaOrgaoCentral()" matTooltip="fechar lista">
                                        keyboard_arrow_up
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="lotacao-drop" *ngIf="orgaoCentralOpen && orgaoCentralId === orgao.id">
                                <div class="loading-wrapper" *ngIf="(orgaoCentralLoading$ | async) && unidades?.length === 0">
                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                </div>
                                <div class="nav-item" *ngFor="let unidade of unidades">
                                    <div class="menu_content unidade">
                                        <section class="unidade">
                                            <div class="menu_content_label">
                                                <div>
                                                    <mat-icon class="nav-link-icon">location_city</mat-icon>
                                                    <span>{{unidade.nome | titleCasePipe}}</span>
                                                </div>
                                            </div>
                                        </section>
                                        <div class="menu_content button">
                                            <mat-icon class="nav-link-icon" *ngIf="!unidadeOpen || unidadeId !== unidade.id"
                                                      (click)="$event.stopPropagation(); listaSetores(unidade)"
                                                      matTooltip="Lista todos is setores desta unidade">keyboard_arrow_down
                                            </mat-icon>
                                            <mat-icon class="nav-link-icon" *ngIf="unidadeOpen && unidadeId === unidade.id"
                                                      (click)="$event.stopPropagation(); fechaUnidade()"
                                                      matTooltip="fechar lista">
                                                keyboard_arrow_up
                                            </mat-icon>
                                        </div>
                                    </div>

                                    <div class="lotacao-drop" *ngIf="unidadeOpen && unidadeId === unidade.id">
                                        <div class="loading-wrapper"
                                             *ngIf="(unidadeLoading$ | async) && (setores?.length === 0)">
                                            <mat-spinner class="loading" diameter="24"></mat-spinner>
                                        </div>
                                        <div class="nav-item" *ngFor="let setor of setores">
                                            <div class="menu_content nav-link setor" dndDropzone
                                                 dndDragoverClass="custom-drag-over"
                                                 id="setor_orgao_central_{{setor.id}}"
                                                 #elementSetor
                                                 (dndDragover)="dragOver($event, elementSetor, dropzoneEnabledSetor($event, setor))"
                                                 (dndDrop)="onDropDistribuir([$event, setor], null, dropEnabledSetor($event, setor))"
                                                 [routerLinkActive]="['active', 'accent']"
                                                 [routerLink]="'/apps/tarefas/' + generoHandle + '/coordenacao/' + setor.id"
                                                 (click)="fecharSidebar()">
                                                <section class="setor">
                                                    <div class="menu_content_label">
                                                        <div>
                                                            <mat-icon class="nav-link-icon">domain</mat-icon>
                                                            <span>{{setor.nome | titleCasePipe}}</span>
                                                        </div>
                                                        <mat-icon class="place-holder">
                                                            assignment_return
                                                        </mat-icon>
                                                    </div>
                                                </section>
                                                <div class="menu_content button">
                                                    <mat-icon class="nav-link-icon"
                                                              *ngIf="!usuariosOpen || setorLotacaoId !== setor.id"
                                                              (click)="$event.stopPropagation(); listaUsuario(setor)"
                                                              matTooltip="Lista todos os usuários desta coordenação">
                                                        keyboard_arrow_down
                                                    </mat-icon>
                                                    <mat-icon class="nav-link-icon"
                                                              *ngIf="usuariosOpen && setorLotacaoId === setor.id"
                                                              (click)="$event.stopPropagation(); fechaUsuarios()"
                                                              matTooltip="fechar lista">
                                                        keyboard_arrow_up
                                                    </mat-icon>
                                                </div>
                                            </div>

                                            <div class="lotacao-drop lotacao"
                                                 *ngIf="usuariosOpen && setorLotacaoId === setor.id">
                                                <div class="loading-wrapper"
                                                     *ngIf="(lotacaoLoading$ | async) && lotacoes?.length === 0">
                                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                                </div>
                                                <section class="lotacao" dndDropzone
                                                         *ngFor="let lotacao of lotacoes"
                                                         dndDragoverClass="custom-drag-over"
                                                         id="lotacao_orgao_central_{{lotacao?.colaborador?.usuario?.id}}"
                                                         [ngClass]="{'indisponivel': !lotacao?.colaborador?.usuario?.isDisponivel}"
                                                         #elementUsuario
                                                         (dndDrop)="onDropDistribuir([$event, lotacao.setor], lotacao?.colaborador?.usuario, dropEnabledUsuario($event, lotacao.colaborador.usuario))"
                                                         (dndDragover)="dragOver($event, elementUsuario, dropzoneEnabledUsuario($event, lotacao?.colaborador?.usuario))">
                                                    <div class="nav-link-badge">
                                                        <mat-icon class="nav-link-icon">person</mat-icon>
                                                        <span class="nome-usuario">{{lotacao?.colaborador?.usuario?.nome | titleCasePipe}}</span>
                                                        <mat-icon class="place-holder">
                                                            assignment_return
                                                        </mat-icon>
                                                    </div>
                                                </section>
                                                <div class="loading-wrapper"
                                                     *ngIf="(lotacaoLoading$ | async) && (lotacoes?.length !== 0)">
                                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                                </div>
                                                <div class="mais-registros" (click)="paginaUsuarios()"
                                                     *ngIf="lotacoes?.length > 0 && lotacoes?.length < this.paginationLotacoes?.total && !(lotacaoLoading$ | async)">
                                                    <span>+</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="loading-wrapper"
                                             *ngIf="(unidadeLoading$ | async) && (setores?.length !== 0)">
                                            <mat-spinner class="loading" diameter="24"></mat-spinner>
                                        </div>
                                        <div class="mais-registros" (click)="paginaSetores()"
                                             *ngIf="setores?.length > 0 && setores?.length < this.paginationSetores?.total && !(unidadeLoading$ | async)">
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loading-wrapper" *ngIf="(orgaoCentralLoading$ | async) && (unidades?.length !== 0)">
                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                </div>
                                <div class="mais-registros" (click)="paginaUnidades()"
                                     *ngIf="unidades?.length > 0 && unidades?.length < this.paginationUnidades?.total && !(orgaoCentralLoading$ | async)">
                                    <span>+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_UNIDADE'">
                    <div *ngIf="this.unidadesCoordenacao.length">
                        <div class="nav-subheader pl-8 mt-0">
                            <mat-icon class="mr-8">language</mat-icon>
                            <span>Unidade</span>
                        </div>

                        <div class="nav-item" *ngFor="let unidade of unidadesCoordenacao">
                            <div class="menu_content unidade">
                                <section class="unidade">
                                    <div class="menu_content_label">
                                        <div>
                                            <mat-icon class="nav-link-icon">location_city</mat-icon>
                                            <span>{{unidade.nome | titleCasePipe}}</span>
                                        </div>
                                    </div>
                                </section>
                                <div class="menu_content button">
                                    <mat-icon class="nav-link-icon" *ngIf="!unidadeOpen || unidadeId !== unidade.id"
                                              (click)="$event.stopPropagation(); listaSetores(unidade, true)"
                                              matTooltip="Lista todos os setores desta unidade">keyboard_arrow_down
                                    </mat-icon>
                                    <mat-icon class="nav-link-icon" *ngIf="unidadeOpen && unidadeId === unidade.id"
                                              (click)="$event.stopPropagation(); fechaUnidade()" matTooltip="fechar lista">
                                        keyboard_arrow_up
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="lotacao-drop" *ngIf="unidadeOpen && unidadeId === unidade.id">
                                <div class="loading-wrapper" *ngIf="(unidadeLoading$ | async) && (setores?.length === 0)">
                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                </div>
                                <div class="nav-item" *ngFor="let setor of setores">
                                    <div class="menu_content nav-link setor" dndDropzone
                                         dndDragoverClass="custom-drag-over"
                                         id="setor_unidade_{{setor.id}}"
                                         #elementSetor
                                         (dndDragover)="dragOver($event, elementSetor, dropzoneEnabledSetor($event, setor))"
                                         (dndDrop)="onDropDistribuir([$event, setor], null, dropEnabledSetor($event, setor))"
                                         [routerLinkActive]="['active', 'accent']"
                                         [routerLink]="'/apps/tarefas/' + generoHandle + '/coordenacao/' + setor.id"
                                         (click)="fecharSidebar()">
                                        <section class="setor">
                                            <div class="menu_content_label">
                                                <div>
                                                    <mat-icon class="nav-link-icon">domain</mat-icon>
                                                    <span>{{setor.nome | titleCasePipe}}</span>
                                                </div>
                                                <mat-icon class="place-holder">
                                                    assignment_return
                                                </mat-icon>
                                            </div>
                                        </section>
                                        <div class="menu_content button">
                                            <mat-icon class="nav-link-icon"
                                                      *ngIf="!usuariosOpen || setorLotacaoId !== setor.id"
                                                      (click)="$event.stopPropagation(); listaUsuario(setor)"
                                                      matTooltip="Lista todos os usuários desta coordenação">
                                                keyboard_arrow_down
                                            </mat-icon>
                                            <mat-icon class="nav-link-icon"
                                                      *ngIf="usuariosOpen && setorLotacaoId === setor.id"
                                                      (click)="$event.stopPropagation(); fechaUsuarios()"
                                                      matTooltip="fechar lista">
                                                keyboard_arrow_up
                                            </mat-icon>
                                        </div>
                                    </div>

                                    <div class="lotacao-drop lotacao" *ngIf="usuariosOpen && setorLotacaoId === setor.id">
                                        <div class="loading-wrapper"
                                             *ngIf="(lotacaoLoading$ | async) && lotacoes?.length === 0">
                                            <mat-spinner class="loading" diameter="24"></mat-spinner>
                                        </div>
                                        <section class="lotacao" dndDropzone
                                                 [ngClass]="{'indisponivel': !lotacao?.colaborador?.usuario?.isDisponivel}"
                                                 *ngFor="let lotacao of lotacoes"
                                                 dndDragoverClass="custom-drag-over"
                                                 id="lotacao_unidade_{{lotacao?.colaborador?.usuario?.id}}"
                                                 #elementUsuario
                                                 (dndDrop)="onDropDistribuir([$event, lotacao.setor], lotacao?.colaborador?.usuario, dropEnabledUsuario($event, lotacao.colaborador.usuario))"
                                                 (dndDragover)="dragOver($event, elementUsuario, dropzoneEnabledUsuario($event, lotacao?.colaborador?.usuario))">
                                            <div class="nav-link-badge">
                                                <mat-icon class="nav-link-icon">person</mat-icon>
                                                <span class="nome-usuario">{{lotacao?.colaborador?.usuario?.nome | titleCasePipe}}</span>
                                                <mat-icon class="place-holder">
                                                    assignment_return
                                                </mat-icon>
                                            </div>
                                        </section>
                                        <div class="loading-wrapper"
                                             *ngIf="(lotacaoLoading$ | async) && (lotacoes?.length !== 0)">
                                            <mat-spinner class="loading" diameter="24"></mat-spinner>
                                        </div>
                                        <div class="mais-registros" (click)="paginaUsuarios()"
                                             *ngIf="lotacoes?.length > 0 && lotacoes?.length < this.paginationLotacoes?.total && !(lotacaoLoading$ | async)">
                                            <span>+</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="loading-wrapper" *ngIf="(unidadeLoading$ | async) && (setores?.length !== 0)">
                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                </div>
                                <div class="mais-registros" (click)="paginaSetores()"
                                     *ngIf="setores?.length > 0 && setores?.length < this.paginationSetores?.total && !(unidadeLoading$ | async)">
                                    <span>+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="nav material2" *showIfRole="'ROLE_COORDENADOR_SETOR'">
                    <div *ngIf="this.setoresCoordenacao.length">
                        <div class="nav-subheader pl-8 mt-0">
                            <mat-icon class="mr-8">language</mat-icon>
                            <span>Setor</span>
                        </div>

                        <div class="nav-item lotacao-drop" *ngFor="let setor of setoresCoordenacao">
                            <div class="menu_content nav-link setor" dndDropzone
                                 dndDragoverClass="custom-drag-over"
                                 id="setor_{{setor.id}}"
                                 #elementSetor
                                 (dndDragover)="dragOver($event, elementSetor, dropzoneEnabledSetor($event, setor))"
                                 (dndDrop)="onDropDistribuir([$event, setor], null, dropEnabledSetor($event, setor))"
                                 [routerLinkActive]="['active', 'accent']"
                                 [routerLink]="'/apps/tarefas/' + generoHandle + '/coordenacao/' + setor.id"
                                 (click)="fecharSidebar()">
                                <section class="setor">
                                    <div class="menu_content_label">
                                        <div>
                                            <mat-icon class="nav-link-icon">domain</mat-icon>
                                            <span>{{setor?.unidade?.sigla}} - {{setor.nome | titleCasePipe}}</span>
                                        </div>
                                        <mat-icon class="place-holder">
                                            assignment_return
                                        </mat-icon>
                                    </div>
                                </section>
                                <div class="menu_content button">
                                    <mat-icon class="nav-link-icon" *ngIf="!usuariosOpen || setorLotacaoId !== setor.id"
                                              (click)="$event.stopPropagation(); listaUsuario(setor, true)"
                                              matTooltip="Lista todos os usuários desta coordenação">keyboard_arrow_down
                                    </mat-icon>
                                    <mat-icon class="nav-link-icon" *ngIf="usuariosOpen && setorLotacaoId === setor.id"
                                              (click)="$event.stopPropagation(); fechaUsuarios()" matTooltip="fechar lista">
                                        keyboard_arrow_up
                                    </mat-icon>
                                </div>
                            </div>

                            <div class="lotacao-drop lotacao" *ngIf="usuariosOpen && setorLotacaoId === setor.id">
                                <div class="loading-wrapper" *ngIf="(lotacaoLoading$ | async) && lotacoes?.length === 0">
                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                </div>
                                <section class="lotacao" dndDropzone
                                         *ngFor="let lotacao of lotacoes"
                                         dndDragoverClass="custom-drag-over"
                                         id="lotacao_setor_{{lotacao?.colaborador?.usuario?.id}}"
                                         [ngClass]="{'indisponivel': !lotacao?.colaborador?.usuario?.isDisponivel}"
                                         #elementUsuario
                                         (dndDrop)="onDropDistribuir([$event, lotacao.setor], lotacao?.colaborador?.usuario, dropEnabledUsuario($event, lotacao.colaborador.usuario))"
                                         (dndDragover)="dragOver($event, elementUsuario, dropzoneEnabledUsuario($event, lotacao?.colaborador?.usuario))">
                                    <div class="nav-link-badge">
                                        <mat-icon class="nav-link-icon">person</mat-icon>
                                        <span class="nome-usuario">{{lotacao?.colaborador?.usuario?.nome | titleCasePipe}}</span>
                                        <mat-icon class="place-holder">
                                            assignment_return
                                        </mat-icon>
                                    </div>
                                </section>
                                <div class="loading-wrapper"
                                     *ngIf="(lotacaoLoading$ | async) && (lotacoes?.length !== 0)">
                                    <mat-spinner class="loading" diameter="24"></mat-spinner>
                                </div>
                                <div class="mais-registros" (click)="paginaUsuarios()"
                                     *ngIf="lotacoes?.length > 0 && lotacoes?.length < this.paginationLotacoes?.total && !(lotacaoLoading$ | async)">
                                    <span>+</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<!-- / SIDEBAR CONTENT -->

<!-- SIDEBAR FOOT -->
<div class="footer">
    <mat-divider></mat-divider>
    <div class="actions">
        <mat-toolbar>
            <button mat-icon-button
                    [disabled]="viewMode === 'list'"
                    class="secondary-text"
                    (click)="doToogleViewMode()"
                    matTooltip="Listas de Tarefas">
                <mat-icon>check_box</mat-icon>
            </button>
            <button mat-icon-button
                    [disabled]="viewMode === 'grid' || isXSmallScreen"
                    class="secondary-text"
                    (click)="doToogleViewMode()"
                    matTooltip="Grid de Tarefas">
                <mat-icon>view_list</mat-icon>
            </button>
            <button mat-icon-button class="secondary-text" routerLink="/apps/calendario/evento/minhas-tarefas/todas"
                    routerLinkActive="mat-accent" matTooltip="Calendário">
                <mat-icon>calendar_today</mat-icon>
            </button>
            <button mat-icon-button class="secondary-text" [routerLink]="'/apps/board-tarefas/' + generoHandle"
                    routerLinkActive="mat-accent" matTooltip="Quadro de Tarefas">
                <mat-icon>assessment</mat-icon>
            </button>
        </mat-toolbar>
    </div>
</div>
<!-- / SIDEBAR FOOT -->
