<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-form-field>
        <input matInput placeholder="Gênero"
               formControlName="generoRelatorio"
               required
               [matAutocomplete]="generoRelatorio.autocomplete"
               (blur)="checkGeneroRelatorio()">
        <cdk-genero-relatorio-autocomplete
            #generoRelatorio="generoRelatorioAutocomplete"
            [control]="form.get('generoRelatorio')">
        </cdk-genero-relatorio-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="showGeneroRelatorioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('generoRelatorio').hasError('formError')">
            {{form.get('generoRelatorio').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Espécie"
               formControlName="especieRelatorio"
               required
               [matAutocomplete]="especieRelatorio.autocomplete"
               (blur)="checkEspecieRelatorio()">
        <cdk-especie-relatorio-autocomplete
            #especieRelatorio="especieRelatorioAutocomplete"
            [control]="form.get('especieRelatorio')"
            [pagination]="especieRelatorioPagination">
        </cdk-especie-relatorio-autocomplete>
        <button matSuffix mat-button mat-icon-button [disabled]="!form.get('especieRelatorio').enabled"
                (click)="showEspecieRelatorioGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('especieRelatorio').hasError('formError')">
            {{form.get('especieRelatorio').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-form-field
        *ngIf="mode === 'regular' || mode === 'bloco-create'">
        <input matInput placeholder="Tipo Relatório"
               formControlName="tipoRelatorio"
               [matAutocomplete]="tipoRelatorio.autocomplete" required
               (blur)="checkTipoRelatorio()">
        <cdk-tipo-relatorio-autocomplete
            #tipoRelatorio="tipoRelatorioAutocomplete"
            [control]="form.get('tipoRelatorio')"
            [pagination]="tipoRelatorioPagination">
        </cdk-tipo-relatorio-autocomplete>
        <button matSuffix mat-button mat-icon-button
                [disabled]="!form.get('tipoRelatorio').enabled"
                (click)="showTipoRelatorioGrid()">
            <mat-icon matTooltip="Procurar tipo relatório">search</mat-icon>
        </button>

        <mat-error *ngIf="form.get('tipoRelatorio').hasError('formError')">
            {{form.get('tipoRelatorio').errors.formError}}
        </mat-error>
    </mat-form-field>

    <div *ngIf="form.get('tipoRelatorio').value && this.parametros.length > 0" class="tipo-relatorio-filtros">
        <mat-form-field *ngIf="!form.get('unidade').disabled">
            <input matInput placeholder="Unidade"
                   formControlName="unidade"
                   [matAutocomplete]="unidade.autocomplete" required
                   (blur)="checkUnidade()">
            <cdk-setor-autocomplete
                #unidade="setorAutocomplete"
                [control]="form.get('unidade')"
                [pagination]="unidadePagination">
            </cdk-setor-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    [disabled]="!form.get('unidade').enabled"
                    (click)="showUnidadeGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('unidade').hasError('formError')">
                {{form.get('unidade').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('setor').disabled">
            <input matInput placeholder="Setor"
                   formControlName="setor"
                   [matAutocomplete]="setor.autocomplete" required
                   (blur)="checkSetor()">
            <cdk-setor-autocomplete
                #setor="setorAutocomplete"
                [control]="form.get('setor')"
                [pagination]="setorPagination">
            </cdk-setor-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    [disabled]="!form.get('setor').enabled"
                    (click)="showSetorGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('setor').hasError('formError')">
                {{form.get('setor').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('usuario').disabled">
            <input matInput placeholder="Usuário"
                   formControlName="usuario"
                   [readonly]="!form.get('setor').enabled"
                   [matAutocomplete]="usuario.autocomplete" required
                   (blur)="checkUsuario()">
            <cdk-usuario-autocomplete
                #usuario="usuarioAutocomplete"
                [control]="form.get('usuario')"
                [pagination]="usuarioPagination">
            </cdk-usuario-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    [disabled]="!form.get('usuario').enabled"
                    (click)="showUsuarioGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('usuario').hasError('formError')">
                {{form.get('usuario').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('processo').disabled">
            <input matInput placeholder="Processo"
                   formControlName="processo"
                   [readonly]="!form.get('processo').enabled"
                   [matAutocomplete]="processo.autocomplete" required
                   (blur)="checkProcesso()">
            <cdk-processo-autocomplete
                #processo="processoAutocomplete"
                [control]="form.get('processo')"
                [pagination]="processoPagination">
            </cdk-processo-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    [disabled]="!form.get('processo').enabled"
                    (click)="showProcessoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('processo').hasError('formError')">
                {{form.get('processo').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('classificacao').disabled">
            <input matInput placeholder="Classificação"
                   formControlName="classificacao"
                   [readonly]="!form.get('classificacao').enabled"
                   [matAutocomplete]="classificacao.autocomplete" required
                   (blur)="checkClassificacao()">
            <cdk-classificacao-autocomplete
                #classificacao="classificacaoAutocomplete"
                [control]="form.get('classificacao')"
                [pagination]="classificacaoPagination">
            </cdk-classificacao-autocomplete>
            <button matSuffix mat-button mat-icon-button
                    [disabled]="!form.get('classificacao').enabled"
                    (click)="showClassificacaoGrid()">
                <mat-icon matTooltip="Procurar">search</mat-icon>
            </button>
            <mat-error *ngIf="form.get('classificacao').hasError('formError')">
                {{form.get('classificacao').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('dataHoraInicio').disabled">
            <mat-label>Início</mat-label>
            <input matInput formControlName="dataHoraInicio" [matDatetimepicker]="dataHoraInicio"
                   required>
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraInicio"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraInicio type="datetime" openOnFocus="true" timeInterval="5"
                                required></mat-datetimepicker>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('dataHoraFim').disabled">
            <mat-label>Fim</mat-label>
            <input matInput formControlName="dataHoraFim" [matDatetimepicker]="dataHoraFim"
                   required>
            <mat-datetimepicker-toggle matSuffix [for]="dataHoraFim"></mat-datetimepicker-toggle>
            <mat-datetimepicker #dataHoraFim type="datetime" openOnFocus="true" timeInterval="5"
                                required></mat-datetimepicker>
            <mat-error *ngIf="form.get('dataHoraFim').hasError('formError')">
                {{form.get('dataHoraFim').errors.formError}}
            </mat-error>
        </mat-form-field>

        <mat-form-field *ngIf="!form.get('prazoGuardaFaseCorrenteAno').disabled">
            <input matInput placeholder="Prazo de Guarda da Fase Corrente em Anos"
                   formControlName="prazoGuardaFaseCorrenteAno" required>
            <mat-error *ngIf="form.get('prazoGuardaFaseCorrenteAno').hasError('formError')">
                {{form.get('prazoGuardaFaseCorrenteAno').errors.formError}}
            </mat-error>
        </mat-form-field>

    </div>

    <div *ngIf="form.get('tipoRelatorio').value && this.parametros.length > 0" class="tipo-relatorio-formato">
        <mat-form-field
            *ngIf="mode === 'regular' || mode === 'bloco-create'">
            <textarea formControlName="observacao" matInput placeholder="Observação" maxlength="255"></textarea>

            <mat-error *ngIf="form.get('observacao').hasError('formError')">
                {{form.get('observacao').errors.formError}}
            </mat-error>
        </mat-form-field>

        <div>Formato</div>

        <div class="start">
            <label id="campo-rg3"></label>
            <mat-radio-group class="poderes-rg"
                             formControlName="formato"
                             aria-labelledby="formato-rg3">
                <mat-radio-button value="html">
                    HTML
                </mat-radio-button>
                <mat-radio-button value="pdf">
                    PDF
                </mat-radio-button>
                <mat-radio-button value="xlsx">
                    Excel
                </mat-radio-button>
            </mat-radio-group>
        </div>
    </div>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button type="submit" mat-raised-button color="accent"
                (click)="submit()"
                [disabled]="form.invalid || !valid || invalid" *ngIf="!saving">
            SALVAR
        </button>

        <button mat-raised-button color="warn" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-tipo-relatorio-gridsearch
    *ngIf="activeCard === 'tipo-relatorio-gridsearch'"
    [pagination]="tipoRelatorioPagination"
    (selected)="selectTipoRelatorio($event)"
    (cancel)="cancel()">
</cdk-tipo-relatorio-gridsearch>

<cdk-genero-relatorio-gridsearch
    *ngIf="activeCard === 'genero-tipo-relatorio-gridsearch'"
    (selected)="selectGeneroRelatorio($event)"
    (cancel)="cancel()">
</cdk-genero-relatorio-gridsearch>

<cdk-especie-relatorio-gridsearch
    *ngIf="activeCard === 'especie-relatorio-gridsearch'"
    (selected)="selectEspecieRelatorio($event)"
    [pagination]="especieRelatorioPagination"
    (cancel)="cancel()">
</cdk-especie-relatorio-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'setor-gridsearch'"
    [pagination]="setorPagination"
    (selected)="selectSetor($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-setor-gridsearch
    *ngIf="activeCard === 'unidade-gridsearch'"
    [pagination]="unidadePagination"
    (selected)="selectUnidade($event)"
    (cancel)="cancel()">
</cdk-setor-gridsearch>

<cdk-usuario-gridsearch
    *ngIf="activeCard === 'usuario-gridsearch'"
    [pagination]="usuarioPagination"
    (selected)="selectUsuario($event)"
    (cancel)="cancel()">
</cdk-usuario-gridsearch>

<cdk-processo-gridsearch
    *ngIf="activeCard === 'processo-gridsearch'"
    [pagination]="processoPagination"
    (selected)="selectProcesso($event)"
    (cancel)="cancel()">
</cdk-processo-gridsearch>

<cdk-classificacao-gridsearch
    *ngIf="activeCard === 'classificacao-gridsearch'"
    [pagination]="classificacaoPagination"
    (selected)="selectClassificacao($event)"
    (cancel)="cancel()">
</cdk-classificacao-gridsearch>

