cdk-lotacao-autocomplete {

}

.mat-option {
    &.indisponivel {
        text-decoration: line-through;
    }
    &.multiline {
        height: auto !important;
        .strong {
            font-weight: bold;
        }
    };
}
