<div class="page-layout carded left-sidebar inner-scroll">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="coordenador-main-sidebar" position="left" lockedOpen="gt-sm">
        <coordenador-main-sidebar [@animate]="{value:'*'}"></coordenador-main-sidebar>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header">
            <div class="sidebar-toggle">
                <button mat-icon-button
                        (click)="toggleSidebar('coordenador-main-sidebar')" fxHide.gt-sm>
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">
            <div class="content" cdkPerfectScrollbar>
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
