tarefa-create {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex: 1 1 auto;
        padding: 8px;
        flex-direction: column;

        > mat-list {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            p.mat-line {
                white-space: pre-wrap !important;
            }
        }

        > div.actions {
            margin-top: 8px;
            display: flex;
            flex-direction: row;
            flex: 0 0 auto;
            align-content: center;
            align-items: center;
            align-self: center;
        }
    }
}
