
<div>
    <div *ngIf="titulo === 'relevancias'" class="content p-8" fxLayout="column">
        <h3><strong>RELEVÂNCIAS</strong></h3>
        <p style="text-align: justify;text-indent: 20px">
            Pode-se atribuir uma ou mais relevâncias para um dado processo/documento avulso com o objetivo de facilitar a gestão destes cadastros.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            Por exemplo, é interessante saber quais processos são relativos ao Programa de Aceleração do Crescimento (PAC), de modo que cabe ao usuário cadastrar essa relevância.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A Relevância pode ser retirada a qualquer tempo.
        </p>
        <p style="text-align: justify;text-indent: 20px">
            A Relevância é colocada na página de edição dos dados básicos de um processo.
        </p>
        <h3><strong>VÍDEOS COMPLEMENTARES</strong></h3>
        <h4>Relevância – Como cadastrar? Como editar? Como excluir?</h4>
        <iframe width="400" height="225"
            src="https://www.youtube.com/embed/JYrc6V_Bbb0" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
        <p><br></p>
    </div>
</div>
