<div class="header">
    <path icone="location_city"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="unidades">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-vinculacao-setor-municipio-form
        [vinculacaoSetorMunicipio]="vinculacaoSetorMunicipio"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        [municipioPagination]="municipioPagination"
        (save)="submit($event)"
        (abort)="doAbort()">
    </cdk-vinculacao-setor-municipio-form>
</div>