arquivista-empty {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex: 1 1 auto;
        padding: 8px;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}