<div class="header">
    <path icone="class"
          [caminhoAbsoluto]="routerState.url"
          inicioCaminho="tipos-documentos">
    </path>
</div>
<div class="content" cdkPerfectScrollbar>
    <cdk-tipo-documento-form
        [tipoDocumento]="(tipoDocumento$ | async)"
        [form]="formTipoDocumento"
        [especieDocumentoPagination]="especieDocumentoPagination"
        [saving]="(isSaving$ | async)"
        [errors]="(errors$ | async)"
        (save)="submitTipoDocumento($event)"
        (abort)="doAbort()">
    </cdk-tipo-documento-form>
</div>