@import "../../../../../@cdk/scss/cdk";

folder-list-column {
    width: 344px;
    min-width: 344px;
    max-width: 344px;
    padding-right: 24px !important;
    height: 100%;

    .list {
        max-height: 100%;
        border-radius: 2px;
        transition: box-shadow 150ms ease;

        .list-header {
            height: 64px;
            min-height: 64px;
            padding: 0 8px 0 8px;
            border-bottom: 1px solid;

            display: flex;
            flex: 0 0 auto;

            @include media-breakpoint('lt-md') {
                height: 48px;
                min-height: 48px;
            }

            .list-header-name {
                text-overflow: ellipsis;
                overflow: hidden;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
            }
        }

        .list-control {
            border-bottom: 1px solid;
            padding: 0 15px;

            @include media-breakpoint('lt-md') {
                height: 48px;
                min-height: 48px;
            }

            .control-left {
                flex-direction: row;
                box-sizing: border-box;
                display: flex;
                flex: 1 0 auto;
                place-content: center flex-start;
                align-items: center;

                > * {
                    margin-right: 15px;
                }
            }

            .control-right {
                flex-direction: row;
                box-sizing: border-box;
                display: flex;
                flex: 0 1 auto;
                place-content: flex-end center;
                align-items: center;
            }

            .colunas {
                width: 20px !important;
                .mat-select-value {
                    display: none !important;
                }
            }
        }

        .list-content {
            position: relative;
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;

            .list-cards {
                position: relative;
                min-height: 300px;
                padding: 0 8px;
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;

                .card-tarefa-disabled:hover {
                    cursor: not-allowed;
                    background-color: #ccc;
                }

                .empty-tarefa-list {
                    flex: 1 1 auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 75px;
                }

                .loading {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    margin: auto 0;
                    position: relative;
                    padding-bottom: 20px;
                }
            }
        }

        .folder-list-column-drag-over {
            background-color:  rgba(0, 0, 0, 0.3) !important;
        }

        .folder-list-column-drag-over-disabled {
        }

        .list-footer {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            border-top: 1px solid;
            min-height: 48px;
        }
    }

    &:not(.has-handle):not(.move-disabled),
    &.has-handle [ngxdraghandle],
    &.has-handle [ngxDragHandle] {
        //cursor: move;
    }

    .ngx-dnd-content {
        user-select: none;
    }

    &.gu-mirror {
        position: fixed !important;
        margin: 0 !important;
        z-index: 9999 !important;
        opacity: 0.8;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
        filter: alpha(opacity=80);

        > .list {
            @include mat-elevation(7);
        }
    }

    &.gu-hide {
        display: none !important;
    }

    &.gu-unselectable {
        -webkit-user-select: none !important;
        -moz-user-select: none !important;
        -ms-user-select: none !important;
        user-select: none !important;
    }

    &.gu-transit {
        opacity: 0.2;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
        filter: alpha(opacity=20);
    }
}

