<mat-autocomplete (closed)="fechado()" [displayWith]="displayRepositorioBarramentoFn">
    <mat-option *ngFor="let repositorioBarramento of repositorioBarramentoList"
                [value]="repositorioBarramento">
        <span [innerHTML]="displayRepositorioBarramentoFn(repositorioBarramento) | highlightOption: this.control.value"></span>
    </mat-option>
    <mat-option *ngIf="repositorioBarramentoListIsLoading">
        <mat-spinner diameter="16"></mat-spinner>
    </mat-option>
</mat-autocomplete>
