<h3 mat-dialog-title></h3>
<div mat-dialog-content>
    <div class="content">
        <div class="loading" *ngIf="(isLoading$ | async) === true">
            <mat-spinner diameter="32"></mat-spinner>
        </div>
        <div *ngIf="(isLoading$ | async) === false">
            <span class="error" *ngIf="(errors$ | async)?.error">
                    <mat-icon>error_outline</mat-icon>
                {{(errors$ | async)?.error.message}}
            </span>
            <div class="content-stars">
                <span *ngFor="let star of stars; let i = index" on-mouseenter="rate(i + 1)"  class="estrelas">
                    <ng-container *ngIf="star; else noIcon">⭐</ng-container>
                    <ng-template #noIcon>★</ng-template>
                </span>
            </div>
            <ng-container>
                <div class="avaliacoes">
                    <p>{{ (objetoAvaliado$ | async)?.quantidadeAvaliacoes ?? 0 }} {{ (objetoAvaliado$ | async)?.quantidadeAvaliacoes === 1 ? 'avaliação' : 'avaliações' }}</p>
                </div>
            </ng-container>
        </div>
    </div>
</div>
<div mat-dialog-actions>
    <div class="actions" *ngIf="(isLoading$ | async) === false">
        <button mat-raised-button color="accent" (click)="avaliacao(10.0)"
                *ngIf="(isSaving$ | async) === false">
            <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-raised-button color="warn" (click)="avaliacao(0)"
                *ngIf="(isSaving$ | async) === false">
            <mat-icon>thumb_down</mat-icon>
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="(isSaving$ | async) === true"></mat-spinner>
    </div>
</div>
