<div cdkPerfectScrollbar>
    <div class="title">
        <h2>CLASSIFICAÇÕES</h2>
    </div>
    <mat-form-field id="pesquisa">
        <mat-label>Pesquisa</mat-label>
        <div fxLayout="row" fxLayoutAlign="start center">
            <input matInput placeholder="Pesquisar"
                   maxlength="100" required upperCase
                   (input)="pesquisa($event.target.value)"
            >
        </div>
        <div *ngIf="pesquisando" fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
             fxLayoutAlign="center center">
            <mat-spinner color="accent" diameter="24"></mat-spinner>
        </div>
    </mat-form-field>



    <form  class="form-tree" fxLayoutGap="36px"
          fxLayout="column"
          fxLayoutAlign="start"
          name="form" [formGroup]="formClassificacao">
        <mat-label class="title-arvore">Árvore</mat-label>
        <div cdkPerfectScrollbar class="tree">
            <div *ngIf="!this.dataSource.data.length" fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
                 fxLayoutAlign="center center">
                <mat-spinner color="accent" diameter="24"></mat-spinner>
            </div>
            <mat-tree *ngIf="dataSource.data.length" [dataSource]="dataSource" [treeControl]="treeControl">
                <mat-tree-node [ngClass]="getNodeSelected(node)" *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
                    <button mat-icon-button disabled></button>
                    <!--        <mat-checkbox class="checklist-leaf-node"-->
                    <!--                      [checked]="checklistSelection.isSelected(node)"-->
                    <!--                      (change)="todoLeafItemSelectionToggle(node)">{{node.name}}</mat-checkbox>-->
                    {{node.name}}
                    <div class="bt-set-action">
                        <button class="bt-action-select" *ngIf="!node.isLoading" mat-icon-button
                                (click)="setInputClassificacao(node)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>
                    </div>

                </mat-tree-node>
                <mat-tree-node [ngClass]="getNodeSelected(node)" *matTreeNodeDef="let node; when: hasChild"
                               matTreeNodePadding>
                    <button mat-icon-button matTreeNodeToggle
                            [attr.aria-label]="'toggle ' + node.filename">
                        <mat-icon class="mat-icon-rtl-mirror" *ngIf="treeControl.isExpanded(node)">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                        <mat-icon class="mat-icon-rtl-mirror" *ngIf="!treeControl.isExpanded(node)"
                                  (click)="addNewItem(node)">
                            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                        </mat-icon>
                    </button>
                    {{node.name}}
                    <!--        <mat-checkbox [checked]="descendantsAllSelected(node)"-->
                    <!--                      [indeterminate]="descendantsPartiallySelected(node)"-->
                    <!--                      (change)="todoItemSelectionToggle(node)">{{node.name}}</mat-checkbox>-->
                    <mat-progress-bar *ngIf="node.isLoading"
                                      mode="indeterminate"
                                      class="example-tree-progress-bar"></mat-progress-bar>

                    <div class="bt-set-action">
                        <button class="bt-action-select" *ngIf="!node.isLoading" mat-icon-button
                                (click)="setInputClassificacao(node)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>
                    </div>
                </mat-tree-node>
            </mat-tree>
        </div>
        <div class="bt-alterar-classificacao">
            <div *ngIf="!saving" fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
                 fxLayoutAlign="center center">
                <button mat-raised-button color="accent" class="mr-sm-12"
                        [disabled]="formClassificacao.invalid"
                        (click)="submit()">
                    ALTERAR CLASSIFICAÇÃO
                </button>
            </div>

            <div *ngIf="saving" fxLayout="row" class="mr-sm-12 mt-8 mb-8" fxFlex
                 fxLayoutAlign="center center">
                <mat-spinner color="accent" diameter="24"></mat-spinner>
            </div>
        </div>
    </form>
</div>

