<form fxLayoutGap="8px" name="form" [formGroup]="form" *ngIf="activeCard === 'form'">

    <mat-checkbox formControlName="principal">
        Principal
    </mat-checkbox>

    <mat-form-field>
        <input matInput placeholder="Assunto"
               formControlName="assuntoAdministrativo"
               [matAutocomplete]="assuntoAdministrativo.autocomplete"
               (blur)="checkAssuntoAdministrativo()" required>
        <cdk-assunto-administrativo-autocomplete
            #assuntoAdministrativo="assuntoAdministrativoAutocomplete"
            [control]="form.get('assuntoAdministrativo')"
            [assuntoAdministrativoList]="assuntoAdministrativoList"
            [assuntoAdministrativoListIsLoading]="assuntoAdministrativoListIsLoading"
            [pagination]="assuntoAdministrativoPagination">
        </cdk-assunto-administrativo-autocomplete>
        <button matSuffix mat-button mat-icon-button
                (click)="getFavoritosAssuntoAdministrativo()">
            <mat-icon matTooltip="Favoritos">star</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showAssuntoAdministrativoGridTree()">
            <mat-icon matTooltip="Árvore de Assuntos">subdirectory_arrow_right</mat-icon>
        </button>
        <button matSuffix mat-button mat-icon-button
                (click)="showAssuntoAdministrativoGrid()">
            <mat-icon matTooltip="Procurar">search</mat-icon>
        </button>
        <mat-error *ngIf="form.get('assuntoAdministrativo').hasError('formError')">
            {{form.get('assuntoAdministrativo').errors.formError}}
        </mat-error>
    </mat-form-field>

    <mat-error *ngIf="form.hasError('rulesError')">{{form.errors.rulesError}}</mat-error>

    <div class="actions">
        <button mat-raised-button color="accent" (click)="submit()" [disabled]="form.invalid" *ngIf="!saving">
            SALVAR
        </button>
        <button mat-raised-button color="warn" type="button" (click)="doAbort()" *ngIf="!saving">
            CANCELAR
        </button>
        <mat-spinner color="accent" diameter="24" *ngIf="saving"></mat-spinner>
    </div>

</form>

<cdk-assunto-administrativo-gridsearch
    *ngIf="activeCard === 'assunto-administrativo-gridsearch'"
    (selected)="selectAssuntoAdministrativo($event)"
    (cancel)="cancel()">
</cdk-assunto-administrativo-gridsearch>

<cdk-assunto-administrativo-grid-tree
    *ngIf="activeCard === 'assunto-administrativo-grid-tree'"
    (selected)="selectAssuntoAdministrativo($event)"
    (cancel)="cancel()">
</cdk-assunto-administrativo-grid-tree>
