<!-- SIDEBAR HEADER -->
<div class="header">
    <div class="logo">
        <span class="logo-text  ml-8 s-24" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">Relatórios</span>
    </div>
</div>
<!-- / SIDEBAR HEADER -->

<!-- SIDEBAR CONTENT -->
<div class="content" cdkPerfectScrollbar>

    <div class="create-button">
        <button mat-raised-button
                class="mat-accent compose-dialog-button w-100-p"
                (click)="create()"
                aria-label="Criar">
            {{ 'RELATORIO.COMPOSE' | translate }}
        </button>
    </div>

    <div class="nav material2">

        <div class="nav-subheader">MEUS RELATÓRIOS</div>

        <div class="nav-item" dndDropzone (dndDrop)="onDrop([$event, null])">
            <a class="nav-link" matRipple [routerLink]="'/apps/relatorios/' + generoHandle + '/meus-relatorios/entrada'"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">inbox</mat-icon>
                <span>Entrada</span>
            </a>
        </div>

        <div class="nav-item" dndDropzone (dndDrop)="onDrop([$event, folder])"
             *ngFor="let folder of (folders$ | async)">
            <a class="nav-link" matRipple [routerLink]="'/apps/relatorios/' + generoHandle + '/meus-relatorios/' + folder.nome | lowercase"
               [routerLinkActive]="['active', 'accent']" (click)="fecharSidebar()">
                <mat-icon class="nav-link-icon">{{ folder.icon ? folder.icon : 'folder' }}</mat-icon>
                <span>{{folder.nome | titleCasePipe}}</span>
            </a>
        </div>

    </div>
</div>
<!-- / SIDEBAR CONTENT -->
