<div class="page-layout left-sidebar">

    <!-- SIDEBAR -->
    <cdk-sidebar class="sidebar" name="cdk-favorito-filter" position="left">
        <cdk-favorito-filter (selected)="setFilter($event)" [mode]="this.mode"></cdk-favorito-filter>
    </cdk-sidebar>
    <!-- / SIDEBAR -->

    <div class="responsive-grid" [ngClass]="{'search': (this.mode === 'search')}">

        <div class="actions">

            <div class="back">
                <button mat-icon-button *ngIf="actions.indexOf('cancel') > -1"
                        (click)="doCancel()"
                        aria-label="cancelar"
                        matTooltip="Cancelar">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <button class="accent" mat-icon-button *ngIf="actions.indexOf('create') > -1"
                        (click)="doCreate()"
                        aria-label="novo"
                        matTooltip="Novo">
                    <mat-icon>add</mat-icon>
                </button>
            </div>

            <button mat-icon-button *ngIf="selectedIds.length > 1 && actions.indexOf('delete') > -1"
                    (click)="deleteBloco(selectedIds)"
                    aria-label="remover"
                    matTooltip="Remover">
                <mat-icon>delete</mat-icon>
            </button>

            <mat-form-field class="colunas mr-8" aria-label="colunas" matTooltip="Colunas">
                <mat-select [formControl]="columns" multiple>
                    <div *ngFor="let column of allColumns">
                        <mat-option *ngIf="!column.fixed" [value]="column.id">{{ column.label }}</mat-option>
                    </div>
                </mat-select>
            </mat-form-field>

            <button class="refresh" mat-icon-button
                    (click)="loadPage()"
                    aria-label="recarregar"
                    matTooltip="Recarregar">
                <mat-icon>refresh</mat-icon>
            </button>

            <button class="toggle-filter" mat-icon-button [ngClass]="{'warn': !(gridFilter | json).includes('{}')}"
                    (click)="toggleFilter()"
                    aria-label="filtrar"
                    matTooltip="Filtrar">
                <mat-icon>filter_list</mat-icon>
            </button>
        </div>

        <div class="loading" *ngIf="loading">
            <mat-spinner diameter="32"></mat-spinner>
        </div>

        <div class="content" cdkPerfectScrollbar>
            <table mat-table [dataSource]="dataSource" matSort [ngStyle]="loading ? {'display': 'none'} : {}">

                <!-- Selection Column -->
                <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="toggleSelectAll($event)"
                                      [checked]="hasSelected"
                                      [indeterminate]="isIndeterminate">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let favorito">
                        <mat-checkbox [checked]="selectedIds.indexOf(favorito.id) > -1"
                                      (change)="toggleInSelected(favorito.id)"
                                      (click)="$event.stopPropagation();"
                                      [disabled]="deletedIds?.indexOf(favorito.id) > -1">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <!-- Id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Id
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Id: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.id}} </td>
                </ng-container>

                <!-- Label Column -->
                <ng-container *ngIf="displayedColumns.indexOf('label') > -1"
                              matColumnDef="label">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Campo
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Campo: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.label  | titleCasePipe}} </td>
                </ng-container>

                <!-- ObjFavoritoClass Column -->
                <ng-container *ngIf="displayedColumns.indexOf('objFavoritoClass') > -1"
                              matColumnDef="objFavoritoClass">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Descrição
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Descrição: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.objFavoritoClass[0].nome  | titleCasePipe}} </td>
                </ng-container>

                <!-- QtdUso Column -->
                <ng-container *ngIf="displayedColumns.indexOf('qtdUso') > -1" matColumnDef="qtdUso">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Quantidade de Uso
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Quantidade de Uso: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.qtdUso  | titleCasePipe}} </td>
                </ng-container>

                <!-- Prioritario Column -->
                <ng-container *ngIf="displayedColumns.indexOf('prioritario') > -1" matColumnDef="prioritario">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Prioritário
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Prioritário: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}">
                        <mat-icon class="amber-fg" *ngIf="favorito.prioritario">star</mat-icon>
                        <mat-icon class="primary-100-fg" *ngIf="!favorito.prioritario">star</mat-icon>
                    </td>
                </ng-container>

                <!-- Usuario Column -->
                <ng-container *ngIf="displayedColumns.indexOf('usuario.nome') > -1" matColumnDef="usuario.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Usuário
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Usuário: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.usuario?.nome  | titleCasePipe}} </td>
                </ng-container>

                <!-- CriadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoPor.nome') > -1" matColumnDef="criadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Por
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Criado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.criadoPor?.nome  | titleCasePipe}} </td>
                </ng-container>

                <!-- CriadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('criadoEm') > -1" matColumnDef="criadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Criado Em
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Criado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.criadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- AtualizadoPor Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoPor.nome') > -1"
                              matColumnDef="atualizadoPor.nome">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Por
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Atualizado Por: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.atualizadoPor?.nome  | titleCasePipe}} </td>
                </ng-container>

                <!-- AtualizadoEm Column -->
                <ng-container *ngIf="displayedColumns.indexOf('atualizadoEm') > -1" matColumnDef="atualizadoEm">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                        Atualizado Em
                    </th>
                    <td mat-cell *matCellDef="let favorito" class='has_label_on_mobile' data-label='Atualizado Em: '
                        [ngClass]="{'deleted':deletedIds?.indexOf(favorito.id) > -1, 'error': getProp(deletingErrors, favorito.id)}"> {{favorito.atualizadoEm?.toDate() | date: 'dd/MM/yyyy HH:mm:ss'}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let favorito">

                        <button mat-icon-button
                                *ngIf="actions.indexOf('select') > -1"
                                (click)="selectFavorito(favorito)"
                                aria-label="selecionar"
                                matTooltip="Selecionar">
                            <mat-icon>keyboard_return</mat-icon>
                        </button>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('edit') > -1"
                                [disabled]="deletedIds?.indexOf(favorito.id) > -1"
                                (click)="editFavorito(favorito.id)"
                                aria-label="editar"
                                matTooltip="Editar">
                            <mat-icon>edit</mat-icon>
                        </button>

                        <div class="spinner-container m-8" *ngIf="deletingIds?.indexOf(favorito.id) > -1">
                            <mat-spinner diameter="24"></mat-spinner>
                        </div>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('delete') > -1 && deletingIds?.indexOf(favorito.id) === -1"
                                [disabled]="deletedIds?.indexOf(favorito.id) > -1"
                                (click)="deleteFavorito(favorito.id)"
                                aria-label="remover"
                                matTooltip="Remover">
                            <mat-icon>delete</mat-icon>
                        </button>

                        <mat-error *ngIf="getProp(deletingErrors, favorito.id)">
                            {{ getMessageError(getProp(deletingErrors, favorito.id)) }}
                        </mat-error>

                        <button mat-icon-button
                                *ngIf="actions.indexOf('favorito') > -1 && deletingIds?.indexOf(favorito.id) === -1"
                                [disabled]="deletedIds?.indexOf(favorito.id) > -1"
                                (click)="salvarFavorito(favorito)"
                                aria-label="favorito"
                                matTooltip="Favorito">

                            <mat-icon class="amber-fg" *ngIf="favorito.prioritario">star</mat-icon>
                            <mat-icon class="primary-100-fg" *ngIf="!favorito.prioritario">star</mat-icon>
                        </button>

                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true;"></tr>
                <tr mat-row *matRowDef="let favorito; columns: displayedColumns;">
                </tr>
            </table>
        </div>

        <div class="footer">
            <mat-paginator [disabled]="loading" [pageSizeOptions]="[10, 25]" showFirstLastButtons="true"></mat-paginator>
        </div>

    </div>

</div>
