vinculacao-etiqueta-create {
    display: flex;
    flex: 1 1 auto;
    > .content {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        padding: 8px;

        > mat-list {
            display: flex;
            flex-direction: column;
            flex: 0 1 auto;
            p.mat-line {
                white-space: pre-wrap !important;
            }
        }
    }
}
