@import "../../../scss/partials/cdk-form";

cdk-distribuir-tarefa-form {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;

    mat-slide-toggle {
        margin-right: 8px;
        margin-bottom: 8px;
    }
}
